<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">{{'title'|bkTranslate:this}} <b>{{modalModel.block.id}}</b></h4>
    </div>
    <div class="modal-body block-config">
        <div *ngIf="description" class="config-properties-description" [innerHTML]="description|bkMd2Html"></div>
        <div *ngIf="blockVersions">
            <h4>{{'label_block_code_version'|bkTranslate:this}}</h4>
            <div>
                <select name="blockVersions" class="form-control" [(ngModel)]="formModelVersion">
                    <option *ngIf="!formModelVersion" [value]="null">({{'label_detached_version'|bkTranslate:this}})</option>
                    <option *ngFor="let version of blockVersions;" [value]="version.id" >{{version.name}}{{version.description && " - " + version.description}}</option>
                </select>
            </div>
            <hr />
        </div>
        <ng-template [ngIf]="configProperties.length">
            <h4>{{'label_configuration'|bkTranslate:this}}</h4>
            <div *ngFor="let configProperty of configProperties;">
                <div *ngIf="configProperty.type == configPropertyType['Float']" class="input-row">
                    <label>{{configProperty.displayName}}</label>
                    <input class="form-control" type="number" [(ngModel)]="formModel[configProperty.name]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range || configProperty.config.options" *ngIf="!configProperty.config.options">
                    <input class="form-control" type="range" [(ngModel)]="formModel[configProperty.name]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range && !configProperty.config.options">

                    <select class="form-control" [(ngModel)]="formModel[configProperty.name]" *ngIf="configProperty.config.options">
                        <option *ngFor="let option of configProperty.config.options;" [ngValue]="option">{{option}}</option>
                    </select>
                </div>
                <div *ngIf="configProperty.type == configPropertyType['Integer']" class="input-row">
                    <label>{{configProperty.displayName}}</label>
                    <input class="form-control" type="number" [(ngModel)]="formModel[configProperty.name]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range || configProperty.config.options" *ngIf="!configProperty.config.options">
                    <input class="form-control" type="range" [(ngModel)]="formModel[configProperty.name]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range && !configProperty.config.options">

                    <select class="form-control" [(ngModel)]="formModel[configProperty.name]" *ngIf="configProperty.config.options">
                        <option *ngFor="let option of configProperty.config.options;" [ngValue]="option">{{option}}</option>
                    </select>
                </div>
                <div *ngIf="configProperty.type == configPropertyType['Boolean']" class="input-row">
                    <label class="mt-checkbox mt-checkbox-outline">
                        {{configProperty.displayName}}
                        <input type="checkbox" [(ngModel)]="formModel[configProperty.name]">
                        <span></span>
                    </label>
                </div>
                <div *ngIf="configProperty.type == configPropertyType['String']" class="input-row">
                    <label>{{configProperty.displayName}}</label>
                    <input class="form-control" type="text" [(ngModel)]="formModel[configProperty.name]" *ngIf="!configProperty.config.multiline && !configProperty.config.options">
                    <textarea class="form-control" rows="4" [(ngModel)]="formModel[configProperty.name]" *ngIf="configProperty.config.multiline && !configProperty.config.options"></textarea>

                    <select class="form-control" [(ngModel)]="formModel[configProperty.name]" *ngIf="configProperty.config.options">
                        <option *ngFor="let option of configProperty.config.options;" [ngValue]="option">{{option}}</option>
                    </select>
                </div>

            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}} </button>
        <button type="button" class="btn green" (click)="onSubmitClick()">{{'btn_save'|bkTranslate:this}} </button>
    </div>
</div>
