<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">{{'title'|bkTranslate:this}}</h4>
    </div>
    <div class="modal-body">
        <h5>
           <span [innerHTML]="body_text|bkTranslate:this:libraries.length:total"> </span>
        </h5>

        <div *ngFor="let library of libraries" class="cursor-pointer" [class.bg-grey-steel]="library != selectedLibrary" [class.bg-green-turquoise]="library == selectedLibrary" style="padding: 2px 10px;margin-bottom: 10px;" (click)="onLibraryClick(library)">
            <h4><strong>{{library.name}}</strong></h4>
            <h5>{{library.description}}</h5>
        </div>


        <div>
            <button class="btn grey btn-block notification-load-more-btn" (click)="loadNext()" [disabled]="loading || !canLoadMore()">
                <span *ngIf="loading">{{'loading'|bkTranslate:this}}</span>
                <span *ngIf="!loading && canLoadMore()">{{'label_load_more'|bkTranslate:this}}</span>
                <span *ngIf="!loading && !canLoadMore()">{{'label_no_more'|bkTranslate:this}}</span>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!selectedLibrary" (click)="onSubmitClick()">{{'btn_select_library'|bkTranslate:this}}</button>
    </div>
</div>
