<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="'title'|bkTranslate:this"></h4>
    </div>
    <div class="modal-body">
        <h4 class="text-center" *ngIf="loading">
        </h4>
        <ng-template [ngIf]="library">
            <h4 class="text-center" *ngIf="!(library.versions && library.versions.length)">
                {{'label_no_library'|bkTranslate:this}} <strong>{{library.name}}</strong>
            </h4>
            <ng-template [ngIf]="library.versions && library.versions.length">
                <div *ngFor="let libraryVersion of library.versions" class="cursor-pointer"
                     [class.bg-grey-steel]="libraryVersion != selectedLibraryVersion"
                     [class.bg-green-turquoise]="libraryVersion == selectedLibraryVersion"
                     style="padding: 2px 10px;margin-bottom: 10px;" (click)="onLibraryVersionClick(libraryVersion)">
                    <h4><strong>{{libraryVersion.name}}</strong></h4>
                    <h5>{{libraryVersion.description}}</h5>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()"> {{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!selectedLibraryVersion" (click)="onSubmitClick()"> {{'btn_select_library'|bkTranslate:this}} </button>

    </div>
</div>
