<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="textTitle"></h4>
    </div>
    <div class="modal-body">
        <form *ngIf="neededName" [formGroup]="form">
            <bk-form-input [control]="form.controls.objectName" [label]="textLabel"></bk-form-input>
        </form>
        <div *ngIf="neededDirectory">
            <label>{{'label_into_directory'|bkTranslate:this}}</label>
            <div class="jstree jstree-default portlet light bordered" style="overflow-x: auto;">
                <ul class="jstree-container-ul jstree-children">
                    <bk-file-tree [fileTreeObject]="rootFileTreeObject" (newSelected)="selectFto($event)" [privateOpen]="true" [onlyDirectiories]="true"></bk-file-tree>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div *ngIf="this.modalModel.type== ((7) || (8) || (9))">
        <button type="button" class="btn red" [disabled]="!(((neededDirectory && selectedFto) || (!neededDirectory)) && ((neededName && form.valid) || (!neededName)))" (click)="onSubmitClick()">{{textSubmit|bkTranslate:this}}</button>
        <button type="button" class="btn green" (click)="onCancelClick()">{{textCancel|bkTranslate:this}}</button>
        </div>

        <div *ngIf="this.modalModel.type != ((7) || (8) || (9))">
        <button type="button" class="btn red" (click)="onCancelClick()">{{textCancel|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!(((neededDirectory && selectedFto) || (!neededDirectory)) && ((neededName && form.valid) || (!neededName)))" (click)="onSubmitClick()">{{textSubmit|bkTranslate:this}}</button>
            </div>
    </div>
</div>
