<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">{{'title'|bkTranslate:this}}</h4>
    </div>
    <div class="modal-body">
        <div>
         {{'body_text'|bkTranslate:this}}
            <span *ngIf="!modalModel.activation_or_deactivation"> {{'label_deactivate'|bkTranslate:this}} </span>
            <span *ngIf="modalModel.activation_or_deactivation">{{'label_activate'|bkTranslate:this}} </span>
            <strong>{{modalModel.name}}</strong>?
        </div>

        <div *ngIf="modalModel.message">
            <br>
            <strong>{{'label_attention'|bkTranslate:this}}: </strong> {{modalModel.message}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onYesClick()">{{'btn_yes'|bkTranslate:this}}</button>
        <button type="button" class="btn green" (click)="onNoClick()">{{'btn_no'|bkTranslate:this}}</button>
    </div>
</div>
