<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="'title'|bkTranslate:this"></h4>
    </div>
    <div class="modal-body widget-config">
        <ng-template [ngIf]="widgetVersions && widgetVersions.length > 0">
            <h4>{{'label_widget_code_version'|bkTranslate:this}}</h4>
            <div>
                <select name="{{'label_select_widget_version'|bkTranslate:this}}" class="form-control" [(ngModel)]="formModelVersion">
                    <option *ngFor="let version of widgetVersions;" [value]="version.id" >{{version.name}}{{version.description && " - " + version.description}}</option>
                </select>
            </div>
            <hr />
        </ng-template>
        <ng-template [ngIf]="inputs.length || outputs.length">
            <h4>{{'label_interface'|bkTranslate:this}}</h4>
            <h3 *ngIf="inputs.length">{{'label_inputs'|bkTranslate:this}}</h3>
            <div *ngFor="let input of inputs;">
                <div class="input-row">
                    <label>{{input.displayName}}</label>
                    <input [name]="input.name" class="form-control" type="text" [(ngModel)]="formModelInputs[input.name]">
                </div>
            </div>
            <h3 *ngIf="outputs.length">{{'label_output'|bkTranslate:this}}</h3>
            <div *ngFor="let output of outputs;">
                <div class="input-row">
                    <label>{{output.displayName}}</label>
                    <input [name]="output.name" class="form-control" type="text" [(ngModel)]="formModelOutputs[output.name]">
                </div>
            </div>
            <hr />
        </ng-template>
        <ng-template [ngIf]="configProperties.length">
            <h4>{{'label_configuration'|bkTranslate:this}}</h4>
            <div *ngIf="description" class="config-properties-description" [innerHTML]="description|bkMd2Html"></div>
            <div *ngFor="let configProperty of configProperties;">
                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Float" class="form-group input-row">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="number" [(ngModel)]="formModelProperties[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range || configProperty.config.options" *ngIf="!configProperty.config.options">
                    <input [name]="configProperty.id" class="form-control" type="range" [(ngModel)]="formModelProperties[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range && !configProperty.config.options">

                    <select [name]="configProperty.id" class="form-control" [(ngModel)]="formModelProperties[configProperty.id]" *ngIf="configProperty.config.options">
                        <option *ngFor="let option of configProperty.config.options;" [ngValue]="option">{{option}}</option>
                    </select>
                </div>
                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Integer" class="form-group input-row">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="number" [(ngModel)]="formModelProperties[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range || configProperty.config.options" *ngIf="!configProperty.config.options">
                    <input [name]="configProperty.id" class="form-control" type="range" [(ngModel)]="formModelProperties[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range && !configProperty.config.options">

                    <select [name]="configProperty.id" class="form-control" [(ngModel)]="formModelProperties[configProperty.id]" *ngIf="configProperty.config.options">
                        <option *ngFor="let option of configProperty.config.options;" [ngValue]="option">{{option}}</option>
                    </select>
                </div>
                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Boolean" class="form-group input-row">
                    <label class="mt-checkbox mt-checkbox-outline">
                        {{configProperty.displayName}}
                        <input [name]="configProperty.id" type="checkbox" [(ngModel)]="formModelProperties[configProperty.id]">
                        <span></span>
                    </label>
                </div>
                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.String" class="form-group input-row">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="text" [(ngModel)]="formModelProperties[configProperty.id]" [readonly]="configProperty.config.options" *ngIf="!configProperty.config.multiline && !configProperty.config.options">
                    <textarea class="form-control" rows="4" [(ngModel)]="formModelProperties[configProperty.name]" *ngIf="configProperty.config.multiline && !configProperty.config.options"></textarea>

                    <select [name]="configProperty.id" class="form-control" [(ngModel)]="formModelProperties[configProperty.id]" *ngIf="configProperty.config.options">
                        <option *ngFor="let option of configProperty.config.options;" [ngValue]="option">{{option}}</option>
                    </select>
                </div>
                <ng-template [ngIf]="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Color">
                    <div class="input-row">
                        <bk-form-color-picker [rgbaOutput]="true" [label]="configProperty.displayName" [(value)]="formModelProperties[configProperty.id]"></bk-form-color-picker>
                    </div>
                </ng-template>
                <ng-template [ngIf]="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.FAIcon">
                    <div class="input-row">
                        <bk-form-fa-icon-select [label]="configProperty.displayName" [(value)]="formModelProperties[configProperty.id]"></bk-form-fa-icon-select>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" (click)="onSubmitClick()">{{'btn_save'|bkTranslate:this}}</button>
    </div>
</div>
