<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="'title'|bkTranslate:this"></h4>
    </div>
    <div class="modal-body">

        <h3>{{'label_personal_server_name'|bkTranslate:this}}: {{modalModel.homer_server.personal_server_name}}</h3>

        <form [formGroup]="form">

            <div *ngIf="options_available_version">
                <bk-form-select [control]="form.controls.selected_version" [label]="'label_version'|bkTranslate:this" [options]="options_available_version"></bk-form-select>
            </div>
            <div *ngIf="!options_available_version">
                <h3>Loading...</h3>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!form.valid" (click)="onSubmitClick()">{{"btn_update"|bkTranslate:this}}</button>
    </div>
</div>
