<!--
* © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
* directory of this distribution.
*-->
<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="'title'|bkTranslate:this"></h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">

            <bk-form-input [control]="form.controls['name']" [label]="'label_instance_name'|bkTranslate:this"></bk-form-input>
            <bk-form-input [control]="form.controls['description']" [label]="'label_instance_description'|bkTranslate:this" aria-valuetext="Instance description"></bk-form-input>

            <hr>
            <div *ngIf="servers_options && !modalModel.instance">
                <bk-form-select [control]="form.controls['main_server_id']" [label]="'label_select_server'|bkTranslate:this" [options]="servers_options"></bk-form-select>
            </div>
            <div *ngIf="!servers_options && !modalModel.instance">
                <span [innerHTML]="'loading'|bkTranslate:this"></span>
            </div>

            <div *ngIf="bProgram_options && !modalModel.instance">
                <bk-form-select [control]="form.controls['b_program_id']" [label]="'label_select_b_program'|bkTranslate:this" [options]="bProgram_options"></bk-form-select>
            </div>
            <div *ngIf="!bProgram_options && !modalModel.instance">
                <span [innerHTML]="'loading'|bkTranslate:this"></span>
            </div>

            <!-- Tags -->
            <bk-form-tag-input [control]="form.controls['tags']" [label]="'Optional Tags'"></bk-form-tag-input>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!form.valid" (click)="onSubmitClick()">{{'btn_create'|bkTranslate:this}}</button>
    </div>
</div>
