<!--
* © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
* directory of this distribution.
*-->
<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="'title'|bkTranslate:this"></h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">

            <div *ngIf="modalModel.program">
                <span [innerHTML]="'label_grid_app_name'|bkTranslate:this"></span>: {{modalModel.program.grid_program.name}}
            </div>
            <div *ngIf="modalModel.program">
                <span [innerHTML]="'label_grid_app_description'|bkTranslate:this"></span>: {{modalModel.program.grid_program.description}}
            </div>


            <br>
            <div *ngIf="access_option && settings_copy">
                <bk-form-select [control]="form.controls['selected_access']"
                                [label]="'label_select_app_access'|bkTranslate:this"
                                [options]="access_option"
                                [regexFirstOption]="this.getGridConfig(this.modalModel.project.grid_project.id, this.modalModel.program.grid_program.id).snapshot_settings"></bk-form-select>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!form.valid" (click)="onSubmitClick()">{{'btn_update'|bkTranslate:this}}</button>
    </div>
</div>
