
<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="'title'|bkTranslate:this"></h4>
    </div>
    <div class="modal-body">

        <form>
            <div class="form-group profile-pic-wrapper">

                <h4>{{'label_picture'|bkTranslate:this}}<span *ngIf="(cropperLoaded && !saved)" class="font-red"> {{'label_unsaved'|bkTranslate:this}}</span></h4>

                <img *ngIf="(cropperLoaded && cropperData.image) || modalModel.defaultPicture" class="preview" [class.img-circle]="modalModel.avatar_picture" [src]="cropperData.image?cropperData.image:modalModel.defaultPicture" width="128" height="128">

                <div *ngIf="!((cropperLoaded && cropperData.image) || modalModel.defaultPicture)" class="preview empty" [class.img-circle]="modalModel.avatar_picture" ></div>

                <div class="file-select">
                    <div>{{'label_select_avatar'|bkTranslate:this}}</div>
                    <input type="file" (change)="cropperFileChangeListener($event)" accept="image/*">
                </div>

                <div class="loading" *ngIf="cropperLoaded && !cropperData.image"> {{'loading'|bkTranslate:this}} </div>
                <img-cropper #cropper [image]="cropperData" [settings]="cropperSettings" [style.display]="(cropperLoaded && cropperData.image)?'block':'none'"></img-cropper>

                <div class="clearfix margin-top-10"></div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button (click)="sendFile()" class="btn green" [disabled]="!cropperLoaded">{{'btn_save'|bkTranslate:this}}</button>
    </div>
</div>
