<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">{{'title'|bkTranslate:this}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">

            <div *ngIf="formPermissions && formPermissions.length">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{'label_name'|bkTranslate:this}}</th>
                        <th>{{'label_description'|bkTranslate:this}}</th>
                        <th>{{'label_action'|bkTranslate:this}}</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let formPermission of formPermissions">
                        <td class="vert-align no-wrap"> {{formPermission.permission_key}}</td>
                        <td class="vert-align no-wrap"> {{formPermission.description}}</td>
                        <td>
                            <button title="{{'label_key_remove'|bkTranslate:this}}" (click)="onRemoveClick(formPermission.permission_key)" class="btn btn-icon-only red">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>

                <bk-form-select [control]="form.controls.permission" label="{{'label_permission'|bkTranslate:this}}"
                                [options]="permission_options"></bk-form-select>
                <button type="button" class="btn grey full-width" (click)="onAddClick()">{{'btn_add_more'|bkTranslate:this}}</button>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!valid()" (click)="onSubmitClick()">{{'btn_add'|bkTranslate:this}}</button>
    </div>
</div>
