<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">{{'title'|bkTranslate:this}}</h4>
    </div>
    <div class="modal-body">

        <form [formGroup]="form">
            <bk-form-input label="{{'label_name'|bkTranslate:this}}" [control]="form.controls['name']"></bk-form-input>
            <bk-form-input label="{{'label_icon'|bkTranslate:this}}" [control]="form.controls['awesome_icon']"></bk-form-input>
            <bk-form-input label="{{'label_description'|bkTranslate:this}}" [control]="form.controls['description']"></bk-form-input>
            <hr>
            <bk-form-input label="{{'label_identifier'|bkTranslate:this}}" [control]="form.controls['identifier']"></bk-form-input>
            <br>
            <hr>
            <bk-form-input label="{{'label_color'|bkTranslate:this}}" [placeholder]="" [control]="form.controls['color']"></bk-form-input>
            <br>
            <bk-form-input label="{{'label_credit_for_beginning'|bkTranslate:this}}" placeholder="green-dark" [control]="form.controls['credit_for_beginning']"></bk-form-input>
            <br>
            <div>
                <label>{{'label_company_details_required'|bkTranslate:this}}</label>
                <i *ngIf="modalModel.company_details_required" style="font-size: 1.8em;" class="fa fa-toggle-on font-green-jungle cursor-hand" (click)="onBoolean_Company_details(!modalModel.company_details_required)"></i>
                <i *ngIf="!modalModel.company_details_required"  style="font-size: 1.8em;" class="fa fa-toggle-off font-grey-mint cursor-hand"   (click)="onBoolean_Company_details(!modalModel.company_details_required)"></i>
            </div>
            <div>
                <label>{{'label_payment_details_required'|bkTranslate:this}}</label>
                <i *ngIf="modalModel.payment_details_required" style="font-size: 1.8em;" class="fa fa-toggle-on font-green-jungle cursor-hand" (click)="onBoolean_Payment_details(!modalModel.payment_details_required)"></i>
                <i *ngIf="!modalModel.payment_details_required"  style="font-size: 1.8em;" class="fa fa-toggle-off font-grey-mint cursor-hand"   (click)="onBoolean_Payment_details(!modalModel.payment_details_required)"></i>
            </div>
            <div>
                <label>{{'label_payment_method_required'|bkTranslate:this}}</label>
                <i *ngIf="modalModel.payment_method_required" style="font-size: 1.8em;" class="fa fa-toggle-on font-green-jungle cursor-hand" (click)="onBoolean_Payment_method(!modalModel.payment_method_required)"></i>
                <i *ngIf="!modalModel.payment_method_required"  style="font-size: 1.8em;" class="fa fa-toggle-off font-grey-mint cursor-hand"   (click)="onBoolean_Payment_method(!modalModel.payment_method_required)"></i>
            </div>
            <div>
                <bk-form-nice-json [row]="8" [description]="'Config Labels (The order counts)'" [control]="form.controls['labelsInString']" [cols]="75" [content]="modalModel.labelsInString" [readonly]="false"></bk-form-nice-json>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!form.valid" (click)="onSubmitClick()">{{(!modalModel.edit?"btn_create":"btn_update")|bkTranslate:this}}</button>
    </div>
</div>
