<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title" [innerHTML]="'title'|bkTranslate:this"></h4>
    </div>
    <div class="modal-body">

        <form [formGroup]="form">

            <bk-form-input [control]="form.controls['name']" [label]="'label_name_name'|bkTranslate:this"></bk-form-input>
            <bk-form-input [control]="form.controls['description']" [label]="'label_widget_description'|bkTranslate:this"></bk-form-input>

            <!-- Select Hardware Group -->
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <span [innerHTML]="'label_select'|bkTranslate:this"></span><br>
                        <span [innerHTML]="'label_hw_group_title'|bkTranslate:this"></span>
                    </h4>
                    <!-- -->
                    <br>
                    <div *ngIf="modalModel.deviceGroup.content.length == 0" class="text-center">
                        <span [innerHTML]="'label_no_groups_warning'|bkTranslate:this"></span>
                    </div>
                    <div *ngIf="modalModel.deviceGroup.content.length > 0 && groupsForSelect">
                        <bk-form-select #GroupList [options]="groupsForSelect"  [label]="'label_hardware_group'|bkTranslate:this"  [control]="form.controls.deviceGroupStringIdSelected" (valueChanged)="onGroupChange($event)"></bk-form-select>
                    </div>
                </div>
            </div>

            <!-- Select Type -->
            <div class="row">
                <div *ngIf="modalModel.deviceGroup != null && !selectedDeviceGroup" class="col-md-12 text-center">
                    <br>
                    <br>
                    <i class="fa fa-3x fa-spinner fa-spin"></i>
                </div>
                <div *ngIf="selectedDeviceGroup" class="col-md-12">
                    <div>
                        <h4>
                            <span [innerHTML]="'label_select'|bkTranslate:this"></span><br>
                            <span class="cursor-hand" [class.bold]="type == 'firmware'"
                                  [class.font-color-code]="type == 'firmware'" (click)="set_firmware()"
                                  [innerHTML]="'label_firmware_title'|bkTranslate:this"></span> / <span class="cursor-hand" [class.font-color-code]="type == 'bootloader'"  [class.bold]="type == 'bootloader'" (click)="set_bootloader()" [innerHTML]="'label_bootloader_title'|bkTranslate:this"></span>
                        </h4>
                        <br>
                    </div>
                </div>
            </div>

            <!-- Select Bootloader -->
            <div *ngIf="type == 'bootloader'">

                    <div *ngFor="let type_of_board of selectedDeviceGroup.hardware_types">
                        <span class="bold">{{type_of_board.name}}</span>
                        <div *ngIf="bootloaders[type_of_board.id] != null">

                            <bk-form-select [options]="bootloaders[type_of_board.id]"
                                            [labelComment]="false"
                                            [label]="'label_select_bootloader_version'|bkTranslate:this" type="text"
                                            [control]="form.controls[type_of_board.id + '_selectedBootloaderId']">
                            </bk-form-select>

                        </div>
                        <div *ngIf="bootloaders[type_of_board.id] == null">
                            Chybí bootloadery!!! :(((
                        </div>
                    </div>

                    <div *ngIf="selectedDeviceGroup.hardware_types.length == 0">
                        <span class="text-center" [innerHTML]="'label_no_hw_types_in_group'|bkTranslate:this"></span>
                    </div>

            </div>

            <!-- Select Firmware -->
            <div *ngIf="type == 'firmware' && selectedDeviceGroup">
                <div *ngFor="let type_of_board of selectedDeviceGroup.hardware_types" class="margin-left-15">
                    <span class="bold" [innerHTML]=" type_of_board.name"></span>
                     <div class="row">
                         <div class="col-md-9">
                             <div class="margin-left-15">
                                 <span [innerHTML]="'label_program_name'|bkTranslate:this"></span>:
                                 <span *ngIf="selectedProgram[type_of_board.id]" class="bold">{{selectedProgram[type_of_board.id].program.name}}</span>
                             </div>
                             <div class="margin-left-15">
                                 <span [innerHTML]="'label_program_version_name'|bkTranslate:this"></span>:
                                 <span *ngIf="selectedProgram[type_of_board.id]" class="bold">{{selectedProgram[type_of_board.id].version.name}}</span>
                             </div>
                         </div>
                         <div class="col-md-3">
                             <button type="button" class="btn blue" (click)="onSelectCProgramVersion(type_of_board)">{{'btn_select_version'|bkTranslate:this}}</button>
                         </div>
                     </div>


                </div>
                <div *ngIf="!selectedDeviceGroup.hardware_types">
                    Chybí Typy HW!!! :(((
                </div>
            </div>



        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!form.valid" (click)="onSubmitClick()">{{'btn_create'|bkTranslate:this}}</button>
    </div>
</div>
