<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">{{'title'|bkTranslate:this}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">

            <div class="row">
                <div class="col-md-6">
                    <h4 [innerHTML]="'label_hw_group_title'|bkTranslate:this"></h4>
                    <!-- -->
                    <span *ngIf="modalModel.deviceGroup.length == 0" [innerHTML]="'label_no_groups_warning'|bkTranslate:this"></span>
                    <br>
                    <bk-multi-select [items]="groupsForSelect" [labelComment]="false"></bk-multi-select>
                </div>
                <div class="col-md-6">

                    <div>
                        <h4 [innerHTML]="'label_firmware_title'|bkTranslate:this"></h4>
                        <br>
                        <bk-form-select *ngIf="cProgramForSelect.length > 0" [control]="form.controls.selectedCProgramId" [labelComment]="false"
                                        [options]="cProgramForSelect"></bk-form-select>
                        <span *ngIf="cProgramForSelect.length == 0" [innerHTML]="'label_no_firmware_warning'|bkTranslate:this"> </span>
                    </div>

                    <br>
                    <div *ngIf="form.controls.cProgramVersionId != null && cProgramVersionForSelect != null">
                        <h4>Select Version</h4>
                        <bk-form-select [control]="form.controls.cProgramVersionId" [labelComment]="false"
                                        [options]="cProgramVersionForSelect"></bk-form-select>
                    </div>
                    <div *ngIf="cProgramForSelect.length > 0 && form.controls.cProgramVersionId != null && cProgramVersionForSelect == null">
                        <h3 class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <bk-form-select [control]="form.controls.firmwareType" [label]="'label_firmware_type'|bkTranslate:this"
                                [options]="firmwareTypeSelect"></bk-form-select>
            </div>
            <hr>
            <div>
                <label>{{'label_when'|bkTranslate:this}}</label>
                    <i *ngIf="immediately" style="font-size: 1.8em;" class="fa fa-toggle-on font-green-jungle cursor-hand" (click)="onBooleanClick(!immediately)"></i>  <span *ngIf="immediately" class="bold" [innerHTML]="'label_immediately'|bkTranslate:this"></span>
                    <i *ngIf="!immediately" style="font-size: 1.8em;"  class="fa fa-toggle-off font-grey-mint cursor-hand" (click)="onBooleanClick(!immediately)"></i>  <span *ngIf="!immediately" class="bold"[innerHTML]="'label_on_time'|bkTranslate:this"></span>

                <div *ngIf="!immediately">
                    <br>
                    <bk-date-picker [control]="form.controls.datePlan" [label]="'label_select_date'|bkTranslate:this" [dateOption]="dateOption"></bk-date-picker>
                    <br>
                    <br>
                    <bk-time-picker [control]="form.controls.timePlan" [label]="'label_select_time'|bkTranslate:this"></bk-time-picker>
                </div>

            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn red" (click)="onCancelClick()">{{'btn_cancel'|bkTranslate:this}}</button>
        <button type="button" class="btn green" [disabled]="!form.valid" (click)="onSubmitClick()">{{'btn_create'|bkTranslate:this}}</button>
    </div>
</div>
