<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level directory
  ~ of this distribution.
  -->
<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <div class="menu-toggler sidebar-toggler pull-left" (click)="onSidebarToggleClick($event)">
                    <span></span>
                </div>
                <div class="byzance-logo byzance-logo-size-top-menu"></div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li *ngIf="backendService.tassks">
                        <a><i class="fa fa-spinner fa-spin"></i></a>
                    </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-notification">
                        <a class="dropdown-toggle" (click)="onNotificationToggleClick($event)">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default" *ngIf="notificationService.unreadNotificationsCount">{{notificationService.unreadNotificationsCount}}</span>
                        </a>
                        <ul class="dropdown-menu toolbar-notification-menu" [style.display]="showNotificationMenu?'block':'none'">
                            <li class="external">
                                <h3>
                                    <span class="bold"> {{'label_number_of_unread'|bkTranslate:this:notificationService.unreadNotificationsCount}}</span> {{'label_notifications'|bkTranslate:this}}</h3>
                                <a [routerLink]="['/notifications']">{{'label_view_all'|bkTranslate:this}}</a>
                            </li>
                            <bk-notifications-list class="dropdown-menu-list n-list-scrolling" listName="toolbarNotifications"></bk-notifications-list>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" (click)="onUserToggleClick($event)">
                            <img alt="" class="img-circle" *ngIf="backendService.personInfoSnapshot.picture_link" [attr.src]="backendService.personInfoSnapshot.picture_link?backendService.personInfoSnapshot.picture_link:''"/>
                            <div class="empty-avatar" *ngIf="!backendService.personInfoSnapshot.picture_link"></div>
                            <span class="username">
                                {{backendService.personInfoSnapshot.full_name?backendService.personInfoSnapshot.full_name:backendService.personInfoSnapshot.nick_name}}
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" [style.display]="showUserMenu?'block':'none'">
                            <li>
                                <a [routerLink]="['/profile']"><i class="icon-settings"></i> {{'label_profile'|bkTranslate:this}}</a>
                            </li>
                            <li>
                                <a [routerLink]="['/logout']"><i class="icon-key"></i> {{'label_log_out'|bkTranslate:this}}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <bk-notifications-overlay></bk-notifications-overlay>
    <!-- END HEADER -->
    <div class="page-container">

        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" [class.page-sidebar-menu-closed]="sidebarClosed">
                    <li routerLinkActive="active" *ngFor="let page of navigation">
                        <a *ngIf="!(page.options['adminNavigation'])" [routerLink]="page.link">
                            <span class="fa fa-{{page.icon}}" data-bind-title="page.label"></span>
                            <span class="title">{{page.label}}</span>
                            <span class="selected"></span>
                        </a>
                    </li>

                    <!-- BEGIN SIDEBAR MENU Admin Part-->
                    <!-- TODO Dopsat podmínku že admin se zobrazí jen když má uživatel permission - doplní tom -->
                    <li class="heading">
                        <h3 class="uppercase">Byzance Admin</h3>
                    </li>

                    <!-- DOC: Filter all navigations with admin parameter on option -->
                    <li *ngFor="let page of navigation">
                      <!-- BEGIN SIDEBAR MENU -->

                              <a *ngIf="page.options['adminNavigation'] && (page.options['subLinks'])" (click)="openSubmanyItem(page.label)">
                                <span class="fa fa-{{page.icon}}" data-bind-title="page.label"></span>
                                <span class="title">{{page.label}}</span>
                                <span class="selected"></span>
                                 <span [class]="(tabMenuDropped==page.label)?'arrow open':'arrow'"></span>
                              </a>
                              <ul [style.display]="(tabMenuDropped==page.label)?'block':'none'" class="sub-menu">
                                   <li routerLinkActive="active" *ngFor="let sublink of page.options['subLinks']">
                                          <a [routerLink]="sublink.link">
                                            <span class="fa fa-{{sublink.icon}}" data-bind-title="sublink.label"></span>
                                            <span class="title">{{sublink.label}}</span>
                                            <span class="selected"></span>
                                          </a>
                                    </li>
                             </ul>

                        <a *ngIf="page.options['adminNavigation'] && !(page.options['subLinks'])" [routerLink]="page.link">
                            <span class="fa fa-{{page.icon}}" data-bind-title="page.label"></span>
                            <span class="title">{{page.label}}</span>
                            <span class="selected"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- END SIDEBAR -->

        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li *ngFor="let breadcrumb of breadcrumbsService.breadcrumbs; let last = last">
                            <a *ngIf="!last" [routerLink]="breadcrumb.link">{{breadcrumb.label}}</a>
                            <i *ngIf="!last" class="fa fa-angle-right"></i>
                            <span *ngIf="last"><strong>{{breadcrumb.label}}</strong></span>
                        </li>
                    </ul>
                </div>

                <h1 *ngIf="title" class="page-title text-center">
                    {{title}}
                    <div *ngIf="subtitle" class="page-subtitle text-center">
                        {{subtitle}}
                    </div>
                </h1>

                <div [class.tabbable-line]="tabMenuItems">
                    <ul *ngIf="tabMenuItems" class="nav nav-tabs becki-tab-menu">
                        <li *ngFor="let tabItem of tabMenuItems; let index = index" class="{{tabItem.options['styleClass']}}" [class.spacer]="!tabItem.options['items'] && !tabItem.link" [class.active]="isRouterLinkActive(tabItem)" [class.dropdown]="tabItem.options['items']" [class.open]="openTabMenuIndex == index">
                            <a *ngIf="!tabItem.options['items'] && tabItem.link" [routerLink]="tabItem.link" [class.disabled]="tabItem.options['disabled']"><span *ngIf="tabItem.icon" class="fa fa-fw fa-{{tabItem.icon}}"></span> <span [innerHTML]="tabItem.label"></span> </a>
                            <a *ngIf="tabItem.options['items']" (click)="toggleTabMenu(index)" class="cursor-hand"><span *ngIf="tabItem.icon" class="fa fa-fw fa-{{tabItem.icon}}"></span> <span [innerHTML]="tabItem.label"></span> <span class="dropdown-icon fa fa-angle-down"></span></a>
                            <ul *ngIf="tabItem.options['items']" class="dropdown-menu becki-tab-menu-dropdown">
                                <li *ngFor="let subTabItem of tabItem.options['items']" [class.active]="isRouterLinkActive(subTabItem)">
                                    <a [routerLink]="subTabItem.link" [class.disabled]="subTabItem.options['disabled']"><span *ngIf="subTabItem.icon" class="fa fa-fw fa-{{subTabItem.icon}}"></span> <span [innerHTML]="subTabItem.label"></span> </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div [class.tab-content]="tabMenuItems">
                        <div class="active" [class.tab-pane]="tabMenuItems">
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>


            </div>
            <!-- END CONTENT BODY -->
        </div>

    </div>

    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            {{'label_with_love'|bkTranslate:this}}
            <a target="_blank" href="http://byzance.cz">{{'label_byzance'|bkTranslate:this}}</a>
        </div>
        <span class="page-footer-inner pull-right becki-footer-version">{{versionString}}</span>
    </div>
    <!-- END FOOTER -->
</div>
