<div>
    <!-- BEGIN LOGO -->
    <div class="logo">
        <div class="byzance-logo"></div>
        <ng-template [ngIf]="beckiBeta">
        <h3 class="bold font-white" style="margin-top: 10px; margin-bottom: 5px;">BETA</h3>
    </ng-template>
    </div>
    <!-- END LOGO -->
    <div class="content">
        <bk-notifications-overlay></bk-notifications-overlay>
        <ng-content></ng-content>
    </div>
    <div class="copyright">
        2017 &copy;
        <a target="_blank" href="http://Byzance.cz">{{'label_byzance'|bkTranslate:this}}</a>
        <br>
        <span class="becki-footer-version">{{versionString}}</span>
    </div>
</div>
