<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div style="position:relative" data-bind-ng-switch="items?.length > 0">
  <template data-bind-ng-if="progress">
    <div class="overlay">
      <div class="spinner"></div>
    </div>
  </template>
  <template data-bind-ng-switch-when="true">
    <div class="list-group">
      <div class="list-group-item clearfix" template="ngFor #item of items" data-bind-ng-switch="item.removing">
        <template data-bind-ng-switch-when="true">
          <div class="pull-right">
            <button class="btn btn-danger" type="button" data-on-click="onConfirmationYesClick(item, $event)">Yes</button>
            <button class="btn btn-default" type="button" data-on-click="onConfirmationNoClick(item, $event)">No</button>
          </div>
          Do you really want to remove <strong>{{item.name}}</strong>?
        </template>
        <template data-bind-ng-switch-when="false">
          <div class="pull-right">
            <template data-bind-ng-if="item.link">
              <button type="button" class="btn btn-default" data-on-click="onEditClick(item, $event)">Edit</button>
            </template>
            <div class="dropdown dropdown-kebab-pf pull-right" data-bind-class.open="item.dropdownOpen" style="margin-left: 10px">
              <button class="btn btn-link dropdown-toggle" type="button" data-on-click="onDropdownClick(item, $event)">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a data-on-click="onRemoveClick(item, $event)" style="cursor: pointer">Remove</a></li>
              </ul>
            </div>
          </div>
          <h4 class="list-group-item-heading">{{item.name}}</h4>
          <p class="list-group-item-text">{{item.description}}</p>
        </template>
      </div>
    </div>
  </template>
  <template data-bind-ng-switch-when="false">
    <div class="blank-slate-pf" style="padding: 15px">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-add-circle-o"></span>
      </div>
      <h1>{{emptyTitle}}</h1>
      <div class="blank-slate-pf-main-action">
        <button class="btn btn-primary btn-lg" data-on-click="onAddClick($event)">Add</button>
      </div>
    </div>
  </template>
</div>
