<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level directory
  ~ of this distribution.
  -->

<div data-bind-layout="'Add a New Device for Applications'" data-bind-breadcrumbs="breadcrumbs">
  <form class="clearfix" data-on-submit="onSubmit($event)">
    <template data-bind-ng-if="projects?.length > 1">
      <div class="form-group">
        <label>
          <span class="glyphicon glyphicon-list"></span>
          Project
        </label>
        <select class="form-control" required data-bindon-ng-model="projectField">
          <option value="">Select name...</option>
          <option data-bind-value="project.id" template="ngFor #project of projects">
            {{project.project_name}}
          </option>
        </select>
      </div>
    </template>
    <div class="form-group">
      <label>
        <span class="glyphicon glyphicon-pencil"></span>
        Name
      </label>
      <input class="form-control" required data-bindon-ng-model="nameField" data-bind-custom-validator="validateNameField()" data-message="This name is used already. Please choose another one.">
    </div>
    <div class="form-group">
      <label>
        <span class="glyphicon glyphicon-resize-vertical"></span>
        Height
      </label>
      <input class="form-control" type="number" min="1" required data-bindon-ng-model="heightField">
    </div>
    <div class="form-group">
      <label>
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        Width
      </label>
      <input class="form-control" type="number" min="1" required data-bindon-ng-model="widthField">
    </div>
    <div class="pull-right">
      <button class="btn btn-danger" type="button" data-on-click="onCancelClick($event)">Cancel</button>
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </form>
</div>
