<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div class="modal fade" tabindex="-1" data-bind-class.in="modalEvent" data-bind-style.display="modalEvent ? 'block' : 'none'" data-bind-style.background-color="modalEvent ? 'rgba(0,0,0,0.5)' : 'initial'">
  <div class="modal-dialog">
    <div class="modal-content" data-bind-ng-switch="getModalEventType(modalEvent)">
      <div class="modal-header">
        <button type="button" class="close" data-on-click="onModalCloseClick($event)"><span>&times;</span></button>
        <h4 class="modal-title">
          <template data-bind-ng-switch-when="'widget'">
            Edit the Widget
          </template>
          <template data-bind-ng-switch-when="'block'">
            Edit the "{{modalEvent?.block?.id}}" Block
          </template>
        </h4>
      </div>
      <div class="modal-body">
        <template data-bind-ng-switch-when="'widget'">
          <div class="form-group" template="ngFor #property of modalEvent?.widget?.configProperties" data-bind-ng-switch="getWidgetPropertyType(property)">
            <label>
              <span class="glyphicon glyphicon-pencil"></span>
              {{property.displayName}}
            </label>
            <template data-bind-ng-switch-when="'int'">
              <input class="form-control" type="number" data-bindon-ng-model="property.value">
            </template>
            <template data-bind-ng-switch-when="'float'">
              <input class="form-control" type="number" step="0.01" data-bindon-ng-model="property.value">
            </template>
            <template data-bind-ng-switch-when="'text'">
              <input class="form-control" data-bindon-ng-model="property.value">
            </template>
            <template data-bind-ng-switch-when="'bool'">
              <input type="checkbox" data-bindon-ng-model="property.value">
            </template>
          </div>
        </template>
        <template data-bind-ng-switch-when="'block'">
          <div class="form-group" template="ngFor #property of modalEvent?.block?.getConfigProperties()" data-bind-ng-switch="getBlockPropertyType(property)">
            <label>
              <span class="glyphicon glyphicon-pencil"></span>
              {{property.displayName}}
            </label>
            <template data-bind-ng-switch-when="'int'">
              <input class="form-control" type="number" data-bindon-ng-model="property.value">
            </template>
            <template data-bind-ng-switch-when="'float'">
              <input class="form-control" type="number" step="0.1" data-bindon-ng-model="property.value">
            </template>
            <template data-bind-ng-switch-when="'text'">
              <input class="form-control" data-bindon-ng-model="property.value">
            </template>
            <template data-bind-ng-switch-when="'bool'">
              <input type="checkbox" data-bindon-ng-model="property.value">
            </template>
            <template data-bind-ng-switch-when="'javascript'">
              <div data-bindon-field-code="property.value" data-bind-mode="'text/javascript'">
                <div class="spinner"></div>
              </div>
            </template>
          </div>
        </template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-on-click="onModalCloseClick($event)">
          Close
        </button>
        <template data-bind-ng-if="!modalEvent?.readonly">
          <button type="button" class="btn btn-primary" data-on-click="onModalEditClick($event)">
            Edit
          </button>
        </template>
      </div>
    </div>
  </div>
</div>
<template data-bind-ng-if="router.navigating">
  <div class="overlay">
    <div class="spinner spinner-lg"></div>
  </div>
</template>
<router-outlet></router-outlet>
