.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
}

.overlay progress {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -2.5em;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
  background-color: #133783;
  border-color: #0c224f;
  color: #FFF;
}

.btn-facebook {
  background-image: linear-gradient(to bottom, #3B5998 0%, #133783 100%);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
  background-image: none;
}

.btn-github,
.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active {
  background-color: #c3c3c3;
  border-color: #8f8f8f;
  color: #000;
}

.btn-github {
  background-image: linear-gradient(to bottom, #fafafa 0%, #c3c3c3 100%);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active {
  background-image: none;
}
