<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level directory
  ~ of this distribution.
  -->

<template data-bind-ng-if="readonly">
  <p>{{model.body}}</p>
</template>
<template data-bind-ng-if="!readonly">
  <button type="button" class="btn btn-xs btn-default" data-bind-class.active="model.homer != null" data-on-click="onHomerProgramClick($event)">
    <span class="glyphicon glyphicon-paperclip"></span>
    Homer program
  </button>
  <textarea class="form-control" data-bind-ng-model="model.body" data-on-ng-model-change="onBodyChange($event)"></textarea>
</template>
<template data-bind-ng-if="model.homer != null">
  <div style="margin-top: 1em" data-bind-field-homer-program="model.homer" data-bind-readonly="readonly" data-on-field-homer-program-change="onHomerChange($event)">
    <progress>Loading...</progress>
  </div>
</template>
