<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div data-bind-layout="heading" data-bind-breadcrumbs="breadcrumbs">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="media" template="ngFor #item of items" style="position: relative">
        <template data-bind-ng-if="progress">
          <div class="overlay">
            <progress>Loading...</progress>
          </div>
        </template>
        <div class="media-left">
          <div class="btn-group-vertical">
            <button class="btn btn-default" type="button" data-on-click="onPlusClick(item.id, $event)">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
            <div class="h2" style="margin: 6px 12px;text-align: center;">
              {{item.likes}}
            </div>
            <button class="btn btn-default" type="button" data-on-click="onMinusClick(item.id, $event)">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>
          </div>
        </div>
        <div class="media-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <template data-bind-ng-if="item.editing">
                <form class="clearfix" data-on-submit="onItemEditingSubmit(item, $event)">
                  <template data-bind-ng-if="item.hasOwnProperty('typeField')">
                    <div class="form-group">
                      <label>
                        <span class="glyphicon glyphicon-list"></span>
                        Type
                      </label>
                      <select class="form-control" required data-bindon-ng-model="item.typeField">
                        <option value="">Select type...</option>
                        <option data-bind-value="type.id" template="ngFor #type of types">
                          {{type.type}}
                        </option>
                      </select>
                    </div>
                  </template>
                  <template data-bind-ng-if="item.hasOwnProperty('titleField')">
                    <div class="form-group">
                      <label>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Title
                      </label>
                      <input class="form-control" required data-bindon-ng-model="item.titleField">
                    </div>
                  </template>
                  <div class="form-group">
                    <label>
                      <span class="glyphicon glyphicon-pencil"></span>
                      Body
                    </label>
                    <div data-bindon-field-issue-body="item.bodyField" data-bind-required="true">
                      <progress>Loading...</progress>
                    </div>
                  </div>
                  <div class="pull-right">
                    <button class="btn btn-danger" type="button" data-on-click="onItemEditingCancelClick(item, $event)">
                      Cancel
                    </button>
                    <button class="btn btn-primary" type="submit">
                      Update
                    </button>
                  </div>
                </form>
              </template>
              <template data-bind-ng-if="item.importing">
                <form class="clearfix" data-on-submit="onItemImportingSubmit(item, $event)">
                  <div class="form-group">
                    <label>
                      <span class="glyphicon glyphicon-list"></span>
                      Project
                    </label>
                    <select class="form-control" required data-bindon-ng-model="item.programProjectField" data-on-ng-model-change="item.programNameField = ''">
                      <option value="">Select name...</option>
                      <option data-bind-value="project.projectId" template="ngFor #project of projects">
                        {{project.projectName}}
                      </option>
                    </select>
                  </div>
                  <template data-bind-ng-if="item.programProjectField">
                    <div class="form-group">
                      <label>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Name
                      </label>
                      <input class="form-control" required data-bindon-ng-model="item.programNameField" data-bind-custom-validator="validateHomerProgramName(item.programNameField, item.programProjectField)" data-message="This name is used already. Please choose another one.">
                    </div>
                    <div class="form-group">
                      <label>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Description
                      </label>
                      <textarea class="form-control" data-bindon-ng-model="item.programDescriptionField"></textarea>
                    </div>
                    <div class="form-group">
                      <label>
                        <span class="glyphicon glyphicon-console"></span>
                        Code
                      </label>
                      <div data-bindon-field-homer-program="item.programCodeField">
                        <progress>Loading...</progress>
                      </div>
                    </div>
                  </template>
                  <div class="pull-right">
                    <button class="btn btn-danger" type="button" data-on-click="onItemImportingCancelClick(item, $event)">
                      Cancel
                    </button>
                    <button class="btn btn-primary" type="submit">
                      Import
                    </button>
                  </div>
                </form>
              </template>
              <template data-bind-ng-if="!item.editing && !item.importing">
                <div class="btn-group btn-group-xs pull-right">
                  <template data-bind-ng-if="item.programCodeField != null">
                    <button type="button" class="btn btn-default" data-on-click="onItemImportClick(item, $event)">
                      <span class="glyphicon glyphicon-import"></span>
                    </button>
                  </template>
                  <button type="button" class="btn btn-default" data-on-click="onItemEditClick(item, $event)">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                  <button type="button" class="btn btn-danger" data-on-click="onItemRemoveClick(item, $event)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
                <div data-bindon-field-issue-body="item.body" data-bind-readonly="true">
                  <progress>Loading...</progress>
                </div>

                <p class="pull-right">{{item.date}}</p>
              </template>
            </div>
            <div class="panel-footer">
              <div template="ngFor #comment of item.comments">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="...">
                  </div>
                  <div class="media-body">
                    <template data-bind-ng-if="comment.editing">
                      <form class="clearfix" data-on-submit="onCommentEditingSubmit(comment, $event)">
                        <div class="form-group">
                          <label>
                            <span class="glyphicon glyphicon-comment"></span>
                            Comment
                          </label>
                          <textarea class="form-control" required data-bindon-ng-model="comment.bodyField"></textarea>
                        </div>
                        <div class="pull-right">
                          <button class="btn btn-danger" type="button" data-on-click="onCommentEditingCancelClick(comment, $event)">
                            Cancel
                          </button>
                          <button class="btn btn-primary" type="submit">Update
                          </button>
                        </div>
                      </form>
                    </template>
                    <template data-bind-ng-if="!comment.editing">
                      <div class="media-heading" style="font-weight: bold;">
                        Author - {{comment.date}}
                        <div class="btn-toolbar pull-right">
                          <div class="btn-group btn-group-xs">
                            <button class="btn btn-default" type="button" data-on-click="onPlusClick(comment.id, $event)">
                              <span class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                            <div style="float: left;padding: 1px 5px;">
                              {{comment.likes}}
                            </div>
                            <button class="btn btn-default" type="button" data-on-click="onMinusClick(comment.id, $event)">
                              <span class="glyphicon glyphicon-thumbs-down"></span>
                            </button>
                          </div>
                          <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default" data-on-click="onCommentEditClick(comment, $event)">
                              <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="button" class="btn btn-danger" data-on-click="onCommentRemoveClick(comment.id, $event)">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                      {{comment.body}}
                    </template>
                  </div>
                </div>
                <hr>
              </div>
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="...">
                </div>
                <form class="media-body" data-on-submit="onCommentCreationSubmit(item, $event)">
                  <div class="input-group">
                    <input class="form-control" type="text" required data-bindon-ng-model="item.commentField">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Comment</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h2>Related</h2>

      <div data-bind-panel-list="related" data-bind-progress="progress" data-on-plus-click="onRelatedAddClick($event)" data-on-minus-click="onRelatedRemoveClick($event)">
        <progress>Loading...</progress>
      </div>
      <h2>Tags</h2>

      <div data-bind-panel-list="tags" data-bind-progress="progress" data-on-plus-click="onTagAddClick($event)" data-on-minus-click="onTagsRemoveClick($event)">
        <progress>Loading...</progress>
      </div>
      <h2>Confirmations</h2>

      <div data-bind-panel-list="confirmations" data-bind-progress="progress" data-on-plus-click="onConfirmationAddClick($event)" data-on-minus-click="onConfirmationsRemoveClick($event)">
        <progress>Loading...</progress>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <form class="panel-body clearfix" data-on-submit="onAnswerCreationSubmit($event)" style="position: relative">
      <template data-bind-ng-if="progress">
        <div class="overlay">
          <progress>Loading...</progress>
        </div>
      </template>
      <div class="form-group">
        <label>
          <span class="glyphicon glyphicon-pencil"></span>
          New Answer
        </label>
        <div data-bindon-field-issue-body="answerBodyField" data-bind-required="true">
          <progress>Loading...</progress>
        </div>
      </div>
      <button class="btn btn-primary pull-right" type="submit">Create</button>
    </form>
  </div>
</div>
