<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div data-bind-layout="heading" data-bind-breadcrumbs="breadcrumbs">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h2>Details</h2>
      <form class="clearfix" data-on-submit="onUpdatingSubmit($event)">
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-pencil"></span>
            Name
          </label>
          <input class="form-control" required data-bindon-ng-model="nameField" data-bind-custom-validator="validateNameField()" data-message="This name is used already. Please choose another one.">
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-pencil"></span>
            Description
          </label>
          <textarea class="form-control" data-bindon-ng-model="descriptionField"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Update</button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-on-click="onCollaboratorAddClick($event)">Add</button>
        </div>
        <h2>Collaborators</h2>
      </div>
      <div data-bind-list-view="collaborators" data-on-add-click="onCollaboratorAddClick($event)" data-on-remove-click="onCollaboratorRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-on-click="onBoardProgramAddClick($event)">Add</button>
        </div>
        <h2>Board Programs</h2>
      </div>
      <div data-bind-list-view="boardPrograms" data-on-add-click="onBoardProgramAddClick($event)" data-on-remove-click="onBoardProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-on-click="onStandaloneProgramAddClick($event)">Add</button>
        </div>
        <h2>Standalone Programs</h2>
      </div>
      <div data-bind-list-view="standalonePrograms" data-on-add-click="onStandaloneProgramAddClick($event)" data-on-remove-click="onStandaloneProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-on-click="onHomerProgramAddClick($event)">Add</button>
        </div>
        <h2>Homer Programs</h2>
      </div>
      <div data-bind-list-view="homerPrograms" data-on-add-click="onHomerProgramAddClick($event)" data-on-remove-click="onHomerProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-on-click="onBoardAddClick($event)">Add</button>
        </div>
        <h2>Boards</h2>
      </div>
      <div data-bind-list-view="boards" data-on-add-click="onBoardAddClick($event)" data-on-remove-click="onBoardRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Board Upload</h2>
      <form class="clearfix" data-on-submit="onBoardUploadingSubmit($event)">
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-list"></span>
            Board IDs
          </label>
          <div class="checkbox" template="ngFor #board of boards">
            <label>
              <input type="checkbox" data-bindon-ng-model="board.selected">
              {{board.name}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-console"></span>
            Program
          </label>
          <select class="form-control" required data-bindon-ng-model="boardUploadingProgramField">
            <option value="">Select name...</option>
            <option data-bind-value="program.id" template="ngFor #program of boardPrograms">
              {{program.name}}
            </option>
          </select>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Upload</button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Board Upload</h2>
      <form class="clearfix" data-on-submit="onBoardUploadingBinarySubmit($event)">
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-list"></span>
            Board IDs
          </label>
          <div class="checkbox" template="ngFor #board of boards">
            <label>
              <input type="checkbox" data-bindon-ng-model="board.selected">
              {{board.name}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-file"></span>
            Binary File
          </label>
          <input class="form-control" type="file" required data-var-board-uploading-binary-file-field>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Upload</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-on-click="onHomerAddClick($event)">Add</button>
        </div>
        <h2>Homers</h2>
      </div>
      <div data-bind-list-view="homers" data-on-add-click="onHomerAddClick($event)" data-on-remove-click="onHomerRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <h2>Homer Upload</h2>
      <form class="clearfix" data-on-submit="onHomerUploadingSubmit($event)">
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-list"></span>
            Homer IDs
          </label>
          <div class="checkbox" template="ngFor #homer of homers">
            <label>
              <input type="checkbox" data-bindon-ng-model="homer.selected">
              {{homer.name}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-console"></span>
            Program
          </label>
          <select class="form-control" required data-bindon-ng-model="homerUploadingProgramField">
            <option value="">Select name...</option>
            <option data-bind-value="program.id" template="ngFor #program of homerPrograms">
              {{program.name}}
            </option>
          </select>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Upload</button>
      </form>
    </div>
  </div>
</div>
