<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div data-bind-layout="heading" data-bind-breadcrumbs="breadcrumbs">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h2>Details</h2>
      <form class="clearfix" data-on-submit="onUpdatingSubmit($event)" style="position: relative">
        <template data-bind-ng-if="progress">
          <div class="overlay">
            <div class="spinner"></div>
          </div>
        </template>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-pencil"></span>
            Name
          </label>
          <input class="form-control" required data-bindon-ng-model="nameField" data-bind-custom-validator="validateNameField()" data-message="This name is used already. Please choose another one.">
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-pencil"></span>
            Description
          </label>
          <textarea class="form-control" data-bindon-ng-model="descriptionField"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Update</button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>
        Collaborators
        <small>— <a data-bind-router-link="newCollaboratorLink">Add</a></small>
      </h2>
      <div data-bind-list-group="collaborators" data-bind-progress="progress" data-on-remove-click="onCollaboratorRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2>
        Board Programs
        <small>— <a data-bind-router-link="newBoardProgramLink">Add</a></small>
      </h2>
      <div data-bind-list-group="boardPrograms" data-bind-progress="progress" data-on-remove-click="onBoardProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>
        Standalone Programs
        <small>— <a data-bind-router-link="newStandaloneProgramLink">Add</a></small>
      </h2>
      <div data-bind-list-group="standalonePrograms" data-bind-progress="progress" data-on-remove-click="onStandaloneProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>
        Homer Programs
        <small>— <a data-bind-router-link="newHomerProgramLink">Add</a></small>
      </h2>
      <div data-bind-list-group="homerPrograms" data-bind-progress="progress" data-on-remove-click="onHomerProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>
        Boards
        <small>— <a data-bind-router-link="newBoardLink">Add</a></small>
      </h2>
      <div data-bind-list-group="boards" data-bind-progress="progress" data-on-remove-click="onBoardRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>
        Homers
        <small>— <a data-bind-router-link="newHomerLink">Add</a></small>
      </h2>
      <!-- TODO: https://youtrack.byzance.cz/youtrack/issue/TYRION-78 -->
      <div data-bind-list-group="homers" data-bind-progress="progress" data-on-remove-click="onHomerRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Upload Queue
        <small>— <a data-bind-router-link="newUploadLink">Add</a></small>
      </h2>
      <div data-bind-list-group="uploadQueue" data-bind-progress="progress" data-on-remove-click="onUploadRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</div>
