<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div data-bind-wrapper="heading" data-bind-breadcrumbs="breadcrumbs">
  <form class="clearfix" data-on-submit="onSubmit($event)" style="position: relative">
    <template data-bind-ng-if="progress">
      <div class="overlay">
        <progress>Loading...</progress>
      </div>
    </template>
    <div class="form-group">
      <label>
        <span class="glyphicon glyphicon-user"></span>
        ID
      </label>
      <input class="form-control" required data-bindon-ng-model="idField" data-bind-custom-validator="validateIdField()" data-message="This ID is registered already.">
    </div>
    <div class="pull-right">
      <button class="btn btn-danger" type="button" data-on-click="onCancelClick($event)">Cancel</button>
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </form>
</div>
