<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div data-bind-layout="heading" data-bind-breadcrumbs="breadcrumbs">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h2>Details</h2>
      <form class="clearfix" data-on-submit="onUpdatingSubmit($event)">
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-pencil"></span>
            Name
          </label>
          <input class="form-control" required minlength="8" data-bindon-ng-model="nameField" data-bind-custom-validator="validateNameField()" data-message="This name is used already. Please choose another one.">
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-pencil"></span>
            Description
          </label>
          <textarea class="form-control" required minlength="24" data-bindon-ng-model="descriptionField"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Update</button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-on-click="onCollaboratorAddClick($event)">Add</button>
        </div>
        <h2>Collaborators</h2>
      </div>
      <div data-bind-list-view="collaborators" data-on-add-click="onCollaboratorAddClick($event)" data-on-remove-click="onCollaboratorRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div>
        <template data-bind-ng-if="addDeviceProgram">
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-on-click="onDeviceProgramAddClick($event)">Add</button>
          </div>
        </template>
        <h2>Device Programs</h2>
      </div>
      <div data-bind-list-view="devicePrograms" data-bind-addable="addDeviceProgram" data-on-add-click="onDeviceProgramAddClick($event)" data-on-remove-click="onDeviceProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div>
        <template data-bind-ng-if="addStandaloneProgram">
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-on-click="onStandaloneProgramAddClick($event)">Add</button>
          </div>
        </template>
        <h2>Standalone Programs</h2>
      </div>
      <div data-bind-list-view="standalonePrograms" data-bind-addable="addStandaloneProgram" data-on-add-click="onStandaloneProgramAddClick($event)" data-on-remove-click="onStandaloneProgramRemoveClick($event)">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Device Upload</h2>
      <form class="clearfix" data-on-submit="onDeviceUploadingSubmit($event)">
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-list"></span>
            Device IDs
          </label>
          <div class="checkbox" template="ngFor #device of devices">
            <label>
              <input type="checkbox" data-bindon-ng-model="device.selected">
              {{device.name}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-console"></span>
            Program
          </label>
          <select class="form-control" required data-bindon-ng-model="deviceUploadingProgramField">
            <option value="">Select name...</option>
            <option data-bind-value="program.id" template="ngFor #program of devicePrograms">
              {{program.name}}
            </option>
          </select>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Upload</button>
      </form>
    </div>
  </div>
</div>
