<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<h1 class="text-center">{{appName}}</h1>
<div class="panel-group center-block" id="signing" style="max-width: 330px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-log-in"></span>
        <a data-toggle="collapse" data-parent="#signing" href="#signing-in">
          Sign in
        </a>
      </h4>
    </div>
    <div id="signing-in" class="panel-collapse collapse in">
      <div class="panel-body">
        <form class="clearfix" data-on-submit="onSignInSubmit($event)">
          <div class="form-group">
            <label>
              <span class="glyphicon glyphicon-envelope"></span>
              Email
            </label>
            <input class="form-control" type="email" data-bindon-ng-model="inEmailField">
          </div>
          <div class="form-group">
            <label>
              <span class="glyphicon glyphicon-lock"></span>
              Password
            </label>
            <input class="form-control" type="password" data-bindon-ng-model="inPasswordField">
          </div>
          <button class="btn btn-primary pull-right" type="submit">Sign in</button>
        </form>
        <div class="text-center">
          <p>or sign in using</p>
          <button type="button" class="btn btn-default" style="color: #FFF;background-color: #337AB7;border-color: #2E6DA4;" data-on-click="onFacebookSignInClick($event)">
            Facebook
          </button>
          <button type="button" class="btn btn-default" style="color: #FFF;background-color: #000;border-color: #000;" data-on-click="onGitHubSignInClick($event)">
            GitHub
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a class="collapsed" data-toggle="collapse" data-parent="#signing" href="#signing-up">
          Sign up
        </a>
      </h4>
    </div>
    <div id="signing-up" class="panel-collapse collapse">
      <form class="panel-body clearfix" data-on-submit="onSignUpSubmit($event)">
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-envelope"></span>
            Email
          </label>
          <input class="form-control" type="email" data-bindon-ng-model="upEmailField">
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-lock"></span>
            Password
          </label>
          <input class="form-control" type="password" data-bindon-ng-model="upPasswordField">
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-user"></span>
            Username
          </label>
          <input class="form-control" data-bindon-ng-model="upUsernameField">
        </div>
        <button class="btn btn-primary pull-right" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>
