<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<template data-bind-ng-if="backEnd.tasks || redirecting">
  <div class="overlay">
    <div class="spinner spinner-lg"></div>
  </div>
</template>
<span id="badge">
  <img src="..." alt="{{brand}} logo" />
</span>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="brand">
        <img src="..." data-bind-alt="brand">
      </div>
    </div>
    <div class="col-sm-7 col-md-6 col-lg-5 login" data-bind-ng-switch="signIn">
      <div notifications>
        <div class="spinner"></div>
      </div>
      <template data-bind-ng-switch-when="true">
        <form class="form-horizontal" data-on-submit="onSignInSubmit($event)">
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Email</label>
            <div class="col-sm-10 col-md-10">
              <input class="form-control" type="email" required data-bindon-ng-model="inEmailField">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Password</label>
            <div class="col-sm-10 col-md-10">
              <input class="form-control" type="password" required data-bindon-ng-model="inPasswordField">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
              <span class="help-block">Don't have an <a data-on-click="onSignUpClick($event)" style="cursor: pointer">account</a>?</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 submit">
              <button type="submit" class="btn btn-primary btn-lg">Sign In
              </button>
            </div>
          </div>
        </form>
        <div class="text-center">
          <p>or sign in using</p>
          <button type="button" class="btn btn-default btn-lg btn-facebook" data-on-click="onFacebookSignInClick($event)">
            Facebook
          </button>
          <button type="button" class="btn btn-default btn-lg btn-github" data-on-click="onGitHubSignInClick($event)">
            GitHub
          </button>
        </div>
      </template>
      <template data-bind-ng-switch-when="false">
        <form class="form-horizontal" data-on-submit="onSignUpSubmit($event)">
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Email</label>
            <div class="col-sm-10 col-md-10">
              <!-- TODO: https://youtrack.byzance.cz/youtrack/issue/TYRION-98 -->
              <input class="form-control" type="email" required data-bindon-ng-model="upEmailField">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Password</label>
            <div class="col-sm-10 col-md-10">
              <input class="form-control" type="password" data-bindon-ng-model="upPassword1Field">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">
              Password confirmation
            </label>
            <div class="col-sm-10 col-md-10">
              <input class="form-control" type="password" data-bindon-ng-model="upPassword2Field" data-bind-custom-validator="validateUpPasswordField()" data-message="Passwords do not match. Please try to fill it again.">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Username</label>
            <div class="col-sm-10 col-md-10">
              <!-- TODO: https://youtrack.byzance.cz/youtrack/issue/TYRION-98 -->
              <!-- TODO: https://youtrack.byzance.cz/youtrack/issue/TYRION-99 -->
              <input class="form-control" data-bindon-ng-model="upUsernameField">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
              <span class="help-block">Already have an <a data-on-click="onSignInClick($event)" style="cursor: pointer">account</a>?</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 submit">
              <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
          </div>
        </form>
      </template>
    </div>
    <div class="col-sm-5 col-md-6 col-lg-7 details"></div>
  </div>
</div>
