<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div data-bind-layout='"Edit the \"" + name + "\" Scheme"' data-bind-breadcrumbs="breadcrumbs" data-bind-action-label="editing || !editScheme ? null : 'Edit'" data-on-action-click="onEditClick($event)" data-bind-ng-switch="editing">
  <form class="clearfix" data-on-submit="onSubmit($event)">
    <template data-bind-ng-if="project">
      <div class="form-group">
        <label>Project</label>
        <p class="form-control-static">{{project}}</p>
      </div>
    </template>
    <template data-bind-ng-switch-when="true">
      <div class="form-group">
        <label>
          <span class="glyphicon glyphicon-pencil"></span>
          Name
        </label>
        <input class="form-control" required minlength="8" data-bindon-ng-model="nameField" data-bind-custom-validator="validateNameField()" data-message="This name is used already. Please choose another one.">
      </div>
    </template>
    <div class="form-group">
      <label>
        <template data-bind-ng-switch-when="true">
          <span class="glyphicon glyphicon-pencil"></span>
        </template>
        Description
      </label>
      <template data-bind-ng-switch-when="true">
        <textarea class="form-control" data-bindon-ng-model="descriptionField"></textarea>
      </template>
      <template data-bind-ng-switch-when="false">
        <p class="form-control-static">{{description}}</p>
      </template>
    </div>
    <template data-bind-ng-switch-when="true">
      <div class="pull-right">
        <button class="btn btn-danger" type="button" data-on-click="onCancelClick($event)">Cancel</button>
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </template>
  </form>
  <template data-bind-ng-switch-when="false">
    <div>
      <div class="pull-right">
        <button type="button" class="btn btn-default" data-on-click="onAddVersionClick($event)">Add</button>
      </div>
      <h2>Versions</h2>
    </div>
    <div data-bind-list-view="versions" data-on-add-click="onAddVersionClick($event)">
      <div class="spinner"></div>
    </div>
    <h2>Upload</h2>
    <form class="clearfix" data-on-submit="onUploadSubmit($event)">
      <div class="form-group">
        <label>
          <span class="glyphicon glyphicon-link"></span>
          Version
        </label>
        <select class="form-control" required data-bindon-ng-model="uploadVersionField">
          <option value="">Select name...</option>
          <option data-bind-value="version.id" template="ngFor #version of versions">
            {{version.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>
          <span class="glyphicon glyphicon-list"></span>
          Moderator IDs
        </label>
        <!-- TODO: https://github.com/angular/angular/issues/4427 -->
        <div class="checkbox" data-bind-class.disabled="!moderator.model.online" template="ngFor #moderator of moderators">
          <label>
            <input type="checkbox" data-bind-disabled="!moderator.model.online" data-bindon-ng-model="moderator.selected">
            {{moderator.model.homer_id}}
            <template data-bind-ng-if="!moderator.model.online">(offline)</template>
          </label>
        </div>
      </div>
      <button class="btn btn-primary pull-right" type="submit">Upload</button>
    </form>
  </template>
</div>
