<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level directory
  ~ of this distribution.
  -->

<div data-bind-layout='"Edit the \"" + group?.program_name + "\" Group"' data-bind-breadcrumbs="breadcrumbs" data-bind-action-label="'Edit'" data-on-action-click="onEditClick($event)" data-bind-ng-switch="editing">
  <form class="clearfix" data-on-submit="onSubmit($event)">
    <template data-bind-ng-if="project">
      <div class="form-group">
        <label>Project</label>
        <p class="form-control-static">{{project}}</p>
      </div>
    </template>
    <template data-bind-ng-switch-when="true">
      <div class="form-group">
        <label>
          <span class="glyphicon glyphicon-pencil"></span>
          Name
        </label>
        <input class="form-control" required data-bindon-ng-model="nameField" data-bind-custom-validator="validateNameField()" data-message="This name is used already. Please choose another one.">
      </div>
    </template>
    <div class="form-group">
      <label>
        <template data-bind-ng-switch-when="true">
          <span class="glyphicon glyphicon-pencil"></span>
        </template>
        Description
      </label>
      <template data-bind-ng-switch-when="true">
        <textarea class="form-control" data-bindon-ng-model="descriptionField"></textarea>
      </template>
      <template data-bind-ng-switch-when="false">
        <p class="form-control-static">{{group?.program_description}}</p>
      </template>
    </div>
    <template data-bind-ng-switch-when="true">
      <div class="pull-right">
        <button class="btn btn-danger" type="button" data-on-click="onCancelClick($event)">Cancel</button>
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
    </template>
  </form>
  <template data-bind-ng-switch-when="false">
    <div>
      <div class="pull-right">
        <button type="button" class="btn btn-default" data-on-click="onAddApplicationClick($event)">Add</button>
      </div>
      <h2>Applications</h2>
    </div>
    <div data-bind-list-view="applications" data-on-add-click="onAddApplicationClick($event)" data-on-remove-click="onRemoveApplicationClick($event)">
      <div class="spinner"></div>
    </div>
  </template>
</div>
