<div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn default green-haze" (click)="toolbarAddFileClick()">
                <i class="fa fa-file-text"></i> {{'btn_add_file'|bkTranslate:this}}
            </button>
            <button type="button" class="btn default green-haze" (click)="toolbarAddDirectoryClick()">
                <i class="fa fa-folder"></i> {{'btn_add_directory'|bkTranslate:this}}
            </button>
            <button *ngIf="enableLibraryButtons" type="button" class="btn default purple-plum" (click)="toolbarAddLibraryClick($event)">
                <i class="fa fa-briefcase"></i> {{'btn_add_library'|bkTranslate:this}}
            </button>
            <button *ngIf="enableLibraryButtons" type="button" class="btn default purple-plum" (click)="toolbarLibraryChangeVersionClick($event)">
                <i class="fa fa-code-fork"></i> {{'btn_change_library_version'|bkTranslate:this}}
            </button>
            <button type="button" class="btn default blue-steel" (click)="toolbarMoveClick()">
                <i class="fa fa-arrow-circle-right"></i> {{'btn_move'|bkTranslate:this}}
            </button>
            <button type="button" class="btn default blue-steel" (click)="toolbarRenameClick()">
                <i class="fa fa-i-cursor"></i> {{'btn_rename'|bkTranslate:this}}
            </button>
            <button type="button" class="btn default red" (click)="toolbarRemoveClick()">
                <i class="fa fa-trash"></i> {{'btn_remove'|bkTranslate:this}}
            </button>
        </div>
    </div>
    <div class="row"><div class="spacer15"></div></div>
    <div class="row">
        <div class="col-md-3">
            <div class="jstree jstree-default portlet light bordered" style="overflow-x: auto;">
                <ul class="jstree-container-ul jstree-children">
                    <bk-file-tree [fileTreeObject]="rootFileTreeObject" (newSelected)="selectFto($event)"></bk-file-tree>
                </ul>
            </div>
        </div>
        <div class="col-md-9 no-padding-left">
            <div class="tabbable-custom">
                <ul class="nav nav-tabs nav-tabs-with-spacer">
                    <li *ngFor="let file of openFiles; let i = index" [class.active]="i == openFilesTabIndex" (click)="openFilesOpenTab(i)">
                        <a title="/{{file.objectFullPath}}">
                            {{file.objectName}}
                            <i class="fa fa-times" (click)="openFilesCloseTab(file)" role="button"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <li *ngFor="let file of openFiles; let i = index" class="tab-pane" [class.active]="i == openFilesTabIndex">
                        <bk-monaco-editor [code]="file.content" (codeChange)="onCodeChange($event, file)" [language]="langFromFilename(file)" [readonly]="file.readonly"></bk-monaco-editor>
                    </li>
                    <li *ngIf="openFiles.length == 0" class="tab-pane active">
                        <h3 style="margin: 10px 0;">
                            <i class="fa fa-chevron-left"></i>
                            {{'label_open_file_browser'|bkTranslate:this}}
                        </h3>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
