<div>

    <div style="max-width:100%; display: flex">
        <div style="min-width: 250px; width: 250px; flex: 0 0 250px">
            <!--- files -->
            <div class="portlet" style="padding: 0 15px 0 0;">

                <div class="portlet-title">
                    <div class="caption font-md">
                        <i class="fa fa-file"></i>
                        <span class="font-sm" [innerHTML]="'label_panel_files'|bkTranslate:this"></span>
                    </div>
                    <div class="actions">
                        <a class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="toolbarAddDirectoryClick($event)">
                            <i class="icon-folder"></i>
                        </a>
                        <a *ngIf="_show_files_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_files_portlet(false)">
                            <i class="icon-arrow-up"></i>
                        </a>
                        <a  *ngIf="!_show_files_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_files_portlet(true)">
                            <i class="icon-arrow-down"></i>
                        </a>

                    </div>
                </div>

                <div [hidden]="!_show_files_portlet">
                    <bk-file-tree-root [files]="files">
                    </bk-file-tree-root>
                </div>
            </div>

            <!--- Libraries -->
            <div class="portlet" style="padding: 0 15px 0 0;">
                <div class="portlet-title">
                    <div class="caption font-md">
                        <i class="fa fa-file"></i>
                        <span class="font-sm" [innerHTML]="'label_panel_libraries'|bkTranslate:this"></span>
                    </div>
                    <div class="actions">
                        <a *ngIf="_show_libraries_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_libraries_portlet(false)">
                            <i class="icon-arrow-up"></i>
                        </a>
                        <a  *ngIf="!_show_libraries_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_libraries_portlet(true)">
                            <i class="icon-arrow-down"></i>
                        </a>
                    </div>
                </div>
                <div *ngIf="_show_libraries_portlet" class="portlet-body">
                    <br>
                    <div class="text-center">
                        Not Yet Supported :(
                    </div>
                    <br>
                </div>
            </div>

            <!--- Integrated Developer Hardware -->
            <div class="portlet" style="padding: 0 15px 0 0;">
                <div class="portlet-title">
                    <div class="caption font-md">
                        <i class="fa fa-microchip"></i>
                        <span class="font-sm" [innerHTML]="'label_panel_hardware'|bkTranslate:this"></span>
                    </div>
                    <div class="actions">
                        <a class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="toolbarAddHardwareClick($event)" [class.hidden]="selectedHardware.length > 4">
                            <i class="icon-plus"></i>
                        </a>
                        <a *ngIf="_show_integrated_hardware_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_integrated_hardware_portlet(false)">
                            <i class="icon-arrow-up"></i>
                        </a>
                        <a  *ngIf="!_show_integrated_hardware_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_integrated_hardware_portlet(true)">
                            <i class="icon-arrow-down"></i>
                        </a>
                    </div>
                </div>

                <div *ngIf="_show_integrated_hardware_portlet" class="portlet-body">

                    <!-- Hardware máme - HW nemáme -->
                    <div *ngIf="selectedHardware.length > 0">
                        <table class="table table-hover table-light byzance-table">
                            <tbody>
                                <tr *ngFor="let hardware of selectedHardware">
                                    <td class="vert-align no-wrap col-lg-4">
                                        {{hardware.name ? hardware.name : hardware.id.substr(0,12)}}
                                    </td>
                                    <td class="vert-align no-wrap col-lg-4">
                                        <bk-online-state [online_state]="hardware.online_state"></bk-online-state>
                                    </td>
                                    <td class="vert-align no-wrap col-lg-2">
                                        <bk-icon-component [condition]="true" [icon]="'fa-trash'" (onClickEvent)="toolbarRemoveHardwareClick(hardware)"></bk-icon-component>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="selectedHardware.length == 0">
                        <br>
                        <div class="text-center">
                            <h4>Not Selected Hardware</h4>
                            <button class="btn blue" (click)="toolbarAddHardwareClick()"><i class="fa fa-plus-circle"></i> Add</button>
                        </div>
                        <br>
                    </div>

                    <!-- Multiple Select -->
                    <td class="vert-align text-center no-wrap margin-top-30 margin-right-15">

                        <hr style="margin-right: 10%; margin-left: 10%"  *ngIf="selectedHardware.length > 0">
                        <div class="row">
                            <div class="col-md-9">
                                <span class="font-sm">Upload Successful Build Automatically to Hardware</span>
                            </div>
                            <div class="col-md-3 text-right">
                                <div class="md-checkbox" (click)="upload_after_build = !upload_after_build" style="margin-top: 10px">
                                    <input type="checkbox" class="md-check" [checked]="upload_after_build">
                                    <label>
                                        <span class="inc"></span>
                                        <span [class.check]="upload_after_build"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </td>

                </div>
            </div>

            <!--- Blocko View -->
            <div class="portlet" style="padding: 0 15px 0 0;">
                <div class="portlet-title">
                    <div class="caption font-md">
                        <i class="fa fa-file"></i>
                        <span class="font-sm" [innerHTML]="'label_panel_blocko_interface_preview'|bkTranslate:this"></span>
                    </div>
                    <div class="actions">
                        <a *ngIf="_show_blocko_interface_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_blocko_interface_portlet(false)">
                            <i class="icon-arrow-up"></i>
                        </a>
                        <a  *ngIf="!_show_blocko_interface_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_blocko_interface_portlet(true)">
                            <i class="icon-arrow-down"></i>
                        </a>
                    </div>
                </div>

                <div *ngIf="_show_blocko_interface_portlet" class="portlet-body">
                    <bk-blocko-view [id]="'block_view'" [singleBlockView]="true" [disableExecution]="true" [readonly]="true"></bk-blocko-view>
                </div>
            </div>

            <!--- Under IDE -->
            <div class="portlet" style="padding: 0 15px 0 0;">

                <div class="portlet-title">
                    <div class="caption font-md">
                        <i class="fa fa-cog"></i>
                        <span class="font-sm" [innerHTML]="'label_panel_code_settings'|bkTranslate:this"></span>
                    </div>
                    <div class="actions">
                        <a *ngIf="_show_code_settings_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_code_settings_portlet(false)">
                            <i class="icon-arrow-up"></i>
                        </a>
                        <a  *ngIf="!_show_code_settings_portlet" class="btn" style="padding-right: 2px; padding-left: 2px;" (click)="show_code_settings_portlet(true)">
                            <i class="icon-arrow-down"></i>
                        </a>
                    </div>
                </div>

                <div [hidden]="!_show_code_settings_portlet" class="portlet-body">
                    <bk-form-select [control]="formLibrarySelector.controls['compilation_version_library_tag']"
                                    [label]="'label_library_version'|bkTranslate:this"
                                    [regexFirstOption]="'[v][0-9.]*(?![-])$'"
                                    [options]="libraryCompilationVersionOptions">
                    </bk-form-select>
                </div>
            </div>
        </div>

        <div style="position: relative; height: 85%; min-width: 0px; flex: 1 1 0">

            <div class="tabbable-custom">

                <ul class="nav nav-tabs nav-tabs-with-spacer">
                    <li *ngFor="let file of openFiles; let i = index" [class.active]="i == openFilesTabIndex"
                        (click)="openFilesOpenTab(i)">
                        <a title="/{{file.objectFullPath}}">
                            {{file.objectName}}
                            <i class="fa fa-times" (click)="openFilesCloseTab(file)" role="button"></i>
                        </a>
                    </li>
                    <button *ngIf="enableBuildButton" type="button" class="btn default yellow-gold pull-right" (click)="onToolBarBuildClick()" [disabled]="buildInProgress">
                        <i class="fa fa-play" *ngIf="!buildInProgress"></i> <i class="fa fa-spinner fa-spin" *ngIf="buildInProgress"></i> {{'btn_build'|bkTranslate:this}}
                    </button>

                    <button *ngIf="enableSaveButton" type="button" class="btn default green-haze pull-right" (click)="onToolBarSaveClick()" style="margin-right: 3px;">
                        <i class="fa fa-floppy-o"></i>
                        <i class="fa fa-bookmark"></i>
                    </button>
                    <button *ngIf="enableSaveButton" type="button" class="btn default blue pull-right" (click)="onToolBarSaveAsClick()" style="margin-right: 3px;">
                        <i class="fa fa-floppy-o"></i> {{'btn_save'|bkTranslate:this}}
                    </button>
                    <button type = "button" class="btn default blue pull-right" (click)="onToolBarChangeMode()" style= "margin-right: 3px;" >
                        {{'btn_diff'|bkTranslate:this}}
                    </button>
                </ul>


                <div class="tab-content" style="padding: 0 !important; border: 0 !important;">
                    <li *ngFor="let file of openFiles; let i = index" class="tab-pane"
                        [class.active]="i == openFilesTabIndex">
                        <bk-monaco-editor [code]="file.content" (codeChange)="onCodeChange($event, file)"
                                          [language]="langFromFilename(file)"
                                          [readonly]="file.readonly"
                                          *ngIf="inEditMode"></bk-monaco-editor>
                        <bk-monaco-diff [originalCode] = "file.contentOriginal" 
                                        [code] = "file.content" 
                                        *ngIf="!inEditMode"> 
                        </bk-monaco-diff>
                    </li>
                    <li *ngIf="openFiles.length == 0" class="tab-pane active">
                        <h3 style="margin: 10px 0;">
                            <i class="fa fa-chevron-left"></i>
                            {{'label_open_file_browser'|bkTranslate:this}}
                        </h3>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
