<div *ngIf="allowTypeSelection">
    {{ 'label_company_account'|bkTranslate:this }}&nbsp;

    <bk-bool-button [baseValue]="companyAccount"
                    (valueChanged)="companyAccountSelected($event)"
                    [readonly]="disabled">
    </bk-bool-button>
    <hr>
</div>

<form [formGroup]="formGroup">
    <bk-form-input
        [control]="formGroup.controls['name']"
        [label]="(companyAccount ? 'label_company_name' : 'label_full_name')|bkTranslate:this"
        [readonly]="disabled">
    </bk-form-input>

    <div class="row">
        <div class="col-md-8">
            <bk-form-input [control]="formGroup.controls['street']"
                           [label]="'label_street'|bkTranslate:this"
                           [readonly]="disabled">
            </bk-form-input>
        </div>
        <div class="col-md-4">
            <bk-form-input [control]="formGroup.controls['street_number']"
                           [label]="'label_street_number'|bkTranslate:this"
                           [readonly]="disabled">
            </bk-form-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <bk-form-input [control]="formGroup.controls['city']"
                           [label]="'label_city'|bkTranslate:this"
                           [readonly]="disabled">
            </bk-form-input>
        </div>
        <div class="col-md-4">
            <bk-form-input [control]="formGroup.controls['zip_code']"
                           [label]="'label_zip_code'|bkTranslate:this"
                           [readonly]="disabled">
            </bk-form-input>
        </div>
    </div>

    <bk-form-select (change)="countryChanged()"
                    [control]="formGroup.controls['country']"
                    [label]="'label_country'|bkTranslate:this"
                    [options]="optionsCountryList"
                    [readonly]="disabled">
    </bk-form-select>

    <bk-form-input *ngIf="!inEu && companyAccount"
                   [control]="formGroup.controls['company_registration_no']"
                   [label]="'label_registration_number'|bkTranslate:this"
                   [readonly]="disabled">
    </bk-form-input>

    <bk-form-input *ngIf="inEu && companyAccount"
                   [control]="formGroup.controls['company_vat_number']"
                   [label]="'label_vat_number'|bkTranslate:this"
                   [readonly]="disabled">
    </bk-form-input>

    <hr>
    <bk-form-input *ngIf="companyAccount"
                   [control]="formGroup.controls['company_web']"
                   type="url"
                   [label]="'label_company_web'|bkTranslate:this"
                   [readonly]="disabled">
    </bk-form-input>

    <bk-form-input *ngIf="companyAccount"
                   [control]="formGroup.controls['company_authorized_email']"
                   type="email"
                   [label]="'label_company_email'|bkTranslate:this"
                   [readonly]="disabled">
    </bk-form-input>

    <bk-form-input *ngIf="companyAccount"
                   [control]="formGroup.controls['company_authorized_phone']"
                   type="tel"
                   [label]="'label_company_phone'|bkTranslate:this"
                   [readonly]="disabled">
    </bk-form-input>
    <hr *ngIf="companyAccount">

    <bk-form-input [control]="formGroup.controls['invoice_email']"
                   [label]="'label_invoice_email'|bkTranslate:this"
                   [readonly]="disabled">
    </bk-form-input>
</form>
