<div *ngIf="fileTreeObject">
            
    <!-- Vykresím řádek s hlavičkou  !-->
    <div tabindex="-1"
          (click)="onCloseList()"
          [style.font-weight]="fileTreeObject.bold?'800':'normal'"
          (mouseover)="hoover(fileTreeObject, true)" (mouseleave)="hoover(fileTreeObject, false)">
       
        <!-- Ikonka složky -->
        <bk-icon-file-component [icon]="fileTreeObject.open?'fa-folder':'fa-folder-open'" [color]="fileTreeObject.color"></bk-icon-file-component>
        
        <!-- Název ikonky -->
        {{fileTreeObject.name}}
        
        <!-- Ikonky vpravo !-->
        <div *ngIf="fileTreeObject && fileTreeObject.show_icons" class="pull-right">
            <bk-icon-component [condition]="!root" [icon]="'fa-trash'"  (onClickEvent)="onRemoveClick()"></bk-icon-component>
            <bk-icon-component [condition]="!root" [icon]="'fa-pencil'" (onClickEvent)="onFolderEditClick()"></bk-icon-component>
            <bk-icon-component [condition]="true"  [icon]="'fa-file'"   (onClickEvent)="onAddFileClick()"></bk-icon-component>
            <bk-icon-component [condition]="true"  [icon]="'fa-folder'" (onClickEvent)="onAddFolderClick()"></bk-icon-component>
        </div>
    </div>

    
    <!-- Pokud je open !--> 
    <div *ngIf="fileTreeObject.open">
        <div style="padding-left: 20px; list-style-type: none;">
            <div *ngFor="let child of fileTreeObject.children; let last = last">

                <!-- Pokud child directory - vykreslím directory !-->
                <bk-file-tree *ngIf="child.directory" 
                              [fileTreeObject]="child" 
                              [last]="last" 
                              [root]="false" 
                              (internalObjClicked)="internalObjClick($event)"
                              (newFolderNewClick)="onAddFolderClick($event)"
                              (newFileNewClick)="onAddFileClick($event)"
                              (removeClick)="onEditClick($event)"
                              (editClick)="toolbarRenameClick($event)"
                              [onlyDirectiories]="onlyDirectiories">
                </bk-file-tree>
                
                <div *ngIf="!child.directory" (mouseover)="hoover(child, true)" (mouseleave)="hoover(child, false)">
                    <i class=""></i>
                    <span tabindex="-1"
                          (click)="internalObjClick(child)"
                          role="button"
                          [style.font-weight]="child.bold?'800':'normal'">
                          <bk-icon-file-component [name]="child.name" [icon]="child.icon" [color]="child.color"></bk-icon-file-component>
                          {{child.name}}
                    </span>
                    <div class="pull-right">
                        <bk-icon-component [condition]="child && child.show_icons" [icon]="'fa-trash'" (onClickEvent)="onRemoveClick(child)"></bk-icon-component>
                        <bk-icon-component [condition]="child && child.show_icons" [icon]="'fa-pencil'" (onClickEvent)="onEditClick(child)"></bk-icon-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>