<div>
    <div tabindex="-1"
          (click)="onOpenClicked()"
          [style.font-weight]="style.isBold ? '800' : 'normal'"
          (mouseover)="hoover(fileTreeObject, true)" (mouseleave)="hoover(fileTreeObject, false)">
       
        <!-- Ikonka složky -->
        <bk-icon-file-component [icon]="style.icon" [color]="style.iconColor"></bk-icon-file-component>
        
        <!-- Název ikonky -->
        {{fileTreeObject.name}}
        
        <!-- Ikonky vpravo !-->
        <div *ngIf="fileTreeObject && fileTreeObject.show_icons" class="pull-right">
            <bk-icon-component [condition]="!root" [icon]="'fa-trash'" (onClickEvent)="onFolderRemoveClick()"></bk-icon-component>
            <bk-icon-component [condition]="!root" [icon]="'fa-pencil'" (onClickEvent)="onFolderEditClick()"></bk-icon-component>
            <bk-icon-component [condition]="true" [icon]="'fa-file'" (onClickEvent)="onFileCreateClick()"></bk-icon-component>
            <bk-icon-component [condition]="true" [icon]="'fa-folder'" (onClickEvent)="onFolderCreateClick()"></bk-icon-component>
        </div>
    </div>
</div>