<li *ngIf="fileTreeObject" [class.jstree-node]="!root" [class.jstree-last]="last" [class.jstree-open]="open" [class.jstree-closed]="!open" [class.jstree-leaf]="onlyDirectiories && (fileTreeObject.children.length == 0)">
    <i class="jstree-icon jstree-ocl" (click)="toggleOpenClick()" *ngIf="!root"></i>
    <span class="jstree-anchor" tabindex="-1" (click)="internalObjClick(fileTreeObject)" role="button" [class.jstree-clicked]="fileTreeObject.selected" [style.font-weight]="fileTreeObject.bold?'800':'normal'">
        <i class="jstree-icon jstree-themeicon fa fa-{{fileTreeObject.icon}} jstree-themeicon-custom" [style.color]="fileTreeObject.color"></i>
        {{fileTreeObject.name}}
    </span>
    <ul class="jstree-children" [class.root]="root">
        <div *ngFor="let child of fileTreeObject.children; let last = last">
            <bk-file-tree *ngIf="child.directory" [fileTreeObject]="child" [last]="last" [root]="false" (internalObjClicked)="internalObjClick($event)" [privateOpen]="privateOpen" [onlyDirectiories]="onlyDirectiories"></bk-file-tree>
            <li *ngIf="!child.directory" class="jstree-node jstree-leaf" [class.jstree-last]="last">
                <i class="jstree-icon jstree-ocl"></i>
                <span class="jstree-anchor" tabindex="-1" (click)="internalObjClick(child)" role="button" [class.jstree-clicked]="child.selected" [style.font-weight]="child.bold?'800':'normal'">
                    <i class="jstree-icon jstree-themeicon fa fa-{{child.icon}} icon-lg jstree-themeicon-custom" [style.color]="child.color"></i>
                    <span class="changes" *ngIf="child.changes"></span>
                    {{child.name}}
                </span>
            </li>
        </div>
    </ul>
</li>
