<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->
<bk-layout-not-logged>
    <div>
        <br>
        <div>
            <h1 class="page-title">{{'title'|bkTranslate:this}}</h1>
            <p>{{'label_can_login'|bkTranslate:this}}</p>
            <button type="button" (click)="clickButtonBack()" class="btn btn-success uppercase pull-right">{{'btn_back'|bkTranslate:this}}</button>
        </div>
    </div>
</bk-layout-not-logged>
