<script src="FilterPagerComponent.ts"></script>
<div class="row col-md-3">
    {{label}}
    <div class="input-group">
        <input type="text" [readonly]="readonly" maxlength="5" [value]="hour+':'+minute" [formControl]="control"
               placeholder="{{placeholder}}" class="form-control timepicker timepicker-no-seconds">
        <span class="input-group-btn">
            <button (click)="changeOpen()" class="btn default" type="button">
                <i class="fa fa-clock-o"></i>
            </button>
        </span>
    </div>

    <div *ngIf="open"
         style="transition: color 1s ease-in-out;   padding: 4px; box-shadow: 5px 5px rgba(102,102,102,.1); min-width: 100px;  position: relative; border-color: #eee;  background: white; white-space: nowrap;  z-index: 500; "
         class="col-md-1 text-center border">
        <table>
            <tbody class="noselect">
            <tr>
                <a (click)="incrementHour()">
                    <td style="width: 25px;">
                        <span class="fa fa-angle-up"></span>
                    </td>
                </a>
                <td style="width: 25px;" class="separator">&nbsp;</td>
                <a (click)="incrementMinute()">
                    <td style="width: 25px;">
                       <span class="fa fa-angle-up"></span>
                   </td>
                </a>
            </tr>
            <tr>
                <td style="width: 25px;">
                    <input type="text" disabled="true" class="time-picker-input" [value]="hour" maxlength="2">
                </td>
                <td style="width: 25px;" class="separator">:</td>
                <td style="width: 25px;">
                    <input type="text" class="time-picker-input" disabled="true" [value]="minute" maxlength="2">
                </td>
            </tr>
            <tr>
                <a (click)="decrementHour()" data-action="decrementMinute">
                    <td style="width: 25px; border: thin">
                            <span class="fa fa-angle-down"></span>
                    </td>
                </a>
                <td style="width: 25px;" class="separator"></td>
                <a (click)="decrementMinute()">
                    <td style="width: 25px;">
                        <span class="fa fa-angle-down"></span>
                    </td>
                </a>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="row"></div>
<span class="help-block"
      *ngIf="!readonly && (((!waitForTouch) || (control.dirty ||control.touched)) && !control.pending && !control.valid)">{{validatorErrorsService.getMessageForErrors(control.errors)}}</span>
