
<span *ngIf="updateState == 'IN_PLAN'" class="bold font-color-byzance-blue" [innerHTML]="updateState|bkTranslateTable:this:'update_state'"></span>
<span *ngIf="updateState == 'PENDING'" class="bold font-green-soft" [innerHTML]="updateState|bkTranslateTable:this:'update_state'"></span>
<span *ngIf="updateState == 'COMPLETE'" class="bold font-green-jungle" [innerHTML]="updateState|bkTranslateTable:this:'update_state'"></span>
<span *ngIf="updateState == 'CANCELED'" class="bold font-green-jungle" [innerHTML]="updateState|bkTranslateTable:this:'update_state'"></span>
<span *ngIf="updateState == 'OBSOLETE'" class="bold font-grey-mint" [innerHTML]="updateState|bkTranslateTable:this:'update_state'"></span>
<span *ngIf="updateState == 'FAILED'" class="bold font-yellow-casablanca" [innerHTML]="updateState|bkTranslateTable:this:'update_state'"></span>
<span *ngIf="updateState == 'CRITICAL_ERROR' && error_code" class="icon-hint-wraper red">
    <i class="fa fa-exclamation-triangle font-red-mint"></i>
    <span class="hint">{{error_code.toString() | bkTranslateTable:this:'error_code'}}</span>
    <br>
</span>
