<!--
  © 2015 Becki Authors. See the AUTHORS file found in the top-level directory of
  this distribution.
-->
<div data-bind-wrapper="heading" data-bind-breadcrumbs="breadcrumbs">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-widget" template="ngFor #item of items">
        <div class="box-body">
          <p>{{item.textOfPost}}</p>
          {{item.likes}}
          <button type="button" class="btn btn-default btn-xs" data-on-click="onMinusClick(item.postId, $event)">
            -1
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onPlusClick(item.postId, $event)">
            +1
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onItemCommentClick(item.postId, $event)">
            comment
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onItemEditClick(item.postId, $event)">
            edit
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onItemRemoveClick(item.postId, $event)">
            remove
          </button>
            <span class="pull-right text-muted">
              {{item.author.firstName}}
              {{item.author.lastNAme}} -
              {{item.dateOfCreate}}
            </span>
        </div>
        <template data-bind-ng-if="itemEditing[item.postId].active">
          <div data-bind-form="itemEditing[item.postId].fields" data-bind-form-title="'Edit'" data-on-submit="onItemEditingSubmit(item.postId, $event)" data-on-cancel="onItemEditingCancel(item.postId, $event)"></div>
        </template>
        <div class="box-footer box-comments" template="ngFor #comment of item.comments">
          <div class="box-comment">
            <div>
              <span class="username">
                {{comment.author.firstName}} {{comment.author.lastNAme}}
                <span class="text-muted pull-right">{{comment.dateOfCreate}}</span>
              </span>
              {{comment.textOfPost}}
            </div>
            {{comment.likes}}
            <button type="button" class="btn btn-default btn-xs" data-on-click="onMinusClick(comment.postId, $event)">
              -1
            </button>
            <button type="button" class="btn btn-default btn-xs" data-on-click="onPlusClick(comment.postId, $event)">
              +1
            </button>
            <button type="button" class="btn btn-default btn-xs" data-on-click="onCommentEditClick(comment.postId, $event)">
              edit
            </button>
            <button type="button" class="btn btn-default btn-xs" data-on-click="onCommentRemoveClick(comment.postId, $event)">
              remove
            </button>
          </div>
          <template data-bind-ng-if="commentEditing[comment.postId].active">
            <div data-bind-form="commentEditing[comment.postId].fields" data-bind-form-title="'Edit'" data-on-submit="onCommentEditingSubmit(comment.postId, $event)" data-on-cancel="onCommentEditingCancel(comment.postId, $event)"></div>
          </template>
        </div>
        <template data-bind-ng-if="commentCreation[item.postId].active">
          <div class="box-footer" data-bind-form="commentCreation[item.postId].fields" data-bind-form-title="'New Comment'" data-on-submit="onCommentCreationSubmit(item.postId, $event)" data-on-cancel="onCommentCreationCancel(item.postId, $event)"></div>
        </template>
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a aria-expanded="true" href="#tab_1" data-toggle="tab">Text</a>
          </li>
          <li>
            <a aria-expanded="false" href="#tab_2" data-toggle="tab">Program</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div data-bind-form="answerCreation" data-bind-form-title="'New Answer'" data-on-submit="onAnswerCreationSubmit($event)"></div>
          </div>
          <div class="tab-pane" id="tab_2">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Metadata</h3>
        </div>
        <div class="box-body">
          <div class="input-group">
            <label>Related:</label>
            <ul>
              <template data-bind-ng-if="items">
                <li template="ngFor #link of items[0].linkedAnswers">
                  <a data-bind-router-link="getLink(link.postId)">{{link.name}}</a>
                </li>
              </template>
            </ul>
          </div>
          <div class="input-group">
            <label>Tags:</label>
            <ul>
              <template data-bind-ng-if="items">
                <li template="ngFor #tag of items[0].hashTags">{{tag}}</li>
              </template>
            </ul>
          </div>
        </div>
      </div>
      <div data-bind-form="linkCreation" data-bind-form-title="'Related Issue Reporting'" data-on-submit="onLinkCreationSubmit($event)"></div>
      <div data-bind-form="linkDeletion" data-bind-form-title="'Related Issue Removal'" data-on-submit="onLinkDeletionSubmit($event)"></div>
      <div data-bind-form="confirmationAddition" data-bind-form-title="'Confirmation Addition'" data-on-submit="onConfirmationAdditionSubmit($event)"></div>
      <div data-bind-form="confirmationRemoval" data-bind-form-title="'Confirmation Removal'" data-on-submit="onConfirmationRemovalSubmit($event)"></div>
    </div>
  </div>
</div>
