<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<div data-bind-wrapper="heading" data-bind-breadcrumbs="breadcrumbs">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-widget" template="ngFor #item of items">
        <div class="box-body">
          <p>{{item.body}}</p>
          {{item.likes}}
          <button type="button" class="btn btn-default btn-xs" data-on-click="onMinusClick(item.id, $event)">
            -1
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onPlusClick(item.id, $event)">
            +1
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onItemCommentClick(item.id, $event)">
            comment
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onItemEditClick(item.id, $event)">
            edit
          </button>
          <button type="button" class="btn btn-default btn-xs" data-on-click="onItemRemoveClick(item.id, $event)">
            remove
          </button>
            <span class="pull-right text-muted">
              {{item.date}}
            </span>
        </div>
        <template data-bind-ng-if="itemEditing[item.id].active">
          <div data-bind-form="itemEditing[item.id].fields" data-bind-form-title="'Edit'" data-on-submit="onItemEditingSubmit(item.id, $event)" data-on-cancel="onItemEditingCancel(item.id, $event)"></div>
        </template>
        <div class="box-footer box-comments" template="ngFor #comment of item.comments">
          <div class="box-comment">
            <div>
              <span class="username">
                {{comment.author}}
                <span class="text-muted pull-right">{{comment.date}}</span>
              </span>
              {{comment.body}}
            </div>
            {{comment.likes}}
            <button type="button" class="btn btn-default btn-xs" data-on-click="onMinusClick(comment.id, $event)">
              -1
            </button>
            <button type="button" class="btn btn-default btn-xs" data-on-click="onPlusClick(comment.id, $event)">
              +1
            </button>
            <button type="button" class="btn btn-default btn-xs" data-on-click="onCommentEditClick(comment.id, $event)">
              edit
            </button>
            <button type="button" class="btn btn-default btn-xs" data-on-click="onCommentRemoveClick(comment.id, $event)">
              remove
            </button>
          </div>
          <template data-bind-ng-if="commentEditing[comment.id].active">
            <div data-bind-form="commentEditing[comment.id].fields" data-bind-form-title="'Edit'" data-on-submit="onCommentEditingSubmit(comment.id, $event)" data-on-cancel="onCommentEditingCancel(comment.id, $event)"></div>
          </template>
        </div>
        <template data-bind-ng-if="commentCreation[item.id].active">
          <div class="box-footer" data-bind-form="commentCreation[item.id].fields" data-bind-form-title="'New Comment'" data-on-submit="onCommentCreationSubmit(item.id, $event)" data-on-cancel="onCommentCreationCancel(item.id, $event)"></div>
        </template>
      </div>
      <div class="box box-widget" data-bind-form="answerCreation" data-bind-form-title="'New Answer'" data-on-submit="onAnswerCreationSubmit($event)"></div>
    </div>
    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Metadata</h3>
        </div>
        <div class="box-body">
          <div class="input-group">
            <label>Related:</label>
            <ul>
              <template data-bind-ng-if="items">
                <li template="ngFor #link of items[0].related">
                  <a data-bind-router-link="getLink(link.id)">{{link.title}}</a>
                </li>
              </template>
            </ul>
          </div>
          <div class="input-group">
            <label>Tags:</label>
            <ul>
              <template data-bind-ng-if="items">
                <li template="ngFor #tag of items[0].tags">{{tag}}</li>
              </template>
            </ul>
          </div>
        </div>
      </div>
      <div data-bind-form="linkCreation" data-bind-form-title="'Related Issue Reporting'" data-on-submit="onLinkCreationSubmit($event)"></div>
      <div data-bind-form="linkDeletion" data-bind-form-title="'Related Issue Removal'" data-on-submit="onLinkDeletionSubmit($event)"></div>
      <div data-bind-form="confirmationAddition" data-bind-form-title="'Confirmation Addition'" data-on-submit="onConfirmationAdditionSubmit($event)"></div>
      <div data-bind-form="confirmationRemoval" data-bind-form-title="'Confirmation Removal'" data-on-submit="onConfirmationRemovalSubmit($event)"></div>
    </div>
  </div>
</div>
