<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">Edit config for widget</h4>
    </div>
    <div class="modal-body">
        <form #form="ngForm">
            <div *ngFor="let configProperty of configProperties;">

                <div *ngIf="configProperty.type == configPropertyType['Float']" class="form-group">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="number" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range">
                    <input [name]="configProperty.id" class="form-control" type="range" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range">
                </div>
                <div *ngIf="configProperty.type == configPropertyType['Integer']" class="form-group">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="number" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range">
                    <input [name]="configProperty.id" class="form-control" type="range" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range">
                </div>
                <div *ngIf="configProperty.type == configPropertyType['Boolean']" class="form-group">
                    <label class="mt-checkbox mt-checkbox-outline">
                        {{configProperty.displayName}}
                        <input [name]="configProperty.id" type="checkbox" [(ngModel)]="formModel[configProperty.id]">
                        <span></span>
                    </label>
                </div>
                <div *ngIf="configProperty.type == configPropertyType['String']" class="form-group">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="text" [(ngModel)]="formModel[configProperty.id]">
                </div>
                <template [ngIf]="configProperty.type == configPropertyType['Color']">
                    <becki-form-color-picker [label]="configProperty.displayName" [(value)]="formModel[configProperty.id]"></becki-form-color-picker>
                </template>
                <template [ngIf]="configProperty.type == configPropertyType['FAIcon']">
                    <becki-form-fa-icon-select [label]="configProperty.displayName" [(value)]="formModel[configProperty.id]"></becki-form-fa-icon-select>
                </template>
                <div *ngIf="configProperty.type == configPropertyType['IOName']" class="form-group">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="text" [(ngModel)]="formModel[configProperty.id]" pattern="^[a-zA-Z0-9_-]+$" required #ioname="ngModel">
                    <div [hidden]="ioname.valid" class="alert alert-danger">
                        <b>{{configProperty.displayName}}</b> is <b>required</b> can contain only characters <b>a-z, A-Z, - and _</b>.
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn green btn-outline" (click)="onSubmitClick()" [disabled]="!form.valid">Save</button>
        <button type="button" class="btn red btn-outline" (click)="onCancelClick()">Cancel</button>
    </div>
</div>