<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="onCloseClick()"></button>
        <h4 class="modal-title">Edit config for widget</h4>
    </div>
    <div class="modal-body">
        <form #form="ngForm">
            <h4>Inputs</h4>
            <div *ngFor="let input of inputs;">
                <div>
                    <label>{{input.displayName}}</label>
                    <input [name]="input.name" class="form-control" type="text" [(ngModel)]="formModel[input.name]">
                </div>
            </div>
            <h4>Outputs</h4>
            <div *ngFor="let output of outputs;">
                <div>
                    <label>{{output.displayName}}</label>
                    <input [name]="output.name" class="form-control" type="text" [(ngModel)]="formModel[output.name]">
                </div>
            </div>
            <h4>Configuration</h4>
            <div *ngFor="let configProperty of configProperties;">

                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Float" class="form-group">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="number" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range">
                    <input [name]="configProperty.id" class="form-control" type="range" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:0.01" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range">
                </div>
                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Integer" class="form-group">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="number" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" [readonly]="configProperty.config.range">
                    <input [name]="configProperty.id" class="form-control" type="range" [(ngModel)]="formModel[configProperty.id]" [attr.step]="configProperty.config.step?configProperty.config.step:1" [attr.min]="configProperty.config.min" [attr.max]="configProperty.config.max" *ngIf="configProperty.config.range">
                </div>
                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Boolean" class="form-group">
                    <label class="mt-checkbox mt-checkbox-outline">
                        {{configProperty.displayName}}
                        <input [name]="configProperty.id" type="checkbox" [(ngModel)]="formModel[configProperty.id]">
                        <span></span>
                    </label>
                </div>
                <div *ngIf="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.String" class="form-group">
                    <label>{{configProperty.displayName}}</label>
                    <input [name]="configProperty.id" class="form-control" type="text" [(ngModel)]="formModel[configProperty.id]">
                </div>
                <template [ngIf]="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.Color">
                    <becki-form-color-picker [label]="configProperty.displayName" [(value)]="formModel[configProperty.id]"></becki-form-color-picker>
                </template>
                <template [ngIf]="StringToConfigPropertyTypeTable[configProperty.type] == ConfigPropertyType.FAIcon">
                    <becki-form-fa-icon-select [label]="configProperty.displayName" [(value)]="formModel[configProperty.id]"></becki-form-fa-icon-select>
                </template>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn green" (click)="onSubmitClick()" [disabled]="!form.valid">Save</button>
        <button type="button" class="btn red" (click)="onCancelClick()">Cancel</button>
    </div>
</div>