<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level directory
  ~ of this distribution.
  -->
<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <div class="menu-toggler sidebar-toggler pull-left" (click)="onSidebarToggleClick($event)">
                    <span></span>
                </div>
                <div class="byzance-logo byzance-logo-size-top-menu"></div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li *ngIf="backendService.tasks">
                        <a><i class="fa fa-spinner fa-spin"></i></a>
                    </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a class="dropdown-toggle" (click)="onNotificationToggleClick($event)">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default" *ngIf="notificationsService.countUnreadNotifications()">{{notificationsService.countUnreadNotifications()}}</span>
                        </a>
                        <ul class="dropdown-menu" [style.display]="showNotificationMenu?'block':'none'">
                            <li class="external">
                                <h3>
                                    <span class="bold">{{notificationsService.countUnreadNotifications()}} pending</span> notifications</h3>
                                <a [routerLink]="['/notifications']">view all</a>
                            </li>
                            <ul class="dropdown-menu-list scroller">
                                <li *ngFor="let note of notificationsService.menuNotifications">

                                    <a>
                                        <span class="time">{{note._relativeTime}}</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-{{note.type}}">
                                                <i class="fa fa-{{note.icon}}"></i>
                                            </span>
                                            <span [innerHTML]="note.body" style=""></span>
                                        </span>
                                    </a>

                                </li>
                            </ul>
<!--
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;">
                                    <li>
                                        <a href="#">
                                      <span class="label label-sm label-icon label-success">
                                      <i class="fa fa-plus"></i>
                                      </span>
                                            New user registered. <span class="time">
                                      Just now </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
-->
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" (click)="onUserToggleClick($events)">
                            <img alt="" class="img-circle" [attr.src]="backendService.gravatarIcon"/>
                            <span class="username">
                                {{backendService.personInfoSnapshot?backendService.personInfoSnapshot.full_name:""}}
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" [style.display]="showUserMenu?'block':'none'">
                            <li>
                                <a [routerLink]="['/connections']"><i class="icon-link"></i> Connections</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a [routerLink]="['/profile']"><i class="icon-settings"></i> Profile</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a [routerLink]="['/logout']"><i class="icon-key"></i> Log out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="page-container">

        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" [class.page-sidebar-menu-closed]="sidebarClosed">
                    <li routerLinkActive="active" *ngFor="let page of navigation">
                        <a [routerLink]="page.link">
                            <span class="fa fa-{{page.icon}}" data-bind-title="page.label"></span>
                            <span class="title">{{page.label}}</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->


        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li *ngFor="let breadcrumb of breadcrumbsService.breadcrumbs; let last = last">
                            <a *ngIf="!last" [routerLink]="breadcrumb.link">{{breadcrumb.label}}</a>
                            <i *ngIf="!last" class="fa fa-angle-right"></i>
                            <span *ngIf="last"><strong>{{breadcrumb.label}}</strong></span>
                        </li>
                    </ul>
                </div>

                <h1 *ngIf="title" class="page-title text-center">
                    {{title}}
                </h1>

                <div [class.tabbable-line]="tabMenuItems">
                    <ul *ngIf="tabMenuItems" class="nav nav-tabs">
                        <li *ngFor="let tabItem of tabMenuItems" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: tabItem.options['linkActiveExact']}">
                            <a [routerLink]="tabItem.link">{{tabItem.label}}</a>
                        </li>
                    </ul>
                    <div [class.tab-content]="tabMenuItems">
                        <div class="active" [class.tab-pane]="tabMenuItems">
                            <flash-messages-component></flash-messages-component>
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>


            </div>
            <!-- END CONTENT BODY -->
        </div>


        <!--div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav" data-bind-class.collapsed="navbarState == 'collapsed'" data-bind-class.hidden="navbarState == 'hidden'" data-bind-class.show-mobile-nav="navbarState == 'visible'">
          <ul class="list-group">
            <li class="list-group-item" routerLinkActive="active" template="ngFor let page of navigation">
              <a data-bind-routerLink="page.link">
                <span class="fa fa-{{page.icon}}" data-bind-title="page.label"></span>
                <span class="list-group-item-value">{{page.label}}</span>
              </a>
            </li>
            <li class="list-group-item list-group-item-separator hidden-sm hidden-md hidden-lg" routerLinkActive="active">
              <a data-bind-routerLink="connections">
                <span class="fa fa-sign-in" title="Connections"></span>
                <span class="list-group-item-value">Connections</span>
              </a>
            </li>
            <li class="list-group-item hidden-sm hidden-md hidden-lg">
              <a data-on-click="onSignOutClick($event)" style="cursor: pointer">
                <span class="fa fa-sign-out" title="Sign Out"></span>
                <span class="list-group-item-value">Sign Out</span>
              </a>
            </li>
          </ul>
        </div-->

        <!--div class="container-fluid container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary" data-bind-class.collapsed-nav="navbarState == 'collapsed'" data-bind-class.hidden-nav="['hidden', 'visible'].indexOf(navbarState) != -1">
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                <div notifications>
                  <div class="spinner"></div>
                </div>
                <ol class="breadcrumb">
                  <li template="ngFor let breadcrumb of breadcrumbs">
                    <a data-bind-routerLink="breadcrumb.link">{{breadcrumb.label}}</a>
                  </li>
                </ol>
                <template data-bind-ngIf="actionLabel">
                  <div class="pull-right">
                    <button type="button" class="btn btn-default" data-on-click="onActionClick($event)">{{actionLabel}}</button>
                  </div>
                </template>
                <h1>{{heading}}</h1>
              </div>
              <ng-content></ng-content>
            </div>
          </div>
        </div-->
    </div>

    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner"> 2016 &copy; Becki by
            <a target="_blank" href="http://Byzance.cz">Byzance</a>
        </div>
    </div>
    <!-- END FOOTER -->
</div>