<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level directory
  ~ of this distribution.
  -->

<template data-bind-ng-if="backEnd.tasks">
  <div class="overlay">
    <div class="spinner spinner-lg"></div>
  </div>
</template>
<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-on-click="onNavbarToggleClick($event)">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" data-bind-router-link="home.link">
      <img class="navbar-brand-icon" src="../dist/img/logo-alt.svg" alt="">
      <img class="navbar-brand-name" src="../dist/img/brand-alt.svg" data-bind-alt="home.label">
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right navbar-iconic">
      <li class="dropdown">
        <a class="dropdown-toggle nav-item-iconic">
          <span class="fa pficon-user"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" data-on-click="onSignOutClick($event)">Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</nav>
<div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav" data-bind-class.collapsed="navbarState == 'collapsed'" data-bind-class.hidden="navbarState == 'hidden'" data-bind-class.show-mobile-nav="navbarState == 'visible'">
  <ul class="list-group">
    <li class="list-group-item" template="ngFor #page of navigation">
      <a data-bind-router-link="page.link">
        <span class="fa fa-{{page.icon}}" data-bind-title="page.label"></span>
        <span class="list-group-item-value">{{page.label}}</span>
      </a>
    </li>
    <li class="list-group-item list-group-item-separator hidden-sm hidden-md hidden-lg">
      <a href="#" data-on-click="onSignOutClick($event)">
        <span class="fa fa-sign-out" title="Sign Out"></span>
        <span class="list-group-item-value">Sign Out</span>
      </a>
    </li>
  </ul>
</div>

<div class="container-fluid container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary" data-bind-class.collapsed-nav="navbarState == 'collapsed'" data-bind-class.hidden-nav="['hidden', 'visible'].indexOf(navbarState) != -1">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <div notifications>
          <div class="spinner"></div>
        </div>
        <ol class="breadcrumb">
          <li template="ngFor #breadcrumb of breadcrumbs">
            <a data-bind-router-link="breadcrumb.link">{{breadcrumb.label}}</a>
          </li>
        </ol>
        <template data-bind-ng-if="actionLabel">
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-on-click="onActionClick($event)">{{actionLabel}}</button>
          </div>
        </template>
        <h1>{{heading}}</h1>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
