<bk-layout-main
    [tabMenu]="'byzance-admin'"
    [title]="'main_title'|bkTranslate:this"
    [subtitle]="'main_subtitle'|bkTranslate:this">


    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title [title_name]="'title'|bkTranslate:this"
                      [icon]="'fa-bug'"
                      (onClick)="onPortletClick($event)"
                      [btns]="[
                        {
                            condition: (true),
                            btn_label_for_person: ('label_delete_bugs_all'|bkTranslate:this),
                            colorType: 'ACTIVE',
                            icon: 'fa-bug',
                            btn_tag: 'remove_all'
                        }
                    ]">
    </bk-portlet-title>

    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->
    <div class="portlet-body">

        <div *ngIf="(bugs && bugs.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col col-lg-7">{{'table_summary'|bkTranslate:this}}</th>
                    <th class="col col-lg-2">{{'table_date'|bkTranslate:this}}</th>
                    <th class="col col-lg-1">{{'table_repetition'|bkTranslate:this}}</th>
                    <th class="col col-lg-2 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let bug of bugs">

                    <td class="no-wrap bold vert-align">
                        <a (click)="onBugClick(bug)">{{bug.name.substring(0, 100)}}</a>
                    </td>

                    <td class="vert-align">{{bug.created|bkUnixTimeToDate}}</td>

                    <td class="vert-align">{{bug.repetition}}</td>

                    <td class="no-wrap text-right vert-align">

                        <style type="text/css">
                            table tr button { opacity:0.05;}
                            table tr:hover button { opacity:1 }
                        </style>

                        <button title="{{'label_report_bug'|bkTranslate}}" (click)="onReportBug(bug)" class="btn btn-icon-only blue">
                            <i class="fa fa-share"></i>
                        </button>
                        <button title="{{'label_remove_bug'|bkTranslate}}" (click)="onDeleteBug(bug)" class="btn btn-icon-only red">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <bk-nothing-to-show [condition_loading]="(bugs == null)"
                            [condition_empty]="(bugs != null && bugs.length == 0)"
                            [main_message_link]="'label_no_bugs'|bkTranslate:this"
                            [main_message_comment_link]="'label_no_bugs_comment'|bkTranslate:this"
                            [show_button]="false">
        </bk-nothing-to-show>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->

    </div>


</bk-layout-main>
