<bk-layout-main [title]="'main_title'|bkTranslate:this">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-globe"></i>
                    <span [innerHTML]="'title'|bkTranslate:this"></span>
                </span>
            </div>
        </div>
        <div style="font-size: 14px; font-weight: 200;">
            {{'dashboard_info_text'|bkTranslate:this}}
        </div>
        <br>
        <br>
        <hr>
        <br>
        <!-- END PAGE HEADER-->
        <div class="clearfix"></div>
    </div>

    <div *ngIf="report" class="row">

    <!-- Person Registered -->

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-color-byzance-blue">
                            <span data-counter="counterup" >{{report.person_registration}}</span>
                            <!--small class="font-green-sharp">$</--small-->
                        </h3>
                        <small>{{'label_person_registered'|bkTranslate:this}}</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
        </div>

    <!-- Project Registered -->

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-color-byzance-blue">
                            <span data-counter="counterup" >{{report.project_created}}</span>
                            <!--small class="font-green-sharp">$</--small-->
                        </h3>
                        <small>{{'label_project_registered'|bkTranslate:this}}</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-folder"></i>
                    </div>
                </div>
            </div>
        </div>

    <!-- Hardware Registered -->

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-color-byzance-blue">
                            <span data-counter="counterup" >{{report.board_registered}}</span>
                            <!--small class="font-green-sharp">$</--small-->
                        </h3>
                        <small>{{'label_hardware_registered'|bkTranslate:this}}</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-microchip"></i>
                    </div>
                </div>
            </div>
        </div>

    <!-- Homer Server Registered -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-color-byzance-blue">
                            <span data-counter="counterup" >{{report.homer_server_public_created}}/{{report.homer_server_public_online}}</span>
                            <!--small class="font-green-sharp">$</--small-->
                        </h3>
                        <small>{{'label_homer_server'|bkTranslate:this}}</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-server"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                       <span [style.width]="formatNumber(report.homer_server_public_created , report.homer_server_private_online) +'%'" class="progress-bar progress-bar-success blue-grey">
                           <span class="sr-only">{{formatNumber(report.homer_server_public_created , report.homer_server_private_online)}}% are online</span>
                       </span>
                    </div>
                    <div class="status">
                        <div class="status-title">{{'label_online'|bkTranslate:this}}</div>
                        <div class="status-number">{{formatNumber(report.homer_server_public_created , report.homer_server_private_online)}}</div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Compilation Server Registered -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-color-byzance-blue">
                            <span data-counter="counterup" >{{report.compilation_server_public_created}}/{{report.compilation_server_public_online}}</span>
                            <!--small class="font-green-sharp">$</--small-->
                        </h3>
                        <small>{{'label_compilation_server'|bkTranslate:this}}</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-server"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                       <span [style.width]="formatNumber(report.compilation_server_public_created , report.compilation_server_public_online) +'%'" class="progress-bar progress-bar-success blue-grey">
                           <span class="sr-only">{{formatNumber(report.compilation_server_public_created , report.compilation_server_public_online)}}% are online</span>
                       </span>
                    </div>
                    <div class="status">
                        <div class="status-title">{{'label_online'|bkTranslate:this}}</div>
                        <div class="status-number">{{formatNumber(report.compilation_server_public_created , report.compilation_server_public_online)}}</div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</bk-layout-main>
