<bk-layout-main [title]="'main_title'|bkTranslate:this">

    <div *ngIf="homer_servers && compilations_servers" class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-server"></i>
                              {{'title'|bkTranslate:this}}
                        </span>
                    </div>
                </div>

                <div class="portlet-title tabbable-line">
                    <!--ul class="nav nav-tabs margin-left-15 pull-left"-->
                    <ul class="nav nav-tabs pull-left">
                        <li [class.active]="tab == 'homer_server'">
                            <a class="cursor-pointer" (click)="onToggleTab('homer_server')">{{'tab_homer_server'|bkTranslate:this}}</a>
                        </li>
                        <li [class.active]="tab == 'compilation_server'">
                            <a class="cursor-pointer" (click)="onToggleTab('compilation_server')">{{'tab_compilation_server'|bkTranslate:this}}</a>
                        </li>
                    </ul>
                </div>

                <div *ngIf="tab == 'homer_server'">
                    <div *ngIf="(homer_servers && homer_servers.length)"  class="becki-actions">
                        <button title="{{'label_create_server'|bkTranslate:this}}" class="btn btn-icon-only green"
                                [disabled]="false"
                                (click)="onCreateHomerServerClick()">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                    <div *ngIf="(homer_servers && homer_servers.length)" class="table-scrollable">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="col col-lg-3">{{'label_server_name'|bkTranslate:this}}</th>
                                <th class="col col-lg-5">{{'label_id'|bkTranslate:this}}</th>
                                <th class="col col-lg-3">{{'label_server_type'|bkTranslate:this}}</th>
                                <th class="col col-lg-2">{{'label_status'|bkTranslate:this}}</th>
                                <th class="col col-lg-1 text-right no-wrap">{{'label_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let homer_server of homer_servers">
                                <td class="vert-align no-wrap">
                                    <a (click)="onHomerServerClick(homer_server)" class="no-wrap"><strong>{{homer_server.personal_server_name?homer_server.personal_server_name:homer_server.unique_identificator}}</strong></a>
                                </td>
                                <td class="vert-align no-wrap">{{homer_server.unique_identificator}}</td>
                                <td class="vert-align no-wrap">
                                    <span *ngIf="homer_server.server_type == 'main_server'"     class="font-yellow-casablanca bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                                    <span *ngIf="homer_server.server_type == 'backup_server'"   class="font-green-jungle bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                                    <span *ngIf="homer_server.server_type == 'public_server'"   class="font-green-jungle bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                                    <span *ngIf="homer_server.server_type == 'private_server'"   class="font-green-jungle bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                                </td>
                                <td class="no-wrap">
                                    <span *ngIf="homer_server.online_state == 'online'" class="font-green-jungle bold">{{homer_server.online_state|bkTranslateTable:this:'online_status'}}</span>
                                    <span *ngIf="homer_server.online_state == 'offline'" class="font-red bold">{{homer_server.online_state|bkTranslateTable:this:'online_status'}}</span>
                                </td>

                                <td class="vert-align no-wrap">
                                    <style type="text/css">
                                        table tr button { opacity:0.05;}
                                        table tr:hover button { opacity:1 }
                                    </style>
                                    <button title="{{'label_device_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!homer_server.edit_permission" (click)="onHomerServerEditClick(homer_server)">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 *ngIf="!homer_servers" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
                    <div *ngIf="homer_servers && homer_servers.length == 0" class="list-no-items">
                        <p class="list-no-items__main-label">{{'label_no_servers'|bkTranslate:this}}</p>
                        <p class="list-no-items__sub-label">{{'label_no_servers_comment'|bkTranslate:this}} </p>
                        <p>
                            <button class="btn blue" (click)="onCreateHomerServerClick()">
                                <i class="fa fa-plus-circle"></i> {{'btn_create_server'|bkTranslate:this}}
                            </button>
                        </p>
                    </div>
                </div>

                <div *ngIf="tab == 'compilation_server'">
                    <div *ngIf="(compilations_servers && compilations_servers.length)"  class="becki-actions">
                        <button title="{{'label_create_server'|bkTranslate:this}}" class="btn btn-icon-only green"
                                [disabled]="false"
                                (click)="onCreateCompilationServerClick()">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                    <div *ngIf="(compilations_servers && compilations_servers.length)" class="table-scrollable">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="col col-lg-3">{{'label_server_name'|bkTranslate:this}}</th>
                                <th class="col col-lg-5">{{'label_id'|bkTranslate:this}}</th>
                                <th class="col col-lg-2">{{'label_status'|bkTranslate:this}}</th>
                                <th class="col col-lg-1 text-right no-wrap">{{'label_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let compilations_server of compilations_servers">
                                <td class="vert-align no-wrap">
                                    <a (click)="onCompilationServerClick(compilations_server)" class="no-wrap"><strong>{{compilations_server.personal_server_name?compilations_server.personal_server_name:compilations_server.unique_identificator}}</strong></a>
                                </td>
                                <td class="vert-align no-wrap">{{compilations_server.unique_identificator}}</td>
                                <td class="no-wrap">
                                    <span *ngIf="compilations_server.online_state == 'online'" class="font-green-jungle bold">{{compilations_server.online_state|bkTranslateTable:this:'online_status'}}</span>
                                    <span *ngIf="compilations_server.online_state == 'offline'" class="font-red bold">{{compilations_server.online_state|bkTranslateTable:this:'online_status'}}</span>
                                </td>

                                <td class="vert-align no-wrap">
                                    <style type="text/css">
                                        table tr button { opacity:0.05;}
                                        table tr:hover button { opacity:1 }
                                    </style>
                                    <button title="{{'label_device_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!compilations_server.edit_permission" (click)="onCompilationServerEditClick(compilations_server)">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 *ngIf="!compilations_servers" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
                    <div *ngIf="compilations_servers && compilations_servers.length == 0" class="list-no-items">
                        <p class="list-no-items__main-label">{{'label_no_servers'|bkTranslate:this}}</p>
                        <p class="list-no-items__sub-label">{{'label_no_servers_comment'|bkTranslate:this}} </p>
                        <p>
                            <button class="btn blue" (click)="onCreateCompilationServerClick()">
                                <i class="fa fa-plus-circle"></i> {{'btn_create_server'|bkTranslate:this}}
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
