<bk-layout-main
     [tabMenu]="'byzance-admin'"
     [title]="'main_title'|bkTranslate:this"
     [subtitle]="'main_subtitle'|bkTranslate:this">


    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-dollar'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                {
                    condition: (tab == 'tariffs'),
                    btn_label_for_person: ('label_tariff_create'|bkTranslate:this),
                    colorType: 'ADD',
                    icon: 'fa-plus-circle',
                    btn_tag: 'add_tariff'
                },
                {
                    condition: (tab == 'extensions'),
                    btn_label_for_person: ('label_extension_create'|bkTranslate:this),
                    colorType: 'ADD',
                    icon: 'fa-plus-circle',
                    btn_tag: 'add_extension'
                }
            ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name] = "tab"
        [tabBtns]="[
                        {
                            tab_name: 'tariffs',
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_tariffs'|bkTranslate:this)
                        },
                        {
                            tab_name: 'extensions',
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_extensions'|bkTranslate:this)
                        }
                    ]">
        </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <!-- Tariffs-->
        <div *ngIf="tab == 'tariffs'">

            <div *ngIf="(tariffs && tariffs.length)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th class="col col-lg-1">{{'table_icon'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_description'|bkTranslate:this}}</th>
                        <th class="col col-lg-4 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let tariff of tariffs">

                        <td class="vert-align no-wrap bold"><i style="font-size: 1.8em;" class="fa {{tariff.awesome_icon}}"></i></td>
                        <td class="vert-align no-wrap bold"><a (click)="onTariffClick(tariff)">{{tariff.name}}</a>
                            <span *ngIf="tariff.active" class="font-green-jungle bold">(Active)</span>
                            <span *ngIf="!tariff.active" class="font-red-flamingo bold">(Deactivated)</span>
                        </td>
                        <td class="vert-align">{{tariff.description}}</td>
                        <td class="vert-align no-wrap text-right">


                            <!--Dodelat dropdown menu-->


                            <!--<bk-drob-down-button-->
                                <!--[btns_group_name]="('label_Project_Properties'|bkTranslate:this)"-->
                                <!--[btns] = "[-->
                                <!--{-->
                                    <!--condition: true,-->
                                    <!--btn_label_for_person: ('label_tariff_edit_properties'|bkTranslate:this),-->
                                    <!--btn_tag: 'edit_tariff',-->
                                    <!--icon: 'fa-cog',-->
                                    <!--colorType: 'EDIT',-->
                                    <!--permission: (!tariff.update_permission)-->
                                <!--},-->
                                <!--{-->
                                    <!--condition: true,-->
                                    <!--btn_label_for_person: ('label_change_order'|bkTranslate:this),-->
                                    <!--btn_tag: 'remove_project',-->
                                    <!--icon: 'fa-trash',-->
                                    <!--colorType: 'REMOVE',-->
                                    <!--permission: (project.delete_permission && project.active)-->
                                <!--}-->
                            <!--]"-->
                                <!--(onValueChanged)="onDrobDownEmiter($event, project)"-->
                            <!--&gt;-->
                            <!--</bk-drob-down-button>-->
                            

                            <button title="{{'label_tariff_edit_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!tariff.update_permission" (click)="onTariffEditClick(tariff)">
                                <i class="fa fa-cog"></i>
                            </button>

                            <button *ngIf="!(tariff.order_position == 1 || tariff.order_position == 0)" title="{{'label_change_order'|bkTranslate:this}}" class="btn btn-icon-only purple" [disabled]="!tariff.update_permission" (click)="onTariffShiftUpClick(tariff)">
                                <i class="fa fa-chevron-up"></i>
                            </button>

                            <button *ngIf="!(tariffs.length == tariff.order_position) "title="{{'label_change_order'|bkTranslate:this}}" class="btn btn-icon-only purple" [disabled]="!tariff.update_permission" (click)="onTariffShiftDownClick(tariff)">
                                <i class="fa fa-chevron-down"></i>
                            </button>

                            <button *ngIf="!tariff.active" title="{{'label_active_tariff'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!tariff.update_permission" (click)="onTariffActivate(tariff)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button  *ngIf="tariff.active" title="{{'label_deactive_tariff'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!tariff.update_permission" (click)="onTariffDeactivate(tariff)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button title="{{'label_delete_tariff'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!tariff.update_permission" (click)="onTariffRemoveClick(tariff)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(tariffs == null)"
                                [condition_empty]="(tariffs != null && tariffs.length == 0)"
                                [main_message_link]="'label_no_tariffs'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_tariffs_comment'|bkTranslate:this"
                                [btn_label]="'btn_create'|bkTranslate:this"
                                (onButtonClick)="onTariffAddClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

        <!-- Tariffs-->
        <div *ngIf="tab == 'extensions'">
            <div *ngIf="(extensions && extensions.length)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                        <tr>
                            <th class="col col-lg-1">{{'table_icon'|bkTranslate:this}}</th>
                            <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                            <th class="col col-lg-2">{{'table_description'|bkTranslate:this}}</th>
                            <th class="col col-lg-4 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                        <tr *ngFor="let extension of extensions">

                            <td class="vert-align no-wrap bold"><i style="font-size: 1.8em;" class="fa {{tariff.awesome_icon}}"></i></td>
                            <td class="vert-align no-wrap bold"><a (click)="onTariffClick(tariff)">{{tariff.name}}</a>
                                <span *ngIf="tariff.active" class="font-green-jungle bold">(Active)</span>
                                <span *ngIf="!tariff.active" class="font-red-flamingo bold">(Deactivated)</span>
                            </td>
                            <td class="vert-align">{{tariff.description}}</td>
                            <td class="vert-align no-wrap text-right">

                                <button title="{{'label_tariff_edit_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!tariff.update_permission" (click)="onTariffEditClick(tariff)">
                                    <i class="fa fa-cog"></i>
                                </button>

                                <button *ngIf="!(tariff.order_position == 1 || tariff.order_position == 0)" title="{{'label_change_order'|bkTranslate:this}}" class="btn btn-icon-only purple" [disabled]="!tariff.update_permission" (click)="onTariffShiftUpClick(tariff)">
                                    <i class="fa fa-chevron-up"></i>
                                </button>

                                <button *ngIf="!(tariffs.length == tariff.order_position) "title="{{'label_change_order'|bkTranslate:this}}" class="btn btn-icon-only purple" [disabled]="!tariff.update_permission" (click)="onTariffShiftDownClick(tariff)">
                                    <i class="fa fa-chevron-down"></i>
                                </button>

                                <button *ngIf="!tariff.active" title="{{'label_active_tariff'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!tariff.update_permission" (click)="onTariffActivate(tariff)">
                                    <i class="fa fa-power-off"></i>
                                </button>
                                <button  *ngIf="tariff.active" title="{{'label_deactive_tariff'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!tariff.update_permission" (click)="onTariffDeactivate(tariff)">
                                    <i class="fa fa-power-off"></i>
                                </button>
                                <button title="{{'label_delete_tariff'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!tariff.update_permission" (click)="onTariffRemoveClick(tariff)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(extensions == null)"
                                [condition_empty]="(extensions != null && extensions.length == 0)"
                                [main_message_link]="'label_no_extensions'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_extensions_comment'|bkTranslate:this"
                                [btn_label]="'btn_create'|bkTranslate:this"
                                (onButtonClick)="onExtensionCreate()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

    </div>

</bk-layout-main>
