<bk-layout-main
    [tabMenu]="'byzance-admin'"
    [title]="'main_title'|bkTranslate:this"
    [subtitle]="'main_subtitle'|bkTranslate:this">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-server'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (tab == 'homer_server' && homer_servers && homer_servers.content.length > 0),
                          btn_label_for_person: ('btn_create_server'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'CREATE',
                          btn_tag: 'homer_server_add'
                      },
                      {
                          condition: (tab == 'compilation_server' && compilations_servers && compilations_servers.length > 0),
                          btn_label_for_person: ('btn_create_server'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'CREATE',
                          btn_tag: 'compilation_server_add'
                      }
                    ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name]="tab"
        [tabBtns]="[
                        {
                            tab_name: 'homer_server',
                            tab_color: 'CLOUD',
                            tab_label: ('tab_homer_server'|bkTranslate:this),
                            condition: true
                        },
                        {
                            tab_name: 'compilation_server',
                            tab_color: 'CLOUD',
                            tab_label: ('tab_compilation_server'|bkTranslate:this),
                            condition: true
                        }

                    ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <div *ngIf="tab == 'homer_server'">

            <div *ngIf="(homer_servers && homer_servers.content.length > 0)"
                 class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light  ">
                    <thead>
                    <tr>
                        <th class="">{{'label_server_name'|bkTranslate:this}}</th>
                        <th class="">{{'label_id'|bkTranslate:this}}</th>
                        <th class="">{{'label_server_type'|bkTranslate:this}}</th>
                        <th class="">{{'label_server_url'|bkTranslate:this}}</th>
                        <th class="">{{'label_server_version'|bkTranslate:this}}</th>
                        <th class="">{{'label_status'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let homer_server of homer_servers.content">
                        <td class="vert-align no-wrap">
                            <a (click)="onHomerServerClick(homer_server)" class="no-wrap"><strong>{{homer_server.name?homer_server.name:homer_server.id}}</strong></a>
                        </td>
                        <td class="vert-align breakable">{{homer_server.id}}</td>
                        <td class="vert-align no-wrap">
                            <span *ngIf="homer_server.server_type == 'MAIN'" class="font-yellow-casablanca bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                            <span *ngIf="homer_server.server_type == 'BACKUP'" class="font-green-jungle bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                            <span *ngIf="homer_server.server_type == 'PUBLIC'" class="font-green-jungle bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                            <span *ngIf="homer_server.server_type == 'PRIVATE'" class="font-yellow-casablanca bold">{{homer_server.server_type|bkTranslateTable:this:'server_type'}}</span>
                        </td>
                        <td class="vert-align no-wrap">
                            <a href="http://{{homer_server.server_url}}:{{homer_server.rest_api_port}}" class="no-wrap"><strong>http://{{homer_server.server_url}}:{{homer_server.rest_api_port}}</strong></a>
                        </td>
                        <td class="vert-align no-wrap">
                            <a href="https://github.com/ByzanceIoT/homer-core/releases/tag/{{homer_server.server_version}}"
                               class="no-wrap"><strong>{{homer_server.server_version}}</strong></a>
                        </td>
                        <td class="vert-align no-wrap">
                            <bk-online-state [online_state]="homer_server.online_state"></bk-online-state>
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_server_udpate'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_server_udpate'|bkTranslate:this),
                                    btn_tag: 'update_homer_server',
                                    icon: 'fa-wrench',
                                    colorType: 'UPDATE',
                                    permission: (homer_server.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_server_properties'|bkTranslate:this),
                                    btn_tag: 'edit_homer_server',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (homer_server.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_delete_server'|bkTranslate:this),
                                    btn_tag: 'remove_homer_server',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (homer_server.update_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, homer_server)"
                            >
                            </bk-drob-down-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(homer_servers == null)"
                                [condition_empty]="(homer_servers != null && homer_servers.content.length == 0)"
                                [main_message_link]="'label_no_servers'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_servers_comment'|bkTranslate:this"
                                [btn_label]="'btn_create_server'|bkTranslate:this"
                                (onButtonClick)="onCreateHomerServerClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

        <div *ngIf="tab == 'compilation_server'">

            <div *ngIf="(compilations_servers && compilations_servers.length > 0)"
                 class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light  ">
                    <thead>
                    <tr>
                        <th class="">{{'label_server_name'|bkTranslate:this}}</th>
                        <th class="">{{'label_id'|bkTranslate:this}}</th>
                        <th class="">{{'label_status'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let compilations_server of compilations_servers">

                        <td class="vert-align no-wrap">
                            <a (click)="onCompilationServerClick(compilations_server)" class="no-wrap">
                                <strong>{{compilations_server.personal_server_name?compilations_server.personal_server_name:compilations_server.id}}</strong>
                            </a>
                        </td>

                        <td class="vert-align breakable">{{compilations_server.id}}</td>

                        <td class="vert-align no-wrap">
                            <bk-online-state [online_state]="compilations_server.online_state"></bk-online-state>
                        </td>

                        <td class="action-btn-col">
                            <bk-drob-down-button
                                [btns_group_name]="('label_server_properties'|bkTranslate:this)"
                                [btns] = "[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_server_properties'|bkTranslate:this),
                                    btn_tag: 'edit_compilations_server',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (compilations_server.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_delete_server'|bkTranslate:this),
                                    btn_tag: 'remove_compilations_server',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (compilations_server.update_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, compilations_server)"
                            >
                            </bk-drob-down-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(compilations_servers == null)"
                                [condition_empty]="(compilations_servers != null && compilations_servers.length == 0)"
                                [main_message_link]="'label_no_servers'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_servers_comment'|bkTranslate:this"
                                [btn_label]="'btn_create_server'|bkTranslate:this"
                                (onButtonClick)="onCreateCompilationServerClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

    </div>

</bk-layout-main>
