<bk-layout-main
    [tabMenu]="'byzance-admin'"
    [title]="'main_title'|bkTranslate:this"
    [subtitle]="'main_subtitle'|bkTranslate:this">


    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-dollar'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                {
                    condition: (tab == 'tariffs'),
                    permission: true,
                    btn_label_for_person: ('label_tariff_create'|bkTranslate:this),
                    colorType: 'ADD',
                    icon: 'fa-plus-circle',
                    btn_tag: 'add_tariff'
                },
                {
                    condition: (tab == 'extensions'),
                    permission: true,
                    btn_label_for_person: ('label_extension_create'|bkTranslate:this),
                    colorType: 'ADD',
                    icon: 'fa-plus-circle',
                    btn_tag: 'add_extension'
                }
            ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name]="tab"
        [tabBtns]="[
                        {
                            tab_name: 'tariffs',
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_tariffs'|bkTranslate:this),
                            condition: true
                        },
                        {
                            tab_name: 'extensions',
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_extensions'|bkTranslate:this),
                            condition: true
                        }
                    ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <!-- Tariffs-->
        <div *ngIf="tab == 'tariffs'">

            <div *ngIf="(tariffs && tariffs.length)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th class="">{{'table_icon'|bkTranslate:this}}</th>
                        <th class="">{{'table_name'|bkTranslate:this}}</th>
                        <th class="">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let tariff of tariffs">

                        <td class="vert-align no-wrap bold"><i style="font-size: 1.8em;"
                                                               class="fa {{tariff.awesome_icon}}"></i></td>
                        <td class="vert-align no-wrap bold"><a (click)="onTariffClick(tariff)">{{tariff.name}}</a>
                            <span *ngIf="tariff.active" class="font-green-jungle bold">(Active)</span>
                            <span *ngIf="!tariff.active" class="font-red-flamingo bold">(Deactivated)</span>
                        </td>
                        <td class="vert-align">{{tariff.description}}</td>
                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_tariff_properties'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_tariff_edit_properties'|bkTranslate:this),
                                    btn_tag: 'edit_tariff',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (tariff.update_permission)
                                },
                                {
                                    condition: !(tariff.order_position == 1 || tariff.order_position == 0),
                                    btn_label_for_person: ('label_change_order'|bkTranslate:this),
                                    btn_tag: 'shift_up_tariff',
                                    icon: 'fa-chevron-up',
                                    colorType: 'UPDATE',
                                    permission: (tariff.update_permission)
                                },
                                {
                                    condition: !(tariffs.length == tariff.order_position),
                                    btn_label_for_person: ('label_change_order'|bkTranslate:this),
                                    btn_tag: 'shift_down_tariff',
                                    icon: 'fa-chevron-down',
                                    colorType: 'UPDATE',
                                    permission: (tariff.update_permission)
                                },
                                {
                                    condition: !tariff.active,
                                    btn_label_for_person: ('label_active_tariff'|bkTranslate:this),
                                    btn_tag: 'active_tariff',
                                    icon: 'fa-power-off',
                                    colorType: 'ACTIVE',
                                    permission: (tariff.update_permission)
                                },
                                {
                                    condition: tariff.active,
                                    btn_label_for_person: ('label_deactive_tariff'|bkTranslate:this),
                                    btn_tag: 'deactive_tariff',
                                    icon: 'fa-power-off',
                                    colorType: 'DEACTIVE',
                                    permission: (tariff.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_delete_tariff'|bkTranslate:this),
                                    btn_tag: 'remove_tariff',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (tariff.update_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownTariffEmiter($event, tariff)"
                            >
                            </bk-drob-down-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(tariffs == null)"
                                [condition_empty]="(tariffs != null && tariffs.length == 0)"
                                [main_message_link]="'label_no_tariffs'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_tariffs_comment'|bkTranslate:this"
                                [btn_label]="'btn_create'|bkTranslate:this"
                                (onButtonClick)="onTariffAddClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

        <!-- Tariffs-->
        <div *ngIf="tab == 'extensions'">
            <div *ngIf="(extensions && extensions.length)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                        <tr>
                            <th class="">{{'table_extension_color'|bkTranslate:this}}</th>
                            <th class="">{{'table_extension_name'|bkTranslate:this}}</th>
                            <th class="">{{'table_extension_price'|bkTranslate:this}}</th>
                            <th class="">{{'table_extension_description'|bkTranslate:this}}</th>
                            <th class="ctext-center">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let extension of extensions">

                        <td class="vert-align no-wrap bold"><div style="width:20px; height: 20px;" class="bg-{{extension.color|lowercase}}"></div></td>
                        <td class="vert-align no-wrap bold"><a (click)="onExtensionEditClick(extension)">{{extension.name}}</a>
                            <span *ngIf="extension.active" class="font-green-jungle bold">(Active)</span>
                            <span *ngIf="!extension.active" class="font-red-flamingo bold">(Deactivated)</span>
                        </td>
                        <td class="vert-align">{{makePrice(extension.price)}}</td>
                        <td class="vert-align">{{extension.description}}</td>
                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_extension_properties'|bkTranslate:this)"
                                [btns]="[
                                    {
                                        condition: true,
                                        btn_label_for_person: ('label_extension_edit_properties'|bkTranslate:this),
                                        btn_tag: 'edit_extension',
                                        icon: 'fa-cog',
                                        colorType: 'EDIT',
                                        permission: (extension.update_permission)
                                    },
                                    {
                                        condition: !(extension.order_position == 1 || extension.order_position == 0),
                                        btn_label_for_person: ('label_change_order'|bkTranslate:this),
                                        btn_tag: 'shift_up_extension',
                                        icon: 'fa-chevron-up',
                                        colorType: 'UPDATE',
                                        permission: (extension.update_permission)
                                    },
                                    {
                                        condition: !(extensions.length == extension.order_position),
                                        btn_label_for_person: ('label_change_order'|bkTranslate:this),
                                        btn_tag: 'shift_down_extension',
                                        icon: 'fa-chevron-down',
                                        colorType: 'UPDATE',
                                        permission: (extension.update_permission)
                                    },
                                    {
                                        condition: !extension.active,
                                        btn_label_for_person: ('label_active_extension'|bkTranslate:this),
                                        btn_tag: 'active_extension',
                                        icon: 'fa-power-off',
                                        colorType: 'ACTIVE ',
                                        permission: (extension.update_permission)
                                    },
                                    {
                                        condition: extension.active,
                                        btn_label_for_person: ('label_deactive_extension'|bkTranslate:this),
                                        btn_tag: 'deactive_extension',
                                        icon: 'fa-power-off',
                                        colorType: 'DEACTIVE',
                                        permission: (extension.update_permission)
                                    },
                                    {
                                        condition: true,
                                        btn_label_for_person: ('label_delete_extension'|bkTranslate:this),
                                        btn_tag: 'remove_extension',
                                        icon: 'fa-trash',
                                        colorType: 'REMOVE',
                                        permission: (extension.update_permission)
                                    }
                                        ]"
                                        (onValueChanged)="onDrobDownExtensionEmiter($event, extension)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(extensions == null)"
                                [condition_empty]="(extensions != null && extensions.length == 0)"
                                [main_message_link]="'label_no_extensions'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_extensions_comment'|bkTranslate:this"
                                [btn_label]="'btn_create'|bkTranslate:this"
                                (onButtonClick)="onExtensionCreate()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

    </div>

</bk-layout-main>
