<bk-layout-main [tabMenu]="'byzance-admin'"
                [title]="'main_title'|bkTranslate:this"
                [subtitle]="'main_subtitle'|bkTranslate:this"
                [lastBreadName]="securityRole?securityRole.name:''"
                [show_title]="!project_id">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title *ngIf="securityRole"
                      [title_name]="'title'|bkTranslate:this"
                      [icon]="'fa-users'"
                      (onClick)="onPortletClick($event)"
                      [btns]="[
                         {
                              condition: (securityRole != null),
                              permission: (securityRole.update_permission),
                              btn_label_for_person: ('label_edit_role'|bkTranslate:this),
                              icon: 'fa-cog',
                              colorType: 'EDIT',
                              btn_tag: 'edit_role'
                        },
                         {
                              condition: (securityRole != null),
                              permission: (securityRole.delete_permission),
                              btn_label_for_person: ('label_remove_role'|bkTranslate:this),
                              icon: 'fa-trash',
                              colorType: 'EDIT',
                              btn_tag: 'remove_role'
                        },
                         {
                              condition: (securityRole != null && tab == 'persons' && securityRole.persons.length > 0),
                              permission: (securityRole.update_permission),
                              btn_label_for_person: ('label_person_add'|bkTranslate:this),
                              icon: 'fa-users',
                              colorType: 'ADD',
                              btn_tag: 'add_members'
                        },
                        {
                              condition: (securityRole != null && tab == 'permissions' && securityRole.permissions.length > 0),
                              permission: (securityRole.update_permission),
                              btn_label_for_person: ('label_permission_add'|bkTranslate:this),
                              icon: 'fa-plus-circle',
                              colorType: 'ADD',
                              btn_tag: 'add_permission'
                        }
                      ]"
                      (onTabClick)="onToggleTab($event)"
                      [tab_selected_name] = "tab"
                      [tabBtns]="[
                        {
                            tab_name: 'permissions',
                            tab_color: 'HARDWARE',
                            condition: (true),
                            tab_label: ('tab_permissions'|bkTranslate:this)
                        },
                        {
                            tab_name: 'persons',
                            tab_color: 'HARDWARE',
                            condition: (true),
                            tab_label: ('tab_persons'|bkTranslate:this)
                        }
                    ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <div *ngIf="tab == 'persons'">

            <div *ngIf="(securityRole && securityRole.persons.length)">
                <table class="table table-hover table-light byzance-table table-scrollable table-scrollable-borderless">
                    <thead>
                    <tr>
                        <th>{{'label_name'|bkTranslate:this}}</th>
                        <th>{{'label_email'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let person of securityRole.persons">
                        <td class="vert-align no-wrap">
                            <a (click)="onPersonClick(person.id)" class="no-wrap"><strong>{{person.full_name}}</strong> ({{person.nick_name}})</a>
                        </td>
                        <td class="vert-align no-wrap">{{person.email}}</td>
                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_person_remove'|bkTranslate:this)"
                                [btns] = "[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_person_remove'|bkTranslate:this),
                                    btn_tag: 'remove_person',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (securityRole.update_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, person)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 *ngIf="!securityRole" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
            <div *ngIf="securityRole && securityRole.persons.length == 0" class="list-no-items">
                <p class="list-no-items__main-label">{{'label_no_person'|bkTranslate:this}}</p>
                <p class="list-no-items__sub-label">{{'label_no_person_comment'|bkTranslate:this}} </p>
                <p>
                    <button class="btn blue" (click)="onMembersAddClick()">
                        <i class="fa fa-plus-circle"></i> {{'btn_add_person'|bkTranslate:this}}
                    </button>
                </p>
            </div>
        </div>

        <div *ngIf="tab == 'permissions'">

            <div *ngIf="(securityRole && securityRole.permissions.length)">
                <table class="table table-hover table-scrollable">
                    <thead>
                    <tr>
                        <th>{{'label_action'|bkTranslate:this}}</th>
                        <th>{{'label_target'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let permission of securityRole.permissions">
                        <td class="vert-align no-wrap"> {{permission.entity_type}}</td>
                        <td class="vert-align no-wrap"> {{permission.action}}</td>
                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_type_of_board_properties'|bkTranslate:this)"
                                [btns] = "[
                                {
                                    condition: permission.delete_permission,
                                    btn_label_for_person: ('label_person_remove'|bkTranslate:this),
                                    btn_tag: 'remove_permission',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: permission.delete_permission
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, permission)"
                            >
                            </bk-drob-down-button>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(securityRole == null)"
                                [condition_empty]="(securityRole != null && securityRole.permissions.length == 0)"
                                [main_message_link]="'label_no_permission'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_permission_comment'|bkTranslate:this"
                                [btn_label]="'btn_add_permission'|bkTranslate:this"
                                (onButtonClick)="onPermissionAddClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>


    </div>

</bk-layout-main>
