<bk-layout-main
    [title]="'main_title'|bkTranslate:this">
    <div class="portlet-body">
        <div class="row">
            <!--- Welcome Row Part -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="portlet">
                    <bk-portlet-title
                        [title_name]="'title_your_project'|bkTranslate:this"
                        [icon]="'fa-briefcase'">
                    </bk-portlet-title>

                    <!-- There is some projects -->
                    <div *ngIf="projects && projects.length" class="portlet-body" id="list_of_projects">
                        <table class="table table-hover table-light table-scrollable table-scrollable-borderless">
                            <thead>
                            <tr>
                                <th class="col">{{'table_name'|bkTranslate:this}}</th>
                                <th class="col">{{'table_description'|bkTranslate:this}}</th>
                                <th class="col">{{'table_tags'|bkTranslate:this}}</th>
                                <th *ngIf="isOnMobile" class="col">{{'table_actions'|bkTranslate:this}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let project of projects">
                                <td *ngIf="project.active" class="no-wrap bold vert-align"><a (click)="onProjectClick(project.id)">{{project.name}}</a></td>
                                <td class="vert-align" *ngIf="!project.active">
                                    <strong>{{project.name}}</strong>
                                    <br>
                                    <span *ngIf="project.product" class="font-red-flamingo">(Deactivated under <a (click)="onProductClick(project.product.id)"><span class="font-red-flamingo bold">{{project.product.name}}</span></a>) </span>
                                </td>
                                <td class="vert-align">{{project.description}}</td>
                                <td class="vert-align">
                                    <bk-form-tag-input [tags_without_form]="project.tags" [readonly]="true"></bk-form-tag-input>
                                </td>
                                <td>
                                        <bk-drob-down-button
                                        [btns_group_name]="('label_settings'|bkTranslate:this)"
                                        [btns]="[
                                            {
                                                condition: true,
                                                btn_label_for_person: ('label_add_hardware'|bkTranslate:this),
                                                btn_tag: 'add_hardware',
                                                icon: 'fa-copy',
                                                colorType: 'ADD',
                                                permission: (true)
                                            }
                                        ]"
                                        (onValueChanged)="onDrobDownEmiter($event, project)">
                                    </bk-drob-down-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- No projects but there is a tariff -->
                    <div *ngIf="projects && !projects.length && products && products.length" class="portlet-body" id="first_message_create_project">

                        <div class="table-scrollable table-scrollable-borderless" >
                            <div>
                                <div style="text-align: center;">
                                    <img style="width: 80%; height: auto;" src="https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5b339ed366fa843bd9f29916_ProjectPictureRedefined.svg">
                                </div>
                                <div class="list-no-items">
                                    <p class="list-no-items__main-label">
                                        <span [innerHTML]="'label_no_projects'|bkTranslate:this"></span>
                                    </p>
                                    <p class="list-no-items__sub-label">
                                        <span [innerHTML]="'label_no_projects_comment'|bkTranslate:this"></span>
                                    </p>
                                    <br>
                                    <p>
                                        <button class="btn blue" (click)="onAddProjectClick()" id="first_button_create_project" >
                                            <i class="fa fa-dollar"></i> {{'btn_create_project'|bkTranslate:this}}
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- No projects and no Tariff -->
                    <div *ngIf="projects && !projects.length && products && !products.length" class="portlet-body" id="first_message_product_need">

                        <div  class="table-scrollable table-scrollable-borderless" >
                            <div>
                                <div style="text-align: center;">
                                    TODO - obrázek se změní <br>
                                    <img style="width: 80%; height: auto;" src="https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/59e539077e037500010492d5_data%20flow%203.svg">
                                </div>
                                <div class="list-no-items">
                                    <p class="list-no-items__main-label">
                                        <span [innerHTML]="'label_create_tenant'|bkTranslate:this">></span>
                                    </p>
                                    <p class="list-no-items__sub-label">
                                        <span [innerHTML]="'label_create_tenant_comment'|bkTranslate:this"></span>
                                    </p>
                                    <br>
                                    <p>
                                        <button class="btn blue" (click)="onAddProductClick()">
                                            <i class="fa fa-dollar"></i> {{'btn_create_tenant'|bkTranslate:this}}
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <!-- News Row Part -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="portlet light full-height-content full-height-content-scrollable">
                    <bk-portlet-title
                        [title_name]="'title_platform_news'|bkTranslate:this"
                        [icon]="'fa-flag'"
                        (onClick)="onPortletClick($event)"
                        [btns]="[
                              {
                                  condition: (create_article_permission == true),
                                  btn_label_for_person: ('btn_add_article'|bkTranslate:this),
                                  icon: 'fa-plus-circle',
                                  colorType: 'ADD',
                                  permission: true,
                                  btn_tag: 'add_article'
                              }
                        ]"
                        (onTabClick)="onToggleTab($event)"
                        [tab_selected_name]="tab"
                        [tabBtns]="[
                                {
                                    tab_name: 'general',
                                    condition: (true),
                                    tab_color: 'BYZANCE',
                                    tab_label: ('tab_general'|bkTranslate:this)
                                },
                                {
                                    tab_name: 'hardware',
                                    condition: (true),
                                    tab_color: 'HARDWARE',
                                    tab_label: ('tab_hardware'|bkTranslate:this)
                                },
                                {
                                    tab_name: 'code',
                                    condition: (true),
                                    tab_color: 'CODE',
                                    tab_label: ('tab_code'|bkTranslate:this)
                                },
                                {
                                    tab_name: 'blocko',
                                    condition: (true),
                                    tab_color: 'BLOCKO',
                                    tab_label: ('tab_blocko'|bkTranslate:this)
                                },
                                {
                                    tab_name: 'grid',
                                    condition: (true),
                                    tab_color: 'GRID',
                                    tab_label: ('tab_grid'|bkTranslate:this)
                                },
                                {
                                    tab_name: 'cloud',
                                    condition: (true),
                                    tab_color: 'CLOUD',
                                    tab_label: ('tab_cloud'|bkTranslate:this)
                                }
                            ]">
                    </bk-portlet-title>
                    <div *ngIf="articles" class="portlet-body" >

                        <div *ngIf="tab == 'general' && articles.general" class="timeline">
                            <ng-template ngFor let-article="$implicit" [ngForOf]="articles.general.content">
                                <bk-article-time-line
                                    [article]="article"
                                    [icon]="'fa-info'"
                                    (onBtnClick)="onPortletClick($event, article)"
                                    [article_head_color]="'BYZANCE'">
                                </bk-article-time-line>
                            </ng-template>
                        </div>
                        <div *ngIf="tab == 'hardware' && articles.hardware" class="timeline">
                            <ng-template ngFor let-article="$implicit" [ngForOf]="articles.hardware.content">
                                <bk-article-time-line
                                    [article]="article"
                                    [icon]="'fa-microchip'"
                                    (onBtnClick)="onPortletClick($event, article)"
                                    [article_head_color]="'HARDWARE'">
                                </bk-article-time-line>
                            </ng-template>
                        </div>
                        <div *ngIf="tab == 'code' && articles.code" class="timeline">
                            <ng-template ngFor let-article="$implicit" [ngForOf]="articles.code.content">
                                <bk-article-time-line
                                    [article]="article"
                                    [icon]="'fa-code'"
                                    (onBtnClick)="onPortletClick($event, article)"
                                    [article_head_color]="'CODE'">
                                </bk-article-time-line>
                            </ng-template>
                        </div>
                        <div *ngIf="tab == 'blocko' && articles.blocko" class="timeline">
                            <ng-template ngFor let-article="$implicit" [ngForOf]="articles.blocko.content">
                                <bk-article-time-line
                                    [article]="article"
                                    (onBtnClick)="onPortletClick($event, article)"
                                    [icon]="'fa-sitemap fa-rotate-90'"
                                    [article_head_color]="'BLOCKO'">
                                </bk-article-time-line>
                            </ng-template>
                        </div>
                        <div *ngIf="tab == 'grid' && articles.grid" class="timeline">
                            <ng-template ngFor let-article="$implicit" [ngForOf]="articles.grid.content">
                                <bk-article-time-line
                                    [article]="article"
                                    [icon]="'fa-desktop'"
                                    (onBtnClick)="onPortletClick($event, article)"
                                    [article_head_color]="'GRID'">
                                </bk-article-time-line>
                            </ng-template>
                        </div>
                        <div *ngIf="tab == 'cloud' && articles.cloud" class="timeline">
                            <ng-template ngFor let-article="$implicit" [ngForOf]="articles.grid.content">
                                <bk-article-time-line
                                    [article]="article"
                                    [icon]="'fa-cloud'"
                                    (onBtnClick)="onPortletClick($event, article)"
                                    [article_head_color]="'CLOUD'">
                                </bk-article-time-line>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div *ngIf="!articles" class="portlet-body" >
                    Loading!!!!!!! TODO
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
