<div class="row">
    <div class="byzance-logo-square-blue error404-logo"></div>
    <div class="col-md-12 page-404">
        <div class="number font-blue"> 404 </div>
        <div class="details">
            <h3>{{'title'|bkTranslate:this}}</h3>
            <p>
                {{'info_text'|bkTranslate:this}}
            </p>
            <p>
                <a [routerLink]="['/']" class="btn blue btn-outline"> {{'btn_return'|bkTranslate:this}} </a>
                or
                <a (click)="onBackClick($event)" class="btn blue btn-outline"> {{'btn_back'|bkTranslate:this}} </a>

            </p>
        </div>
    </div>
</div>
