<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->
<bk-layout-main [title]="'Financial'">
    <h1 class="title">Financial</h1>
    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-tasks"></i>
                    Products
                </span>
            </div>
            <div class="becki-actions">
                <button class="btn blue" (click)="onAddProductClick()">
                    <i class="fa fa-plus-circle"></i> Add product
                </button>
            </div>
        </div>
        <div  *ngIf="(products && products.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Subscription id</th>
                    <th>Payment mode</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products">
                    <td class="no-wrap"><a (click)="onProductClick(product)"><b>{{product.product_individual_name}}</b></a></td>
                    <td class="no-wrap ">
                        <span title="Bank transfer" class="font-blue-chambray" *ngIf="product.payment_method=='bank_transfer'">
                            <i class="fa fa-lg fa-fw fa-exchange"> </i> Bank transfer
                        </span>
                        <span title="Credits"  class="font-blue-chambray" *ngIf="product.payment_method=='credit'">
                            <i class="fa fa-lg fa-fw fa-money" > </i> Credits
                        </span>
                        <span title="Credit Card" class="font-blue-chambray" *ngIf="product.payment_method=='credit_card'">
                            <i class="fa fa-lg fa-fw fa-credit-card"></i> Credit Card
                        </span>
                        <span title="Free" class="font-blue-chambray" *ngIf="product.payment_method=='free'">
                            <i class="fa fa-lg fa-fw fa-hand-peace-o"></i> Free
                        </span>
                        <span title="Free" class="font-blue-chambray" *ngIf="product.payment_method=='Not set yet'">
                            <i class="fa fa-lg fa-fw fa-question"></i> Not set yet
                        </span>
                    </td>
                    <td>{{product.subscription_id}}</td>
                    <td>{{product.payment_mode|bkStringReplacer}}</td>
                  <td class="text-right">
                      <button title="Settings" class="btn green btn-icon-only white">
                          <i class="fa fa-gear"></i>
                      </button>
                  </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!products" class="text-center">Loading...</h3>
        <h3 *ngIf="products && products.length == 0" class="text-center">No product</h3>
    </div>
</bk-layout-main>
