<bk-layout-main [title]="'main_title'|bkTranslate:this" xmlns="http://www.w3.org/1999/html">


    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-body">

                    <div class="mt-element-step">

                        <div class="row step-line">
                            <div class="col-md-3 mt-step-col first" [class.done]="step > 1" [class.active]="step == 1" (click)="stepClick(1)" [class.can-activate]="canActivateStep(1)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-bars"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_one_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_one_text'|bkTranslate:this}}</div>
                            </div>
                            <div class="col-md-3 mt-step-col" [class.done]="step > 2" [class.active]="step == 2" (click)="stepClick(2)" [class.can-activate]="canActivateStep(2)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_two_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_two_text'|bkTranslate:this}}</div>
                            </div>
                            <div class="col-md-3 mt-step-col" [class.done]="step > 3" [class.active]="step == 3" (click)="stepClick(3)" [class.can-activate]="canActivateStep(3)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-pencil-square-o"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_three_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_three_text'|bkTranslate:this}}</div>
                            </div>
                            <div class="col-md-3 mt-step-col last" [class.done]="step > 4" [class.active]="step == 4" (click)="stepClick(4)" [class.can-activate]="canActivateStep(4)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-flag-checkered"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_four_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_four_text'|bkTranslate:this}}</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div *ngIf="step===1">

        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="becki-caption">
                    <span class="font-blue-dark uppercase">
                        <i class="fa fa-fw fa-bars"></i>
                        {{'step_one_title'|bkTranslate:this}}
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="pricing-content-1">
                    <div class="row">
                        <div *ngFor="let tariff of tariffs" class="col-md-3">
                            <div class="price-column-container border-active tariff">
                                <div class="price-table-head bg-{{tariff.color|lowercase}}">
                                    <h2 class="no-margin">{{tariff.name}}</h2>
                                </div>
                                <div class="arrow-down border-top-{{tariff.color|lowercase}}"></div>

                                <div class="price-table-pricing">
                                    <h3 style="line-height: 50px;" [style.font-size]="makePrice(tariff.price.USD).length>=7?'40px':'50px'">{{makePrice(tariff.price.USD)}}</h3>
                                    <p class="font-grey-salt">{{'average_monthly_cost'|bkTranslate:this}}</p>
                                    <div *ngIf="tariff == selectedTariff" class="price-ribbon">{{'ribbon_selected'|bkTranslate:this}}</div>
                                </div>
                                <div class="price-table-content">
                                    <div *ngFor="let label of tariff.labels" class="line">
                                        <i class="fa fa-fw {{label.icon|lowercase}} font-{{tariff.color|lowercase}}"></i>
                                        {{label.label}}
                                    </div>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <button type="button" (click)="chooseTariff(tariff)" class="btn uppercase price-button {{tariff.color|lowercase}}">
                                        {{'btn_select'|bkTranslate:this}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="step===2">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="becki-caption">
                    <span class="font-blue-dark uppercase">
                        <i class="fa fa-fw fa-archive"></i>
                        {{'step_two_title'|bkTranslate:this}}
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="pricing-content-1">
                    <div class="row">
                        <div *ngIf="selectedTariff.extensions_included || selectedTariff.extensions_optional">
                            <div *ngIf="selectedTariff.extensions_included.length==0 || selectedTariff.extensions_optional.length==0">
                                <h3 class="text-center margin-bottom-15"> {{'step_two_no_expansions'|bkTranslate:this}}</h3>
                            </div>
                        </div>

                        <div *ngFor="let package of selectedTariff.extensions_included" class="col-md-3 margin-bottom-15">
                            <div [class.border-red-mint]="selectedExtensions.indexOf(package) > -1" class="price-column-container border-active package">
                                <div class="price-table-head bg-{{package.color|lowercase}}">
                                    <h4 class="no-margin">{{package.name}}</h4>
                                </div>
                                <div class="arrow-down border-top-{{package.color|lowercase}}"></div>
                                <div class="price-table-pricing">
                                    <h3 style="font-size: 50px; line-height: 50px;">{{'label_free'|bkTranslate:this}}</h3>
                                    <p class="font-grey-salt">{{'average_monthly_cost'|bkTranslate:this}}</p>
                                    <div class="price-ribbon">{{'label_included'|bkTranslate:this}}</div>
                                </div>
                                <div class="price-table-content">
                                    <p class="font-grey-salt">{{package.description}}</p>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <button type="button" class="btn grey-salsa btn-outline uppercase price-button" disabled="disabled">
                                        {{'btn_included'|bkTranslate:this}}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let package of selectedTariff.extensions_optional" class="col-md-3 margin-bottom-15">
                            <div class="price-column-container border-active package">
                                <div class="price-table-head bg-{{package.color|lowercase}}">
                                    <h4 class="no-margin">{{package.name}}</h4>
                                </div>
                                <div class="arrow-down border-top-{{package.color|lowercase}}"></div>
                                <div class="price-table-pricing">
                                    <h3 style="line-height: 50px;" [style.font-size]="makePrice(package.price.USD).length>=7?'40px':'50px'">{{makePrice(package.price.USD)}}</h3>
                                    <p class="font-grey-salt">{{'average_monthly_cost'|bkTranslate:this}}</p>
                                    <div class="price-ribbon" *ngIf="selectedExtensions.indexOf(package) > -1">{{'label_included'|bkTranslate:this}}</div>
                                </div>
                                <div class="price-table-content">
                                    <p class="font-grey-salt">{{package.description}}</p>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <button type="button" *ngIf="selectedExtensions.indexOf(package) == -1" class="btn green-jungle uppercase price-button" (click)="addExtension(package)">
                                        {{'btn_add'|bkTranslate:this}}
                                    </button>
                                    <button type="button" *ngIf="selectedExtensions.indexOf(package) > -1" class="btn red uppercase price-button" (click)="removeExtension(package)">
                                        {{'btn_remove'|bkTranslate:this}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="btn-group btn-group-solid">
                                <button type="button" class="btn grey-salsa btn-lg btn-outline" (click)="stepClick(1)">
                                    {{'btn_back'|bkTranslate:this}}
                                </button>
                                <button type="button" class="btn green-jungle btn-lg" (click)="stepClick(3)">
                                    {{'btn_continue'|bkTranslate:this}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="step===3">
        <form *ngIf="form" [formGroup]="form">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-pencil-square-o"></i>
                            {{'step_three_title'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div class="row portlet-body">


                    <div class="col-md-6">

                        <div class="portlet box blue-dark">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-fw fa-lg fa-info"></i>{{'step_three_product_info'|bkTranslate:this}}
                                </div>
                            </div>
                            <div class="portlet-body">
                                <bk-form-input [control]="form.controls['product_individual_name']" label="{{'step_three_label_product_name'|bkTranslate:this}}"></bk-form-input>
                            </div>
                        </div>

                        <div class="portlet box blue-dark">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-fw fa-lg fa-credit-card"></i>{{'step_three_billing_info'|bkTranslate:this}}
                                </div>
                            </div>
                            <div class="portlet-body">
                                <bk-form-input [control]="form.controls['invoice_email']" type="email" label="{{'label_invoice_email'|bkTranslate:this}}"></bk-form-input>

                                <bk-form-select *ngIf="form.controls['payment_method']" [control]="form.controls['payment_method']" label="{{'label_payment_method'|bkTranslate:this}}" [options]="optionsPaymentMethod"></bk-form-select>
                                <!--<bk-form-select *ngIf="form.controls['payment_mode']" [control]="form.controls['payment_mode']" label="Payment mode" [options]="optionsPaymentMode"></bk-form-select>-->
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="portlet box blue-dark">
                            <div class="portlet-title">
                                <div class="caption" *ngIf="!selectedTariff.company_details_required">
                                    <i class="fa fa-fw fa-lg fa-user"></i>{{'label_personal_info'|bkTranslate:this}}
                                </div>
                                <div class="caption" *ngIf="selectedTariff.company_details_required">
                                    <i class="fa fa-fw fa-lg fa-building"></i>{{'label_company_info'|bkTranslate:this}}
                                </div>
                            </div>
                            <div class="portlet-body">

                                <bk-form-input *ngIf="form.controls['full_name']" [control]="form.controls['full_name']" label="{{'label_full_name'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input *ngIf="form.controls['company_name']" [control]="form.controls['company_name']" label=" {{'label_full_name'|bkTranslate:this}}"></bk-form-input>
                               
                                <bk-form-input [control]="form.controls['street']" label=" {{'label_street'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input [control]="form.controls['street_number']" label=" {{'label_street_number'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input [control]="form.controls['city']" label=" {{'label_city'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input [control]="form.controls['zip_code']" label=" {{'label_zip_code'|bkTranslate:this}}"></bk-form-input>
                                
                                <bk-form-select (change)="checkInEu()" [control]="form.controls['country']" label=" {{'label_country'|bkTranslate:this}}" [options]="optionsCountryList"></bk-form-select>
                               
                                <bk-form-input *ngIf="form.controls['registration_no'] && !inEu" [control]="form.controls['registration_no']" label=" {{'label_registration_number'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input *ngIf="form.controls['vat_number'] && inEu" [control]="form.controls['vat_number']" label=" {{'label_vat_number'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input *ngIf="form.controls['company_web']" [control]="form.controls['company_web']" type="url" label="{{'label_company_web'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input *ngIf="form.controls['company_authorized_email']" [control]="form.controls['company_authorized_email']" type="email" label="{{'label_company_email'|bkTranslate:this}}"></bk-form-input>
                                <bk-form-input *ngIf="form.controls['company_authorized_phone']" [control]="form.controls['company_authorized_phone']" type="tel" label="{{'label_company_phone'|bkTranslate:this}}"></bk-form-input>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="btn-group btn-group-solid">
                                <button type="button" class="btn grey-salsa btn-lg btn-outline" (click)="stepClick(2)">
                                    {{'btn_back'|bkTranslate:this}}
                                </button>
                                <button type="button" class="btn green-jungle btn-lg" (click)="stepClickElseTouchForm(4)">
                                    {{'btn_continue'|bkTranslate:this}}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>

    <div *ngIf="step===4">


        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-flag-checkered"></i>
                            {{'step_four_title'|bkTranslate:this}}
                        </span>
                </div>
            </div>
            <div class="row portlet-body">

                <div class="col-md-6">

                    <div class="portlet box blue-dark">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-fw fa-lg fa-pencil-square-o"></i>{{'label_registration_info|bkTranslate:this'}}
                            </div>
                            <div class="actions">
                                <a (click)="stepClick(3)" class="btn btn-default btn-sm">
                                    <i class="fa fa-fw fa-pencil-square-o"></i> {{'btn_edit'|bkTranslate:this}}
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">


                            <table class="table table-hover no-margin">
                                <tbody>
                                    <tr>
                                        <td class="no-border-top" colspan="2"><strong> {{'label_product_info'|bkTranslate:this}} </strong></td>
                                    </tr>
                                    <tr>
                                        <td> {{'label_product_name'|bkTranslate:this}}: </td><td> {{form.controls["product_individual_name"].value}} </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"><strong> {{'label_billing_info'|bkTranslate:this}} </strong></td>
                                    </tr>

                                    <tr>
                                        <td> {{'label_invoice_email'|bkTranslate:this}}: </td><td> {{form.controls["invoice_email"].value}} </td>
                                    </tr>
                                    <tr *ngIf="form.controls['payment_method']">
                                        <td> {{'label_payment_method'|bkTranslate:this}}: </td><td> {{translatePaymentMethod(form.controls["payment_method"].value)}} </td>
                                    </tr>
                                    <!--<tr *ngIf="form.controls['payment_mode']">
                                        <td> Payment mode: </td><td> {{translatePaymentMode(form.controls["payment_mode"].value)}} </td>
                                    </tr>-->

                                    <tr *ngIf="!selectedTariff.company_details_required">
                                        <td colspan="2"><strong> {{'label_personal_info'|bkTranslate:this}} </strong></td>
                                    </tr>
                                    <tr *ngIf="selectedTariff.company_details_required">
                                        <td colspan="2"><strong> {{'label_company_info'|bkTranslate:this}} </strong></td>
                                    </tr>

                                    <tr *ngIf="form.controls['full_name']">
                                        <td> {{'label_full_name'|bkTranslate:this}}: </td><td> {{form.controls["full_name"].value}} </td>
                                    </tr>
                                    <tr *ngIf="form.controls['company_name']">
                                        <td> {{'label_company_name'|bkTranslate:this}}: </td><td> {{form.controls["company_name"].value}} </td>
                                    </tr>

                                    <tr>
                                        <td> {{'label_street'|bkTranslate:this}}: </td><td> {{form.controls["street"].value}} </td>
                                    </tr>
                                    <tr>
                                        <td> {{'label_street_number'|bkTranslate:this}}: </td><td> {{form.controls["street_number"].value}} </td>
                                    </tr>
                                    <tr>
                                        <td> {{'label_city'|bkTranslate:this}}: </td><td> {{form.controls["city"].value}} </td>
                                    </tr>
                                    <tr>
                                        <td> {{'label_zip_code'|bkTranslate:this}}: </td><td> {{form.controls["zip_code"].value}} </td>
                                    </tr>
                                    <tr>
                                        <td> {{'label_country'|bkTranslate:this}}: </td><td> {{form.controls["country"].value}} </td>
                                    </tr>

                                    <tr *ngIf="form.controls['registration_no'] && !inEu">
                                        <td> {{'label_registration_number'|bkTranslate:this}}: </td><td> {{form.controls["registration_no"].value}} </td>
                                    </tr>
                                    <tr *ngIf="form.controls['vat_number'] && inEu">
                                        <td> {{'label_vat_number'|bkTranslate:this}}: </td><td> {{form.controls["vat_number"].value}} </td>
                                    </tr>

                                    <tr *ngIf="form.controls['company_web']">
                                        <td> {{'label_company_web'|bkTranslate:this}}: </td><td> {{form.controls["company_web"].value}} </td>
                                    </tr>
                                    <tr *ngIf="form.controls['company_authorized_email']">
                                        <td> {{'label_company_email'|bkTranslate:this}}: </td><td> {{form.controls["company_authorized_email"].value}} </td>
                                    </tr>
                                    <tr *ngIf="form.controls['company_authorized_phone']">
                                        <td> {{'label_company_phone'|bkTranslate:this}}: </td><td> {{form.controls["company_authorized_phone"].value}} </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="portlet box blue-dark">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-fw fa-lg fa-pencil-square-o"></i>{{'label_your_product'|bkTranslate:this}}
                            </div>
                        </div>
                        <div class="portlet-body">


                            <table class="table table-hover no-margin">
                                <tbody>

                                    <tr>
                                        <td class="no-border-top"><strong> {{'table_tarrif'|bkTranslate:this}} </strong></td>
                                        <td class="no-border-top"><strong> {{'table_description'|bkTranslate:this}} </strong></td>
                                        <td class="no-border-top text-center"><strong> {{'table_price'|bkTranslate:this}} </strong></td>
                                    </tr>

                                    <tr>
                                        <td> {{selectedTariff.name}} </td>
                                        <td> {{selectedTariff.description}} </td>
                                        <td class="text-center"> {{makePrice(selectedTariff.price.USD)}} </td>
                                    </tr>

                                    <tr *ngIf="selectedTariff.extensions_included.length || selectedExtensions.length">
                                        <td colspan="3"><strong> {{'table_packages'|bkTranslate:this}} </strong></td>
                                    </tr>
                                    <tr *ngFor="let package of selectedTariff.extensions_included">
                                        <td> {{package.name}} </td>
                                        <td> {{package.description}} </td>
                                        <td class="text-center"> {{'label_free'|bkTranslate:this}} </td>
                                    </tr>
                                    <tr *ngFor="let package of selectedExtensions">
                                        <td> {{package.name}} </td>
                                        <td> {{package.description}} </td>
                                        <td class="text-center"> {{makePrice(package.price.USD)}} </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"><strong> {{'table_total'|bkTranslate:this}} </strong></td>
                                        <td class="text-center"><strong> {{makePrice(getTotalPrice())}} </strong></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="btn-group btn-group-solid">
                            <button type="button" class="btn grey-salsa btn-lg btn-outline" (click)="stepClick(3)">
                                 {{'btn_back'|bkTranslate:this}}
                            </button>
                            <button type="button" class="btn green-jungle btn-lg" (click)="onConfirmClick()">
                                {{'btn_confirm'|bkTranslate:this}}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</bk-layout-main>
