<bk-layout-main
    [show_title]="step < 3"
    [title]="'main_title'|bkTranslate:this" xmlns="http://www.w3.org/1999/html">



    <div *ngIf="true" class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-body">

                    <div class="mt-element-step">

                        <div class="row step-line">
                            <div class="col-md-3 mt-step-col first" [class.done]="step != 'tariff' && selectedTariff != null"
                                 [class.active]="step == 'tariff'" (click)="stepClick('tariff')"
                                 [class.can-activate]="canActivateStep('tariff')">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-bars"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">
                                    {{'nav_step_tariff_title'|bkTranslate:this}}
                                </div>
                                <div class="mt-step-content font-grey-cascade">
                                    {{'nav_step_tariff_text'|bkTranslate:this}}
                                </div>
                            </div>

                            <div class="col-md-3 mt-step-col" [class.done]="step != 'extensions' && selectedTariff != null"
                                 [class.active]="step == 'extensions'" (click)="stepClick('extensions')"
                                 [class.can-activate]="canActivateStep('extensions')">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">
                                    {{'nav_step_extensions_title'|bkTranslate:this}}
                                </div>
                                <div class="mt-step-content font-grey-cascade">
                                    {{'nav_step_extensions_text'|bkTranslate:this}}
                                </div>
                            </div>


                            <div class="col-md-3 mt-step-col" [class.done]="step != 'customer' && selectedCustomer != null || contactCustomerValid"
                                 [class.active]="step == 'customer'" (click)="stepClick('customer')"
                                 [class.can-activate]="canActivateStep('customer')">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">
                                    {{'nav_step_customer_title'|bkTranslate:this}}
                                </div>
                                <div class="mt-step-content font-grey-cascade">
                                    {{'nav_step_customer_text'|bkTranslate:this}}
                                </div>
                            </div>

                            <div class="col-md-3 mt-step-col last" [class.done]="false"
                                 [class.active]="step == 'confirmation'" (click)="stepClick('confirmation')"
                                 [class.can-activate]="canActivateStep('confirmation')">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-flag-checkered"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">
                                    {{'nav_step_summary_title'|bkTranslate:this}}
                                </div>
                                <div class="mt-step-content font-grey-cascade">
                                    {{'nav_step_summary_text'|bkTranslate:this}}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- 'registration_type' integrator not yet implemented, selection is not necessary -->
    <div *ngIf="false" >

        <h2 class="text-center" style="margin-top: 50px; margin-bottom: 30px;">Please Select what you will be</h2>

        <div class="row">

            <div class="col-md-6 center">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-body">
                        <div class="caption-desc font-grey-cascade">

                            <a class="bold" (click)="setType('do_it_yourself')"><h3 class="text-center">I do it for my self</h3></a>
                            <p>I will do everything for myself. I can invite co-workers, share open-source code and projects, buy extensions, run servers, make custom hardware etc.,
                                but everything will be billed directly to me or my accounting department.</p>

                            <p>Whenever I can later become an integrator.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 center">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-body">
                        <div class="caption-desc font-grey-cascade">

                                <a class="bold" (click)="setType('integrator')"><h3 class="text-center">I will be integrator</h3></a>
                                <p>I can create separate projects, where I can set permissions and assign my colleagues or invite freelancers.
                                    Each project can have an assigned my own customer with full set client billing support. And also it's under my Brand!.
                                    I can also invite my customer and let him do some things in his projects. Everything will run on my domain and it looks like my own tool.</p>

                                <p>For each invoices that are automatically generated according used services by my customers I can add own items, for example 500$ for technical support. These money will be automatically forwarded to my account.</p>

                                <p>And With a increasing numbers of clients, I achieve automatic range discounts that Byzance will send back to my account. It is something like a reward or form of commission.</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div *ngIf="step==='tariff'">

        <div class="pricing-content-1">
            <div class="row">
                <div *ngFor="let tariff of tariffs" class="col-md-3">
                    <div class="price-column-container border-active tariff">
                        <div class="price-table-head bg-{{tariff.color|lowercase}}">
                            <h2 class="no-margin">{{tariff.name}}</h2>
                        </div>
                        <div class="arrow-down border-top-{{tariff.color|lowercase}}"></div>

                        <div class="price-table-pricing">
                            <h3 style="line-height: 50px;"
                                [style.font-size]="(tariff.price|bkPrice:true).length>=7?'40px':'50px'">
                                {{tariff.price|bkPrice:true}}</h3>
                            <p class="font-grey-salt">{{'average_monthly_cost'|bkTranslate:this}}</p>
                            <div *ngIf="tariff == selectedTariff" class="price-ribbon">
                                {{'ribbon_selected'|bkTranslate:this}}
                            </div>
                        </div>
                        <div class="price-table-content">
                            <div *ngFor="let label of tariff.labels" class="row mobile-padding">
                                <div class="col-xs-3 text-right mobile-padding">
                                    <i *ngIf="label.icon.indexOf('fa') !== -1" class="fa {{label.icon}}"></i>
                                    <i *ngIf="label.icon.indexOf('icon') !== -1" class="{{label.icon}}"></i>
                                </div>
                                <div class="col-xs-9 text-left mobile-padding">{{label.description}}</div>
                            </div>
                        </div>
                        <div class="arrow-down arrow-grey"></div>
                        <div class="price-table-footer">
                            <button type="button" (click)="chooseTariff(tariff)"
                                    class="btn uppercase price-button {{tariff.color|lowercase}}">
                                {{'btn_select'|bkTranslate:this}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-body">
                        <div class="caption-desc font-grey-cascade">
                            <span [innerHTML]="'financial_monologue'|bkTranslate:this"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="step==='extensions'">

        <div class="portlet light portlet-fit bordered">

            <div class="portlet-title">
                <div class="becki-caption">
    <span class="font-blue-dark uppercase">
    <i class="fa fa-fw fa-archive"></i>
    {{'step_extensions_title'|bkTranslate:this}}
    </span>
                </div>
            </div>

            <div class="portlet-title tabbable-line ">
                <ul class="nav nav-tabs nav-justified">
                    <li [class.active]="extensionTab == 'recommended_extensions'">
                        <a class="cursor-pointer" (click)="onExtensionToggleTab('recommended_extensions')"><i
                            class="fa fa-usd"></i> {{'tab_extensions_recommended'|bkTranslate:this}}</a>
                    </li>

                    <li [class.active]="extensionTab == 'included_extensions'">
                        <a class="cursor-pointer" (click)="onExtensionToggleTab('included_extensions')"><i
                            class="fa fa-archive"></i> {{'tab_extensions_include'|bkTranslate:this}}</a>
                    </li>
                </ul>
            </div>

            <div *ngIf="extensionTab == 'recommended_extensions'">
                <div class="portlet-body margin-right-15 margin-left-15">
                    <div class="pricing-content-1">
                        <div class="row">

                            <div *ngFor="let extension of selectedTariff.extensions_recommended"
                                 class="col-md-3 margin-bottom-15">
                                <div class="price-column-container border-active package">
                                    <div class="price-table-head bg-{{extension.color|lowercase}}">
                                        <h4 class="no-margin">{{extension.name}}</h4>
                                    </div>
                                    <div class="arrow-down border-top-{{extension.color|lowercase}}"></div>
                                    <div class="price-table-pricing">
                                        <h3 style="line-height: 50px;"
                                            [style.font-size]="(extension.price|bkPrice:true).length>=7?'40px':'50px'">
                                            {{extension.price|bkPrice:true}}</h3>
                                        <p class="font-grey-salt">{{'label_average_monthly_cost'|bkTranslate:this}}</p>
                                        <div class="price-ribbon" *ngIf="selectedExtensions.indexOf(extension) > -1">
                                            {{'label_included'|bkTranslate:this}}
                                        </div>
                                    </div>
                                    <div class="price-table-content">
                                        <p class="font-grey-salt">{{extension.description}}</p>
                                    </div>
                                    <div class="arrow-down arrow-grey"></div>
                                    <div class="price-table-footer">
                                        <button type="button" *ngIf="selectedExtensions.indexOf(extension) == -1"
                                                class="btn blue uppercase price-button"
                                                (click)="addExtension(extension)">
                                            {{'btn_add'|bkTranslate:this}}
                                        </button>
                                        <button type="button" *ngIf="selectedExtensions.indexOf(extension) > -1"
                                                class="btn red uppercase price-button"
                                                (click)="removeExtension(extension)">
                                            {{'btn_remove'|bkTranslate:this}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedTariff && selectedTariff.extensions_recommended < 1"
                                 class="list-no-items">
                                <p class="list-no-items__main-label">
                                    {{'label_no_recommended_extensions'|bkTranslate:this}}</p>
                                <p class="list-no-items__sub-label">
                                    {{'label_no_recommended_extensions_comment'|bkTranslate:this}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="extensionTab == 'included_extensions'">
                <div class="portlet-body margin-right-15 margin-left-15">
                    <div class="pricing-content-1">
                        <div class="row">

                            <div *ngFor="let package of selectedTariff.extensions_included"
                                 class="col-md-3 margin-bottom-15">
                                <div [class.border-red-mint]="selectedExtensions.indexOf(package) > -1"
                                     class="price-column-container border-active package">
                                    <div class="price-table-head bg-{{package.color|lowercase}}">
                                        <h4 class="no-margin">{{package.name}}</h4>
                                    </div>
                                    <div class="arrow-down border-top-{{package.color|lowercase}}"></div>
                                    <div class="price-table-pricing">
                                        <h3 style="font-size: 50px; line-height: 50px;">
                                            {{'label_free'|bkTranslate:this}}</h3>
                                        <p class="font-grey-salt">{{'average_monthly_cost'|bkTranslate:this}}</p>
                                        <div class="price-ribbon">{{'label_included'|bkTranslate:this}}</div>
                                    </div>
                                    <div class="price-table-content">
                                        <p class="font-grey-salt">{{package.description}}</p>
                                    </div>
                                    <div class="arrow-down arrow-grey"></div>
                                    <div class="price-table-footer">
                                        <button type="button" class="btn grey-salsa btn-outline uppercase price-button"
                                                disabled="disabled">
                                            {{'btn_included'|bkTranslate:this}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <bk-back-next-buttons [backId]="'tariff'"
                                  [nextId]="'customer'"
                                  [disableNext]="!canActivateStep('customer')"
                                  (click)="stepClick($event)">
            </bk-back-next-buttons>
        </div>
    </div>



    <div *ngIf="step==='customer'">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-body row" style="margin-top: 20px; margin-bottom: 20px">
                <h3 class="text-center">{{'label_customer_information_title'|bkTranslate:this}}</h3>
                <p class="text-center" *ngIf="registrationType==='integrator'">{{'label_customer_information_subtitle'|bkTranslate:this}}</p>

                <div class="col-md-1"></div>

                <div class="col-md-4">
                    <h3 class="text-center">{{'label_basic_setup'|bkTranslate:this}}</h3>

                    <form [formGroup]="productInfoFormGroup">
                        <bk-form-input [control]="productInfoFormGroup.controls['product_name']"
                                       [label]="'label_product_name'|bkTranslate:this">
                        </bk-form-input>

                        <bk-form-select [control]="productInfoFormGroup.controls['customer_id']"
                                        [label]="'<strong>'+('label_product_owner'|bkTranslate:this)+'</strong>'"
                                        (change)="setOwner()"
                                        [options]="optionsCustomers">
                        </bk-form-select>

                    </form>
                    <br />

                    <h3 class="text-center" *ngIf="!noCustomer">{{'label_payment_details'|bkTranslate:this}}</h3>
                    <bk-payment-details-form *ngIf="!noCustomer"
                                             [paymentOptions]="paymentOptions"
                                             [(paymentDetails)]="paymentDetailsData"
                                             (valid)="paymentDetailsDataValid = $event">
                    </bk-payment-details-form>

                </div>

                <div class="col-md-1"></div>

                <div class="col-md-5">
                    <h3 class="text-center" *ngIf="!noCustomer">{{'label_owner_details'|bkTranslate:this}}</h3>

                        <bk-contact-form [contactData]="contact"
                                         [allowTypeSelection]="true"
                                         [disabled]="selectedCustomer || noCustomer"
                                         *ngIf="!noCustomer"
                                         (valid)="contactCustomerValid = $event">
                        </bk-contact-form>
                </div>

                <div class="col-md-1"></div>
            </div>

            <bk-back-next-buttons [backId]="'extensions'"
                                  [nextId]="(this.registrationType === 'integrator') ? 'integratorClient' : 'confirmation'"
                                  [disableNext]="!canActivateStep('confirmation')"
                                  (click)="stepClick($event)">
            </bk-back-next-buttons>

        </div>
    </div>





    <div *ngIf="step==='confirmation'">


        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="becki-caption">
    <span class="font-blue-dark uppercase">
    <i class="fa fa-fw fa-flag-checkered"></i>
    {{'step_summary_title'|bkTranslate:this}}
    </span>
                </div>
            </div>
            <div class="row portlet-body">


                <div class="col-md-6">

                    <div class="portlet box blue-dark">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-fw fa-lg fa-pencil-square-o"></i>{{'label_your_product'|bkTranslate:this}}
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-hover no-margin">
                                <tbody>
                                <tr>
                                    <td> {{'label_product_name'|bkTranslate:this}}:</td>
                                    <td> {{ productInfoFormGroup.controls['product_name'].value }} </td>
                                </tr>

                                <tr>
                                    <td class="no-border-top"><strong> {{'table_tarrif'|bkTranslate:this}} </strong>
                                    </td>
                                    <td class="no-border-top"><strong>
                                        {{'table_description'|bkTranslate:this}} </strong></td>
                                    <td class="no-border-top text-center"><strong>
                                        {{'table_price'|bkTranslate:this}} </strong></td>
                                </tr>

                                <tr>
                                    <td> {{selectedTariff.name}}</td>
                                    <td> {{selectedTariff.description}}</td>
                                    <td class="text-center"> {{selectedTariff.price|bkPrice:true}}</td>
                                </tr>

                                <tr *ngIf="selectedTariff.extensions_included.length || selectedExtensions.length">
                                    <td colspan="3"><strong> {{'table_packages'|bkTranslate:this}} </strong></td>
                                </tr>
                                <tr *ngFor="let package of selectedTariff.extensions_included">
                                    <td> {{package.name}}</td>
                                    <td> {{package.description}}</td>
                                    <td class="text-center"> {{'label_free'|bkTranslate:this}}</td>
                                </tr>
                                <tr *ngFor="let package of selectedExtensions">
                                    <td> {{package.name}}</td>
                                    <td> {{package.description}}</td>
                                    <td class="text-center"> {{package.price|bkPrice:true}}</td>
                                </tr>

                                <tr>
                                    <td colspan="2"><strong> {{'table_total'|bkTranslate:this}} </strong></td>
                                    <td class="text-center"><strong> {{getTotalPrice()|bkPrice:true}} </strong></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <bk-contact-table *ngIf="!noCustomer" [contact]="contact">
                    </bk-contact-table>

                    <bk-payment-details-table *ngIf="!noCustomer" [paymentDetails]="paymentDetailsData">
                    </bk-payment-details-table>
                </div>


                <bk-back-next-buttons (back)="stepClick((this.registrationType === 'integrator') ? 'integratorClient' : 'customer')"
                                      [nextText]="'btn_confirm'|bkTranslate:this"
                                      (next)="onConfirmClick()">
                </bk-back-next-buttons>

            </div>
        </div>
    </div>
</bk-layout-main>
