<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->

<bk-layout-main tabMenu="tariffs-tarrif" [title]="product?product.product_individual_name:null">
    <div class="tabbable-line tabbable-full-width">
        <h3 class="title center-block"></h3>
        <div class="portlet light bordered">
            <div class="portlet-title tab able-line">
                <div class="caption">
                    <i class="icon-bubbles font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Tariff:</span>
                </div>
            </div>
            <div *ngIf="product" class="portlet-body">
                <div class="pricing-content-1">
               <div class="row" *ngIf="product.extensions" >
                        <div *ngFor="let package of product.extensions" class="col-md-3">
                            <div  class="price-column-container border-active">
                                <div class="price-table-head bg-{{package.color | lowercase}}">
                                    <h2 class="no-margin">{{package.name}}</h2>
                                </div>
                                <div class="arrow-down border-top-{{package.color | lowercase}}"></div>
                                <div class="price-table-content">
                                    <div *ngFor="let label of package.labels" class="row mobile-padding">
                                        <div class="col-xs-4 text-right mobile-padding">
                                            <i class="fa {{label.icon| lowercase}}"></i>
                                        </div>
                                        <div class="col-xs-8 text-left mobile-padding">{{label.label}}</div>
                                        <!--(mouseenter)="" (mouseleave)=""-->
                                    </div>

                                </div>
                                <div class="arrow-down arrow-grey"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bk-layout-main>