<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->

<bk-layout-main tabMenu="tariffs-tarrif" [title]="'Financial'">
    <div *ngIf="product" class="tabbable-line tabbable-full-width">
        <h3 class="title center-block">{{product.product_individual_name}}</h3>

        <div class="portlet light bordered">
            <div class="portlet-title tab able-line">
                <div class="caption">
                    <i class="icon-bubbles font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Tariff:</span>
                </div>
                <div class="becki-actions">
                    <button *ngIf="product.payment_mode == 'per_credit'"  class="btn blue" (click)="onAddCreditsClick()">
                        <i class="fa fa-plus-circle"></i> Add credit
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class=" row">
                            <div class="col-sm-4 "><b> mode:</b> {{product.payment_mode|bkStringReplacer}}</div>
                            <div class="col-sm-4 "><b>Country:</b> {{product.payment_details.country}}</div>
                            <div class="col-sm-4 "><b>Device type:</b> {{product.product_type}}</div> <!-- TODO cheme ikonku?-->

                        </div>
                        <div class="margin-top-15 row">
                            <div class="col-sm-4 "><b>ID Subscription:</b> {{product.subscription_id}}</div>
                            <div class="col-sm-4 "><b>Plan:</b> {{product.payment_method|bkStringReplacer}}</div>
                            <div class="col-sm-4 "><b>Remaining credit:</b> {{product.remaining_credit}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bk-layout-main>
