<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->

<bk-layout-main tabMenu="tariffs-tarrif" [title]="product?product.name:null">
    <div class="tabbable-line tabbable-full-width">
        <div class="portlet light bordered">
            <div *ngIf="product" class="row">
                <div class="col-md-12">
                    <div class="portlet portlet light bordered">
                        <div class="portlet-title">
                            <div class="becki-caption">
                                <span class="font-blue-dark"><i class="fa fa-fw fa-tachometer"></i>
                                    {{'title'|bkTranslate:this}} 
                                </span>
                            </div>
                            <div class="becki-actions">

                                <button title="{{'label_financial_product_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" (click)="onEditClick()">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <button *ngIf="product.active" title="{{'label_deactivate_product'|bkTranslate:this}}" class="btn btn-icon-only red" (click)="deactivateProduct()">
                                    <i class="fa fa-stop-circle"></i>
                                </button>
                                <button *ngIf="!product.active" title="{{'label_activate_product'|bkTranslate:this}}" class="btn btn-icon-only green" (click)="activateProduct()">
                                    <i class="fa fa-cloud-upload"></i>
                                </button>

                                <button *ngIf="product.payment_mode == 'per_credit'" class="btn blue" (click)="onAddCreditsClick()">
                                    <i class="fa fa-plus-circle"></i> {{'btn_add_credit'|bkTranslate:this}} 
                                </button>

                            </div>
                        </div>

                        <div *ngIf="product" class="row">

                            <div class="col-md-6">

                                <div>
                                    <H4>{{'label_core_details'|bkTranslate:this}}:</H4>
                                </div>

                                <div>
                                    {{'label_id_subscription'|bkTranslate:this}}:
                                    <span class="font-grey-mint bold">{{product.subscription_id}}</span>
                                </div>

                                <div>
                                    {{'label_plan'|bkTranslate:this}}:
                                    <span class="font-grey-mint bold">{{product.payment_method|bkStringReplacer}}</span>
                                </div>

                                <div>
                                    {{'label_status'|bkTranslate:this}} :
                                    <span *ngIf="product.active" class="font-green-jungle">{{'option_active'|bkTranslate:this}}</span>
                                    <span *ngIf="!product.active" class="font-red">{{'option_hibernation'|bkTranslate:this}}</span>
                                    <span *ngIf="!product.active" class="icon-hint-wraper red"> <i class="fa fa-exclamation-triangle font-red-mint"></i>
                                      <span class="hint">{{[product.active.toString()]|bkTranslate:this}}</span>
                                    </span>
                                </div>

                                <br><br>

                                <div>
                                    <H4>{{'label_financial_status'|bkTranslate:this}}:</H4>
                                </div>

                                <div>
                                    {{'label_remaining_credit'|bkTranslate:this}}:
                                    <span class="font-grey-mint bold">{{product.remaining_credit}}</span>
                                </div>



                            </div>

                            <div class="col-md-6">

                                <div>
                                    <H4>{{'label_other_details'|bkTranslate:this}}:</H4>
                                </div>

                                <div>
                                    {{'label_created'|bkTranslate:this}}:
                                    <span class="font-grey-mint bold">{{product.created|bkUnixTimeToDate}}</span>
                                </div>

                                <br><br>

                                <div>
                                    <H4>{{'label_contacts_details'|bkTranslate:this}}:</H4>
                                </div>

                                <div>
                                    {{'label_country'|bkTranslate:this}}:
                                    <span class="font-grey-mint bold">{{product.subscription_id}}</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bk-layout-main>