<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->

<bk-layout-main tabMenu="tariffs-tarrif" [title]="product?product.name:null">
    <div class="tabbable-line tabbable-full-width">
        <h3 class="title center-block"></h3>
        <div class="portlet light bordered">
            <div class="portlet-title tab able-line">
                <div class="becki-caption">
                    <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-database"></i>
                    Extensions
                </span>
                </div>
            </div>
            <div *ngIf="product" class="portlet-body">
                <div *ngIf="product.extensions" class="pricing-content-1">
                    <div *ngFor="let package of product.extensions" class="col-md-3 margin-bottom-15; text-center">
                        <div>
                            <div class="price-table-head bg-{{package.color|lowercase}}">
                                <h4 class="no-margin">{{package.name}}</h4>
                            </div>
                            <div class="arrow-down border-top-{{package.color|lowercase}}"></div>
                            <div class="price-table-pricing">
                                <h3 style="font-size: 50px; line-height: 50px;">{{package.price.USD}}$</h3>
                                <p class="font-grey-salt">Average monthly cost</p>
                            </div>
                            <div class="price-table-content">
                                <p class="font-grey-salt">{{package.description}}</p>
                            </div>
                            <div class="arrow-down arrow-grey"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!product.extensions" class="pricing-content-1">
                    <h3>No extensions</h3>
                </div>
            </div>
        </div>
    </div>
</bk-layout-main>