<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->

<bk-layout-main tabMenu="tariffs-tariff" [title]="product?product.name:null">
    <div class="tabbable-line tabbable-full-width">
        <h3 class="title center-block"></h3>
        <div class="portlet light bordered">
            <div class="portlet-title tab able-line">
           <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-bank"></i>
                    {{'title'|bkTranslate:this}}
                </span>
            </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <span class="font-red bg-yellow-lemon">TODO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bk-layout-main>
