<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->

<bk-layout-main tabMenu="tariffs-tariff" [title]="product?product.name:null">
    <div *ngIf="fullIvoice" class="tabbable-line tabbable-full-width">
        <h3 class="title center-block"></h3>
        <div class="portlet light bordered">
            <div class="portlet-title tab able-line">
                <div class="becki-caption">
                    <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-dollar"></i>
                    {{'title'|bkTranslate:this:fullIvoice.invoice.invoice_number}}
                </span>
                </div>
                <td class="no-wrap text-right actions">
                    <button title="{{'label_download_as_pdf'|bkTranslate:this}}" class="btn btn-circle btn-icon-only btn-default">
                        <i class=" fa  fa-file-pdf-o fa-2x"></i>
                    </button>
                    <button title="{{'label_send'|bkTranslate:this}}" class="btn btn-circle btn-icon-only btn-default">
                        <i class=" fa fa-paper-plane-o fa-2x"></i>
                    </button>
                </td>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-sm-6"><b>{{'label_id_subscription'|bkTranslate:this}}:</b> {{fullIvoice.invoice.id}}</div>
                            <div class="col-sm-6"><b>{{'label_payment_mode'|bkTranslate:this}}:</b> {{fullIvoice.invoice.payment_method}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6"><b>{{'label_status'|bkTranslate:this}}:</b> {{fullIvoice.invoice.payment_status}}</div>
                            <div class="col-sm-6"><b>{{'label_paid_in'|bkTranslate:this}}:</b> {{fullIvoice.invoice.created|bkUnixTimeToDate}}</div>
                        </div>
                        <br>
                        <div>
                            <div *ngIf="(fullIvoice.invoice_items && fullIvoice.invoice_items.length)" class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{'table_name'|bkTranslate:this}}</th>
                                            <th>{{'table_guid'|bkTranslate:this}}</th>
                                            <th>{{'table_billable_units'|bkTranslate:this}}</th>
                                            <th>{{'table_unite'|bkTranslate:this}}</th>
                                            <th>{{'table_total_cost'|bkTranslate:this}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of fullIvoice.invoice_items">
                                            <td>{{item.name}}</td>
                                            <td>{{item.unit_name}}</td>
                                            <td>{{item.quantity}}x</td>
                                            <td>{{item.vat_rate}} $ </td>
                                            <td>{{item.unit_price}} $</td>

                                        </tr>


                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>{{'label_total'|bkTranslate:this}}</strong></td>
                                            <td>{{getWholePrice()}} $</td>
                                            <!--TODO tyrion na Invoices vrací celkovou cenu -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bk-layout-main>
