<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->
<bk-layout-main tabMenu="tariffs-tarrif" [title]="'Financial'">
    <div class="tabbable-line tabbable-full-width">
        <h3 class="title center-block"></h3>
        <div class="portlet light bordered">
            <div class="portlet-title tab able-line">
                <div class="caption">
                    <i class="icon-bubbles font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Invoices:</span>
                </div>
                <div class="becki-actions">
                    <button *ngIf="product && product.payment_mode == 'per_credit'" class="btn blue" (click)="onAddCreditsClick()">
                        <i class="fa fa-plus-circle"></i> Add credits
                    </button>
                </div>
            </div>


        <div  *ngIf="(invoices && invoices.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Total cost</th>
                    <th>Time period</th>
                    <th>Paid</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let invoice of invoices">
                    <td class="no-wrap"><a (click)="onInvoiceClick(invoice)">{{invoice.invoice_number}}</a></td>
                    <td>{{invoice.id}}</td>
                    <td><span class="font-red bg-yellow-lemon">TODO</span> - <span class="font-red bg-yellow-lemon">TODO</span> </td>
                    <td><span *ngIf="!invoice.require_payment"><i class="  font-green-jungle fa fa-check "></i></span><span *ngIf="invoice.require_payment"><a (click)="onPayClick()">PAY</a></span></td>
                    <td class="no-wrap text-right">
                        <button (click)="onDownloadPDFClick(invoice)" title="Download as PDF" class="btn bg-yellow-lemon btn-icon-only white">
                            <i class=" fa fa-file-pdf-o"></i>
                        </button>
                        <button (click)="onSendClick()" title="Send" class="btn bg-yellow-lemon btn-icon-only white">
                            <i class=" fa fa-paper-plane-o"></i>
                        </button>
                        <button (click)="onPrintClick()" title="Print" class="btn bg-yellow-lemon btn-icon-only white">
                            <i class=" fa fa-print "></i>
                        </button>
                   <!--     <button (click)="onSettingsClick()" title="Settings" class="btn btn-icon-only white">
                            <i class=" fa fa-gears fa-2x"></i>
                        </button> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!invoices" class="text-center">Loading...</h3>
        <h3 *ngIf="invoice && invoices == 0" class="text-center">No invoice</h3>
    </div>
    </div>
</bk-layout-main>
