<!-- /*
 * © 2016 Becki Authors. See the AUTHORS file found in the top-level
 * directory of this distribution.
 */
 -->

<bk-layout-main *ngIf="product" tabMenu="tariffs-tarrif" [title]="product.product_individual_name">
    <div *ngIf="fullIvoice" class="tabbable-line tabbable-full-width">
        <h3 class="title center-block"></h3>
        <div class="portlet light bordered">
            <div class="portlet-title tab able-line">
                <div class="caption">
                    <i class="icon-bubbles font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">invoice:{{fullIvoice.invoice.invoice_number}}</span>
                </div>
                <td class="no-wrap text-right actions">
                    <button title="Download as PDF" class="btn btn-circle btn-icon-only btn-default">
                        <i class=" fa  fa-file-pdf-o fa-2x"></i>
                    </button>
                    <button title="Send" class="btn btn-circle btn-icon-only btn-default">
                        <i class=" fa fa-paper-plane-o fa-2x"></i>
                    </button>
                    <button title="Print" class="btn btn-circle btn-icon-only btn-default">
                        <i class=" fa fa-print fa-2x"></i>
                    </button>
               <!--     <button title="Settings" class="btn btn-circle btn-icon-only btn-default">
                        <i class=" fa fa-gears fa-2x"></i>
                    </button> -->
                </td>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-sm-6"><b>ID Subscription:</b> {{fullIvoice.invoice.id}}</div>
                            <div class="col-sm-6"><b>Payment Mode:</b> {{fullIvoice.invoice.payment_method}}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6"><b>Status:</b> {{fullIvoice.invoice.payment_status}}</div>
                            <div class="col-sm-6"><b>Paid in:</b> {{fullIvoice.invoice.date_of_create|bkUnixTimeToDate}}</div>
                        </div>
                        <br>
                        <div>
                            <div  *ngIf="(fullIvoice.invoice_items && fullIvoice.invoice_items.length)" class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>GUID</th>
                                        <th>Billable units</th>
                                        <th>Unite</th>
                                        <th>Total cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of fullIvoice.invoice_items">
                                        <td>{{item.name}}</td>
                                        <td>{{item.unit_name}}</td>
                                        <td>{{item.quantity}}x</td>
                                        <td>{{item.vat_rate}} $ </td>
                                        <td>{{item.unit_price}} $</td>

                                    </tr>


                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Total</strong></td>
                                        <td>{{getWholePrice()}} $</td> <!--TODO tyrion na Invoices vrací celkovou cenu -->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bk-layout-main>
