<bk-layout-main

    [tabMenu]="'byzance-admin'"
    [title]="'main_title'|bkTranslate:this"
    [subtitle]="'main_subtitle'|bkTranslate:this">

    <div class="row">
        <div class="col-md-12">
            <div *ngIf="garfield" class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-fire"></i>
                              {{garfield.name}}
                        </span>
                    </div>
                    <div class="becki-actions">
                        <button title="{{'label_create_garfield'|bkTranslate:this}}" class="btn btn-icon-only blue"
                                [disabled]="false"
                                (click)="onEditGarfield()">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="{{'label_create_garfield'|bkTranslate:this}}" class="btn btn-icon-only red"
                                [disabled]="false"
                                (click)="onDeleteGarfield()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="m-heading-1 border-blue m-bordered">
                        <p>{{'label_general_description'|bkTranslate:this}}</p>
                    </div>
                    <div class="row">
                        <div class="col col-lg-3">
                            <div>
                                <strong>{{'label_name'|bkTranslate:this}}:</strong> {{garfield.name}}
                            </div>
                            <div>
                                <strong>{{'label_description'|bkTranslate:this}}:</strong> {{garfield.description}}
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div *ngIf="hardwareType">
                                <strong>{{'label_hardware_type'|bkTranslate:this}}:</strong>
                                <a [routerLink]="['/hardware', hardwareType.id]" class="bold">{{hardwareType.name}}</a>
                            </div>
                            <div *ngIf="hardwareType">
                                <strong>{{'label_producer'|bkTranslate:this}}:</strong>
                                <a [routerLink]="['/producers', garfield.producer.id]" class="bold">{{garfield.producer.name}}</a>
                            </div>
                            <br>
                            <div *ngIf="firmwareTestMainVersion">
                                <strong>{{'label_main_test_version'|bkTranslate:this}}:</strong>
                                <a [routerLink]="['/admin/hardware/code', hardwareType.main_test_c_program.id]" class="bold">{{firmwareTestMainVersion.version_name}}</a>
                            </div>
                            <div *ngIf="firmwareMainVersion">
                                <strong>{{'label_main_version'|bkTranslate:this}}:</strong>
                                <a [routerLink]="['/admin/hardware/code', hardwareType.main_c_program.id]" class="bold">{{firmwareMainVersion.version_name}}</a>
                            </div>
                            <div *ngIf="bootLoader">
                                <strong>{{'label_main_bootloader'|bkTranslate:this}}:</strong>
                                <a [routerLink]="['/hardware', hardwareType.id]" class="bold">{{bootLoader.version_identifier}}</a>
                            </div>

                        </div>
                        <div class="col col-lg-6">

                            <div *ngIf="printer_label_1">
                                <strong>{{'label_printer_label_1'|bkTranslate:this}}:</strong> {{printer_label_1.name}} ({{printer_label_1.id}})
                            </div>
                            <div *ngIf="!printer_label_1">
                                <strong>{{'label_printer_label_1'|bkTranslate:this}}:</strong> {{garfield.print_label_id_1}} <span class="font-red-flamingo">{{'label_printer_not_found'|bkTranslate:this}}</span>
                            </div>


                            <div *ngIf="printer_label_2">
                                <strong>{{'label_printer_label_2'|bkTranslate:this}}:</strong> {{printer_label_2.name}} ({{printer_label_2.id}})
                            </div>
                            <div *ngIf="!printer_label_2">
                                <strong>{{'label_printer_label_2'|bkTranslate:this}}:</strong> {{garfield.print_label_id_2}} <span class="font-red-flamingo">{{'label_printer_not_found'|bkTranslate:this}}</span>
                            </div>

                            <div *ngIf="print_sticker">
                                <strong>{{'label_print_sticker'|bkTranslate:this}}:</strong> {{print_sticker.name}} ({{print_sticker.id}})
                            </div>
                            <div *ngIf="!print_sticker">
                                <strong>{{'label_print_sticker'|bkTranslate:this}}:</strong> {{garfield.print_sticker_id}} <span class="font-red-flamingo">{{'label_printer_not_found'|bkTranslate:this}}</span>
                            </div>

                            <br>
                            <div>
                                <strong>{{'label_hardware_tester'|bkTranslate:this}}:</strong> {{garfield.hardware_tester_id}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div *ngIf="garfield" class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark" *ngIf="garfield && hardwareType && firmwareTestMainVersion && bootLoader && firmwareMainVersion && printer_label_1 &&  printer_label_2 && print_sticker && garfieldTesterConnected
                                && mainServer && backupServer && mainServer && backupServer">
                            <i class="fa fa-fw fa-check"></i>
                              {{'label_prerequisites'|bkTranslate:this}}
                        </span>
                        <span class="font-blue-dark" *ngIf="!(garfield && hardwareType && firmwareTestMainVersion && bootLoader && firmwareMainVersion && printer_label_1 &&  printer_label_2 && print_sticker && garfieldTesterConnected
                                && mainServer && backupServer && mainServer && backupServer)">
                            <i class="fa fa-fw fa-exclamation-triangle"></i>
                              {{'label_prerequisites_not_complete'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col col-lg-3">
                            <h4 *ngIf="!firmwareTestMainVersion || !firmwareTestMainVersion || !bootLoader" class="font-red-flamingo"><i class="fa fa-code"></i> {{'label_c_programs'|bkTranslate:this}}</h4>
                            <h4 *ngIf="firmwareTestMainVersion && firmwareTestMainVersion && bootLoader"   class="font-green-jungle"><i class="fa fa-code"></i> {{'label_c_programs'|bkTranslate:this}}</h4>
                            <div>
                                <strong>{{'label_default_firmware'|bkTranslate:this}}</strong>
                                <span *ngIf="!firmwareMainVersion" class="font-red-flamingo bold">
                                    (Not set!) <i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="firmwareMainVersion" class="font-green-jungle bold">
                                    (Set) <i class="fa  fa-check"></i>
                                </span>
                            </div>
                            <hr>
                            <div>
                                <strong>{{'label_test_firmware'|bkTranslate:this}}</strong>
                                <span *ngIf="!firmwareTestMainVersion" class="font-red-flamingo bold">
                                    (Not set!) <i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="firmwareTestMainVersion" class="font-green-jungle bold">
                                    (Set) <i class="fa  fa-check"></i>
                                </span>
                            </div>
                            <hr>
                            <div>
                                <strong>{{'label_main_bootloader'|bkTranslate:this}}</strong>
                                <span *ngIf="!bootLoader" class="font-red-flamingo bold">
                                    (Not set!) <i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="bootLoader" class="font-green-jungle bold">
                                    (Set) <i class="fa  fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col col-lg-3">
                            <h4 *ngIf="!printer_label_1 || !printer_label_2 || !print_sticker" class="font-red-flamingo"><i class="fa fa-print"></i> {{'label_printers'|bkTranslate:this}}</h4>
                            <h4 *ngIf="printer_label_1 && printer_label_2 && print_sticker"  class="font-green-jungle"><i class="fa fa-print"></i> {{'label_printers'|bkTranslate:this}}</h4>
                            <div>
                                <strong>{{'label_printer_label_1'|bkTranslate:this}}</strong>
                                <span *ngIf="!printer_label_1" class="font-red-flamingo bold">
                                    {{'label_printers_not_valid'|bkTranslate:this}} <i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="printer_label_1">
                                    <span *ngIf="printer_label_1.state =='ONLINE'" class="font-green-jungle bold">(Online) <i class="fa  fa-check"></i></span>
                                    <span *ngIf="printer_label_1.state !='ONLINE'" class="font-red-flamingo bold">(Offline) <i class="fa fa-times"></i></span>
                                    <i class="fa fa-print font-green-jungle cursor-hand" (click)="onTestPrinter(printer_label_1.id)"></i>
                                </span>
                            </div>
                            <hr>
                            <div>
                                <strong>{{'label_printer_label_2'|bkTranslate:this}}</strong>
                                <span *ngIf="!printer_label_2" class="font-red-flamingo bold">
                                    {{'label_printers_not_valid'|bkTranslate:this}}<i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="printer_label_2">
                                    <span *ngIf="printer_label_2.state =='ONLINE'" class="font-green-jungle bold">(Online) <i class="fa fa-check"></i></span>
                                    <span *ngIf="printer_label_2.state !='ONLINE'" class="font-red-flamingo bold">(Offline) <i class="fa fa-times"></i></span>
                                    <i  class="fa fa-print font-green-jungle cursor-hand" (click)="onTestPrinter(printer_label_2.id)"></i>
                                </span>
                            </div>
                            <hr>
                            <div>
                                <strong>{{'label_print_sticker'|bkTranslate:this}}</strong>
                                <span *ngIf="!print_sticker" class="font-red-flamingo bold">
                                    {{'label_printers_not_valid'|bkTranslate:this}}<i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="print_sticker">
                                    <span *ngIf="print_sticker.state =='ONLINE'" class="font-green-jungle bold">(Online) <i class="fa fa-check"></i></span>
                                    <span *ngIf="print_sticker.state =='!online'" class="font-red-flamingo bold">(Offline) <i class="fa fa-times"></i></span>
                                    <i class="fa fa-print font-green-jungle cursor-hand" (click)="onTestPrinter(print_sticker.id)"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col col-lg-3">
                            <h4 *ngIf="!garfieldAppConnected || !garfieldTesterConnected" class="font-red-flamingo"><i class="fa fa-fire"></i> {{'label_garfield_desktop'|bkTranslate:this}}</h4>
                            <h4 *ngIf="garfieldAppConnected && garfieldTesterConnected" class="font-green-jungle"><i class="fa fa-fire"></i> {{'label_garfield_desktop'|bkTranslate:this}}</h4>
                            <div>
                                <strong>{{'label_garfield_app'|bkTranslate:this}}</strong>
                                <span *ngIf="!garfieldAppConnected" class="font-red-flamingo bold">
                                    (Not connected!) <i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="garfieldAppConnected" class="font-green-jungle bold">
                                    (Connected) <i class="fa  fa-check"></i>
                                </span>
                            </div>
                            <hr>
                            <div>
                                <strong>{{'label_garfield_tester'|bkTranslate:this}}</strong>
                                <span *ngIf="!garfieldTesterConnected" class="font-red-flamingo bold">
                                    (Not connected!) <i class="fa fa-times"></i>
                                </span>
                                <span *ngIf="garfieldTesterConnected" class="font-green-jungle bold">
                                    (Connected) <i class="fa  fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col col-lg-3">
                            <h4 *ngIf="!mainServer || !backupServer || mainServer.online_state != 'ONLINE' || backupServer.online_state != 'ONLINE' " class="font-red-flamingo"><i class="fa fa-server"></i> {{'label_server_settings'|bkTranslate:this}}</h4>
                            <h4 *ngIf="mainServer && backupServer && mainServer.online_state == 'ONLINE' && backupServer.online_state == 'ONLINE' " class="font-green-jungle"><i class="fa fa-server"></i> {{'label_server_settings'|bkTranslate:this}}</h4>
                            <div>
                                <strong>{{'label_main_server'|bkTranslate:this}}</strong>
                                <span *ngIf="!mainServer" class="font-red-flamingo">
                                    ({{'label_server_not_set'|bkTranslate:this}})
                                </span>
                                <span *ngIf="mainServer" style="margin-left: 4px">
                                    <span class="font-red-flamingo">
                                        {{mainServer.personal_server_name}}
                                    </span>
                                    <span *ngIf="mainServer.online_state == 'ONLINE'" class="font-green-jungle bold">(Online) <i class="fa  fa-check"></i></span>
                                    <span *ngIf="mainServer.online_state != 'ONLINE'" class="font-red-flamingo bold">(Offline) <i class="fa fa-times"></i></span>
                                    <i  class="fa fa-server font-blue-dark cursor-hand" [routerLink]="['/server/homer', mainServer.id]"></i>
                                </span>
                            </div>
                            <hr>
                            <div>
                                <strong>{{'label_backup_server'|bkTranslate:this}}</strong>
                                <span *ngIf="!backupServer" class="font-red-flamingo">
                                    ({{'label_server_not_set'|bkTranslate:this}})
                                </span>
                                <span *ngIf="backupServer" style="margin-left: 4px">
                                    <span class="font-red-flamingo">
                                        {{backupServer.personal_server_name}}
                                    </span>
                                    <span *ngIf="backupServer.online_state == 'ONLINE'" class="font-green-jungle bold">(Online) <i class="fa  fa-check"></i></span>
                                    <span *ngIf="backupServer.online_state != 'ONLINE'" class="font-red-flamingo bold">(Offline) <i class="fa fa-times"></i></span>
                                    <i  class="fa fa-server font-blue-dark cursor-hand" [routerLink]="['/server/homer', backupServer.id]"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div *ngIf="garfield" class="portlet light bordered">
                <div class="portlet-title">
                    <div *ngIf="productionBatchForm" class="becki-caption">
                        <span *ngIf="productionBatchForm.valid" class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-wrench"></i>
                            {{'label_burn_settings'|bkTranslate:this}}
                        </span>
                        <span *ngIf="!productionBatchForm.valid" class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-wrench"></i>
                            {{'label_burn_settings_incomplete'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form [formGroup]="productionBatchForm">
                        <bk-form-select [control]="productionBatchForm.controls['batch']" [label]="'label_producer'|bkTranslate:this" [options]="batchOptions"></bk-form-select>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="garfield" class="row">
        <div class="col-md-4">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-wrench"></i>
                            {{'label_config'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div style="text-align: center">
                        <bk-form-nice-json maxWidth="100%" [description]="'Config Json'" [control]="formConfigJson.controls['config']" [cols]="75" [row]="10" [readonly]="false"></bk-form-nice-json>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-wrench"></i>
                            {{'label_test_config'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div style="text-align: center">
                        <bk-form-nice-json maxWidth="100%" [description]="'Test config Json'" [control]="formConfigJson.controls['test_config']" [cols]="75" [row]="10" [readonly]="false" [content]="testConfig"></bk-form-nice-json>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-terminal"></i>
                            {{'label_console'|bkTranslate:this}}
                        </span>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn default red" (click)="onClearConsoleClick()">
                            <i class="fa fa-trash-o"></i> {{'btn_clear'|bkTranslate:this}}
                        </button>
                    </div>
                </div>
                <div class="padding-20">
                    <bk-console-log maxHeight="200px"></bk-console-log>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!(garfield && hardwareType && bootLoader && printer_label_1 && printer_label_2 && print_sticker && garfieldTesterConnected  && bootLoader.file_path && mainServer&& backupServer && productionBatchForm.valid)" class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="text-center font-red-flamingo">
                        <h3>{{'label_prerequisites_not_met'|bkTranslate:this}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="(garfield && hardwareType && bootLoader && printer_label_1 && printer_label_2 && print_sticker && garfieldTesterConnected  && bootLoader.file_path && mainServer && backupServer && productionBatchForm.valid)" class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="mt-element-step">
                        <div class="row step-line">

                            <div class="col-md-2 mt-step-col first" [class.done]="mainStep > 1" [class.active]="mainStep == 1">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-bars"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_one_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_one_text'|bkTranslate:this}}</div>
                            </div>

                            <div class="col-md-2 mt-step-col" [class.error]="(mainStep == 3 || mainStep == 4) && (errorStep == 3 || errorStep == 4)" [class.done]="mainStep > 3 && (errorStep != 3 || errorStep != 4)" [class.active]="mainStep == 3 && (errorStep != 3 || errorStep != 4)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_two_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_two_text'|bkTranslate:this}}</div>
                            </div>

                            <div class="col-md-2 mt-step-col" [class.error]="(mainStep == 5 || mainStep == 6) && (errorStep == 5 || errorStep == 6)" [class.done]="mainStep > 5 && (errorStep != 5 || errorStep != 6)" [class.active]="mainStep == 5  && (errorStep != 5 || errorStep != 6)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-pencil-square-o"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_three_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_three_text'|bkTranslate:this}}</div>
                            </div>

                            <div class="col-md-2 mt-step-col" [class.error]="(mainStep == 7 || mainStep == 8) && (errorStep == 7 || errorStep == 8)" [class.done]="mainStep > 7  && (errorStep != 7 || errorStep != 8)" [class.active]="mainStep == 7  && (errorStep != 7 || errorStep != 8)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-flag-checkered"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_four_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_four_text'|bkTranslate:this}}</div>
                            </div>

                            <div class="col-md-2 mt-step-col" [class.error]="(mainStep == 9 || mainStep == 10) && (errorStep == 9 || errorStep == 10)" [class.done]="mainStep > 9 && (errorStep != 9 || errorStep != 10)" [class.active]="mainStep == 9  && (errorStep != 9 || errorStep != 10)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-flag-checkered"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_five_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_five_text'|bkTranslate:this}}</div>
                            </div>

                            <div class="col-md-2 mt-step-col last" [class.error]="(mainStep == 11 || mainStep == 12) && (errorStep == 11 || errorStep == 12)" [class.done]="mainStep > 11 && (errorStep != 11 || errorStep != 12)" [class.active]="mainStep == 11  && (errorStep != 11 || errorStep != 12)">
                                <div class="mt-step-number bg-white font-grey">
                                    <i class="fa fa-flag-checkered"></i>
                                </div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{'nav_step_six_title'|bkTranslate:this}}</div>
                                <div class="mt-step-content font-grey-cascade">{{'nav_step_six_text'|bkTranslate:this}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
