<bk-layout-main
    [tabMenu]="'byzance-admin'"
    [title]="'main_title'|bkTranslate:this"
    [subtitle]="'main_subtitle'|bkTranslate:this">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-tachometer'"
        (onClick)="onPortletClick($event)"
        [btns]="[
             {
                  condition: (true),
                  btn_label_for_person: ('btn_create'|bkTranslate:this),
                  icon: 'fa-cog',
                  permission: (project && project.update_permission),
                  colorType: 'CREATE',
                  btn_tag: 'create'
             }
            ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <!-- Page Content -- START -->
    <div class="portlet-body">

        <div *ngIf="(garfield_s && garfield_s.length)" class="table-scrollable table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light byzance-table">
                <thead>
                <tr>
                    <th>{{'label_name'|bkTranslate:this}}</th>
                    <th>{{'label_type_of_board'|bkTranslate:this}}</th>
                    <th>{{'label_producer'|bkTranslate:this}}</th>
                    <th>{{'label_test_kit_id'|bkTranslate:this}}</th>
                    <th class="text-right">{{'label_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let garfield of garfield_s">
                    <td class="vert-align no-wrap">
                        <a (click)="onGarfieldClick(garfield.id)" class="no-wrap"><strong>{{garfield.name}}</strong></a>
                    </td>
                    <td class="vert-align no-wrap">
                        <a (click)="onHardwareTypeClick(garfield.hardware_type.id)" class="no-wrap"><strong>{{garfield.hardware_type.name}}</strong></a>
                    </td>
                    <td class="vert-align no-wrap">
                        <a (click)="onProducerClick(garfield.producer)" class="no-wrap"><strong>{{garfield.producer.name}}</strong></a>
                    </td>

                    <td class="vert-align no-wrap">{{garfield.hardware_tester_id}}</td>

                    <td class="vert-align text-right no-wrap">
                        <style type="text/css">
                            table tr button { opacity:0.05;}
                            table tr:hover button { opacity:1 }
                        </style>
                        <button title="{{'label_garfield_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!garfield.update_permission" (click)="onEditGarfield(garfield)">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="{{'label_garfield_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!garfield.delete_permission" (click)="onDeleteGarfield(garfield)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <bk-nothing-to-show [condition_loading]="(garfield_s == null)"
                            [condition_empty]="(garfield_s != null && garfield_s.length == 0)"
                            [main_message_link]="'label_no_garfield_s'|bkTranslate:this"
                            [main_message_comment_link]="'label_no_garfield_s_comment'|bkTranslate:this"
                            [btn_label]="'btn_create'|bkTranslate:this"
                            (onButtonClick)="onCreateGarfield()">
        </bk-nothing-to-show>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->

    </div>

</bk-layout-main>
