<bk-layout-main
        [tabMenu]="hardwareType != null ? (hardwareType.update_permission? 'byzance-admin' : '') : null"
        [title]="hardwareType != null ? ( hardwareType.update_permission ? ('main_administration_title'|bkTranslate:this) : ('main_title'|bkTranslate:this)) : null"
        [subtitle]="hardwareType != null ? ( hardwareType.update_permission ? ('main_subtitle'|bkTranslate:this) : ( hardwareType ? hardwareType.name: '') ) : null"
        [lastBreadName]="hardwareType?hardwareType.name:''"
        >
    <div *ngIf="hardwareType" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-microchip"></i>
                    {{hardwareType.name}}
                </span>
            </div>
            <div *ngIf="hardwareType && hardwareType.update_permission" class="becki-actions">

                <button title="{{'label_type_of_boards_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!hardwareType.update_permission"
                        (click)="onEditClick()">
                    <i class="fa fa-cog"></i>
                </button>
                <button title="{{'label_type_of_boards_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!hardwareType.delete_permission"
                        (click)="onRemoveClick()">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    {{'label_name'|bkTranslate:this}}:
                    <span class="font-color-neutral-dark bold">{{hardwareType.name}}</span>
                </div>
                <div>
                    {{'label_description'|bkTranslate:this}}:
                    <span class="font-color-neutral-dark bold">{{hardwareType.description}}</span>
                </div>
                <div>
                    {{'label_producer'|bkTranslate:this}}:
                    <a [routerLink]="['/producers', hardwareType.producer_id]" class="bold">{{hardwareType.producer_name}}</a>
                </div>
                <div>
                    {{'label_processor'|bkTranslate:this}}:
                    <span class="font-color-neutral-dark bold">{{hardwareType.processor_name}}</span>
                </div>
                <div>
                    {{'label_target_name'|bkTranslate:this}}:
                    <span class="font-color-neutral-dark bold">{{hardwareType.compiler_target_name}}</span>
                </div>
                <div>
                    {{'label_abilities'|bkTranslate:this}}:<br>
                    <div *ngIf="hardwareType.compiler_target_name == 'BYZANCE_YODAG2'">
                        &nbsp;<i class="fa fa-fw fa-plug" title="Ethernet"></i> {{'label_ethernet'|bkTranslate:this}}<br>
                        &nbsp;<i class="fa fa-fw fa-wifi" title="Wi-Fi"></i> {{'label_wifi'|bkTranslate:this}}<br>
                    </div>
                    <div *ngIf="hardwareType.compiler_target_name == 'BYZANCE_YODAG3E'">
                        &nbsp;<i class="fa fa-fw fa-plug" title="Ethernet"></i> {{'text_ethernet_with_poe'|bkTranslate:this}}<br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hw-image-col">
                <img *ngIf="hardwareType.picture_link" [attr.src]="hardwareType.picture_link">
                <i *ngIf="!hardwareType.picture_link" class="fa fa-fw fa-microchip text-center"></i>

                <p *ngIf="hardwareType.update_permission" class="text-center"><a (click)="updatePictureClick()" class="bold">{{'label_set_own_picture'|bkTranslate:this}}</a></p>
            </div>
        </div>
    </div>



    <!-- Only with permission -->
    <div *ngIf="hardwareType && hardwareType.bootloader_update_permission" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-code"></i>
                      {{'label_bootloader_settings'|bkTranslate:this}}:
                </span>
            </div>
            <div class="becki-actions">

                <button title="{{'label_bootloader_create_description'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!hardwareType.bootloader_update_permission"
                        (click)="onCreateBootloaderClick()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div>
            <div>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col col-lg-1 center-align ">{{'table_id'|bkTranslate:this}}</th>
                            <th></th>
                            <th class="col col-lg-2 center-align ">{{'table_name'|bkTranslate:this}}</th>
                            <th class="col col-lg-2 center-align ">{{'table_identifier'|bkTranslate:this}}</th>
                            <th class="col col-lg-3 center-align ">{{'table_description'|bkTranslate:this}}</th>
                            <th class="col col-lg-3 center-align ">{{'table_change_notes'|bkTranslate:this}}</th>
                            <th class="col col-lg-2 center-align text-right">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bootloader of hardwareType.boot_loaders">
                            <td class="vert-align no-wrap"><strong>{{bootloader.id.substr(0,8)}}</strong> </td>
                            <!-- Main Mark - Only for settings for Type of Board -->
                            <td class="vert-align">
                                 <span class="icon-hint-wraper green" *ngIf="bootloader.main_bootloader">
                                        <i class="fa fa-lg fa-flag font-green-jungle"></i>
                                        <span class="hint">{{'main_version'|bkTranslateTable:this:'version_status'}}</span>
                                </span>
                            </td>
                            <td class="vert-align no-wrap">{{bootloader.name}}</td>
                            <td class="vert-align no-wrap">{{bootloader.version_identifier}}</td>
                            <td class="vert-align no-wrap">{{bootloader.description.substr(0, 32)}}<span *ngIf="bootloader.description.length > 32">...</span></td>
                            <td class="vert-align no-wrap">{{bootloader.changing_note.substr(0, 32)}}<span *ngIf="bootloader.changing_note.length > 32">...</span></td>

                            <td class="vert-align text-right no-wrap">
                                <style type="text/css">
                                    table tr button { opacity:0.05;}
                                    table tr:hover button { opacity:1 }
                                </style>


                                <a *ngIf="bootloader.file_path" href="{{bootloader.file_path}}">
                                    <button title="{{'label_bootloader_download_file'|bkTranslate:this}}" class="btn btn-icon-only blue">
                                        <i class="fa fa-cloud-download"></i>
                                    </button>
                                </a>

                                <button *ngIf="hardwareType.bootloader_update_permission" title="{{'label_type_of_board_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" (click)="onBootloaderEditClick(bootloader)">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <button *ngIf="hardwareType.bootloader_update_permission && !bootloader.main_bootloader && bootloader.file_path" title="{{'label_bootloader_set_as_main'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!bootloader.update_permission" (click)="onBootloaderSetMainClick(bootloader)">
                                    <i class="fa fa-flag"></i>
                                </button>
                                <button *ngIf="hardwareType.bootloader_update_permission && !bootloader.file_path" title="{{'label_bootloader_upload_file'|bkTranslate:this}}" class="btn btn-icon-only orange" [disabled]="!bootloader.update_permission" (click)="onBootloaderUpdateFile(bootloader)">
                                    <i class="fa fa-file-code-o"></i>
                                </button>
                                <button *ngIf="hardwareType.bootloader_update_permission" title="{{'label_bootloader_remove'|bkTranslate:this}}" class="btn btn-icon-only red" (click)="onBootloaderDeleteClick(bootloader)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3  *ngIf="!hardwareType.boot_loaders" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
            <div *ngIf="hardwareType.boot_loaders && hardwareType.boot_loaders.length == 0 " class="list-no-items">
                <p class="list-no-items__main-label">{{'label_no_bootloaders'|bkTranslate:this}}</p>
                <p class="list-no-items__sub-label">{{'label_no_bootloaders_comment'|bkTranslate:this}} </p>
                <p>
                    <button *ngIf="hardwareType.bootloader_update_permission" class="btn blue" (click)="onCreateBootloaderClick()">
                        <i class="fa fa-plus-circle"></i> {{'btn_create_bootloader'|bkTranslate:this}}
                    </button>
                </p>
            </div>
        </div>
    </div>

    <!-- Only with permission Main C Program -->
    <div *ngIf="hardwareType && hardwareType.default_c_program_update_permission" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-code"></i>
                      {{'label_default_c_program_setting'|bkTranslate:this}}:
                </span>
            </div>
            <div class="becki-actions">

                <button title="{{'label_type_of_boards_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!hardwareType.default_c_program_update_permission"
                        [routerLink]="[hardwareType.main_test_c_program.id]">
                    <i class="fa fa-plus"></i>
                </button>
                <button title="{{'label_type_of_boards_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!hardwareType.default_c_program_update_permission"
                        (click)="onCProgramEditClick(hardwareType.main_c_program)">
                    <i class="fa fa-cog"></i>
                </button>
            </div>
        </div>
        <div>
            <div>
                {{'label_name'|bkTranslate:this}}:
                <span class="font-color-neutral-dark bold">{{hardwareType.main_c_program.name}}</span>
            </div>
            <div>
                {{'label_description'|bkTranslate:this}}:
                <span class="font-color-neutral-dark bold">{{hardwareType.main_c_program.description}}</span>
            </div>

            <div *ngIf="(hardwareType && hardwareType.main_c_program.program_versions.length)">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                        <th></th>
                        <th class="col col-lg-6">{{'table_description'|bkTranslate:this}}</th>
                        <th class="col col-lg-1">{{'table_author'|bkTranslate:this}}</th>
                        <th class="col col-lg-1">{{'table_status'|bkTranslate:this}}</th>
                        <th class="col col-lg-1 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let version of hardwareType.main_c_program.program_versions">
                        <!-- NAME -->
                        <td class="vert-align bold">
                            <a [routerLink]="[hardwareType.main_c_program.id]">
                                {{version.name}}
                            </a>
                        </td>
                        <!-- Main Mark - Only for settings for Type of Board -->
                        <td class="vert-align">
                             <span class="icon-hint-wraper green" *ngIf="version.main_mark">
                                    <i class="fa fa-lg fa-flag font-green-jungle"></i>
                                    <span class="hint">{{'main_version'|bkTranslateTable:this:'version_status'}}</span>
                            </span>
                        </td>
                        <!-- Description -->
                        <td class="vert-align">
                            {{version.version_description}}
                        </td>
                        <!-- Author -->
                        <td class="vert-align">
                            {{version.author.nick_name}}
                        </td>
                        <!-- STATUS -->
                        <td class="vert-align">
                            <bk-compilation-status-component [status]="version.status"></bk-compilation-status-component>
                        </td>

                        <!-- ACTIONS -->
                        <td class="vert-align text-right no-wrap">
                            <style type="text/css">
                                table tr button {
                                    opacity: 0.05;
                                }

                                table tr:hover button {
                                    opacity: 1
                                }
                            </style>

                            <button title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!version.update_permission"
                                    (click)="onEditVersionClick(version)">
                                <i class="fa fa-cog"></i>
                            </button>

                            <button *ngIf="version.status=='successfully_compiled_and_restored' && !version.main_mark" title="{{'label_main_c_program_version_set_as_main'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!hardwareType.update_permission" (click)="onCProgramDefaultSetMainClick(version)">
                                <i class="fa fa-flag"></i>
                            </button>

                            <button title="{{'label_remove_version'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!version.delete_permission"
                                    (click)="onRemoveVersionClick(version)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 *ngIf="!hardwareType.main_c_program" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
            <div *ngIf="hardwareType.main_c_program.program_versions && hardwareType.main_c_program.program_versions == 0" class="list-no-items">
                <p class="list-no-items__main-label">{{'label_no_c_program_versions'|bkTranslate:this}}</p>
                <p class="list-no-items__sub-label">{{'label_no_c_program_versions_comment'|bkTranslate:this}} </p>
                <p>
                    <button class="btn blue" [routerLink]="[hardwareType.main_c_program.id]">
                        <i class="fa fa-plus-circle"></i> {{'btn_create_c_program_version'|bkTranslate:this}}
                    </button>
                </p>
            </div>
        </div>
    </div>

    <!-- Only with permission Main Test C Program -->
    <div *ngIf="hardwareType && hardwareType.test_c_program_update_permission" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-code"></i>
                      {{'label_default_test_c_program_setting'|bkTranslate:this}}:
                </span>
            </div>
            <div class="becki-actions">
                <button title="{{'label_type_of_boards_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!hardwareType.test_c_program_update_permission"
                        [routerLink]="[hardwareType.main_test_c_program.id]">
                    <i class="fa fa-plus"></i>
                </button>
                <button title="{{'label_type_of_boards_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!hardwareType.test_c_program_update_permission"
                        (click)="onCProgramEditClick(hardwareType.main_test_c_program)">
                    <i class="fa fa-cog"></i>
                </button>
            </div>
        </div>
        <div>
            <div>
                {{'label_name'|bkTranslate:this}}:
                <span class="font-color-neutral-dark bold">{{hardwareType.main_test_c_program.name}}</span>
            </div>
            <div>
                {{'label_description'|bkTranslate:this}}:
                <span class="font-color-neutral-dark bold">{{hardwareType.main_test_c_program.description}}</span>
            </div>

            <div *ngIf="(hardwareType && hardwareType.main_test_c_program.program_versions.length)">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                        <th></th>
                        <th class="col col-lg-6">{{'table_description'|bkTranslate:this}}</th>
                        <th class="col col-lg-1">{{'table_author'|bkTranslate:this}}</th>
                        <th class="col col-lg-1">{{'table_status'|bkTranslate:this}}</th>
                        <th class="col col-lg-1 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let version of hardwareType.main_test_c_program.program_versions">
                        <!-- NAME -->
                        <td class="vert-align bold">
                            <a [routerLink]="[hardwareType.main_test_c_program.id]">
                                {{version.name}}
                            </a>
                        </td>
                        <!-- Main Mark - Only for settings for Type of Board -->
                        <td class="vert-align">
                             <span class="icon-hint-wraper green" *ngIf="version.main_mark">
                                    <i class="fa fa-lg fa-flag font-green-jungle"></i>
                                    <span class="hint">{{'main_version'|bkTranslateTable:this:'version_status'}}</span>
                            </span>
                        </td>
                        <!-- Description -->
                        <td class="vert-align">
                            {{version.version_description}}
                        </td>
                        <!-- Author -->
                        <td class="vert-align">
                            {{version.author.nick_name}}
                        </td>
                        <!-- STATUS -->
                        <td class="vert-align">

                            <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                    <i class="fa fa-exclamation-triangle font-red-mint"></i>
                                </span>
                            <span class="icon-hint-wraper orange" *ngIf="version.status=='compiled_with_code_errors'">
                                    <i class="fa fa-thumbs-down font-yellow"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                            </span>

                            <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                    <i class="fa fa-heartbeat font-red-mint"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                            </span>

                            <span class="icon-hint-wraper orange" *ngIf="version.status=='server_was_offline' || version.status=='successfully_compiled_not_restored' || version.status=='undefined' || version.status=='file_with_code_not_found' || version.status=='compilation_server_error' || version.status=='json_code_is_broken'">
                                    <i class="fa fa-npm wrench font-yellow"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                            </span>

                            <span class="icon-hint-wraper gray" *ngIf="version.status=='compilation_in_progress'">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                            </span>

                            <span class="icon-hint-wraper green" *ngIf="version.status=='successfully_compiled_and_restored'">
                                    <i class="fa fa-check font-green-jungle"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                            </span>
                        </td>

                        <!-- ACTIONS -->
                        <td class="vert-align text-right no-wrap">
                            <style type="text/css">
                                table tr button {
                                    opacity: 0.05;
                                }

                                table tr:hover button {
                                    opacity: 1
                                }
                            </style>

                            <button title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!version.update_permission"
                                    (click)="onEditVersionClick(version)">
                                <i class="fa fa-cog"></i>
                            </button>

                            <button *ngIf="version.status=='successfully_compiled_and_restored' && !version.main_mark" title="{{'label_main_c_program_version_set_as_main'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!hardwareType.update_permission" (click)="onCProgramDefaultSetMainClick(version)">
                                <i class="fa fa-flag"></i>
                            </button>

                            <button title="{{'label_remove_version'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!version.delete_permission"
                                    (click)="onRemoveVersionClick(version)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 *ngIf="!hardwareType.main_test_c_program" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
            <div *ngIf="hardwareType.main_test_c_program.program_versions && hardwareType.main_test_c_program.program_versions == 0" class="list-no-items">
                <p class="list-no-items__main-label">{{'label_no_c_program_versions'|bkTranslate:this}}</p>
                <p class="list-no-items__sub-label">{{'label_no_c_program_versions_comment'|bkTranslate:this}} </p>
                <p>
                    <button class="btn blue" [routerLink]="[hardwareType.main_test_c_program.id]">
                        <i class="fa fa-plus-circle"></i> {{'btn_create_c_program_version'|bkTranslate:this}}
                    </button>
                </p>
            </div>
        </div>
    </div>

    <!-- Only with permission Revision For Burning procedure -->
    <div *ngIf="hardwareType && hardwareType.register_new_device_permission" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-code"></i>
                      {{'label_revisions'|bkTranslate:this}}:
                </span>
            </div>
            <div class="becki-actions">
                <button title="{{'label_revision_create_description'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!hardwareType.register_new_device_permission"
                        (click)="onCreateRevisionClick()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div>
            <div *ngIf="(hardwareType && hardwareType.batchs.length)">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th class="col col-lg-2">{{'table_revision'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_production_batch'|bkTranslate:this}}</th>
                        <th class="col col-lg-3">{{'table_mac_range'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_latest_used'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_ean'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_assembly_time'|bkTranslate:this}}</th>
                        <th class="col col-lg-1 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let batch of hardwareType.batchs">

                        <!-- NAME -->
                        <td class="vert-align">
                            {{batch.revision}}
                        </td>

                        <td class="vert-align">
                            {{batch.production_batch}}
                        </td>

                        <td class="vert-align">
                            {{batch.mac_address_start}} - {{batch.mac_address_end}} <br>
                            {{batch.mac_address_start.toString(16)}} - {{batch.mac_address_end.toString(16)}}
                        </td>

                        <td class="vert-align">
                            <template [ngIf]="batch.latest_used_mac_address">
                                {{batch.latest_used_mac_address}} <br>
                                {{batch.latest_used_mac_address.toString(16)}}
                            </template>
                            <template [ngIf]="!batch.latest_used_mac_address">
                                ?????????????????
                            </template>
                        </td>

                        <td class="vert-align">
                            {{batch.ean_number}}
                        </td>

                        <td class="vert-align">
                            {{batch.date_of_assembly}}
                        </td>

                        <!-- ACTIONS -->
                        <td class="vert-align text-right no-wrap">
                            <style type="text/css">
                                table tr button {
                                    opacity: 0.05;
                                }

                                table tr:hover button {
                                    opacity: 1
                                }
                            </style>

                            <button title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!batch.update_permission"
                                    (click)="onEditRevisionClick(batch)">
                                <i class="fa fa-cog"></i>
                            </button>

                            <button title="{{'label_remove_version'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!batch.delete_permission"
                                    (click)="onDeleteRevisionClick(batch)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 *ngIf="!hardwareType.batchs" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
            <div *ngIf="hardwareType.batchs && hardwareType.batchs.length == 0" class="list-no-items">
                <p class="list-no-items__main-label">{{'label_no_batch'|bkTranslate:this}}</p>
                <p class="list-no-items__sub-label">{{'label_no_batch_comment'|bkTranslate:this}} </p>
                <p>
                    <button class="btn blue" (click)="onCreateRevisionClick()">
                        <i class="fa fa-plus-circle"></i> {{'label_revision_create_description'|bkTranslate:this}}
                    </button>
                </p>
            </div>
        </div>
    </div>

</bk-layout-main>
