<bk-layout-main
    [title]="'main_title'|bkTranslate:this">

    <div class="portlet portlet light bordered">
        <div class="mt-element-card mt-element-overlay">
            <div class="row">
                <div *ngFor="let hardwareType of hardwareTypes; let index = index" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a class="hardware-card" (click)="onHardwareTypeClick(hardwareType.id)">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar">
                                <img class="img" *ngIf="hardwareType.picture_link" src="{{hardwareType.picture_link}}">
                                <div class="img-placeholder" *ngIf="!hardwareType.picture_link">
                                    <i class="fa fa-fw fa-microchip"></i>
                                </div>
                            </div>
                            <div class="mt-card-content">
                                <h3 class="mt-card-name font-color-neutral-dark">{{hardwareType.name}}</h3>
                                <p class="mt-card-desc font-grey-salsa">{{hardwareType.producer_name}}</p>
                                <p class="mt-card-desc font-color-neutral-dark">{{hardwareType.description}}</p>
                                <!--div class="mt-card-social">
                                    <ul>
                                        <li *ngIf="device.connectible_to_internet">
                                            <i class="fa fa-fw fa-plug font-grey-mint" title="Ethernet"></i>
                                        </li>
                                        <li *ngIf="device.connectible_to_internet">
                                            <i class="fa fa-fw fa-wifi font-grey-mint" title="Wi-Fi"></i>
                                        </li>
                                        <li *ngIf="!device.connectible_to_internet">
                                            <span class="bold font-red bg-yellow-lemon">
                                                TODO
                                            </span>
                                        </li>
                                    </ul>
                                </div-->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
