<bk-layout-main
    [title]="'main_title'|bkTranslate:this">

    <div class="portlet-body">
        <div *ngIf="hardwareTypes">
            <div class="mt-element-card mt-element-overlay">
                <div class="row">
                    <div *ngFor="let hardwareType of hardwareTypes" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="mt-card-item">
                                <div class="mt-card-avatar mt-overlay-1">
                                    <img src="{{hardwareType.picture_link}}">
                                    <div class="mt-overlay">
                                        <ul class="mt-info">
                                            <li>
                                                <a (click)="onHardwareTypeClick(hardwareType.id)" class="btn default btn-outline">
                                                    <i class="icon-magnifier"></i> Details
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn default btn-outline" target="_blank" href="https://store.byzance.cz/products/ioda-ethernet">
                                                    <i class="fa fa-shopping-cart"></i> Buy it!
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-card-content">
                                    <h3 class="font-color-byzance-blue">
                                        <h3><a (click)="onHardwareTypeClick(hardwareType.id)">{{hardwareType.name}}</a></h3>
                                    </h3>
                                    <p class="mt-card-desc font-grey-salsa">{{hardwareType.producer.name}}</p>
                                    <p class="mt-card-desc font-color-neutral-dark">{{hardwareType.description}}</p>

                                    <!--div class="mt-card-social">
                                           <ul>
                                               <li *ngIf="device.connectible_to_internet">
                                                   <i class="fa fa-fw fa-plug font-grey-mint" title="Ethernet"></i>
                                               </li>
                                               <li *ngIf="device.connectible_to_internet">
                                                   <i class="fa fa-fw fa-wifi font-grey-mint" title="Wi-Fi"></i>
                                               </li>
                                               <li *ngIf="!device.connectible_to_internet">
                                                   <span class="bold font-red bg-yellow-lemon">
                                                       TODO
                                                   </span>
                                               </li>
                                           </ul>
                                       </div-->
                                    <!-- div class="mt-card-social">
                                        <ul>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-social-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div-->
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</bk-layout-main>
