<bk-layout-main [title]="'Hardware types'" [lastBreadName]="device?device.name:''">

    <div *ngIf="device" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-microchip"></i>
                    {{device.name}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    Name:
                    <span class="font-grey-mint bold">{{device.name}}</span>
                </div>
                <div>
                    Description:
                    <span class="font-grey-mint bold">{{device.description}}</span>
                </div>
                <div>
                    Producer:
                    <a [routerLink]="['/producers', device.producer_id]" class="font-grey-mint bold">{{device.producer_name}}</a>
                </div>
                <div>
                    Processor:
                    <span class="font-grey-mint bold">{{device.processor_name}}</span>
                </div>
                <div>
                    Target name:
                    <span class="font-grey-mint bold">{{device.target_name}}</span>
                </div>
                <div>
                    Abilities:<br>
                    <div *ngIf="device.target_name == 'BYZANCE_YODAG2'">
                        &nbsp;<i class="fa fa-fw fa-plug" title="Ethernet"></i> Ethernet<br>
                        &nbsp;<i class="fa fa-fw fa-wifi" title="Wi-Fi"></i> Wi-Fi<br>
                    </div>
                    <div *ngIf="device.target_name == 'BYZANCE_YODAG3E'">
                        &nbsp;<i class="fa fa-fw fa-plug" title="Ethernet"></i> Ethernet with PoE<br>
                    </div>
                    <span class="font-grey-salsa bold" *ngIf="!device.connectible_to_internet">None <span class="bold font-red bg-yellow-lemon">TODO</span></span>
                </div>
            </div>
            <div class="col-md-4 hw-image-col">
                <img *ngIf="device.picture_link" [attr.src]="device.picture_link">
                <i *ngIf="!device.picture_link" class="fa fa-fw fa-microchip text-center"></i>
            </div>
        </div>
    </div>

    <div *ngIf="device && device.main_boot_loader" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-terminal"></i>
                    Bootloader
                </span>
            </div>
        </div>
        <div>
            <div>
                Name:
                <span class="font-grey-mint bold">{{device.main_boot_loader.name}}</span>
            </div>
            <div>
                Description:
                <span class="font-grey-mint bold">{{device.main_boot_loader.description}}</span>
            </div>
            <div>
                Date:
                <span class="font-grey-mint bold">{{device.main_boot_loader.date_of_create|bkUnixTimeToDate}}</span>
            </div>
        </div>
    </div>

</bk-layout-main>
