<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->
<bk-layout-not-logged>


        <h3 class="font-green">{{'title'|bkTranslate:this}} </h3>
        <p> {{'info_text'|bkTranslate:this}} </p>
    <div class="form-group">
        <bk-form-input [control]="passwordRestartForm.controls['email']" [label]="'label_email'|bkTranslate:this"></bk-form-input>
        <bk-form-input  type="password" [placeholder]="'placeholder_password'|bkTranslate:this" [control]="passwordRestartForm.controls['password']" [label]="'label_password'|bkTranslate:this"></bk-form-input>
        <bk-form-input type="password" [placeholder]="'placeholder_confirm_password'|bkTranslate:this" [control]="passwordRestartForm.controls['confirmpassword']" [label]="'label_confirm_password'|bkTranslate:this"></bk-form-input>
    </div>
    <div class="form-actions">
        <button type="button" (click)="clickButtonBack()" id="back-btn" class="btn green btn-outline">{{'btn_back'|bkTranslate:this}}</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-success uppercase pull-right" [disabled]="!passwordRestartForm.valid" >{{'btn_submit'|bkTranslate:this}}</button>
    </div>



</bk-layout-not-logged>