<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->
<bk-layout-not-logged>
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" [formGroup]="loginForm">


        <h3><span class="font-color-byzance-blue">{{'label_log_in'|bkTranslate:this}}</span></h3>


        <div class="alert alert-danger" *ngIf="loginError">
            <button class="close" (click)="onCloseAlertClick($event)"></button>
            <span [innerHTML]="loginError | bkNl2Br"></span>
        </div>
        <bk-form-input [control]="loginForm.controls['email']" [label]="'label_email'|bkTranslate:this"></bk-form-input>
        <bk-form-input [control]="loginForm.controls['password']" [label]="'label_password'|bkTranslate:this" [type]="'password'"></bk-form-input>
        <div class="form-actions">
            <button type="submit" class="btn blue uppercase" (click)="onLoginClick($event)" [disabled]="!loginForm.valid">{{'btn_login'|bkTranslate:this}}</button>
            <button type="button" [disabled]="!resendVertification && !loginForm.valid" *ngIf="resendVertification" class="btn green uppercase" (click)="onResendClick()">{{'btn_resend'|bkTranslate:this}}</button>
            <a [routerLink]="['/forgot-password']" class="forget-password">{{'label_forget_password'|bkTranslate:this}}</a>
        </div>
        <div class="login-options">
            <h4>{{'label_login_social'|bkTranslate:this}}</h4>
            <ul class="social-icons">
                <li>
                    <a class="social-icon-color facebook" data-original-title="Facebook" (click)="onFacebookLoginInClick($event)"></a>
                </li>
                <li>
                    <a class="social-icon-color github" data-original-title="GitHub" (click)="onGitHubLoginInClick($event)"></a>
                </li>
            </ul>
        </div>
        <div class="becki-create-account">
            <p class="font-grey-mint">
              <strong>  <a [routerLink]="['/create-user']" id="register-btn" class="uppercase">
                    <span class="bg-font-grey-salt">{{'btn_create_account'|bkTranslate:this}}</span>
                </a> </strong>
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</bk-layout-not-logged>
