<bk-layout-main [title]="'main_title'|bkTranslate:this">

    <div class="portlet portlet light bordered">

        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-flag"></i>
                    <span [innerHTML]="'title'|bkTranslate:this"></span>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>
        <bk-form-input [control]="blockForm.controls['id']" [label]="'label_add_hardware'|bkTranslate:this"></bk-form-input>
        <button (click)="onQrbuttonScan()" class="col-6 btn green btn-outline">{{'btn_add_hardware_qrcode'|bkTranslate:this}}</button>
        <bk-view-qr-reader *ngIf="scan" (QrScanClose)="qrCodeSent($event)"></bk-view-qr-reader>

        <bk-form-select [control]="blockForm.controls['project']" [label]="'label_project'|bkTranslate:this" [placeholder]="'placeholder_project'|bkTranslate:this"
            [options]="projects"></bk-form-select>

        <bk-multi-select *ngIf="group_options_available && group_options_available.length > 0" [items]="group_options_available"
            [label]="'label_hardware_groups'|bkTranslate:this" #groupList></bk-multi-select>
        <br>
        <button (click)="onSubmit()" class="col-6 btn green btn-outline">{{'btn_send'|bkTranslate:this}}</button>
        <button (click)="onBack()" class="col-6 btn red btn-outline">{{'btn_back'|bkTranslate:this}}</button>

    </div>


</bk-layout-main>
