<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main [title]="'main_title'|bkTranslate:this">
    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-bell-o"></i>
                    {{'title'|bkTranslate:this}}
                </span>
            </div>
        </div>
        <div class="portlet-body">
            <h4>
                <span [innerHTML]="'label_displaying_notif'|bkTranslate:this:notificationService.notifications.length: notificationService.unreadNotificationsCount"></span>
                <span *ngIf="notificationService.unreadNotificationsCount" [innerHTML]="'label_notif_undead'|bkTranslate:this:notificationService.unreadNotificationsCount"></span>
            </h4>
            <bk-notifications-list class="no-margin"></bk-notifications-list>
            <div>
                <button class="btn blue-oleo btn-block notification-load-more-btn" (click)="onLoadOlderClick()" [disabled]="loading || !canLoadMore()">
                    <span *ngIf="loading">{{'loading'|bkTranslate:this}}</span>
                    <span *ngIf="!loading">{{'label_load_older'|bkTranslate:this}}</span>
                </button>
            </div>
        </div>
    </div>
</bk-layout-main>