<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main [title]="'Notifications'">
    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-bell-o"></i>
                    Notifications
                </span>
            </div>
        </div>
        <div class="portlet-body">
            <h4>
                Displaying <b>{{notificationService.notifications.length}}</b> of total <b>{{notificationService.totalNotificationsCount}}</b> notifications
                <span *ngIf="notificationService.unreadNotificationsCount">(<b>{{notificationService.unreadNotificationsCount}}</b> unread)</span>
            </h4>
            <bk-notifications-list class="no-margin"></bk-notifications-list>
            <div>
                <button class="btn blue-oleo btn-block notification-load-more-btn" (click)="onLoadOlderClick()" [disabled]="loading || !canLoadMore()">
                    <span *ngIf="loading">Loading...</span>
                    <span *ngIf="!loading">Load older notifications</span>
                </button>
            </div>
        </div>
    </div>
</bk-layout-main>
