<bk-layout-main
    [title]="'main_title'|bkTranslate:this" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-industry'"
        (onClick)="onPortletClick($event)">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <!-- Page Content -- START -->
    <div class="portlet-body">

        <div  *ngIf="(producers && producers.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{'table_name'|bkTranslate:this}}</th>
                    <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let producer of producers">
                    <td class="no-wrap bold">
                        <a (click)="onProducerClick(producer)">{{producer.name}}</a>
                    </td>
                    <td>
                        {{producer.description}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <bk-nothing-to-show [condition_loading]="(producers == null)"
                            [condition_empty]="(producers != null && producers.length == 0)"
                            [main_message_link]="'label_no_producer'|bkTranslate:this"
                            [main_message_comment_link]="'label_no_producer_comment'|bkTranslate:this"
                            [btn_label]="'btn_add_hardware'|bkTranslate:this"
                            (onButtonClick)="onHardwareAddClick()">
        </bk-nothing-to-show>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->

    </div>
    <!-- Page Content -- END -->

</bk-layout-main>
