<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->


<bk-layout-main [title]="'Profile'">
    <div class="portlet portlet light bordered">
        <div class="portlet-title tabbable-line">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-user"></i>
                    Profile account
                </span>
            </div>
            <ul class="nav nav-tabs">
                <li [class.active]="openTabName == 'personal'">
                    <a (click)="onTabClick('personal')">Personal info</a>
                </li>
                <li [class.active]="openTabName == 'avatar'">
                    <a (click)="onTabClick('avatar')">Change avatar</a>
                </li>
                <li [class.active]="openTabName == 'password'">
                    <a (click)="onTabClick('password')">Change password</a>
                </li>
                <li [class.active]="openTabName == 'email'">
                    <a (click)="onTabClick('email')">Change e-mail</a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <!-- PERSONAL TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'personal'">
                    <form>
                        <bk-form-input label="Full Name" type="text" [control]="infoForm.controls.fullName"></bk-form-input>
                        <bk-form-input label="Nick Name" type="text" [control]="infoForm.controls.nickName"></bk-form-input>
                        <bk-form-select label="Gender" [options]="genderList" [control]="infoForm.controls.gender"></bk-form-select>
                        <bk-form-select label="State" [options]="countryList" [control]="infoForm.controls.state"></bk-form-select>

                        <div class="margin-top-10">
                            <button (click)="changeInfo()" class="btn green">Save</button>
                        </div>
                    </form>
                </div>
                <!-- END PERSONAL TAB -->
                <!-- AVATAR TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'avatar'">
                    <form>
                        <div class="form-group profile-pic-wrapper">

                            <h4>Avatar<span *ngIf="cropperLoaded" class="font-red"> (Unsaved)</span></h4>

                            <img class="preview img-circle" [src]="cropperLoaded?cropperData.image:backendService.personInfoSnapshot.picture_link" width="128" height="128">

                            <div class="file-select">
                                <div>Select another avatar</div>
                                <input type="file" (change)="cropperFileChangeListener($event)" accept="image/*">
                            </div>
                            <img-cropper #cropper [image]="cropperData" [settings]="cropperSettings" [style.display]="cropperLoaded?'block':'none'"></img-cropper>

                            <div class="clearfix margin-top-10"></div>
                        </div>
                        <div class="margin-top-10">
                            <button (click)="saveProfilePicture()" class="btn green" [disabled]="!cropperLoaded">Save</button>
                        </div>
                    </form>
                </div>
                <!-- END AVATAR TAB -->
                <!-- PASSWORD TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'password'">
                    <form>
                        <bk-form-input label="Current password" type="password" [control]="passwordForm.controls.currentPassword"></bk-form-input>
                        <bk-form-input label="New password" type="password" [control]="passwordForm.controls.newPassword"></bk-form-input>
                        <bk-form-input label="New password again" type="password" [control]="passwordForm.controls.newPasswordConfirm"></bk-form-input>

                        <div class="margin-top-10">
                            <button type="submit" (click)="changePassword()" class="btn green" [disabled]="!passwordForm.valid">Change password</button>
                        </div>
                    </form>
                </div>
                <!-- END PASSWORD TAB -->
                <!-- EMAIL TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'email'">
                    <form>
                        <bk-form-input label="Current e-mail" type="email" [control]="emailForm.controls.currentEmail"></bk-form-input>
                        <bk-form-input label="New e-mail" type="email" [control]="emailForm.controls.newEmail"></bk-form-input>
                        <bk-form-input label="New e-mail again" type="email" [control]="emailForm.controls.newEmailConfirm"></bk-form-input>

                        <div class="margin-top-10">
                            <button type="submit" (click)="changeEmail()" class="btn green" [disabled]="!emailForm.valid">Change e-mail</button>
                        </div>
                    </form>
                </div>
                <!-- END EMAIL TAB -->
            </div>
        </div>
    </div>
</bk-layout-main>
