    <!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->


<bk-layout-main [title]="'main_title'|bkTranslate:this">
    <div class="portlet portlet light bordered">
        <div class="portlet-title tabbable-line">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-user"></i>
                    {{'title'|bkTranslate:this}}
                </span>
            </div>
            <ul class="nav nav-tabs">
                <li [class.active]="openTabName == 'personal'">
                    <a (click)="onTabClick('personal')">{{'nav_personal_info'|bkTranslate:this}}</a>
                </li>
                <li [class.active]="openTabName == 'avatar'">
                    <a (click)="onTabClick('avatar')">{{'nav_avatar'|bkTranslate:this}}</a>
                </li>
                <li [class.active]="openTabName == 'password'">
                    <a (click)="onTabClick('password')">{{'nav_password'|bkTranslate:this}}</a>
                </li>
                <li [class.active]="openTabName == 'email'">
                    <a (click)="onTabClick('email')">{{'nav_email'|bkTranslate:this}}</a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <!-- PERSONAL TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'personal'">
                    <form>
                        <bk-form-input label="{{'label_full_name'|bkTranslate:this}}" type="text" [control]="infoForm.controls['fullName']"></bk-form-input>
                        <bk-form-input label="{{'label_nick_name'|bkTranslate:this}}" type="text" [control]="infoForm.controls['nickName']"></bk-form-input>
                        <bk-form-select label="{{'label_gender'|bkTranslate:this}}" [options]="genderList" [control]="infoForm.controls['gender']"></bk-form-select>
                        <bk-form-select label="{{'label_state'|bkTranslate:this}}" [options]="countryList" [control]="infoForm.controls['state']"></bk-form-select>

                        <div class="margin-top-10">
                            <button (click)="changeInfo()" class="btn green">{{'btn_save'|bkTranslate:this}}</button>
                        </div>
                    </form>
                </div>
                <!-- END PERSONAL TAB -->
                <!-- AVATAR TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'avatar'">
                    <bk-picture-upload [defaultPicture]="backendService.personInfoSnapshot.picture_link" [saved]="savedPicture" (flashMesseage)="pictureUploadNotifications($event)" (pictureOutput)="saveProfilePicture($event)" ></bk-picture-upload>
                </div>
                <!-- END AVATAR TAB -->
                <!-- PASSWORD TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'password'">
                    <form>
                        <bk-form-input label="{{'label_current_password'|bkTranslate:this}}" type="password" [control]="passwordForm.controls['currentPassword']"></bk-form-input>
                        <bk-form-input label="{{'label_new_password'|bkTranslate:this}}" type="password" [control]="passwordForm.controls['newPassword']"></bk-form-input>
                        <bk-form-input label="{{'label_new_password_again'|bkTranslate:this}}" type="password" [control]="passwordForm.controls['newPasswordConfirm']"></bk-form-input>

                        <div class="margin-top-10">
                            <button type="submit" (click)="changePassword()" class="btn green" [disabled]="!passwordForm.valid">{{'btn_change_password'|bkTranslate:this}}</button>
                        </div>
                    </form>
                </div>
                <!-- END PASSWORD TAB -->
                <!-- EMAIL TAB -->
                <div class="tab-pane" [class.active]="openTabName == 'email'">
                    <form>
                        <bk-form-input label="{{'label_current_email'|bkTranslate:this}}" type="email" [control]="emailForm.controls['currentEmail']"></bk-form-input>
                        <bk-form-input label="{{'label_new_email'|bkTranslate:this}}" type="email" [control]="emailForm.controls['newEmail']"></bk-form-input>
                        <bk-form-input label="{{'label_new_email_again'|bkTranslate:this}}" type="email" [control]="emailForm.controls['newEmailConfirm']"></bk-form-input>

                        <div class="margin-top-10">
                            <button type="submit" (click)="changeEmail()" class="btn green" [disabled]="!emailForm.valid">{{'btn_change_email'|bkTranslate:this}}</button>
                        </div>
                    </form>
                </div>
                <!-- END EMAIL TAB -->
            </div>
        </div>
    </div>
</bk-layout-main>