<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="projectId == null ? 'byzance-admin' : 'projects-project'"
    [show_title]="projectId == null"
    [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-cube'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (tab == 'my_widgets'),
                          btn_label_for_person: ('btn_add'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          btn_tag: 'add_widget'
                      }
                 ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name] = "tab"
        [tabBtns]="[
                        {
                            tab_name: 'my_widgets',
                            tab_color: 'CODE',
                            tab_label: ('tab_my_widgets'|bkTranslate:this)
                        },
                        {
                            tab_name: 'public_widgets',
                            tab_color: 'CODE',
                            tab_label: ('tab_public_widgets'|bkTranslate:this)
                        },
                        {
                            tab_name: 'admin_widget',
                            tab_color: 'CODE',
                            tab_label: ('tab_admin_widgets'|bkTranslate:this)
                        }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->
    <div class="portlet-body">

        <div *ngIf="tab == 'my_widgets'">

            <div *ngIf="(widgetList && widgetList.content.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{'table_name'|bkTranslate:this}}</th>
                    <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let widget of widgetList.content">
                    <td class="vert-align no-wrap bold">
                        <a (click)="onWidgetClick(widget)">{{widget.name}}</a>
                        <span *ngIf="!projectId && widget.active" class="font-green-jungle bold">(Active)</span>         <!-- Only for Administrator -->
                        <span *ngIf="!projectId && !widget.active" class="font-red-flamingo bold">(Deactivated)</span>   <!-- Only for Administrator -->
                    </td>
                    <td class="vert-align">{{widget.description}}</td>
                    <td class="vert-align no-wrap">

                        <style type="text/css">
                            table tr button { opacity:0.05;}
                            table tr:hover button { opacity:1 }
                        </style>

                        <button *ngIf="projectId && group.publish_type == 'public_program'"  title="{{'label_code_program_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" (click)="onMakeClone(widget)">
                            <i class="fa fa-clone"></i>
                        </button>
                        <button *ngIf="!projectId && !widget.active" title="{{'label_active_group'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!widget.update_permission" (click)="onWidgetActivateClick(widget)">
                            <i class="fa fa-power-off"></i>
                        </button>
                        <button  *ngIf="!projectId && widget.active" title="{{'label_deactive_group'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!widget.update_permission" (click)="onWidgetDeactivateClick(widget)">
                            <i class="fa fa-power-off"></i>
                        </button>
                        <button *ngIf="widget.update_permission" title="{{'label_widget_properties'|bkTranslate:this}}" class="btn btn-icon-only green" (click)="onWidgetEditClick(widget)">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button *ngIf="widget.delete_permission" title="{{'label_remove_widget'|bkTranslate:this}}" class="btn btn-icon-only red" (click)="onWidgetDeleteClick(widget)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(widgetList == null)"
                                [condition_empty]="(widgetList != null && widgetList.content.length == 0)"
                                [main_message_link]="'label_no_private_widget'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_private_widget_comment'|bkTranslate:this"
                                (onButtonClick)="onWidgetAddClick()"
                                [btn_label]="'btn_add_widget'|bkTranslate:this">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>

        <div *ngIf="tab == 'public_widgets'">

            <div *ngIf="(widgetPublicList && widgetPublicList.content.length)" class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let widget of widgetPublicList.content">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onWidgetClick(widget)">{{widget.name}}</a>
                        </td>
                        <td class="vert-align">{{widget.description}}</td>
                        <td class="vert-align no-wrap">

                            <style type="text/css">
                                table tr button { opacity:0.05;}
                                table tr:hover button { opacity:1 }
                            </style>
                            <button *ngIf="widget.update_permission" title="{{'label_widget_properties'|bkTranslate:this}}" class="btn btn-icon-only green" (click)="onWidgetEditClick(widget)">
                                <i class="fa fa-cog"></i>
                            </button>
                            <button *ngIf="widget.delete_permission" title="{{'label_remove_widget'|bkTranslate:this}}" class="btn btn-icon-only red" (click)="onWidgetDeleteClick(widget)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(widgetPublicList == null)"
                                [condition_empty]="(widgetPublicList != null && widgetPublicList.content.length == 0)"
                                [main_message_link]="'label_no_public_widget'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_public_widget_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>

        <div *ngIf="tab == 'admin_widget'">

            <div *ngIf="(widgetListNotApproved && widgetListNotApproved.content.length)" class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let widget of widgetListNotApproved.content">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onWidgetClick(widget)">{{widget.name}}</a>
                            <span *ngIf="!projectId && widget.active" class="font-green-jungle bold">(Active)</span>         <!-- Only for Administrator -->
                            <span *ngIf="!projectId && !widget.active" class="font-red-flamingo bold">(Deactivated)</span>   <!-- Only for Administrator -->
                        </td>
                        <td class="vert-align">{{widget.description}}</td>
                        <td class="vert-align no-wrap">

                            <style type="text/css">
                                table tr button { opacity:0.05;}
                                table tr:hover button { opacity:1 }
                            </style>

                            <button *ngIf="projectId && group.publish_type == 'public_program'"  title="{{'label_code_program_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" (click)="onMakeClone(widget)">
                                <i class="fa fa-clone"></i>
                            </button>
                            <button *ngIf="!projectId && !widget.active" title="{{'label_active_group'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!widget.update_permission" (click)="onWidgetActivateClick(widget)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button  *ngIf="!projectId && widget.active" title="{{'label_deactive_group'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!widget.update_permission" (click)="onWidgetDeactivateClick(widget)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button *ngIf="widget.update_permission" title="{{'label_widget_properties'|bkTranslate:this}}" class="btn btn-icon-only green" (click)="onWidgetEditClick(widget)">
                                <i class="fa fa-cog"></i>
                            </button>
                            <button *ngIf="widget.delete_permission" title="{{'label_remove_widget'|bkTranslate:this}}" class="btn btn-icon-only red" (click)="onWidgetDeleteClick(widget)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(widgetListNotApproved == null)"
                                [condition_empty]="(widgetListNotApproved != null && widgetListNotApproved.content.length == 0)"
                                [main_message_link]="'label_no_admin_widget'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_admin_widget_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>






    </div>

</bk-layout-main>
