<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-sitemap fa-rotate-90"></i>
                    <span [innerHTML]="'title'|bkTranslate:this"></span>
                </span>
            </div>
            <div class="becki-actions">

            </div>
        </div>

        <div *ngIf="procedure">

            <div class="row">
                <div class="col-md-4">
                    <strong>{{'label_type_of_update'|bkTranslate:this}}</strong>: <bk-type-of-update [state]="procedure.type_of_update"></bk-type-of-update>
                    <br>
                    <br>

                    {{'label_created'|bkTranslate:this}}: {{procedure.date_of_create|bkUnixTimeToDate}}
                    <br>

                    {{'label_planed'|bkTranslate:this}}: {{procedure.date_of_planing|bkUnixTimeToDate}}
                    <br>

                    {{'label_finished'|bkTranslate:this}}
                    <span *ngIf="!procedure.date_of_finish" class="font-yellow-casablanca">{{'label_time_missing_in_json'|bkTranslate:this}}</span>
                    <span *ngIf="procedure.date_of_finish">{{procedure.date_of_finish|bkUnixTimeToDate}}</span>

                </div>
                <div class="col-md-4">
                    <template [ngIf]="procedure.type_of_update == 'MANUALLY_RELEASE_MANAGER'">
                        <template [ngIf]="procedure.firmware_type == 'FIRMWARE' || procedure.firmware_type == 'BACKUP'" >
                            <a *ngIf="procedure.program" (click)="onCProgramClick(procedure.program.c_program_id)">{{procedure.a.c_program_version_name}}</a>
                        </template>
                        <template [ngIf]="procedure.firmware_type == 'BOOTLOADER'">
                            <a *ngIf="procedure.bootloader" (click)="onBoardTypeClick(procedure.bootloader.type_of_board_id)">{{procedure.bootloader.bootloader_name}}</a>
                        </template>
                    </template>
                </div>
                <div class="col-md-4" style="text-align: center">
                    <h1> Progress:
                        <span *ngIf="procedure.procedure_size_all > 0" class="bold">{{procedure.procedure_size_complete}}/{{procedure.procedure_size_all}}</span>
                        <span *ngIf="!procedure.procedure_size_all ||procedure_size_all == 0 " class="bold">-/-</span>
                    </h1>
                    <h4>
                        Status: <bk-update-state [updateState]="procedure.state"></bk-update-state>
                    </h4>
                </div>
            </div>
        </div>
       <br>
       <br>
        <div *ngIf="actualizationTaskFilter && actualizationTaskFilter.content.length > 0"  class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{'table_id'|bkTranslate:this}}</th>
                    <th [innerHTML]="'table_hardware'|bkTranslate:this"></th>
                    <th>{{'table_finished'|bkTranslate:this}}</th>
                    <th>{{'table_type'|bkTranslate:this}}</th>
                    <th>
                        <strong class="font-color-code">{{'label_code'|bkTranslate:this}} </strong>{{'table_program'|bkTranslate:this}}</th>
                    <th>
                        <strong class="font-color-code">{{'label_code'|bkTranslate:this}} </strong>{{'table_version'|bkTranslate:this}}</th>
                    <th>{{'table_type'|bkTranslate:this}}</th>
                    <th>{{'table_status'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let update of actualizationTaskFilter.content">

                    <td class="vert-align">{{update.id.substr(0, 12)}}</td>
                    <td class="vert-align">
                        <a class="bold" [routerLink]="['/projects', projectId, 'hardware', update.board.id]">{{ !update.board.name ? update.board.name : update.board.id}}</a>
                    </td>

                    <td class="vert-align">
                        <span *ngIf="!update.date_of_finish" class="font-yellow-casablanca">{{'label_time_missing_in_json'|bkTranslate:this}}</span>
                        <span *ngIf="update.date_of_finish">{{update.date_of_finish|bkUnixTimeToDate}}</span>
                    </td>

                    <td class="vert-align font-grey-mint">
                        <span *ngIf="update.firmware_type == 'FIRMWARE'" class="bold font-color-grid">{{'label_firmware'|bkTranslate:this}}</span>
                        <span *ngIf="update.firmware_type == 'BACKUP'" class="bold font-color-grid-dark">{{'label_backup'|bkTranslate:this}}</span>
                        <span *ngIf="update.firmware_type == 'BOOTLOADER'" class="bold font-blue">{{'label_bootloader'|bkTranslate:this}}</span>
                    </td>

                    <!-- Firmware -->
                    <template [ngIf]="update.firmware_type == 'FIRMWARE' || update.firmware_type == 'BACKUP'">
                        <td class="vert-align font-grey-mint">
                            <a *ngIf="update.c_program_detail" class="bold" [routerLink]="['/projects', projectId, 'code', update.c_program_detail.c_program_id]">{{update.c_program_detail.c_program_program_name}}</a>
                            <span *ngIf="!update.c_program_detail.c_program_program_name" class="font-grey-mint bold">{{'label_not_set_none'|bkTranslate:this}}</span>
                        </td>
                        <td class="font-grey-mint">
                            <a *ngIf="update.c_program_detail" class="bold" [routerLink]="['/projects', projectId, 'code', update.c_program_detail.c_program_id]">{{update.c_program_detail.c_program_version_name}}</a>
                            <span *ngIf="!update.c_program_detail.c_program_version_name" class="font-grey-mint bold">{{'label_not_set_none'|bkTranslate:this}}</span>
                        </td>
                    </template>

                    <!-- BootLoader -->
                    <template [ngIf]="update.firmware_type == 'BOOTLOADER'">
                        <td class="vert-align font-grey-mint"></td>
                        <td class="vert-align font-grey-mint">
                            <span *ngIf="update.bootloader_detail" class="font-grey-mint bold"> {{update.bootloader_detail.version_identificator}}</span>
                        </td>
                    </template>

                    <!-- type -->
                    <td class="vert-align">
                        <bk-type-of-update [state]="update.type_of_update"></bk-type-of-update>
                    </td>

                    <!-- Update State -->
                    <td class="vert-align">
                        <bk-update-state [updateState]="update.state"></bk-update-state>
                    </td>
                </tr>
                </tbody>
            </table>
            <bk-filter-page-component [from]="actualizationTaskFilter.from" [to]="actualizationTaskFilter.to" [total]="actualizationTaskFilter.total"  [totalPages]="actualizationTaskFilter.pages" (onSelect)="selectedFilterPageActualizationProcedureTask($event)"></bk-filter-page-component>
        </div>
        <h3 *ngIf="!actualizationTaskFilter" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
        <div *ngIf="actualizationTaskFilter && actualizationTaskFilter.content.length == 0" class="list-no-items">
            <p class="list-no-items__main-label"><span [innerHTML]="'label_no_running_update_on_hardware'|bkTranslate:this"></span></p>
            <p class="list-no-items__sub-label"><span [innerHTML]="'label_no_running_update_on_hardware_comment'|bkTranslate:this"></span></p>
        </div>

    </div>

</bk-layout-main>
