<bk-layout-main
    [tabMenu]="'projects-project'"
    [show_title]="false"
    [title]="currentParamsService.currentProjectNameSnapshot"
    [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-server'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                  {
                    condition: (homer_servers && homer_servers.content.length > 0),
                    btn_label_for_person: ('btn_create_server'|bkTranslate:this),
                    icon: 'fa-plus-circle',
                    colorType: 'CREATE',
                    permission: true,
                    btn_tag: 'homer_server_add'
                  }
                ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->
    <div class="portlet-body">

        <div *ngIf="tab == 'server_list'">

            <div *ngIf="(homer_servers && homer_servers.content.length > 0)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th class="">{{'table_server_name'|bkTranslate:this}}</th>
                        <th class="">{{'table_id'|bkTranslate:this}}</th>
                        <th class="">{{'table_rest_url'|bkTranslate:this}}</th>
                        <th class="">{{'table_mqtt_url'|bkTranslate:this}}</th>
                        <th class="">{{'table_server_version'|bkTranslate:this}}</th>
                        <th class="">{{'table_status'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_tags'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let homer_server of homer_servers.content">
                        <td class="vert-align no-wrap">
                            <a (click)="onHomerServerClick(homer_server)" class="no-wrap"><strong>{{homer_server.name?homer_server.name:homer_server.id}}</strong></a>
                        </td>
                        <td class="vert-align no-wrap">{{homer_server.id}}</td>

                        <td class="vert-align no-wrap">
                            <a href="http://{{homer_server.server_url}}:{{homer_server.rest_api_port}}" class="no-wrap"><strong>http://{{homer_server.server_url}}:{{homer_server.rest_api_port}}</strong></a>
                        </td>

                        <td class="vert-align no-wrap">
                            <a href="mqtt://{{homer_server.server_url}}:{{homer_server.mqtt_port}}" class="no-wrap"><strong>mqtt://{{homer_server.server_url}}:{{homer_server.mqtt_port}}</strong></a>
                        </td>

                        <td class="vert-align no-wrap">
                            <a href="https://github.com/ByzanceIoT/homer-core/releases/tag/{{homer_server.server_version}}" class="no-wrap"><strong>{{homer_server.server_version}}</strong></a>
                        </td>
                        <td class="vert-align no-wrap">
                            <bk-online-state [online_state]="homer_server.online_state"></bk-online-state>
                        </td>

                        <td class="vert-align">
                            <bk-form-tag-input [tags_without_form]="homer_server.tags" [readonly]="true"></bk-form-tag-input>
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_server_properties'|bkTranslate:this)"
                                [btns] = "[
                                {
                                    condition: (homer_server.online_state == 'ONLINE'),
                                    btn_label_for_person: ('label_server_update'|bkTranslate:this),
                                    btn_tag: 'update_server',
                                    icon: 'fa-cog',
                                    colorType: 'UPDATE',
                                    permission: (homer_server.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_server_properties'|bkTranslate:this),
                                    btn_tag: 'edit_server',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (homer_server.update_permission)
                                },
                                {
                                    condition: (homer_server.online_state == 'ONLINE'),
                                    btn_label_for_person: ('label_shut_down'|bkTranslate:this),
                                    btn_tag: 'shutdown_server',
                                    icon: 'fa-power-off',
                                    colorType: 'DEACTIVE',
                                    permission: (homer_server.update_permission)
                                },
                                {
                                    condition: (homer_server.online_state == 'SHUT_DOWN'),
                                    btn_label_for_person: ('label_shut_down'|bkTranslate:this),
                                    btn_tag: 'turn_on_server',
                                    icon: 'fa-power-off',
                                    colorType: 'ACTIVE',
                                    permission: (homer_server.update_permission)
                                },
                                {
                                    condition: (homer_server.online_state == 'ONLINE'),
                                    btn_label_for_person: ('label_restart'|bkTranslate:this),
                                    btn_tag: 'restart_server',
                                    icon: 'fa-reddit',
                                    colorType: 'ACTIVE',
                                    permission: (homer_server.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_delete_server'|bkTranslate:this),
                                    btn_tag: 'remove_server',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (homer_server.delete_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, homer_server)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(homer_servers == null)"
                                [condition_empty]="(homer_servers != null && homer_servers.content.length == 0)"
                                [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/59d676ae58caa60001af8e67_server%20cloud%20conn.png'"
                                [main_message_link]="'label_no_servers'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_servers_comment'|bkTranslate:this"
                                [btn_label]="'btn_create_server'|bkTranslate:this"
                                (onButtonClick)="onPortletClick('homer_server_add')">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

        <div *ngIf="tab == 'create_server_selector'">

            <div class="row" style="padding-right: 25%; padding-left: 25%">
                <div class="col-lg-6 text-center">
                    <img style="width: auto; height: 90%;" src="https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5aa164daae3ca60001aa4c50_server%20modry.svg">
                    <h3>Server as a Service<br>
                    <small>Scalable compute IoT server with security to easily run your Instances.</small>
                    </h3>
                    <br>
                    <button class="btn blue" (click)="onToggleTab('create_server_automatically')">
                        <i class="fa fa-plus-circle"></i> {{'btn_create_automatically_server'|bkTranslate:this}}
                    </button>
                </div>
                <div class="col-lg-6 text-center">
                    <img style="width: auto; height: 90%;" src="https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5aa164e6efcfd2000162a317_server%20oranzovy.svg">
                    <h3>On Premise Server<br>
                    <small>You install the server yourself on your hardware</small>
                    </h3>
                    <br>
                    <button class="btn blue" (click)="onToggleTab('create_server_manually')">
                        <i class="fa fa-plus-circle"></i> {{'btn_create_manually_server'|bkTranslate:this}}
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="tab == 'create_server_automatically'">

            <div class="margin-right-15 margin-left-15">
                <div class="mt-element-card mt-element-overlay">

                    <!-- Temporary page content if content is being loaded or if there is no content -- START -->
                    <bk-nothing-to-show [condition_loading]="(registration_information == null)"
                                        [condition_empty]="(registration_information != null && registration_information.server_sizes == null)"
                                        [main_message_link]="'label_no_server_size_found'|bkTranslate:this"
                                        [main_message_comment_link]="'label_no_server_size_found_comment'|bkTranslate:this"
                                        [show_button]="false">
                    </bk-nothing-to-show>
                    <!-- Temporary page content if content is being loaded or if there is no content -- END -->


                    <!-- Select Server size -->
                    <div *ngIf="registration_information" class="row text-center margin-bottom-30">
                        <H2 [innerHTML]="'label_select_size'|bkTranslate:this" class="margin-bottom-40 margin-top-40"></H2>
                        <div style="margin-right: 20%; margin-left: 20%">
                            <div *ngFor="let server_size of registration_information.server_sizes" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <bk-server-size-componet [server_size]="server_size" [selected_slug]="selected_server_slug" (onClick)="onServerSizeSlugClick($event)"></bk-server-size-componet>
                            </div>
                        </div>
                    </div>

                    <!-- Select Server Region -->
                    <div *ngIf="selected_server_slug" class="row text-center ">
                        <H2 [innerHTML]="'label_select_destination'|bkTranslate:this"  class="margin-bottom-40 margin-top-40"></H2>
                        <div  style="margin-right: 20%; margin-left: 20%">
                            <div *ngFor="let region of selected_server_slug.regions" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <bk-server-region-component [server_region]="region" [selected_slug]="selected_destination_slug" (onClick)="onServerRegionSlugClick($event)"></bk-server-region-component>
                            </div>
                        </div>

                    </div>

                    <hr class="margin-right-15 margin-left-15 margin-bottom-40 margin-top-40">

                    <!-- Name It -->
                    <div *ngIf="registration_information" class="row margin-top-15">
                        <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12">
                    </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <form [formGroup]="form">
                                <span [innerHTML]="'label_personal_server_name'|bkTranslate:this" style="text-align: center"></span>
                                <bk-form-input [control]="form.controls.name" [showLabel]="false"></bk-form-input>
                                <br>
                                <span [innerHTML]="'label_personal_server_description'|bkTranslate:this" style="text-align: center"></span>
                                <bk-form-input [control]="form.controls.description" [showLabel]="false"></bk-form-input>
                            </form>
                            <div class="modal-footer" style="text-align: center">
                                <button type="button" class="btn green" [disabled]="!form.valid" (click)="onCreateHomerServerAutomaticalyClick()">{{'btn_create'|bkTranslate:this}}</button>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="tab == 'create_server_manually'">
            <div class="row">
                <div class="col-lg-6 text-center">

                    <h3>On Premise Server<br>
                        <small>You install the server yourself on your hardware</small>
                    </h3>
                    <br>
                    <img style="width: auto; height: 90%;" src="https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5aa164e6efcfd2000162a317_server%20oranzovy.svg">

                </div>
                <div class="col-lg-6 mt-element-step">

                    <div class="step-no-background-thin margin-bottom-30">
                        <div class="margin-bottom-30">
                            <div class="mt-step-col">
                                <div class="mt-step-number font-grey-cascade">1</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Prerequisites</div>
                                <div class="mt-step-content font-grey-cascade">Please, Resolve all prerequisites to run</div>
                            </div>
                            <div style="margin-left: 65px">
                                <p>For deploy your new Homer server, you need basic environments. For example on Microsoft Azure - Own Virtual Machine.
                                    <strong>Ubuntu Linux v.16+ with latest update is recommended.</strong>
                                </p>

                                <p class="bold">Before - check that you have open this Ports</p>

                                <p>On Microsoft Azure or AWS, you have to do that manually!</p>
                                <ul>
                                    <li>1881 (MQTT)</li>
                                    <li>1883 (TEST MQTT)</li>
                                    <li>3000 (API)</li>
                                    <li>3433 (API)</li>
                                    <li>8503 (GRID Apps)</li>
                                    <li>8501 (Terminal WebView)</li>
                                    <li>8505 (Terminal HW logs)</li>
                                    <li>10233 (Reserve Mongo API)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <div class="mt-step-col">
                                <div class="mt-step-number font-grey-cascade">2</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Download</div>
                                <div class="mt-step-content font-grey-cascade">Download latest recommended release for selected platform</div>
                            </div>
                            <div style="margin-left: 65px">
                                <ul>
                                    <li> <a href="{{protocol + '://' + host}}/homer_server/download/linux" class="no-wrap" download="homer_server_linux">Linux</a></li>
                                    <li> <a href="{{protocol + '://' + host}}/homer_server/download/mac" class="no-wrap" download="homer_server_mac">Mac OS X</a></li>
                                    <li> <a href="{{protocol + '://' + host}}/homer_server/download/mac" class="no-wrap" download="homer_server_windows.exe">Windows 7, 8, 10</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <div class="mt-step-col">
                                <div class="mt-step-number font-grey-cascade">3</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Install with Terminal Commands</div>
                                <div class="mt-step-content font-grey-cascade">For more details look at  <a href="https://docu.byzance.cz" class="no-wrap" target="_blank">Docu</a></div>
                            </div>
                            <div style="margin-left: 65px">
                                <p>Find your file in your directory and use this commands:</p>
                                <ul>
                                    <li> chmod +x homer-server-linux</li>
                                    <li> sudo ./homer-server-linux &amp;>/dev/null &amp;</li>
                                </ul>
                            </div>
                        </div>

                        <div class="margin-bottom-30">
                            <div class="mt-step-col">
                                <div class="mt-step-number font-grey-cascade">4</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Set CName Record for your IP Address</div>
                                <div class="mt-step-content font-grey-cascade">Fallow Installation Tutorial</div>
                            </div>
                            <div style="margin-left: 65px">
                                <p>For Secure Configuration with Certificates Set CName Record on your Domain to local IP address of your server</p>
                                <p>And Wait a few Minutes. Try to use your new domain configuration  my<em>cname</em>name.my_domain.com:3000.</p>

                                <p>If you see configuration page, you can continue to next step.</p>
                            </div>
                        </div>


                        <div class="margin-bottom-30">
                            <div class="mt-step-col">
                                <div class="mt-step-number font-grey-cascade">5</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Create New Server Record on Byzance</div>
                                <div class="mt-step-content font-grey-cascade">Fallow Installation Tutorial</div>
                            </div>
                            <div style="margin-left: 65px">
                                <p>And don't forget to use your my<em>cname</em>name.my_domain.com  instead IP Address!</p>

                                <p>Server will automatically configure your server and also install domain certificates. </p>
                                <button class="btn blue" (click)="onCreateHomerServerManuallyClick()">
                                    <i class="fa fa-plus-circle"></i> {{'btn_create_manually_server'|bkTranslate:this}}
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</bk-layout-main>
