<bk-layout-main
    [tabMenu]="'projects-project'"
    [show_title]="false"
    [title]="currentParamsService.currentProjectNameSnapshot"
    [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">
    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-server'"
        (onClick)="onCreateDatabaseClick()"
        [btns]="[
                  {
                    condition: true,
                    btn_label_for_person: ('btn_create_database'|bkTranslate:this),
                    icon: 'fa-plus-circle',
                    colorType: 'CREATE',
                    permission: true,
                    btn_tag: 'database_add'
                  }
                ]">
    </bk-portlet-title>
            <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->
            <div class="portlet-body">
                    <table class="table table-hover table-light byzance-table">
                            <thead>
                                <tr>
                                    <th class="">{{'table_database_name'|bkTranslate:this}}</th>
                                    <th class="">{{'table_database_description'|bkTranslate:this}}</th>
                                    <th class="">{{'table_id'|bkTranslate:this}}</th>
                                </tr>
                            </thead>
                            <tbody class="hide-bk-drob-down-button">
                                <tr *ngFor="let database of databases">
                                    <td class="vert-align no-wrap"> {{database.name}} </td>
                                    <td class="vert-align no-wrap"> {{database.description}} </td>
                                    <td class="action-btn-col">
                                        <bk-drob-down-button
                                            [btns] = "[
                                                {
                                                    condition: true,
                                                    btn_label_for_person: ('label_delete_database'|bkTranslate:this),
                                                    btn_tag: 'remove_database',
                                                    icon: 'fa-trash',
                                                    colorType: 'REMOVE',
                                                    permission: (true)
                                                }
                                            ]"
                                            >
                                        </bk-drob-down-button>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>
</bk-layout-main>

