<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-desktop"></i>
                    <span [innerHTML]="'title'|bkTranslate:this:(gridProject?gridProject.name:'')"> </span>
                </span>
            </div>
            <div *ngIf="gridProject" class="becki-actions">
                <button title="{{'label_device_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!gridProject.update_permission" (click)="onProjectEditClick()">
                    <i class="fa fa-cog"></i>
                </button>
                <button title="{{'label_device_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!gridProject.delete_permission" (click)="onProjectDeleteClick()">
                    <i class="fa fa-trash"></i>
                </button>
                <button class="btn blue" [disabled]="!gridProject || !gridProject.update_permission" (click)="onProgramAddClick(gridProject)">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_grid_program'|bkTranslate:this}}
                </button>
            </div>
        </div>
        <div>
            <span [innerHTML]="'label_grid_project_description'|bkTranslate:this:(gridProject?gridProject.description:'')"></span>
        <div *ngIf="gridProject && gridProject.programs && gridProject.programs.length" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{'table_name'|bkTranslate:this}}</th>
                    <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let program of gridProject.programs">
                    <td class="vert-align no-wrap bold"><a (click)="onProgramClick(program)">{{program.name}}</a></td>
                    <td class="vert-align">{{program.description}}</td>
                    <td class="vert-align no-wrap">

                        <style type="text/css">
                            table tr button { opacity:0.05;}
                            table tr:hover button { opacity:1 }
                        </style>

                        <button title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!program.edit_permission" (click)="onProgramEditClick(program)">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="{{'label_version_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!program.delete_permission" (click)="onProgramDeleteClick(program)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!gridProject" class="text-center">{{'loading'|bkTranslate:this}}</h3>
        <div *ngIf="gridProject && !(gridProject.programs && gridProject.programs.length)" class="list-no-items">
            <p class="list-no-items__main-label" [innerHTML]="'label_no_grid'|bkTranslate:this"></p>
            <p class="list-no-items__sub-label">{{'label_create_grid_text'|bkTranslate:this}}</p>
            <p>
                <button class="btn blue" [disabled]="!gridProject || !gridProject.update_permission" (click)="onProgramAddClick(gridProject)">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_grid_program'|bkTranslate:this}}
                </button>
            </p>
        </div>
    </div>
    </div>

</bk-layout-main>
