<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div *ngIf="library" class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code"></i>
                             Byzance<strong class="font-color-code">CODE</strong> - library <strong>{{currentParamsService.currentLibraryNameSnapshot}}</strong>
                        </span>
                    </div>
                    <div class="becki-actions">
                        <button title="Library properties" class="btn btn-icon-only green" [disabled]="!library.edit_permission" (click)="onEditClick()">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="Delete Library" class="btn btn-icon-only red" [disabled]="!library.delete_permission" (click)="onRemoveClick()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <strong class="font-color-code">CODE</strong> Library name: <strong>{{library?library.name:""}}</strong><br>
                    <strong class="font-color-code">CODE</strong> Description: <strong>{{library?library.description:""}}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-file-code-o"></i>
                            IDE
                        </span>
                    </div>
                    <div *ngIf="selectedLibraryVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>Version:</strong> <span *ngIf="changesInSelectedVersion().length > 0" class="changes"></span> {{selectedLibraryVersion.version_name}}</span>
                    </div>
                </div>
                <bk-code-ide [files]="selectedCodeFiles" defaultOpenFilename="README.md"></bk-code-ide>
                <div>
                    <div class="pull-right">
                        <button type="button" class="btn default green-haze" (click)="onSaveClick()" [disabled]="changesInSelectedVersion().length == 0">
                            <i class="fa fa-floppy-o"></i> Save
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code-fork"></i>
                            Saved versions
                        </span>
                    </div>
                </div>
                <div *ngIf="selectedLibraryVersion">
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="col col-lg-2">Name</th>
                            <th class="col col-lg-9">Description</th>
                            <th class="col col-lg-1 text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let version of libraryVersions">
                            <td class="bold" [class.bold]="isSelected(version)">
                                <a (click)="onLibraryVersionClick(version)">
                                    {{version.version_name}}
                                </a>
                            </td>
                            <td>
                                {{version.version_description}}
                            </td>

                            <td>
                                <style type="text/css">
                                    table tr button { opacity:0.05;}
                                    table tr:hover button { opacity:1 }
                                </style>

                                <button title="Device properties" class="btn btn-icon-only green" [disabled]="!version.update_permission" (click)="onEditVersionClick(version)">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <button title="Remove device" class="btn btn-icon-only red" [disabled]="!version.delete_permission" (click)="onRemoveVersionClick(version)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
