<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main [tabMenu]="'projects-project'"
                [show_title]="false"
                [title]="currentParamsService.currentProjectNameSnapshot"
                [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-microchip'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (tab == 'hardware_list' && devicesFilter && devicesFilter.content.length > 0),
                          btn_label_for_person: ('btn_add_hardware'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          permission: true,
                          btn_tag: 'add_hardware'
                      },
                      {
                          condition: (tab == 'hardware_groups' && deviceGroup && deviceGroup.content.length > 0),
                          btn_label_for_person: ('btn_add_hardware_group'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          permission: true,
                          btn_tag: 'add_hardware_group'
                      }
                  ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name]="tab"
        [tabBtns]="[
                        {
                            tab_name: 'hardware_list',
                            condition: (true),
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_hardware_list'|bkTranslate:this)
                        },
                        {
                            tab_name: 'hardware_groups',
                            condition: (true),
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_hardware_groups'|bkTranslate:this)
                        }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <!-- Page Content -- START -->
    <div class="portlet-body">
        <div *ngIf="tab == 'hardware_list'">

            <bk-filter-component *ngIf="formFilterGroup"
                [closed]="true"
                [showFilterHead]="true"
                (onEnterHit)="onFilterHardware()"
                [filter_parameters]="[
                                        {
                                            type: 'FIND_BY_TEXT',
                                            content: {
                                                key: 'alias',
                                                label: 'Alias',
                                                form: formFilterGroup,
                                                showLabel: true
                                            }
                                        },
                                        {
                                            type: 'FIND_BY_TEXT',
                                            content: {
                                                key: 'id',
                                                label: 'Device ID (Part\'s not supported)',
                                                form: formFilterGroup,
                                                showLabel: true
                                            }
                                        },
                                        {
                                            type: 'FIND_BY_TEXT',
                                            content: {
                                                key: 'full_id',
                                                label: 'Full ID',
                                                form: formFilterGroup,
                                                showLabel: true
                                            }
                                        },
                                        {
                                            type: 'FIND_BY_TEXT',
                                            content: {
                                                key: 'description',
                                                label: 'Something in Description',
                                                form: formFilterGroup,
                                                showLabel: true
                                            }
                                        }
                                    ]"
            ></bk-filter-component>

            <div *ngIf="(devicesFilter && devicesFilter.content.length > 0)">
                <table class="table table-hover table-light byzance-table table-scrollable table-scrollable-borderless">
                    <thead>
                        <tr>
                            <th class="">
                                <a [innerHTML]="'table_hardware_name'|bkTranslate:this"
                                   (click)="formFilterGroup.controls['orderBy'].setValue('NAME'); onFilterHardware()"
                                   [class.bold]="formFilterGroup.controls['orderBy'].value === 'NAME'"></a>
                                <bk-icon-component *ngIf="formFilterGroup.controls['orderBy'].value === 'NAME'"
                                    [icon]="formFilterGroup.controls['order_schema'].value === 'ASC' ? 'fa-chevron-up' : 'fa-chevron-down'"
                                    [color]="'font-silver'"
                                    [color_on]="'font-color-byzance-blue'"
                                    [condition]="true"
                                    (onClickEvent)="formFilterGroup.controls['order_schema'].value === 'ASC' ? formFilterGroup.controls['order_schema'].setValue('DESC') : formFilterGroup.controls['order_schema'].setValue('ASC'); onFilterHardware()">
                                </bk-icon-component>
                            </th>
                            <th class="">
                                <a [innerHTML]="'table_hardware_id'|bkTranslate:this"
                                   (click)="formFilterGroup.controls['orderBy'].setValue('ID'); onFilterHardware()"
                                   [class.bold]="formFilterGroup.controls['orderBy'].value === 'ID'"></a>
                                <bk-icon-component *ngIf="formFilterGroup.controls['orderBy'].value === 'ID'"
                                                   [icon]="formFilterGroup.controls['order_schema'].value === 'ASC' ? 'fa-chevron-up' : 'fa-chevron-down'"
                                                   [color]="'font-silver'"
                                                   [color_on]="'font-color-byzance-blue'"
                                                   [condition]="true"
                                                   (onClickEvent)="formFilterGroup.controls['order_schema'].value === 'ASC' ? formFilterGroup.controls['order_schema'].setValue('DESC') : formFilterGroup.controls['order_schema'].setValue('ASC'); onFilterHardware()">
                                </bk-icon-component>
                            </th>
                            <th class="">
                                <a [innerHTML]="'table_hardware_full_id'|bkTranslate:this"
                                   (click)="formFilterGroup.controls['orderBy'].setValue('FULL_ID'); onFilterHardware()"
                                   [class.bold]="formFilterGroup.controls['orderBy'].value === 'FULL_ID'"></a>
                                <bk-icon-component *ngIf="formFilterGroup.controls['orderBy'].value === 'FULL_ID'"
                                                   [icon]="formFilterGroup.controls['order_schema'].value === 'ASC' ? 'fa-chevron-up' : 'fa-chevron-down'"
                                                   [color]="'font-silver'"
                                                   [color_on]="'font-color-byzance-blue'"
                                                   [condition]="true"
                                                   (onClickEvent)="formFilterGroup.controls['order_schema'].value === 'ASC' ? formFilterGroup.controls['order_schema'].setValue('DESC') : formFilterGroup.controls['order_schema'].setValue('ASC'); onFilterHardware()">
                                </bk-icon-component>
                            </th>

                            <th class="" [innerHTML]="'table_description'|bkTranslate:this"></th>
                            <th class="text-center" [innerHTML]="'label_type'|bkTranslate:this"></th>
                            <th class="text-center" [innerHTML]="'table_groups'|bkTranslate:this"></th>
                            <th class="text-center" [innerHTML]="'table_project_status'|bkTranslate:this"></th>
                            <th class="text-center" [innerHTML]="'table_status'|bkTranslate:this"></th>
                            <th class="text-center" [innerHTML]="'table_tags'|bkTranslate:this"></th>
                            <th class="text-center" [innerHTML]="'table_actions'|bkTranslate:this"></th>
                        </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let device of devicesFilter.content">

                        <td class="vert-align">

                            <div class="icon-hint-wraper red" *ngIf="device.alert_list && device.alert_list.length > 0">
                                <i class="fa fa-fw fa-exclamation-triangle font-red-flamingo"></i>
                                <div class="hint-fixed">
                                    <span class="hint right">
                                         <div *ngFor="let alert of device.alert_list" class="no-wrap">{{alert|bkTranslateTable:this:'device_alerts'}}</div>
                                    </span>
                                </div>
                            </div>

                            <a (click)="onDeviceClick(device.id)" class="no-wrap">
                                <strong *ngIf="device.name && device.name != 'null'">{{device.name}}</strong>
                                <strong *ngIf="!device.name || device.name == 'null'">{{device.full_id}}</strong>
                            </a>

                        </td>
                        <td class="vert-align no-wrap">{{device.id.substr(0,13)}}</td>
                        <td class="vert-align no-wrap word-break">{{device.full_id}}</td>
                        <td class="vert-align no-wrap word-break">{{device.description}}</td>
                        <td class="vert-align text-center"><a
                            (click)="onHardwareTypeClick(device.hardware_type.id)">{{device.hardware_type.name}}</a>
                        </td>
                        <td class="vert-align text-center no-wrap">

                            <div *ngIf="!device.hardware_groups">
                                -
                            </div>
                            <div *ngIf="device.hardware_groups">
                                [
                                <span *ngFor="let group of device.hardware_groups; let last = last">
                                     {{group.name}}<span *ngIf="!last">, </span>
                                </span>
                                ]
                            </div>

                        </td>

                        <td class="vert-align text-center no-wrap">

                            <div *ngIf="!device.dominant_entity && device.dominant_project_active">
                                <span *ngIf="device.dominant_project_active.id">Active In: <a (click)="onProjectClick(device.dominant_project_active.id)">{{device.dominant_project_active.name}}</a></span>
                                <span *ngIf="!device.dominant_project_active.id" [innerHTML]="'label_foreign_project'|bkTranslate:this"></span>
                            </div>
                            <div *ngIf="!device.dominant_entity && !device.dominant_project_active">
                                <span class="font-green-jungle">Can Be Activated</span>
                            </div>
                        </td>
                        <td class="vert-align text-center no-wrap">
                            <bk-online-state [online_state]="device.online_state" [latest_online]="device.latest_online"></bk-online-state>
                        </td>

                        <td class="vert-align">
                            <bk-form-tag-input [tags_without_form]="device.tags" [readonly]="true"></bk-form-tag-input>
                        </td>

                        <td class="action-btn-col">

                            <bk-icon-component [condition]="device.online_state=='ONLINE'" [icon]="'fa-lightbulb-o'" [color]="'font-silver'" [color_on]="'font-color-byzance-blue'" (onClickEvent)="onBlinkDeviceClick(device)">
                            </bk-icon-component>

                            <bk-drob-down-button
                                [btns_group_name]="('label_settings'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_set_hardware_group'|bkTranslate:this),
                                    btn_tag: 'edit_hardware_group_device',
                                    icon: 'fa-object-group',
                                    colorType: 'UPDATE',
                                    permission: (device.update_permission)
                                },
                                {
                                    condition: (device.online_state === 'ONLINE'),
                                    btn_label_for_person: ('label_blink_hardware'|bkTranslate:this),
                                    btn_tag: 'blink_hardware',
                                    icon: 'fa-lightbulb-o',
                                    colorType: 'ADD',
                                    permission: (device.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_device_properties'|bkTranslate:this),
                                    btn_tag: 'edit_hardware',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (device.update_permission)
                                },
                                {
                                    condition: (!device.dominant_entity && !device.dominant_project_active),
                                    btn_label_for_person: ('label_activate_hardware'|bkTranslate:this),
                                    btn_tag: 'activate_hardware',
                                    icon: 'fa-flag',
                                    colorType: 'ADD',
                                    permission: (device.update_permission)
                                },
                                {
                                    condition: (device.dominant_entity),
                                    btn_label_for_person: ('label_deactivate_hardware'|bkTranslate:this),
                                    btn_tag: 'deactivate_hardware',
                                    icon: 'fa-ban',
                                    colorType: 'ADD',
                                    permission: (device.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_remove_device'|bkTranslate:this),
                                    btn_tag: 'remove_hardware',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (device.delete_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, device)"
                            >
                            </bk-drob-down-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="devicesFilter.from" [to]="devicesFilter.to"
                                          [total]="devicesFilter.total" [totalPages]="devicesFilter.pages"
                                          (onSelect)="onFilterHardware($event)"></bk-filter-page-component>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(devicesFilter == null)"
                                [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5a0c3d3adace480001d6c0e2_Kreslic%C3%AD%20pl%C3%A1tno%203%20kopie-fin1.svg'"
                                [condition_empty]="(devicesFilter != null && devicesFilter.content.length == 0)"
                                [main_message_link]="'label_no_hardware'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_hardware_comment'|bkTranslate:this"
                                [btn_label]="'btn_add_hardware'|bkTranslate:this"
                                (onButtonClick)="onHardwareAddClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>


        <div *ngIf="tab == 'hardware_groups'">
            <div *ngIf="(deviceGroup && deviceGroup.content.length > 0)">
                <table class="table table-hover table-light byzance-table table-scrollable table-scrollable-borderless">
                    <thead>
                    <tr>
                        <th class="">
                            <span [innerHTML]="'table_hardware_group_name'|bkTranslate:this"></span>
                        </th>
                        <th class="" [innerHTML]="'table_description'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]=" 'table_size'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]="'label_type'|bkTranslate:this"></th>
                        <th class="text-center">{{'table_tags'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let group of deviceGroup.content">

                        <td class="vert-align no-wrap bold">{{group.name}}</td>
                        <td class="vert-align no-wrap">{{group.description}}</td>
                        <td class="vert-align text-center no-wrap">{{group.size}}</td>
                        <td class="vert-align text-center no-wrap">
                            <div *ngIf="!group.hardware_types">
                                -
                            </div>
                            <div *ngIf="group.hardware_types">
                                [
                                <span *ngFor="let hw_type of group.hardware_types; let last = last">
                                        <a (click)="onHardwareTypeClick(hw_type.id)">{{hw_type.name}}</a>
                                        <span *ngIf="!last">, </span>
                                 </span>
                                ]
                            </div>
                        </td>

                        <td class="vert-align">
                            <!-- bk-form-tag-input [tags_without_form]="group.tags" [readonly]="true"></bk-form-tag-input !-->
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_settings'|bkTranslate:this)"
                                [btns]="[
                                 {
                                    condition: true,
                                    btn_label_for_person: ('label_set_hardware_group'|bkTranslate:this),
                                    btn_tag: 'edit_hardware_group_group',
                                    icon: 'fa-object-group',
                                    colorType: 'UPDATE',
                                    permission: (group.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_group_properties'|bkTranslate:this),
                                    btn_tag: 'edit_group',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (group.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_remove_group'|bkTranslate:this),
                                    btn_tag: 'remove_group',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (group.delete_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, group)"
                            >
                            </bk-drob-down-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="deviceGroup.from" [to]="deviceGroup.to" [total]="deviceGroup.total"
                                          [totalPages]="deviceGroup.pages"
                                          (onSelect)="onFilterHardwareGroup($event)"></bk-filter-page-component>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(deviceGroup == null)"
                                [condition_empty]="(deviceGroup != null && deviceGroup.content.length == 0)"
                                [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5a0c3d37ef4a3c00018002aa_Kreslic%C3%AD%20pl%C3%A1tno%206-fin1.svg'"
                                [image_description]="'label_hardware_group_documentation_description'|bkTranslate:this"
                                [main_message_link]="'label_no_hardware_group'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_hardware_group_comment'|bkTranslate:this"
                                [btn_label]="'btn_add_hardware_group'|bkTranslate:this"
                                (onButtonClick)="onGroupAddClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

    </div>
    <!-- Page Content -- END -->

</bk-layout-main>
