<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main [tabMenu]="'projects-project'"
                [show_title]="false"
                [title]="currentParamsService.currentProjectNameSnapshot"
                [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-microchip'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (tab == 'updates' && releaseList && releaseList.content.length > 0),
                          btn_label_for_person: ('btn_add_new_update'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          permission: true,
                          btn_tag: 'new_release'
                      }
                  ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name]="tab"
        [tabBtns]="[]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <!-- Page Content -- START -->
    <div class="portlet-body">

        <bk-filter-component *ngIf="formFilterGroup"
                             [closed]="true"
                             [showFilterHead]="true"
                             (onChange)="onFilterChange($event)"
                             [filter_parameters]="[
                                        {
                                            type: 'CHECKBOX_LIST',
                                            content: {
                                                options: [
                                                   {
                                                        key: 'SUCCESSFULLY_COMPLETE',
                                                        label: ('SUCCESSFULLY_COMPLETE'|bkTranslateTable:this:'update_state'),
                                                        selected: filterUpdateValues['IN_PLAN'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'COMPLETE',
                                                        label: ('COMPLETE'|bkTranslateTable:this:'update_state'),
                                                         selected: filterUpdateValues['COMPLETE'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'COMPLETE_WITH_ERROR',
                                                        label: ('COMPLETE_WITH_ERROR'|bkTranslateTable:this:'update_state'),
                                                        selected: filterUpdateValues['COMPLETE_WITH_ERROR'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'CANCELED',
                                                        label: ('CANCELED'|bkTranslateTable:this:'update_state'),
                                                        selected: filterUpdateValues['CANCELED'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'IN_PROGRESS',
                                                        label: ('IN_PROGRESS'|bkTranslateTable:this:'update_state'),
                                                        selected: filterUpdateValues['IN_PROGRESS'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'NOT_START_YET',
                                                        label: ('NOT_START_YET'|bkTranslateTable:this:'update_state'),
                                                        selected: filterUpdateValues['NOT_START_YET'],
                                                        color: 'info'
                                                    }
                                                ]
                                            },
                                            horizontal: true
                                        }
                                    ]"
        ></bk-filter-component>

        <div *ngIf="tab == 'updates'">
            <div *ngIf="(releaseList && releaseList.content.length > 0)">
                <table class="table table-hover table-light   table-scrollable table-scrollable-borderless">
                    <thead>
                    <tr>
                        <th class="vert-align">{{'table_update_id'|bkTranslate:this}}</th>
                        <th class="vert-align">{{'table_created'|bkTranslate:this}}</th>
                        <th class="vert-align">{{'table_planed'|bkTranslate:this}}</th>
                        <th class="vert-align">{{'table_finished'|bkTranslate:this}}</th>
                        <th class="vert-align text-center">{{'table_firmware_type'|bkTranslate:this}}</th>
                        <th class="vert-align text-center">{{'table_details'|bkTranslate:this}}</th>
                        <th class="vert-align text-center">{{'table_update_type'|bkTranslate:this}}</th>
                        <th class="vert-align text-center">{{'table_update_progress'|bkTranslate:this}}</th>
                        <th class="vert-align">{{'table_update_state'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let procedure of releaseList.content">
                        <td class="vert-align">
                            <a class="bold" (click)="onActualizationProcedureClick(procedure.id)">{{procedure.id.substr(0, 12)}}</a>
                        </td>
                        <td class="vert-align">{{procedure.created|bkUnixTimeToDate}}</td>
                        <td class="vert-align">{{procedure.planned|bkUnixTimeToDate}}</td>
                        <td class="vert-align">
                            <span *ngIf="procedure.finished == null" class="font-yellow-casablanca">{{'label_time_missing_in_json'|bkTranslate:this}}</span>
                            <span
                                *ngIf="procedure.finished != null">{{procedure.finished|bkUnixTimeToDate}}</span>
                        </td>

                        <td class="vert-align text-center">
                            <bk-firmware-type [firmware_type]="procedure.firmware_type"></bk-firmware-type>
                        </td>
                        <td class="vert-align text-center">
                            <ng-template [ngIf]="procedure.program">
                                <a *ngIf="procedure.program" class="bold" (click)="onCProgramClick(procedure.program.c_program_id)">{{procedure.program.c_program_program_name}}</a>
                                -
                                <a *ngIf="procedure.program" class="bold" (click)="onCProgramClick(procedure.program.c_program_id, procedure.program.c_program_version_id)">{{procedure.program.c_program_version_name}}</a>
                            </ng-template>
                            <ng-template [ngIf]="procedure.bootloader">
                                <span class="bold">{{procedure.bootloader.bootloader_name}}</span>
                            </ng-template>
                        </td>

                        <td class="vert-align text-center">
                            <bk-type-of-update [state]="procedure.type_of_update"></bk-type-of-update>
                        </td>
                        <td class="vert-align text-center">
                            <span *ngIf="procedure.procedure_size_all > 0" class="bold">{{procedure.procedure_size_complete}}/{{procedure.procedure_size_all}}</span>
                            <span *ngIf="!procedure.procedure_size_all || procedure_size_all == 0 "
                                  class="bold">-/-</span>
                        </td>

                        <!-- Update State -->
                        <td class="vert-align text-center">
                            <bk-update-state [updateState]="procedure.state"></bk-update-state>
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_settings'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_change_update_parameters'|bkTranslate:this),
                                    btn_tag: 'edit_procedure',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (procedure.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_cancel_update'|bkTranslate:this),
                                    btn_tag: 'remove_procedure',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (procedure.delete_permission)
                                }
                            ]"
                            (onValueChanged)="onDrobDownEmiter($event, procedure)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="releaseList.from" [to]="releaseList.to"
                                          [total]="releaseList.total" [totalPages]="releaseList.pages"
                                          (onSelect)="onFilterActualizationProcedure($event)"></bk-filter-page-component>
            </div>


            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(releaseList == null)"
                                [condition_empty]="(releaseList != null && releaseList.content.length == 0)"
                                [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5a0c3d316b2b6e0001417b9b_Kreslic%C3%AD%20pl%C3%A1tno%2016-fin1.svg'"
                                [image_description]="'label_release_documentation_description'|bkTranslate:this"
                                [main_message_link]="'label_no_updates'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_updates_comment'|bkTranslate:this"
                                [btn_label]="'btn_add_new_update'|bkTranslate:this"
                                (onButtonClick)="onProcedureCreateClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>


    </div>
    <!-- Page Content -- END -->

</bk-layout-main>
