<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-code"></i>
                    Byzance<strong class="font-color-code">CODE</strong> - all libraries
                </span>
            </div>
            <div class="becki-actions">
                <button class="btn blue" (click)="onAddClick()">
                    <i class="fa fa-plus-circle"></i> Add code library
                </button>
            </div>
        </div>
        <div *ngIf="(libraries && libraries.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="full-width">Description</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let library of libraries">
                    <td class="no-wrap bold"><a (click)="onLibraryClick(library)">{{library.name}}</a></td>
                    <td>{{library.description}}</td>
                    <td class="no-wrap">
                        <button title="Code program properties" class="btn btn-icon-only green" [disabled]="!library.edit_permission" (click)="onEditClick(library)">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="Remove code program" class="btn btn-icon-only red" [disabled]="!library.delete_permission" (click)="onRemoveClick(library)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!libraries" class="text-center">Loading...</h3>
        <div *ngIf="libraries && libraries.length == 0" class="list-no-items">
            <p class="list-no-items__main-label">There is not any code library in this project</p>
            <p class="list-no-items__sub-label">You can create it by click on button bellow.</p>
            <p>
                <button class="btn blue" (click)="onAddClick()">
                    <i class="fa fa-plus-circle"></i> Add code library
                </button>
            </p>
        </div>
    </div>

</bk-layout-main>
