<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-microchip"></i>
                    Byzance<strong class="font-color-hardware">HARDWARE</strong> - all devices
                </span>
            </div>
            <div class="becki-actions">
                <button class="btn blue" (click)="onAddClick($event)">
                    <i class="fa fa-plus-circle"></i> Add hardware device
                </button>
            </div>
        </div>
        <div *ngIf="(devices && devices.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col col-lg-2">Name</th>
                    <th class="col col-lg-2">ID</th>
                    <th class="col col-lg-2"><strong class="font-color-hardware">Hardware</strong> Type</th>
                    <th class="full-width">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let device of devices">
                    <td class="no-wrap">
                        <span class="icon-hint-wraper red" *ngIf="device.alert_list && device.alert_list.length > 0">
                            <i class="fa fa-fw fa-exclamation-triangle font-red-flamingo"></i>
                            <div class="hint-fixed">
                                <span class="hint right">
                                    <div *ngFor="let alert of device.alert_list" class="no-wrap">{{alert|bkTanslateTable:'device_alerts'}}</div>
                                </span>
                            </div>
                        </span>
                        <a (click)="onDeviceClick(device)" class="no-wrap"><strong>{{device.personal_description?device.personal_description:device.id}}</strong></a>
                    </td>
                    <td class="no-wrap">{{device.id}}</td>
                    <td class="no-wrap"><a (click)="onBoardTypeClick(device.type_of_board_id)">{{device.type_of_board_name}}</a></td>
                    <td class="no-wrap">
                        <span *ngIf="device.board_online_status" class="font-green-jungle">online</span>
                        <span *ngIf="!device.board_online_status" class="font-red-flamingo">offline</span>
                    </td>
                    <td class="no-wrap">

                        <style type="text/css">
                            table tr button { opacity:0.05;}
                            table tr:hover button { opacity:1 }
                        </style>
                        
                        <button title="Device properties" class="btn btn-icon-only green" [disabled]="!device.edit_permission" (click)="onEditClick(device)">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="Remove device" class="btn btn-icon-only red" [disabled]="!device.delete_permission" (click)="onRemoveClick(device)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!devices" class="text-center">Loading...</h3>
        <div *ngIf="devices && devices.length == 0" class="list-no-items">
            <p class="list-no-items__main-label">There is not any device in this project</p>
            <p class="list-no-items__sub-label">You can add it by click on button bellow.</p>
            <p>
                <button class="btn blue" (click)="onAddClick($event)">
                    <i class="fa fa-plus-circle"></i> Add hardware device
                </button>
            </p>
        </div>
    </div>

</bk-layout-main>
