<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code"></i>
                             Byzance<strong class="font-color-code">CODE</strong> - program <strong>{{currentParamsService.currentCodeNameSnapshot}}</strong>
                        </span>
                    </div>
                </div>
                <div>
                    Name: <strong>{{codeProgram?codeProgram.name:""}}</strong><br>
                    Description: <strong>{{codeProgram?codeProgram.description:""}}</strong><br>
                    Device type: <strong><a (click)="onBoardTypeClick(codeProgram.type_of_board_id)">{{codeProgram?codeProgram.type_of_board_name:""}}</a></strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-file-code-o"></i>
                            IDE
                        </span>
                    </div>
                    <div *ngIf="selectedProgramVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>Version:</strong> <span *ngIf="changesInSelectedVersion().length > 0" class="changes"></span> {{selectedProgramVersion.version_object.version_name}}</span>
                    </div>
                </div>
                <bk-code-ide [files]="selectedCodeFiles" defaultOpenFilename="main.cpp" (fileContentChange)="onFileContentChange($event)" [enableLibraryButtons]="true" (onAddLibraryClick)="onAddLibraryClick()" (onChangeLibraryVersionClick)="onChangeLibraryVersionClick($event)"></bk-code-ide>
                <div>
                    <div class="pull-right">
                        <button type="button" class="btn default yellow-gold" (click)="onBuildClick()" [disabled]="buildInProgress">
                            <i class="fa fa-play" *ngIf="!buildInProgress"></i> <i class="fa fa-spinner fa-spin" *ngIf="buildInProgress"></i> Build
                        </button>
                        <button type="button" class="btn default green-haze" (click)="onSaveClick()">
                            <i class="fa fa-floppy-o"></i> Save
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div *ngIf="buildErrors">
                    <div class="spacer30"></div>
                    <div  class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-play font-red"></i>
                                <span class="caption-subject bold uppercase font-red">Build errors</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div *ngFor="let buildError of buildErrors" class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-shadow uppercase" [class.ribbon-color-danger]="buildError.type=='error'" [class.ribbon-color-warning]="buildError.type=='warning'" >{{buildError.type}}</div>
                                <p class="ribbon-content">
                                    File: <b>{{buildError.filename}}</b>
                                    Line: <b>{{buildError.line}}</b>
                                    <br>
                                    <b>{{buildError.text}}</b>
                                    <br>
                                    <code>{{buildError.code}}</code>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-sitemap fa-rotate-90"></i>
                            Byzance<strong class="font-color-blocko">BLOCKO</strong> interface preview
                        </span>
                    </div>
                </div>
                <div>
                    <bk-blocko-view [disableExecution]="true" [canConfig]="false" [readonly]="true" [simpleMode]="false" [autosize]="true" class="blocko-overflow-visible blocko-no-borders-and-bg blocko-code-view"></bk-blocko-view>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code-fork"></i>
                            Saved versions
                        </span>
                    </div>
                </div>
                <div *ngIf="codeProgramVersions">
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="col col-lg-2">Name</th>
                            <th class="col col-lg-6">Description</th>
                            <th class="col col-lg-1">Author</th>
                            <th class="col col-lg-1">Status</th>
                            <th class="col col-lg-1"></th>
                            <th class="col col-lg-1">Actions</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let version of codeProgramVersions">
                            <!-- NAME -->
                            <td class="bold" [class.bold]="isSelected(version)">
                                <a (click)="onProgramVersionClick(version)">
                                    {{version.version_name}}
                                </a>
                            </td>
                            <!-- Description -->
                            <td>
                                {{version.version_description}}
                            </td>
                            <!-- Author -->
                            <td>
                                {{version.author.nick_name}}
                            </td>
                            <!-- STATUS -->
                            <td>
                                 <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                    <i class="fa fa-exclamation-triangle font-red-mint"></i>
                                </span>
                                <span class="icon-hint-wraper orange" *ngIf="version.status=='compiled_with_code_errors'">
                                    <i class="fa fa-thumbs-down font-yellow"></i>
                                    <span class="hint">{{versionStatusTranslate[version.status]}}</span>
                                </span>

                                <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                    <i class="fa fa-heartbeat font-red-mint"></i>
                                    <span class="hint">{{versionStatusTranslate[version.status]}}</span>
                                </span>

                                <span class="icon-hint-wraper orange" *ngIf="version.status=='server_was_offline' || version.status=='successfully_compiled_not_restored' || version.status=='undefined' || version.status=='file_with_code_not_found' || version.status=='compilation_server_error' || version.status=='json_code_is_broken'">
                                    <i class="fa fa-wrench font-yellow"></i>
                                    <span class="hint">{{versionStatusTranslate[version.status]}}</span>
                                </span>

                                <span class="icon-hint-wraper gray" *ngIf="version.status=='compilation_in_progress'">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    <span class="hint">{{versionStatusTranslate[version.status]}}</span>
                                </span>

                                <span class="icon-hint-wraper green" *ngIf="version.status=='successfully_compiled_and_restored'">
                                    <i class="fa fa-check font-green-jungle"></i>
                                    <span class="hint">{{versionStatusTranslate[version.status]}}</span>
                                </span>
                            </td>
                            <!-- UPLOAD -->
                            <td>
                                <button title="Device properties" class="btn blue" (click)="onUploadClick(version)" *ngIf="device && device.connectible_to_internet && version.status=='successfully_compiled_and_restored'">
                                    Upload
                                </button>
                            </td>
                            <!-- ACTIONS -->
                            <td>
                                <style type="text/css">
                                    table tr button { opacity:0.05;}
                                    table tr:hover button { opacity:1 }
                                </style>

                                <button title="Device properties" class="btn btn-icon-only green" [disabled]="!version.update_permission" (click)="onEditVersionClick(version)">
                                    <i class="fa fa-cog"></i>
                                </button>

                                <button title="Remove device" class="btn btn-icon-only red" [disabled]="!version.delete_permission" (click)="onRemoveVersionClick(version)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
