<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div *ngIf="gridProgram" class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-desktop"></i>
                            <span [innerHTML]="'title'|bkTranslate:this:(gridProgram?gridProgram.name:'')"></span>
                        </span>
                    </div>
                    <div class="becki-actions">
                        <button title="{{'label_program_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!gridProgram.edit_permission"
                            (click)="onProgramEditClick()">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="{{'label_program_delete'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!gridProgram.delete_permission"
                            (click)="onProgramDeleteClick()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <span [innerHTML]="'label_grid_description'|bkTranslate:this:(gridProgram?gridProgram.description:'')"></span>                    <br>
                    <br>
                    <span [innerHTML]="'label_grid_grid_project'|bkTranslate:this"></span> <strong><a (click)="onGridProjectClick(gridProject.id)">{{gridProject?gridProject.name:""}}</a></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-th fa-rotate-90"></i>
                            {{'label_grid'|bkTranslate:this}}
                        </span>
                    </div>
                    <div *ngIf="selectedProgramVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>{{'label_version'|bkTranslate:this}}:</strong> <span *ngIf="unsavedChanges" class="changes"></span>                        {{selectedProgramVersion.version_object.version_name}}</span>
                    </div>
                </div>

                <div>
                    <div class="pull-left">
                        <button type="button" class="btn default green-haze" (click)="onAddPageClick()">
                            <i class="fa fa-plus"></i> {{'btn_add_page'|bkTranslate:this}}
                        </button>
                    </div>
                    <div class="pull-right">
                        <label>{{'label_grid_size_class'|bkTranslate:this}}: </label>
                        <select class="form-control no-full-width" [ngModel]="gridDeviceProfile" (ngModelChange)="onChangeGridDeviceProfile($event)">
                            <option value="mobile"> {{'option_mobile'|bkTranslate:this}}</option>
                            <option value="tablet"> {{'option_tablet'|bkTranslate:this}}</option>
                            <option value="desktop">{{'option_desktop'|bkTranslate:this}}</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div #editor style="margin: 10px 0; overflow-x: auto; position: relative;">
                    <div class="grid-trash-helper" [class.visible]="trashPosition.visible" [style.left]="trashPosition.x + 'px'" [style.top]="trashPosition.y + 'px'">
                        <i class="fa fa-trash" style="opacity: 0.5; font-size: 42px; color: red;"></i>
                    </div>
                    <bk-grid-view [widgetsGroups]="widgetGroups" (onChange)="onAnyChange()" (onWidgetDrag)="onWidgetDragMoveEvent($event)" (onRequestWidgetSource)="onWidgetRequestingSource($event)"
                        (onWidgetLog)="onWidgetLog($event)" (onWidgetMessage)="onWidgetMessage($event)" (onWidgetError)="onWidgetError($event)"></bk-grid-view>
                </div>

                <div>
                    <div class="pull-right">
                        <button type="button" class="btn default green-haze" (click)="onSaveClick()">
                            <i class="fa fa-floppy-o"></i> {{'btn_save'|bkTranslate:this}}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="clearfix"></div>


            <div class="clearfix"></div>

            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-terminal"></i>
                             {{'label_console'|bkTranslate:this}}
                        </span>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn default red" (click)="onClearConsoleClick()">
                            <i class="fa fa-trash-o"></i> {{'btn_clear_console'|bkTranslate:this}}
                        </button>
                    </div>
                </div>
                <div>
                    <bk-console-log maxHeight="400px"></bk-console-log>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-object-group"></i>
                             {{'label_widgets'|bkTranslate:this}}
                        </span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div *ngIf="widgetGroups" class="panel-group accordion blocko-blocks-group-list">
                        <div *ngFor="let group of widgetGroups" class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" (click)="onToggleGroup(group.id)">
                                        <i class="fa fa-pull-right fa-minus-square-o" [class.fa-minus-square-o]="widgetGroupsOpenToggle[group.id]" [class.fa-plus-square-o]="!widgetGroupsOpenToggle[group.id]"></i>
                                        {{group.name}} ({{group.grid_widgets.length}})
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse no-select" [class.in]="widgetGroupsOpenToggle[group.id]">
                                <div class="panel-body no-select" style="padding: 5px;">
                                    <div *ngIf="group.grid_widgets.length == 0" style="color: gray; text-align: center;">{{'label_no_widgets'|bkTranslate:this}}</div>

                                    <a *ngFor="let widget of group.grid_widgets" class="the-grid__widget-drag-handler no-select" [bkDraggable]="draggableOptions"
                                        (bkDraggableOnDrag)="onWidgetDrag($event)" (mousedown)="onWidgetDown($event,widget)">
                                        <i class="fa fa-fw fa-object-group" style="position: absolute; right: -25px; bottom: 0px; font-size: 65px; transform: rotate(45deg); opacity: 0.2;"></i>
                                        {{widget.name}}
                                    </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-code-fork"></i>
                             {{'label_saved_versions'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div *ngIf="gridProgramVersions">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col col-lg-2">{{'label_version_name'|bkTranslate:this}}</th>
                                <th class="col col-lg-7">{{'label_description'|bkTranslate:this}}</th>
                                <th class="col col-lg-2">{{'label_author'|bkTranslate:this}}</th>
                                <th class="col col-lg-1 text-right no-wrap">{{'label_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let version of gridProgramVersions">
                                <td class="vert-align no-wrap" [class.bold]="isSelected(version)">
                                    <a (click)="onProgramVersionClick(version)">{{version.version_name}}</a>
                                </td>
                                <td class="vert-align">
                                    {{version.version_description}}
                                </td>
                                <td class="vert-align">
                                    {{version.author.nick_name}}
                                </td>
                                <td class="vert-align no-wrap text-right">

                                    <style type="text/css">
                                        table tr button {
                                            opacity: 0.05;
                                        }

                                        table tr:hover button {
                                            opacity: 1
                                        }
                                    </style>

                                    <button title="{{'label_device_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!version.edit_permission"
                                        (click)="onEditVersionClick(version)">
                                    <i class="fa fa-cog"></i>
                                </button>

                                    <button title="{{'label_device_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!version.delete_permission"
                                        (click)="onRemoveVersionClick(version)">
                                    <i class="fa fa-trash"></i>
                                </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</bk-layout-main>
