<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="'projects-project'"
    [show_title]="false"
    [title]="currentParamsService.currentProjectNameSnapshot"
    [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-cloud'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                     {
                          condition: (instanceFilter && instanceFilter.content > 0),
                          btn_label_for_person: ('btn_create_new_instance'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          btn_tag: 'add_instance'
                      }
                ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <div *ngIf="(instanceFilter && instanceFilter.content.length)" class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light byzance-table">
                <thead>
                    <tr>
                        <th class="">{{'table_name'|bkTranslate:this}}</th>
                        <!--th class="col col-lg-1">{{'table_id'|bkTranslate:this}}</th-->
                        <th class="">{{'table_description'|bkTranslate:this}}</th>
                        <th class=""><strong class="font-color-blocko">BLOCKO</strong>{{'table_blocko_program'|bkTranslate:this}}</th>
                        <th class="">{{'table_status'|bkTranslate:this}}</th>
                        <th class="text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let instance of instanceFilter.content">

                        <td class="vert-align no-wrap bold">
                            <a (click)="onInstanceClick(instance)" class="no-wrap"><strong>{{instance.name?instance.name:instance.id}}</strong></a>
                            <span *ngIf="!instance.name" class="icon-hint-wraper gray">
                                <i  title="{{'label_own_name_and_description'|bkTranslate:this}}" class="fa fa-info-circle font-color-byzance-blue"></i>
                            </span>
                        </td>
                        <!--td class="no-wrap">{{instance.id}}</td-->
                        <td class="no-wrap">{{instance.description}}</td>
                        <td class="no-wrap"><a (click)="onBProgramClick(instance.b_program.id)">{{instance.b_program.name}}</a></td>
                        <td class="no-wrap">
                            <bk-online-state [online_state]="instance.online_state"></bk-online-state>
                        </td>
                        <td class="vert-align no-wrap text-right">

                            <style type="text/css">
                                table tr button {
                                    opacity: 0.05;
                                }

                                table tr:hover button {
                                    opacity: 1
                                }
                            </style>


                            <button title="{{'label_instance_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!instance.update_permission" (click)="onInstanceEditClick(instance)">
                                <i class="fa fa-cog"></i>
                            </button>

                            <div *ngIf="instance.online_state  == 'SHUT_DOWN'">
                                <button title="{{'label_upload_latest_used_version'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!instance.update_permission" (click)="onInstanceStartOrShutdownClick(instance, true)">
                                    <i class="fa fa-power-off"></i>
                                </button>
                            </div>

                            <div *ngIf="instance.online_state  == 'ONLINE'">
                                <button title="{{'label_shutdown_instance'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!instance.update_permission" (click)="onInstanceStartOrShutdownClick(instance, false)">
                                    <i class="fa fa-power-off"></i>
                                </button>
                            </div>

                            <div *ngIf="instance.online_state == 'OFFLINE' ">
                                <button title="{{'label_start'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!instance.update_permission" (click)="onInstanceStartOrShutdownClick(instance, true)">
                                    <i class="fa fa-power-off"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <bk-filter-page-component [from]="instanceFilter.from" [to]="instanceFilter.to" [total]="instanceFilter.total"  [totalPages]="instanceFilter.pages" (onSelect)="onFilterInstances($event)"></bk-filter-page-component>
        </div>

        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <bk-nothing-to-show [condition_loading]="(instanceFilter == null)"
                            [condition_empty]="(instanceFilter != null && instanceFilter.content.length == 0)"
                            [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/59e4ca6a566a9600019a4bfe_container.svg'"
                            [image_description]="'label_instance_documentation_description'|bkTranslate:this"
                            [main_message_link]="'label_no_instances'|bkTranslate:this"
                            [main_message_comment_link]="'label_no_instances_comment'|bkTranslate:this"
                            [btn_label]="'btn_create_instance'|bkTranslate:this"
                            (onButtonClick)="onAddClick()">
        </bk-nothing-to-show>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->

    </div>

</bk-layout-main>
