<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    tabMenu="{{projectId == null ? 'byzance-admin' : 'projects-project'}}"
    [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-fw fa-cube"></i>
                            <span [innerHTML]="'title'|bkTranslate:this:(blockoBlock?blockoBlock.name:'')"></span>
                        </span>
                    </div>
                    <div class="becki-actions">
                        <button *ngIf="blockoBlock" title="{{'label_group_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!blockoBlock.edit_permission"
                            (click)="onBlockEditClick()">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button *ngIf="blockoBlock"  title="{{'label_group_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!blockoBlock.delete_permission"
                            (click)="onBlockDeleteClick()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <span [innerHTML]="'label_name'|bkTranslate:this"></span>
                    <strong>{{blockoBlock?blockoBlock.name:""}}</strong><br>

                    <span [innerHTML]="'label_description'|bkTranslate:this"></span>
                    <strong>{{blockoBlock?blockoBlock.description:""}}</strong><br>

                    <br>
                    <div *ngIf="group">
                        <span [innerHTML]="'label_group'|bkTranslate:this"></span>:
                        <strong><a (click)="onBlocksGroupClick(group.id)">{{group?group.name:""}}</a></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-file-code-o"></i>
                             {{'label_code'|bkTranslate:this}}
                        </span>
                    </div>
                    <div *ngIf="selectedBlockoBlockVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>{{'label_version'|bkTranslate:this}}:</strong> <span *ngIf="unsavedChanges" class="changes"></span>{{selectedBlockoBlockVersion.version_name}}</span>
                    </div>
                </div>

                <bk-form-color-picker label="{{'label_block_color'|bkTranslate:this}}" [control]="blockForm.controls['color']" [waitForTouch]="false"></bk-form-color-picker>
                <bk-form-fa-icon-select label="{{'label_block_icon'|bkTranslate:this}}" [control]="blockForm.controls['icon']" [waitForTouch]="false"></bk-form-fa-icon-select>
                <bk-form-input label="{{'label_block_description'|bkTranslate:this}}" [control]="blockForm.controls['description']" [waitForTouch]="false"></bk-form-input>

                <div class="form-group">
                    <label>{{'label_block_code'|bkTranslate:this}}</label>
                    <bk-monaco-editor [code]="blockCode" (codeChange)="newBlockCode($event)" [typings]="['TSBlockLib', 'ConsoleLib', 'UtilsLib', 'FetchLib', 'ServiceLib', 'BlockoServiceHandler', 'ES5' ]"></bk-monaco-editor>
                </div>

                <div *ngFor="let tsError of tsErrors;" class="mt-element-ribbon bg-grey-steel">
                    <div class="ribbon ribbon-shadow ribbon-color-danger">{{tsError.name}}</div>
                    <div class="ribbon-content">
                        <div *ngIf="tsError.line"><strong>Line: </strong>{{tsError.line}}</div>
                        <span [innerHTML]="tsError.message"></span>
                    </div>
                </div>

                <div>
                    <div class="font-red text-right" style="padding-bottom: 5px; transition: opacity 0.5s;" [style.opacity]="successfullyTested?'0':'1'">{{'label_block_code_change'|bkTranslate:this}}</div>
                    <div class="pull-right">
                        <button type="button" class="btn default yellow-gold" (click)="onTestClick()">
                            <i class="fa fa-play"></i> {{'btn_test'|bkTranslate:this}}
                        </button>
                        <button type="button" class="btn default green-haze" [disabled]="!successfullyTested" (click)="onSaveClick()">
                            <i class="fa fa-floppy-o"></i> {{'btn_save'|bkTranslate:this}}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <h3 *ngIf="!tsBlock" class="pull-right" style="margin: 0; margin-right: 95px;"> {{'label_press_test_button'|bkTranslate:this}} <i class="fa fa-chevron-up"></i></h3>

                </div>
                <div class="portlet-content">
                    <div *ngIf="tsBlock" class="col-md-4" style="display: inline-block; width: calc(50% - 65px)">

                        <h4 class="text-center">{{'label_imputs_simulator'|bkTranslate:this}}</h4>

                        <div class="block-tester no-select">

                            <div *ngFor="let connector of testInputConnectors; let iCon = index" class="row bg-color" [class.odd]="iCon%2">



                                <template [ngIf]="connector.type == connectorTypes.DigitalInput">
                                    <div class="col-md-4 bg-din bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                    <div class="col-md-8">
                                        <div class="block-tester-message-input-label"><strong>{{'label_value'|bkTranslate:this}}</strong>:</div>
                                        <i class="fa cursor-hand" style="vertical-align: middle; font-size: 1.5em;" [class.fa-toggle-on]="connector.value" [class.fa-toggle-off]="!connector.value"
                                            (click)="onDigitalInputClick(connector)"></i>
                                    </div>
                                </template>

                                <template [ngIf]="connector.type == connectorTypes.AnalogInput">
                                    <div class="col-md-4 bg-ain bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                    <div class="col-md-8">
                                        <div class="block-tester-message-input-label"><strong>{{'label_value'|bkTranslate:this}}</strong>:</div>
                                        <input type="number" class="form-control" step="0.1" [value]="connector.value" (input)="onAnalogInputChange($event, connector)">
                                    </div>
                                </template>

                                <template [ngIf]="connector.type == connectorTypes.MessageInput">
                                    <div class="col-md-4 bg-min bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                    <div *ngFor="let argType of connector.argTypes; let index = index">

                                        <div *ngIf="index" class="col-md-4"></div>

                                        <template [ngIf]="argType == argTypes.Boolean">
                                            <div class="col-md-8">
                                                <div class="block-tester-message-input-label"><span [innerHTML]="'label_datatype_boolean'|bkTranslate:this:index"></span>:</div>
                                                <i class="fa cursor-hand" style="vertical-align: middle; font-size: 1.5em;" [class.fa-toggle-on]="messageInputsValueCache[connector.name+argType]"
                                                    [class.fa-toggle-off]="!messageInputsValueCache[connector.name+argType]"
                                                    (click)="messageInputsValueCache[connector.name+argType] = !messageInputsValueCache[connector.name+argType]"></i>
                                            </div>
                                        </template>
                                        <template [ngIf]="argType == argTypes.Float">
                                            <div class="col-md-8">
                                                <div class="block-tester-message-input-label"><span [innerHTML]="'label_datatype_float'|bkTranslate:this:index"></span>:</div>
                                                <input type="number" class="form-control" step="0.1" value="0" (input)="messageInputsValueCache[connector.name+argType] = $event.target['value']">
                                            </div>
                                        </template>
                                        <template [ngIf]="argType == argTypes.Integer">
                                            <div class="col-md-8">
                                                <div class="block-tester-message-input-label"><span [innerHTML]="'label_datatype_integer'|bkTranslate:this:index"></span>:</div>
                                                <input type="number" class="form-control" step="1" value="0" (input)="messageInputsValueCache[connector.name+argType] = $event.target['value']">
                                            </div>
                                        </template>
                                        <template [ngIf]="argType == argTypes.String">
                                            <div class="col-md-8">
                                                <div class="block-tester-message-input-label"><span [innerHTML]="'label_datatype_string'|bkTranslate:this:index"></span>:</div>
                                                <input type="text" class="form-control" (input)="messageInputsValueCache[connector.name+argType] = $event.target['value']">
                                            </div>
                                        </template>

                                    </div>

                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <button class="btn btn-sm default green block-tester-message-input-btn" type="button" (click)="onMessageInputSendClick(connector)">
                                            <i class="fa fa-paper-plane"></i> {{'btn_send'|bkTranslate:this}}
                                        </button>
                                    </div>
                                </template>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4" style="width: 130px; overflow: hidden;" [style.display]="tsBlock?'inline-block':'none'">
                        <h4 *ngIf="tsBlock" class="text-center">{{'label_block'|bkTranslate:this}}</h4>
                        <div style="background-color: #333; width: 105px;">
                            <bk-blocko-view autosize="true" canConfig="true" readonly="true" safeRun="true" (onError)="onBlockoError($event)" (onLog)="onBlockoLog($event)"
                                class="blocko-overflow-visible blocko-no-borders-and-bg"></bk-blocko-view>
                        </div>
                    </div>
                    <div class="col-md-4" style="width: calc(50% - 65px)" [style.display]="tsBlock?'inline-block':'none'">
                        <h4 class="text-center">{{'label_console'|bkTranslate:this}}</h4>
                        <div class="row">
                            <bk-console-log maxHeight="400px"></bk-console-log>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-code-fork"></i>
                            {{'label_saved_versions'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div *ngIf="blockoBlockVersions && blockoBlockVersions.length">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col col-lg-2">{{'table_version_name'|bkTranslate:this}}</th>
                                <th class="col col-lg-7">{{'table_description'|bkTranslate:this}}</th>
                                <th class="col col-lg-2">{{'table_author'|bkTranslate:this}}</th>
                                <th></th>
                                <th class="col col-lg-1 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let version of blockoBlockVersions">
                                <td class="vert-align no-wrap" [class.bold]="selectedBlockoBlockVersion && (selectedBlockoBlockVersion.id == version.id)">
                                    <a (click)="onBlockoBlockVersionClick(version)"> {{version.name}}
                                    <span *ngIf="version.publish_type == 'default_version'" class="font-green-jungle bold">(Default)</span>
                                </a>
                                </td>
                                <td class="vert-align">
                                    {{version.description}}
                                </td>
                                <td class="vert-align">
                                    <span *ngIf="version.author">
                                        {{version.author.nick_name}}
                                    </span>
                                </td>
                                <td class="vert-align no-wrap">
                                    <span class="icon-hint-wraper red" *ngIf="version.publish_status == 'pending'">
                                        <i class="fa fa-heart font-red-flamingo" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper green" *ngIf="version.publish_status == 'approved'">
                                        <i class="fa fa-heart font-green-jungle" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper gray" *ngIf="version.publish_status == 'disapproved'">
                                        <i class="fa fa-heart" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper green" *ngIf="version.publish_status == 'edited'">
                                        <i class="fa fa-heart font-blue" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                </td>
                                <td class="vert-align no-wrap text-right">
                                    <style type="text/css">
                                        table tr button {
                                            opacity: 0.05;
                                        }

                                        table tr:hover button {
                                            opacity: 1
                                        }
                                    </style>

                                    <!-- Buttons for Users for Community publishing  -->
                                    <button *ngIf="project && !version.publish_status" title="{{'label_publish'|bkTranslate:this}}" class="btn btn-icon-only blue-grey"
                                            (click)="onCommunityPublicVersionClick(version)">
                                        <i class="fa fa-heart"></i>
                                    </button>

                                    <!-- Buttons for Administrator for Community decisions  -->
                                    <button *ngIf="version.publish_status == 'pending' && version.community_publishing_permission" title="{{'label_publish'|bkTranslate:this}}" class="btn btn-icon-only green" (click)="onProgramVersionPublishResult(version)">
                                        <i class="fa fa-heart"></i>
                                    </button>

                                    <!-- Only For for Administrator for Make Default Block Version -->
                                    <button *ngIf="blockoBlock && blockoBlock.publish_type == 'default_main_program' && version.publish_type != 'default_version'" title="{{'label_version_set_as_main'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!blockoBlock.update_permission" (click)="onBlockSetMainClick(version)">
                                        <i class="fa fa-flag"></i>
                                    </button>

                                    <button title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!version.edit_permission"
                                        (click)="onEditVersionClick(version)">
                                        <i class="fa fa-cog"></i>
                                    </button>

                                    <button title="{{'label_remove_version'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!version.delete_permission"
                                        (click)="onRemoveVersionClick(version)">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
