<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    tabMenu="{{project == null ? 'byzance-admin' : 'projects-project'}}"
    [title]="project == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="project == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div *ngIf="widget" class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-fw fa-object-group"></i>
                           <span [innerHTML]="'title'|bkTranslate:this:widget?widget.name:''"></span>
                        </span>
                    </div>
                    <div class="becki-actions">
                        <button *ngIf="group" title="{{'label_widget_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!widget.edit_permission"
                            (click)="onWidgetEditClick()">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button *ngIf="group" title="Delete Library" class="btn btn-icon-only red" [disabled]="!widget.delete_permission" (click)="onWidgetDeleteClick()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <span [innerHTML]="'label_name'|bkTranslate:this"></span>:
                    <strong>{{widget?widget.name:""}}</strong><br>

                    <span [innerHTML]="'label_description'|bkTranslate:this"></span>:
                    <strong>{{widget?widget.description:"0_o"}}</strong><br>

                    <br>
                    <div *ngIf="group">
                        <span [innerHTML]="'label_grid_group_name'|bkTranslate:this"></span>:
                        <strong><a (click)="onWidgetsGroupClick(group.id)">{{group?group.name:""}}</a></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-file-code-o"></i>
                            <span>{{'label_ide'|bkTranslate:this}}</span>
                        </span>
                    </div>
                    <div *ngIf="selectedWidgetVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>{{'label_version'|bkTranslate:this}}:</strong> <span *ngIf="unsavedChanges" class="changes"></span>                        {{selectedWidgetVersion.version_name}}</span>
                    </div>
                </div>

                <!--<bk-form-color-picker label="Widget color" [control]="widgetForm.controls.color" [waitForTouch]="false"></bk-form-color-picker>
                <bk-form-fa-icon-select label="Widget icon" [control]="widgetForm.controls.icon" [waitForTouch]="false"></bk-form-fa-icon-select>
                <bk-form-input label="Widget description" [control]="wifgrtForm.controls.description" [waitForTouch]="false"></bk-form-input>-->

                <div class="form-group">
                    <bk-monaco-editor [code]="widgetCode" (codeChange)="newWidgetCode($event)" [typings]="['ES5', 'ConsoleLib', 'ContextLib', 'UtilsLib', 'WKLib']"></bk-monaco-editor>
                </div>

                <div *ngIf="buildErrors" class="spacer30"></div>
                <div *ngIf="buildErrors" class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-play font-red"></i>
                            <span class="caption-subject bold uppercase font-red">{{'label_build_errors'|bkTranslate:this}}></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div *ngFor="let buildError of buildErrors" class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-shadow uppercase" [class.ribbon-color-danger]="buildError.type=='error'" [class.ribbon-color-warning]="buildError.type=='warning'">{{buildError.type}}</div>
                            <p class="ribbon-content">
                                Line: <b>{{buildError.line}}</b>
                                <br>
                                <b>{{buildError.text}}</b>
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="pull-right">
                        <button type="button" class="btn default yellow-gold" (click)="onTestClick()">
                            <i class="fa fa-play"></i>{{'btn_test'|bkTranslate:this}}
                        </button>
                        <button *ngIf=" widget && ( (projectId && widget.update_permission) || (widget.publish_type == 'default_main_program'))" type="button" class="btn default green-haze" (click)="onSaveClick()" [disabled]="!widgetCode">
                            <i class="fa fa-floppy-o"></i>{{'btn_save'|bkTranslate:this}}
                        </button>

                        <button *ngIf="widget && widget.publish_type == 'public_program' && project" type="button" class="btn default blue" (click)="onMakeClone()">
                            <i class="fa fa-clone"></i> {{'btn_copy'|bkTranslate:this}}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div [hidden]="!widgetTestRunning" class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-terminal"></i>
                            {{'btn_test'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div class="portlet-content">
                    <button type="button" class="btn default yellow-gold grid-widget-config-button" (click)="onWidgetConfigClick()">
                        <i class="fa fa-cog"></i> {{'label_configuration'|bkTranslate:this}}
                    </button>
                    <div #widgetTestScreen></div>

                    <div>
                        <div class="col-md-4" style="display: inline-block; width: calc(50% - 20px)">

                            <h4 class="text-center">Inputs simulator</h4>
                            <div class="widget-tester no-select">

                                <div *ngFor="let connector of testInputConnectors; let iCon = index" class="row bg-color" [class.odd]="iCon%2">

                                    <template [ngIf]="connector.isDigital() && connector.isInput()">
                                        <div class="col-md-4 bg-din bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                        <div class="col-md-8">
                                            <div class="widget-tester-message-input-label"><strong>Value</strong>:</div>
                                            <i class="fa cursor-hand" style="vertical-align: middle; font-size: 1.5em;" [class.fa-toggle-on]="connector.value" [class.fa-toggle-off]="!connector.value"
                                                (click)="onDigitalInputClick(connector)"></i>
                                        </div>
                                    </template>

                                    <template [ngIf]="connector.isAnalog() && connector.isInput()">
                                        <div class="col-md-4 bg-ain bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                        <div class="col-md-8">
                                            <div class="widget-tester-message-input-label"><strong>Value</strong>:</div>
                                            <input type="number" class="form-control" step="0.1" [value]="connector.value" (input)="onAnalogInputChange($event, connector)">
                                        </div>
                                    </template>

                                    <template [ngIf]="connector.isMessage() && connector.isInput()">
                                        <div class="col-md-4 bg-min bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                        <div *ngFor="let argType of connector.messageTypes; let index = index">

                                            <div *ngIf="index" class="col-md-4"></div>

                                            <template [ngIf]="argType == 'boolean'">
                                                <div class="col-md-8">
                                                    <div class="widget-tester-message-input-label">Bool <strong>Arg #{{index}}</strong>:</div>
                                                    <i class="fa cursor-hand" style="vertical-align: middle; font-size: 1.5em;" [class.fa-toggle-on]="messageInputsValueCache[connector.name+argType]"
                                                        [class.fa-toggle-off]="!messageInputsValueCache[connector.name+argType]"
                                                        (click)="messageInputsValueCache[connector.name+argType] = !messageInputsValueCache[connector.name+argType]"></i>
                                                </div>
                                            </template>
                                            <template [ngIf]="argType == 'float' ">
                                                <div class="col-md-8">
                                                    <div class="widget-tester-message-input-label">Float <strong>Arg #{{index}}</strong>:</div>
                                                    <input type="number" class="form-control" step="0.1" value="0" (input)="messageInputsValueCache[connector.name+argType] = $event.target['value']">
                                                </div>
                                            </template>
                                            <template [ngIf]="argType == 'integer'">
                                                <div class="col-md-8">
                                                    <div class="widget-tester-message-input-label">Int <strong>Arg #{{index}}</strong>:</div>
                                                    <input type="number" class="form-control" step="1" value="0" (input)="messageInputsValueCache[connector.name+argType] = $event.target['value']">
                                                </div>
                                            </template>
                                            <template [ngIf]="argType == 'string'">
                                                <div class="col-md-8">
                                                    <div class="widget-tester-message-input-label">String <strong>Arg #{{index}}</strong>:</div>
                                                    <input type="text" class="form-control" (input)="messageInputsValueCache[connector.name+argType] = $event.target['value']">
                                                </div>
                                            </template>

                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-8">
                                            <button class="btn btn-sm default green widget-tester-message-input-btn" type="button" (click)="onMessageInputSendClick(connector)">
                                                <i class="fa fa-paper-plane"></i> Send
                                            </button>
                                        </div>

                                    </template>


                                </div>
                            </div>

                        </div>
                        <div class="col-md-4" style="display: inline-block; width: calc(50% - 20px)">
                            <h4 class="text-center">{{'label_console'|bkTranslate:this}}</h4>
                            <bk-console-log maxHeight="400px"></bk-console-log>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-code-fork"></i>
                           {{'label_save'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div *ngIf="widgetVersions && widgetVersions.length">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                                <th class="col col-lg-8">{{'table_description'|bkTranslate:this}}</th>
                                <th class="col col-lg-1">{{'table_author'|bkTranslate:this}}</th>
                                <th></th>
                                <th class="col col-lg-1 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let version of widgetVersions">
                                <td class="vert-align no-wrap" [class.bold]="selectedWidgetVersion && (selectedWidgetVersion.id == version.id)">
                                    <a (click)="onWidgetVersionClick(version)"> {{version.name}}
                                    <span *ngIf="version.publish_type == 'default_version'" class="font-green-jungle bold">(Default)</span>
                                </a>
                                </td>
                                <td class="vert-align">
                                    {{version.description}}
                                </td>
                                <td class="vert-align">
                                    <span *ngIf="version.author">
                                        {{version.author.nick_name}}
                                    </span>
                                </td>
                                <td class="vert-align no-wrap">
                                    <span class="icon-hint-wraper red" *ngIf="version.publish_status == 'pending'">
                                        <i class="fa fa-heart font-red-flamingo" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper green" *ngIf="version.publish_status == 'approved'">
                                        <i class="fa fa-heart font-green-jungle" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper gray" *ngIf="version.publish_status == 'disapproved'">
                                        <i class="fa fa-heart" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper green" *ngIf="version.publish_status == 'edited'">
                                        <i class="fa fa-heart font-blue" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                </td>
                                <td class="vert-align no-wrap text-right">

                                    <style type="text/css">
                                        table tr button {
                                            opacity: 0.05;
                                        }

                                        table tr:hover button {
                                            opacity: 1
                                        }
                                    </style>

                                    <!-- Buttons for Users for Community publishing  -->
                                    <button *ngIf="project && !version.publish_status" title="{{'label_publish'|bkTranslate:this}}" class="btn btn-icon-only blue-grey"
                                            (click)="onCommunityPublicVersionClick(version)">
                                        <i class="fa fa-heart"></i>
                                    </button>

                                    <!-- Buttons for Administrator for Community decisions  -->
                                    <button *ngIf="version.publish_status == 'pending' && version.community_publishing_permission" title="{{'label_publish'|bkTranslate:this}}" class="btn btn-icon-only green" (click)="onProgramVersionPublishResult(version)">
                                        <i class="fa fa-heart"></i>
                                    </button>

                                    <!-- Only For for Administrator for Make Default Widget -->
                                    <button *ngIf="widget && widget.publish_type == 'default_main_program' && version.publish_type != 'default_version'" title="{{'label_version_set_as_main'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!widget.update_permission" (click)="onWidgetSetMainClick(version)">
                                        <i class="fa fa-flag"></i>
                                    </button>

                                    <button title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!version.edit_permission"
                                            (click)="onEditVersionClick(version)">
                                             <i class="fa fa-cog"></i>
                                    </button>

                                    <button title="{{'label_remove_version'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!version.delete_permission"
                                        (click)="onRemoveVersionClick(version)">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
