<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-fw fa-sliders"></i>
                     <span [innerHTML]="'title'|bkTranslate:this"></span>
                </span>
            </div>
            <div class="becki-actions">
                <button class="btn blue" (click)="onGroupAddClick()">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_widget_group'|bkTranslate:this}}
                </button>
            </div>
        </div>
        <div *ngIf="(groups && groups.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{'table_name'|bkTranslate:this}}</th>
                    <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let group of groups">
                    <td class="no-wrap bold"><a (click)="onGroupClick(group)">{{group.name}}</a></td>
                    <td>{{group.description}}</td>
                    <td class="no-wrap">

                        <style type="text/css">
                            table tr button { opacity:0.05;}
                            table tr:hover button { opacity:1 }
                        </style>

                        <button title="Group properties" class="btn btn-icon-only green" [disabled]="!group.edit_permission" (click)="onGroupEditClick(group)">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="Remove group" class="btn btn-icon-only red" [disabled]="!group.delete_permission" (click)="onGroupDeleteClick(group)">
                            <i class="fa fa-trash"></i>
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!groups" class="text-center">{{'loading'|bkTranslate:this}}</h3>
        <div *ngIf="groups && groups.length == 0" class="list-no-items">
            <p class="list-no-items__main-label">{{'label_no_item'|bkTranslate:this}}</p>
            <p class="list-no-items__sub-label">{{'label_you_can_create'|bkTranslate:this}}</p>
            <p>
                <button class="btn blue" (click)="onGroupAddClick()">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_widget_group'|bkTranslate:this}}
                </button>
            </p>
        </div>
    </div>

</bk-layout-main>
