<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
     tabMenu="{{projectId == null ? 'byzance-admin' : 'projects-project'}}"
     [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
     [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code"></i>
                             <span [innerHTML]="'title'|bkTranslate:this:currentParamsService.currentCodeNameSnapshot"></span>
                        </span>
                    </div>
                    <div *ngIf="codeProgram" class="becki-actions">

                        <button title="{{'label_program_properties'|bkTranslate:this}}" class="btn btn-icon-only green" *ngIf="codeProgram.edit_permission"
                            (click)="onEditClick()">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="{{'label_remove_program'|bkTranslate:this}}" class="btn btn-icon-only red" *ngIf="codeProgram.delete_permission"
                            (click)="onRemoveClick()">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button title="{{'label_code_program_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" *ngIf="codeProgram.publish_type == 'public_program'"
                                (click)="onMakeClone()">
                            <i class="fa fa-clone"></i>
                        </button>

                    </div>
                </div>
                <div>
                    <span [innerHTML]="'label_code_description'|bkTranslate:this:(codeProgram?codeProgram.description:'')"></span><br>
                    <br>
                    <span [innerHTML]="'label_hardware_type'|bkTranslate:this"></span>:<strong><a (click)="onBoardTypeClick(codeProgram.type_of_board_id)"> {{codeProgram?codeProgram.type_of_board_name:""}}</a></strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-file-code-o"></i>
                             {{'label_ide'|bkTranslate:this}}
                        </span>
                    </div>
                    <div *ngIf="selectedProgramVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>{{'label_version'|bkTranslate:this}}:</strong> <span *ngIf="changesInSelectedVersion().length > 0" class="changes"></span>                        {{selectedProgramVersion.version_object.version_name}}</span>
                    </div>
                </div>
                <bk-code-ide [files]="selectedCodeFiles" defaultOpenFilename="main.cpp" (fileContentChange)="onFileContentChange($event)"
                    [enableLibraryButtons]="true" (onAddLibraryClick)="onAddLibraryClick()" (onChangeLibraryVersionClick)="onChangeLibraryVersionClick($event)"></bk-code-ide>
                <div>

                    <span *ngIf="codeProgram && codeProgram.publish_type == 'public_program'" class="text-center" style="margin-top: 10px; margin-bottom: 20px">{{'label_public_comment'|bkTranslate:this}}</span>

                    <div class="pull-right">

                        <div>
                            <span><strong>{{'label_library_version'|bkTranslate:this}}: </strong></span>
                            <bk-form-select [control]="formLibrarySelector.controls.tag_name" [labelComment]="false"
                            [pickFirstOption]="true" [regexFirstOption]="'[v][0-9.]*(?![-])$'" [options]="libraryCompilationVersionOptions"></bk-form-select>
                        </div>

                        <button type="button" class="btn default yellow-gold" (click)="onBuildClick()" [disabled]="buildInProgress">
                            <i class="fa fa-play" *ngIf="!buildInProgress"></i> <i class="fa fa-spinner fa-spin" *ngIf="buildInProgress"></i> {{'btn_build'|bkTranslate:this}}
                        </button>
                        <button *ngIf="codeProgram && codeProgram.update_permission" type="button" class="btn default green-haze" (click)="onSaveClick()">
                            <i class="fa fa-floppy-o"></i> {{'btn_save'|bkTranslate:this}}
                        </button>
                        <button *ngIf="codeProgram && codeProgram.publish_type == 'public_program' && projectId" type="button" class="btn default blue" (click)="onMakeClone()">
                            <i class="fa fa-clone"></i> {{'btn_copy'|bkTranslate:this}}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div *ngIf="buildErrors">
                    <div class="spacer30"></div>
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-play font-red"></i>
                                <span class="caption-subject bold uppercase font-red">{{'label_build_error'|bkTranslate:this}}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div *ngFor="let buildError of buildErrors" class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-shadow uppercase" [class.ribbon-color-danger]="buildError.type=='error'" [class.ribbon-color-warning]="buildError.type=='warning'">{{buildError.type}}</div>
                                <p class="ribbon-content">
                                    <span [innerHTML]="'label_file_and_line'|bkTranslate:this:buildError.filename:buildError.line"></span>
                                    <br>
                                    <b>{{buildError.text}}</b>
                                    <br>
                                    <code>{{buildError.code}}</code>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-eye"></i>
                            <span [innerHTML]="'label_blocko_interface_preview'|bkTranslate:this"></span>
                        </span>
                    </div>
                </div>
                <div>
                    <bk-blocko-view [disableExecution]="true" [canConfig]="false" [readonly]="true" [simpleMode]="false" [autosize]="true" class="blocko-overflow-visible blocko-no-borders-and-bg blocko-code-view"></bk-blocko-view>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code-fork"></i>
                            {{'label_saved_versions'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div *ngIf="codeProgramVersions">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                                <th *ngIf="!projectId"></th>
                                <th class="col col-lg-6">{{'table_description'|bkTranslate:this}}</th>
                                <th class="col col-lg-6">{{'table_lib_version'|bkTranslate:this}}</th>
                                <th class="col col-lg-1">{{'table_author'|bkTranslate:this}}</th>
                                <th class="col col-lg-1">{{'table_status'|bkTranslate:this}}</th>
                                <th class="col col-lg-1"></th>
                                <th class="col col-lg-1 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let version of codeProgramVersions">

                                <!-- NAME -->
                                <td class="vert-align bold" [class.bold]="isSelected(version)">
                                    <a (click)="onProgramVersionClick(version)">
                                    {{version.version_name}}
                                </a>

                                <!-- Main Mark - Only for settings for Type of Board, If C program is not for user projects -->
                                <td *ngIf="!projectId" class="vert-align">
                                     <span class="icon-hint-wraper green" *ngIf="version.main_mark">
                                            <i class="fa fa-lg fa-flag font-green-jungle"></i>
                                            <span class="hint">{{'main_version'|bkTranslateTable:this:'version_status'}}</span>
                                    </span>
                                </td>

                                <!-- Description -->
                                <td class="vert-align">
                                    {{version.version_description}}
                                </td>

                                <!-- Description -->
                                <td class="vert-align">
                                    {{version.library_compilation_version}}
                                </td>

                                <!-- Author -->
                                <td class="vert-align">
                                    {{version.author.nick_name}}
                                </td>
                                <!-- STATUS -->
                                <td class="vert-align">

                                    <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                        <i class="fa fa-exclamation-triangle font-red-mint"></i>
                                        <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                     </span>

                                    <span class="icon-hint-wraper orange" *ngIf="version.status=='compiled_with_code_errors'">
                                        <i class="fa fa-thumbs-down font-yellow"></i>
                                        <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                        <i class="fa fa-heartbeat font-red-mint"></i>
                                        <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper orange" *ngIf="version.status=='server_was_offline' || version.status=='successfully_compiled_not_restored' || version.status=='undefined' || version.status=='file_with_code_not_found' || version.status=='compilation_server_error' || version.status=='json_code_is_broken'">
                                        <i class="fa fa-npm wrench font-yellow"></i>
                                        <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper gray" *ngIf="version.status=='compilation_in_progress'">
                                        <i class="fa fa-spinner fa-spin"></i>
                                        <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper green" *ngIf="version.status=='successfully_compiled_and_restored'">
                                        <i class="fa fa-check font-green-jungle"></i>
                                        <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <!-- Public Status -->
                                    <span class="icon-hint-wraper red" *ngIf="version.publish_status == 'pending'">
                                        <i class="fa fa-heart font-red-flamingo" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper green" *ngIf="version.publish_status == 'approved'">
                                        <i class="fa fa-heart font-green-jungle" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper gray" *ngIf="version.publish_status == 'disapproved'">
                                        <i class="fa fa-heart" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>
                                    <span class="icon-hint-wraper green" *ngIf="version.publish_status == 'edited'">
                                        <i class="fa fa-heart font-blue" style="font-size: 1.6em; margin-left: 5px;" ></i>
                                        <span class="hint" [innerHTML]="version.publish_status|bkTranslateTable:this:'publish_status'"></span>
                                    </span>


                                </td>
                                <!-- UPLOAD -->

                                <td class="vert-align">
                                    <button *ngIf="projectId && typeOfBoard && typeOfBoard.connectible_to_internet && version.status=='successfully_compiled_and_restored' && codeProgram && codeProgram.publish_type == 'private_program'" class="btn blue" (click)="onUploadClick(version)" >
                                         {{'btn_upload_to_hardware'|bkTranslate:this}}
                                     </button>

                                </td>
                                <!-- ACTIONS -->
                                <td class="vert-align text-right no-wrap">

                                    <style type="text/css">
                                        table tr button {
                                            opacity: 0.05;
                                        }

                                        table tr:hover button {
                                            opacity: 1
                                        }
                                    </style>


                                    <a *ngIf="version.download_link_bin_file" href="{{version.download_link_bin_file}}">
                                        <button title="{{'label_download_file'|bkTranslate:this}}" class="btn btn-icon-only blue">
                                            <i class="fa fa-cloud-download"></i>
                                        </button>
                                    </a>

                                    <button *ngIf="version.update_permission"  title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only green"
                                            (click)="onEditVersionClick(version)">
                                            <i class="fa fa-cog"></i>
                                    </button>
                                    <button *ngIf="codeProgram.project_id && !version.publish_status" title="{{'label_version_properties'|bkTranslate:this}}" class="btn btn-icon-only blue-grey"
                                            (click)="onCommunityPublicVersionClick(version)">
                                            <i class="fa fa-heart"></i>
                                    </button>

                                    <!-- Buttons for Administrator for Community decisions  -->
                                    <button *ngIf="version.publish_status == 'pending' && version.community_publishing_permission" title="{{'label_publish'|bkTranslate:this}}" class="btn btn-icon-only green" (click)="onCProgramPublishResult(version)">
                                        <i class="fa fa-heart"></i>
                                    </button>

                                    <button *ngIf="markupableAsMain(version)" title="{{'label_main_c_program_version_set_as_main'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="typeOfBoard && !typeOfBoard.update_permission" (click)="onCProgramDefaultSetMainClick(version)">
                                        <i class="fa fa-flag"></i>
                                    </button>
                                    <button title="{{'label_remove_version'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!version.delete_permission"
                                        (click)="onRemoveVersionClick(version)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
