<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="projectId == null ? 'byzance-admin' : 'projects-project'"
    [show_title]="projectId == null"
    [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-cube'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (tab == 'my_widgets'),
                          btn_label_for_person: ('btn_create'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          btn_tag: 'add_widget',
                          permission: true
                      }
                 ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name]="tab"
        [tabBtns]="[
                        {
                            tab_name: 'my_widgets',
                            condition: (projectId != null),
                            tab_color: 'GRID',
                            tab_label: ('tab_my_widgets'|bkTranslate:this),
                            permission: true
                        },
                        {
                            tab_name: 'public_widgets',
                            condition: true,
                            tab_color: 'GRID',
                            tab_label: ('tab_public_widgets'|bkTranslate:this),
                            permission: true
                        },
                        {
                            tab_name: 'admin_widgets',
                            condition: (projectId == null),
                            tab_color: 'GRID',
                            tab_label: ('tab_admin_widgets'|bkTranslate:this),
                            permission: true
                        }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->
    <div class="portlet-body">

        <div *ngIf="tab == 'my_widgets'">

            <div *ngIf="(widgetList && widgetList.content.length)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_tags'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let widget of widgetList.content">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onWidgetClick(widget.id)">{{widget.name}}</a>
                            <span *ngIf="!projectId && widget.active" class="font-green-jungle bold">(Active)</span>
                            <!-- Only for Administrator -->
                            <span *ngIf="!projectId && !widget.active"
                                  class="font-red-flamingo bold">(Deactivated)</span>   <!-- Only for Administrator -->
                        </td>
                        <td class="vert-align">{{widget.description}}</td>

                        <td class="vert-align">
                            <bk-form-tag-input [tags_without_form]="widget.tags" [readonly]="true"></bk-form-tag-input>
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_grid_widget_properties'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: projectId && widget.publish_type == 'PUBLIC',
                                    btn_label_for_person: ('label_grid_widget_properties'|bkTranslate:this),
                                    btn_tag: 'make_clone_widget',
                                    icon: 'fa-clone',
                                    colorType: 'CREATE',
                                    permission: (widget.update_permission)
                                },

                                {
                                    condition: !projectId && !widget.active,
                                    btn_label_for_person: ('label_active_group'|bkTranslate:this),
                                    btn_tag: 'active_group_widget',
                                    icon: 'fa-power-off',
                                    colorType: 'DEACTIVE',
                                    permission: (widget.update_permission)
                                },
                               {
                                    condition: !projectId && widget.active,
                                    btn_label_for_person: ('label_deactive_group'|bkTranslate:this),
                                    btn_tag: 'deactive_group_widget',
                                    icon: 'fa-power-off',
                                    colorType: 'ACTIVE',
                                    permission: (widget.update_permission)
                                },
                                {
                                    condition: widget.update_permission,
                                    btn_label_for_person: ('label_widget_properties'|bkTranslate:this),
                                    btn_tag: 'edit_widget',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (widget.update_permission)
                                },
                                {
                                    condition: widget.delete_permission,
                                    btn_label_for_person: ('label_remove_widget'|bkTranslate:this),
                                    btn_tag: 'remove_widget',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (widget.delete_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, widget)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(widgetList == null)"
                                [condition_empty]="(widgetList != null && widgetList.content.length == 0)"
                                [main_message_link]="'label_no_private_widget'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_private_widget_comment'|bkTranslate:this"
                                (onButtonClick)="onWidgetAddClick()"
                                [btn_label]="'btn_add_widget'|bkTranslate:this">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>

        <div *ngIf="tab == 'public_widgets'">

            <div *ngIf="(widgetPublicList && widgetPublicList.content.length)"
                 class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th *ngIf="!projectId">{{'table_active'|bkTranslate:this}}</th>
                        <th>{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_tags'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let widget of widgetPublicList.content">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onWidgetClick(widget.id)">{{widget.name}}</a>
                        </td>
                        <td *ngIf="projectId == null" class="vert-align">
                            <span *ngIf="widget.active" class="font-green-jungle bold">(Active)</span>
                            <span *ngIf="!widget.active" class="font-red-flamingo bold">(Deactivated)</span>
                        </td>
                        <td class="vert-align">{{widget.description}}</td>

                        <td class="vert-align">
                            <bk-form-tag-input [tags_without_form]="widget.tags" [readonly]="true"></bk-form-tag-input>
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_widget_properties'|bkTranslate:this)"
                                [btns]="[
                                 {
                                    condition: (projectId != null),
                                    btn_label_for_person: ('label_widget_clone'|bkTranslate:this),
                                    btn_tag: 'clone_widget',
                                    icon: 'fa-clone',
                                    colorType: 'CREATE',
                                    permission: (true)
                                },
                                {
                                    condition: (widget.update_permission == true),
                                    btn_label_for_person: ('label_widget_properties'|bkTranslate:this),
                                    btn_tag: 'edit_widget',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (widget.update_permission == true)
                                },
                                {
                                    condition: (widget.active == true && projectId == null),
                                    btn_label_for_person: ('label_deactivate'|bkTranslate:this),
                                    btn_tag: 'deactivate_widget',
                                    icon: 'fa-power-off',
                                    colorType: 'DEACTIVATE',
                                    permission: (widget.update_permission == true )
                                },
                                {
                                    condition: (widget.active == false && projectId == null),
                                    btn_label_for_person: ('label_activate'|bkTranslate:this),
                                    btn_tag: 'activate_widget',
                                    icon: 'fa-power-off',
                                    colorType: 'ACTIVE',
                                    permission: (widget.update_permission)
                                },
                                {
                                    condition: widget.delete_permission == true,
                                    btn_label_for_person: ('label_remove_widget'|bkTranslate:this),
                                    btn_tag: 'remove_widget',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (widget.update_permission == true)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, widget)"
                            >
                            </bk-drob-down-button>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(widgetPublicList == null)"
                                [condition_empty]="(widgetPublicList != null && widgetPublicList.content.length == 0)"
                                [main_message_link]="'label_no_public_widget'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_public_widget_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>

        <div *ngIf="tab == 'admin_widgets'">

            <div *ngIf="(widgetListNotApproved && widgetListNotApproved.content.length)"
                 class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th>{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_tags'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let widget of widgetListNotApproved.content">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onWidgetClick(widget.id)">{{widget.name}}</a>
                        </td>
                        <td class="vert-align">{{widget.description}}</td>

                        <td class="vert-align">
                            <bk-form-tag-input [tags_without_form]="widget.tags" [readonly]="true"></bk-form-tag-input>
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_settings'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: widget.update_permission,
                                    btn_label_for_person: ('label_widget_make_decision'|bkTranslate:this),
                                    btn_tag: 'make_decision',
                                    icon: 'fa-heart',
                                    colorType: 'EDIT',
                                    permission: (widget.update_permission)
                                },
                                {
                                    condition: widget.update_permission,
                                    btn_label_for_person: ('label_widget_properties'|bkTranslate:this),
                                    btn_tag: 'edit_widget',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (widget.update_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, widget)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(widgetListNotApproved == null)"
                                [condition_empty]="(widgetListNotApproved != null && widgetListNotApproved.content.length == 0)"
                                [main_message_link]="'label_no_admin_widget'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_admin_widget_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>


    </div>

</bk-layout-main>
