<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code"></i>
                             <span [innerHTML]="'title'|bkTranslate:this:currentParamsService.currentCodeNameSnapshot"></span>
                        </span>
                    </div>
                    <div *ngIf="codeProgram" class="becki-actions">

                        <button title="{{'label_program_properities'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!codeProgram.edit_permission"
                            (click)="onEditClick()">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="{{'label_remove_program'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!codeProgram.delete_permission"
                            (click)="onRemoveClick()">
                            <i class="fa fa-trash"></i>
                        </button>

                    </div>
                </div>
                <div>
                    <span [innerHTML]="'label_code_name'|bkTranslate:this:(codeProgram?codeProgram.name:'')"></span> <br>
                    <span [innerHTML]="'label_code_description'|bkTranslate:this:(codeProgram?codeProgram.description:'')"></span>                    <br>
                    <br>
                     <span [innerHTML]="'label_hardware_type'|bkTranslate:this"></span>:<strong><a (click)="onBoardTypeClick(codeProgram.type_of_board_id)">{{codeProgram?codeProgram.type_of_board_name:""}}</a></strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-file-code-o"></i>
                             {{'label_ide'|bkTranslate:this}}
                        </span>
                    </div>
                    <div *ngIf="selectedProgramVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>{{'label_version'|bkTranslate:this}}:</strong> <span *ngIf="changesInSelectedVersion().length > 0" class="changes"></span> {{selectedProgramVersion.version_object.version_name}}</span>
                    </div>
                </div>
                <bk-code-ide [files]="selectedCodeFiles" defaultOpenFilename="main.cpp" (fileContentChange)="onFileContentChange($event)"
                    [enableLibraryButtons]="true" (onAddLibraryClick)="onAddLibraryClick()" (onChangeLibraryVersionClick)="onChangeLibraryVersionClick($event)"></bk-code-ide>
                <div>
                    <div class="pull-right">
                        <button type="button" class="btn default yellow-gold" (click)="onBuildClick()" [disabled]="buildInProgress">
                            <i class="fa fa-play" *ngIf="!buildInProgress"></i> <i class="fa fa-spinner fa-spin" *ngIf="buildInProgress"></i> {{'btn_build'|bkTranslate:this}}
                        </button>
                        <button type="button" class="btn default green-haze" (click)="onSaveClick()">
                            <i class="fa fa-floppy-o"></i> {{'btn_save'|bkTranslate:this}}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div *ngIf="buildErrors">
                    <div class="spacer30"></div>
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-play font-red"></i>
                                <span class="caption-subject bold uppercase font-red">{{'label_build_error'|bkTranslate:this}}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div *ngFor="let buildError of buildErrors" class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-shadow uppercase" [class.ribbon-color-danger]="buildError.type=='error'" [class.ribbon-color-warning]="buildError.type=='warning'">{{buildError.type}}</div>
                                <p class="ribbon-content">
                                    <span [innerHTML]="'label_file_and_line'|bkTranslate:this:buildError.filename:buildError.line"></span>
                                    <br>
                                    <b>{{buildError.text}}</b>
                                    <br>
                                    <code>{{buildError.code}}</code>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-sitemap fa-rotate-90"></i>
                            <span [innerHTML]="'label_blocko_interface_preview'|bkTranslate:this"></span>
                        </span>
                    </div>
                </div>
                <div>
                    <bk-blocko-view [disableExecution]="true" [canConfig]="false" [readonly]="true" [simpleMode]="false" [autosize]="true" class="blocko-overflow-visible blocko-no-borders-and-bg blocko-code-view"></bk-blocko-view>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark">
                            <i class="fa fa-fw fa-code-fork"></i>
                            {{'label_saved_versions'|bkTranslate:this}}
                        </span>
                    </div>
                </div>
                <div *ngIf="codeProgramVersions">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                                <th class="col col-lg-6">{{'table_description'|bkTranslate:this}}</th>
                                <th class="col col-lg-1">{{'table_author'|bkTranslate:this}}</th>
                                <th class="col col-lg-1">{{'table_status'|bkTranslate:this}}</th>
                                <th class="col col-lg-1"></th>
                                <th class="col col-lg-1 text-right">{{'table_actions'|bkTranslate:this}}</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let version of codeProgramVersions">
                                <!-- NAME -->
                                <td class="vert-align bold" [class.bold]="isSelected(version)">
                                    <a (click)="onProgramVersionClick(version)">
                                    {{version.version_name}}
                                </a>
                                </td>
                                <!-- Description -->
                                <td  class="vert-align">
                                    {{version.version_description}}
                                </td>
                                <!-- Author -->
                                <td  class="vert-align">
                                    {{version.author.nick_name}}
                                </td>
                                <!-- STATUS -->
                                <td  class="vert-align">
                                    <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                    <i class="fa fa-exclamation-triangle font-red-mint"></i>
                                </span>
                                    <span class="icon-hint-wraper orange" *ngIf="version.status=='compiled_with_code_errors'">
                                    <i class="fa fa-thumbs-down font-yellow"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper red" *ngIf="version.status=='hardware_unstable'">
                                    <i class="fa fa-heartbeat font-red-mint"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper orange" *ngIf="version.status=='server_was_offline' || version.status=='successfully_compiled_not_restored' || version.status=='undefined' || version.status=='file_with_code_not_found' || version.status=='compilation_server_error' || version.status=='json_code_is_broken'">
                                    <i class="fa fa-npm wrench font-yellow"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper gray" *ngIf="version.status=='compilation_in_progress'">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>

                                    <span class="icon-hint-wraper green" *ngIf="version.status=='successfully_compiled_and_restored'">
                                    <i class="fa fa-check font-green-jungle"></i>
                                    <span class="hint">{{version.status|bkTranslateTable:this:'version_status'}}</span>
                                    </span>
                                </td>
                                <!-- UPLOAD -->
                                <td class="vert-align">
                                    <button class="btn blue" (click)="onUploadClick(version)" *ngIf="device && device.connectible_to_internet && version.status=='successfully_compiled_and_restored'">
                                    {{'btn_upload_to_hardware'|bkTranslate:this}}
                                </button>
                                </td>
                                <!-- ACTIONS -->
                                <td class="vert-align text-right no-wrap">
                                    <style type="text/css">
                                        table tr button {
                                            opacity: 0.05;
                                        }

                                        table tr:hover button {
                                            opacity: 1
                                        }
                                    </style>

                                    <button title="{{'label_version_properities'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!version.update_permission" (click)="onEditVersionClick(version)">
                                    <i class="fa fa-cog"></i>
                                </button>

                                    <button title="{{'label_remove_version'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!version.delete_permission" (click)="onRemoveVersionClick(version)">
                                    <i class="fa fa-trash"></i>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</bk-layout-main>
