<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot"
                [subtitle]="currentParamsService.currentProjectDescriptionSnapshot"
                [lastBreadName]="device?device.id:''">

    <div *ngIf="device && typeOfBoard" class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-globe"></i>
                    Hardware: {{device.id}}
                </span>
            </div>
            <div class="becki-actions ">
                <button class="btn red">
                    <i class="fa fa-trash"></i>
                </button>
                <button class="btn blue">
                    <i class="fa fa-gears"></i>
                </button>
            </div>
        </div>
        <div>
            <div>
                Hardware ID:
                <span class="font-grey-mint bold">{{device.id}}</span>
            </div>
            <div>
                Device type:
                <a (click)="onBoardTypeClick(device.type_of_board_id)"><span
                    class="bold">{{device.type_of_board_name}}</span></a>
            </div>
            <div>
                Producer:
                <a (click)="onProducerClick(typeOfBoard.producer_id)"><span
                    class="bold">{{typeOfBoard.producer_name}}</span></a>
            </div>

            <div *ngIf="device.mac_address">
                Ethernet MAC adress:
                <span class="font-grey-mint bold">{{device.mac_address}}</span>
            </div>
            <div>
                Personal description:
                <span class="font-grey-mint bold">{{device.personal_description}}</span>
            </div>
            <div>
                Series(Revision):
                <span class="font-grey-mint bold">{{typeOfBoard.revision}}</span>
            </div>
            <div *ngIf="device.wifi_mac_address">
                Wifi MAC adress:
                <span class="font-grey-mint bold">{{device.wifi_mac_address}}</span>
            </div>

            <div>
                Auto Backup:
                <span class="font-grey-mint bold">{{device.backup_mode}}</span>
                <i class="fa cursor-hand" style="vertical-align: middle; font-size: 1.5em;"
                   [class.fa-toggle-on]="device.backup_mode" [class.fa-toggle-off]="!device.backup_mode"
                   (click)="onAutobackupSwitchClick()"></i>


            </div>
            <div>
                Static Backup:
            </div>
            <div *ngIf="device.status.actual_backup_c_program_version_name">
                Program:
                <span class="font-grey-mint bold">{{device.status.actual_backup_c_program_version_name}}</span>
                <button class="btn blue">
                    <i class="fa fa-gears"></i>
                </button>
            </div>
            <div *ngIf="device.status.actual_backup_c_program_version_id">
                Version:
                <span class="font-grey-mint bold">{{device.status.actual_backup_c_program_version_id}}</span>
            </div>

            <div *ngIf="device.actual_bootloader_id">
                Actual bootloader version:
                <span class="font-grey-mint bold">{{device.actual_bootloader_id}}</span>
            </div>
            <div *ngIf="device.avaible_bootloader_id">
                Avalible bootloader version:
                <span class="font-grey-mint bold">{{device.avaible_bootloader_id}}</span>
            </div>
            <button *ngIf="!(device.avaible_bootloader_id === device.actual_bootloader_id)" class="btn red"
                    (click)="onUpdateBootloaderClick($event)">
                <i class="fa fa-plus-circle"></i>Update Required
            </button>
        </div>
    </div>
    <div *ngIf="device && typeOfBoard" class="portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-globe"></i>
                    Schema
                </span>
            </div>
        </div>
        <div class="portlet-title">
            <div class="becki-caption sub-title">
                <p>
                    <i class="fa fa-fw fa-tasks"></i>
                    Server: <a (click)="onServerClick()">{{device.status.server_name ? device.status.server_name :
                    'Unknown'}}</a> (<span class="{{device.status.server_online_status ? 'font-green' : 'font-red'}}">{{device.status.server_online_status ? 'online' : 'offline'}}</span>)
                </p>
                <p>
                    <i class="fa fa-fw fa-cloud-upload"></i>
                    Instance: <a (click)="onInstanceClick(device.status.instance_id)">{{device.status.instance_id ?
                    device.status.instance_id : 'Unknown'}}</a> (<span
                    class="{{device.status.instance_online_status ? 'font-green' : 'font-red'}}">{{device.status.instance_online_status ? 'online' : 'offline'}}</span>)
                </p>
                <p>
                    <i class="fa fa-fw fa-microchip"></i>
                    Device type: <a
                    (click)="onBoardTypeClick(device.type_of_board_id)">{{device.type_of_board_name}}</a> (<span
                    class="{{device.status.status == 'online' ? 'font-green' : 'font-red'}}">{{device.status.status}}</span>)
                </p>
            </div>
        </div>
        <div class="portlet-body row">
            <div class="row">
                <div class="col-sm-5 hw-b-program-col">
                    <h3>Blocko Program</h3>
                    <div *ngIf="device.status.b_program_id" class="timeline">
                        <div class="timeline-item">
                            <div class="timeline-icon bg-green-jungle bg-font-green-jungle">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow"></div>
                                <div class="timeline-body-content">
                                    <h4>Actual Blocko Program</h4>
                                    <p>Program: <a (click)="onBProgramClick(device.status.b_program_id)">{{device.status.b_program_name
                                        ? device.status.b_program_name : 'Unknown'}}</a></p>
                                    <p>Version: <a
                                        (click)="onBProgramVersionClick(device.status.b_program_id,device.status.b_program_version_id)">{{device.status.b_program_version_name
                                        ? device.status.b_program_version_name : 'Unknown'}}</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item hidden">
                            <div class="timeline-icon bg-green-jungle bg-font-green-jungle">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow"></div>
                                <div class="timeline-body-content">
                                    <h4>Planed - Block Program</h4>
                                    <p>Program: <span style="background-color: red">TODO</span></p>
                                    <p>Version: <span style="background-color: red">TODO</span></p>
                                    <p>date <span style="background-color: red">TODO</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!device.status.b_program_id">
                        <p class="text-center">No Blocko program.</p>
                    </div>
                </div>
                <div class="col-sm-2 hw-image-col">
                    <img
                        src="{{typeOfBoard.picture_link ? typeOfBoard.picture_link : 'http://placehold.it/350x350/000/FFF?text=No+picture'}}">
                </div>
                <div class="col-sm-5 hw-c-program-col">
                    <h3>Firmware</h3>
                    <div *ngIf="device.status.actual_c_program_id" class="timeline">
                        <div class="timeline-item">
                            <div class="timeline-icon bg-grey-salsa bg-font-grey-salsa">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow"></div>
                                <div class="timeline-body-content">
                                    <h4>Actual Firmware</h4>
                                    <p>Program: <a (click)="onCProgramClick(device.status.actual_c_program_id)">{{device.status.actual_c_program_name
                                        ? device.status.actual_c_program_name : 'Unknown'}}</a></p>
                                    <p>Version: {{device.status.actual_c_program_version_name ?
                                        device.status.actual_c_program_version_name : 'Unknown'}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="device.status.required_c_programs.length" class="timeline-item">
                            <div class="timeline-icon bg-grey-salsa bg-font-grey-salsa">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow"></div>
                                <div class="timeline-body-content">
                                    <h4>Planed Firmware</h4>
                                    <p>Program: <a
                                        (click)="onCProgramClick(device.status.required_c_programs[0].c_program_id)">{{device.status.required_c_programs[0].c_program_program_name
                                        ? device.status.required_c_programs[0].c_program_program_name : 'Unknown'}}</a>
                                    </p>
                                    <p>Version: {{device.status.required_c_programs[0].c_program_version_name ?
                                        device.status.required_c_programs[0].c_program_version_name : 'Unknown'}}</p>
                                    <p>date <span style="background-color: red">TODO</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!device.status.actual_c_program_id">
                        <p class="text-center">No firmware.</p>
                    </div>
                </div>
            </div>
            <div *ngIf="device && device.updates.length">
                <h3>Upadates</h3>
                <div class="timeline">
                    <div *ngFor="let update of device.updates" class="timeline-item timeline-item-updates">
                        <div class="timeline-icon bg-green-jungle bg-font-green-jungle">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"></div>
                            <div class="timeline-body-content">
                                <p>Program: {{update.c_program_name ? update.c_program_name : 'Unknown'}}</p>
                                <p>Version: <a (click)="onCProgramClick(update.c_program_id)">{{update.c_program_version_name
                                    ? update.c_program_version_name : 'Unknown'}}</a></p>
                                <p>date <span style="background-color: red">TODO</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                *ngIf="device && device.status.required_backup_c_programs && device.status.required_backup_c_programs.length > 1"
                class="cd-horizontal-timeline mt-timeline-horizontal loaded">
                <div class="timeline">
                    <div class="events-wrapper">
                        <div class="events" style="transition: left 0.6s linear; "
                             [style.width]="800+(device.status.required_backup_c_programs.length * 200) +'px'"
                             [style.left]="timelinePosition+'px'">
                            <ol *ngFor="let deviced of device.status.required_backup_c_programs.slice().reverse(); let i = index">

                                <li>
                                    <a class="border-after-red bg-after-red selected"
                                       [class.selected]="device.status.actual_c_program_id == deviced.c_program_id"
                                       [style.left]="(i*200)+'px'"><span
                                        style="text-overflow: ellipsis; display:inline-block; overflow: hidden;white-space: nowrap;  width: 170px">{{deviced.c_program_name}}</span>
                                        <br> <span style="font-size: 70%" class="font-grey-salsa">{{deviced.date_of_create|bkUnixTimeToDate}}</span>
                                    </a>
                                </li>
                            </ol>
                            <span class="filling-line bg-red" aria-hidden="true" style="transform: scaleX(1);"></span>
                        </div>
                        <!-- .events -->
                    </div>
                    <!-- .events-wrapper -->
                    <ul class="cd-timeline-navigation mt-ht-nav-icon">
                        <li>
                            <a (click)=timelineMove(100); class="prev btn btn-outline red md-skip">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li>
                            <a (click)=timelineMove(-100); class="next btn btn-outline red md-skip inactive">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- .cd-timeline-navigation -->
                </div>
            </div>

        </div>
    </div>
</bk-layout-main>
