<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="{{projectId == null ? 'byzance-admin' : 'projects-project'}}"
    [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-fw fa-cube"></i>
                <span [innerHTML]="'title'|bkTranslate:this"></span>
                </span>
            </div>
            <div class="becki-actions">
                <button  *ngIf="tab == 'private_groups' && projectId" class="btn blue" (click)="onGroupAddClick()">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_blocks_group'|bkTranslate:this}}
                </button>
                <button *ngIf="tab == 'public_groups' && !projectId" class="btn green" (click)="onGroupAddClick()">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_blocks_group'|bkTranslate:this}}
                </button>
            </div>
        </div>
        <div class="portlet-title tabbable-line">

            <!--ul class="nav nav-tabs margin-left-15 pull-left"-->
            <ul class="nav nav-tabs pull-left">

                <li *ngIf="project" [class.active]="tab == 'private_groups'">
                    <a class="cursor-pointer" (click)="onToggleTab('private_groups')"><i class="fa fa-code"></i> {{'tab_private_groups'|bkTranslate:this}}</a>
                </li>

                <li [class.active]="tab == 'public_groups'">
                    <a class="cursor-pointer" (click)="onToggleTab('public_groups')"><i class="fa fa-code"></i> {{'tab_public_groups'|bkTranslate:this}}</a>
                </li>

                <li *ngIf="!project" [class.active]="tab == 'admin_programs_for_decisions'">
                    <a class="cursor-pointer" (click)="onToggleTab('admin_programs_for_decisions')"><i class="fa fa-bolt"></i> {{'tab_programs_for_decisions'|bkTranslate:this}}</a>
                </li>

            </ul>
        </div>

        <div *ngIf="tab == 'private_groups'">
            <div *ngIf="(privateGroups && privateGroups.length)" class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let group of privateGroups">
                        <td class="vert-align no-wrap bold"><a (click)="onGroupClick(group)">{{group.name}}</a></td>
                        <td class="vert-align">{{group.description}}</td>
                        <td class="vert-align no-wrap">

                            <style type="text/css">
                                table tr button { opacity:0.05;}
                                table tr:hover button { opacity:1 }
                            </style>

                            <button title="{{'label_group_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!group.update_permission" (click)="onGroupEditClick(group)">
                                <i class="fa fa-cog"></i>
                            </button>
                            <button title="{{'label_group_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!group.delete_permission" (click)="onGroupDeleteClick(group)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 *ngIf="!privateGroups" class="text-center">{{'loading'|bkTranslate:this}}</h3>
            <div *ngIf="privateGroups && privateGroups.length == 0" class="list-no-items">
                <p class="list-no-items__main-label" [innerHTML]="'label_no_blocko_group'|bkTranslate:this"></p>
                <p class="list-no-items__sub-label">{{'label_create_blocko_group_text'|bkTranslate:this}}</p>
                <p>
                    <button class="btn blue" (click)="onGroupAddClick()">
                        <i class="fa fa-plus-circle"></i> {{'btn_add_blocks_group'|bkTranslate:this}}
                    </button>
                </p>
            </div>
        </div>

        <div *ngIf="tab == 'public_groups'">
            <!-- Filter Parameters -->
            <div>

            </div>
            <div *ngIf="(publicGroups && publicGroups.content.length)" class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_description'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_group_size'|bkTranslate:this}}</th>
                        <th *ngIf="!projectId" class="col col-lg-2 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let group of publicGroups.content">

                        <td class="vert-align no-wrap bold">
                            <a (click)="onGroupClick(group)">{{group.name}}</a>
                            <span *ngIf="group.active && !projectId" class="font-green-jungle bold">(Active)</span>
                            <span *ngIf="!group.active && !projectId" class="font-red-flamingo bold">(Deactivated)</span>
                        </td>
                        <td class="vert-align">{{group.description}}</td>
                        <td class="vert-align no-wrap">{{group.blocko_blocks.length}}</td>
                        <td *ngIf="!projectId" class="vert-align no-wrap text-right">

                            <style type="text/css">
                                table tr button { opacity:0.05;}
                                table tr:hover button { opacity:1 }
                            </style>

                            <button title="{{'label_group_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!group.update_permission" (click)="onGroupEditClick(group)">
                                <i class="fa fa-cog"></i>
                            </button>

                            <button *ngIf="!(group.order_position == 1 || group.order_position == 0)" title="{{'label_change_order'|bkTranslate:this}}" class="btn btn-icon-only purple" [disabled]="!group.update_permission" (click)="onGroupShiftUpClick(group)">
                                <i class="fa fa-chevron-up"></i>
                            </button>

                            <button *ngIf="!(publicGroups.content.length == group.order_position) " title="{{'label_change_order'|bkTranslate:this}}" class="btn btn-icon-only purple" [disabled]="!group.update_permission" (click)="onGroupShiftDownClick(group)">
                                <i class="fa fa-chevron-down"></i>
                            </button>

                            <button *ngIf="!group.active" title="{{'label_active_group'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!group.update_permission" (click)="onGroupActivateClick(group)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button  *ngIf="group.active " title="{{'label_deactive_group'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!group.update_permission" (click)="onGroupDeactivateClick(group)">
                                <i class="fa fa-power-off"></i>
                            </button>

                            <button *ngIf="group.delete_permission " title="{{'label_remove_group'|bkTranslate:this}}" class="btn btn-icon-only red"  (click)="onGroupDeleteClick(group)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 *ngIf="!publicGroups" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
            <div *ngIf="publicGroups && publicGroups.content.length < 1" class="list-no-items">
                <p class="list-no-items__main-label" [innerHTML]="'label_no_groups'|bkTranslate:this"></p>
                <p class="list-no-items__sub-label">{{'label_no_groups_comment'|bkTranslate:this}} </p>
            </div>
        </div>

        <div *ngIf="tab == 'admin_programs_for_decisions'">
            <!-- Filter Parameters -->
            <div>
            </div>

            <div *ngIf="(blocksNotApproved && blocksNotApproved.content.length)" class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col col-lg-2">{{'table_name'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'table_description'|bkTranslate:this}}</th>
                        <th class="col col-lg-2 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let block of blocksNotApproved.content">

                        <td class="vert-align no-wrap bold"><a (click)="onBlockForDecisionClick(block)">{{block.blocko_block_name}}</a></td>
                        <td class="vert-align">{{block.blocko_block_description}}</td>
                        <td class="vert-align no-wrap text-right">
                            <style type="text/css">
                                table tr button { opacity:0.05;}
                                table tr:hover button { opacity:1 }
                            </style>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 *ngIf="!blocksNotApproved" class="text-center">{{'label_loading'|bkTranslate:this}}</h3>
            <div *ngIf="blocksNotApproved && blocksNotApproved.total < 1" class="list-no-items">
                <p class="list-no-items__main-label">{{'label_no_programs'|bkTranslate:this}}</p>
                <p class="list-no-items__sub-label">{{'label_no_program_comment'|bkTranslate:this}} </p>
                <p>
                    As administrator, you have to create own project with own programs and share everything as a classic users.
                </p>
            </div>
        </div>

    </div>

</bk-layout-main>
