<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project"
                [title]="currentParamsService.currentProjectNameSnapshot"
                [subtitle]="currentParamsService.currentProjectDescriptionSnapshot"
                [show_title]="false"
                class="portlet-fit full-height-content"
                style="padding: 0 0 0 0 !important;">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title *ngIf="blockoProgram"
                      [title_name]="'title'|bkTranslate:this:currentParamsService.currentBlockoNameSnapshot"
                      [title_object_name]="blockoProgram.name"
                      [title_object_description]="blockoProgram.description"
                      [icon]="'fa-sitemap'"
                      (onClick)="onPortletClick($event)"
                      [btns_group_name]="'btn_label_option'|bkTranslate:this"
                      [btns]="[
                        {
                              condition: !!blockoProgram,
                              btn_label_for_person: ('label_blocko_save'|bkTranslate:this),
                              icon: 'fa-cog',
                              colorType: 'CREATE',
                              btn_tag: 'save_program',
                              permission: blockoProgram.update_permission
                          },
                          {
                              condition: !!blockoProgram,
                              btn_label_for_person: ('label_blocko_program_properties'|bkTranslate:this),
                              icon: 'fa-cog',
                              colorType: 'EDIT',
                              btn_tag: 'edit_program',
                              permission: blockoProgram.update_permission
                          },
                          {
                              condition: !!blockoProgram,
                              btn_label_for_person: ('label_remove_blocko_program'|bkTranslate:this),
                              icon: 'fa-trash',
                              colorType: 'REMOVE',
                              btn_tag: 'remove_program',
                              permission: blockoProgram.delete_permission
                          }
                      ]"
                      (onTabClick)="onToggleTab($event)"
                      [tab_selected_name]="tab"
                      [tabBtns]="[
                            {
                                tab_name: 'ide',
                                condition: (true),
                                tab_color: 'BLOCKO',
                                tab_label: ('tab_ide'|bkTranslate:this)
                            },
                            {
                                tab_name: 'versions',
                                condition: (true),
                                tab_color: 'BLOCKO',
                                tab_label: ('tab_versions'|bkTranslate:this)
                            }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body" style="padding: 0 0 0 0;">
        <div [hidden]="!(tab=='ide')">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light" style="padding: 0 0 0 0;">
                        <div class="portlet-body">
                            <bk-blocko-view [full_page]="true"
                                            [safeRun]="true"
                                            (onError)="onBlockoError($event)"
                                            (onLog)="onBlockoLog($event)"
                                            (onChange)="onSomethingChanged()"
                                            #BlockoIDEComponent>
                            </bk-blocko-view>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="portlet light" >
                <bk-portlet-title
                    [title_name]="'label_console'|bkTranslate:this"
                    [icon]="'fa-terminal'"
                    (onClick)="onPortletClick($event)"
                    [btns]="[
                              {
                                  condition: (tab_under_ide == 'tab_terminal'),
                                  btn_label_for_person: ('btn_clear_console'|bkTranslate:this),
                                  icon: 'fa-trash-o',
                                  colorType: 'REMOVE',
                                  btn_tag: 'clean_console',
                                  permission: true
                              }
                            ]"
                    (onTabClick)="onToggleIDETab($event)"
                    [tab_selected_name] = "tab_under_ide"
                    [tabBtns]="[
                                {
                                tab_name: 'tab_terminal',
                                condition: (true),
                                tab_color: 'BLOCKO',
                                tab_label: ('tab_terminal'|bkTranslate:this)
                                }
                            ]">
                </bk-portlet-title>

                <div class="portlet-body">
                    <div [hidden]="tab_under_ide != 'tab_terminal'">
                        <bk-console-log maxHeight="400px"></bk-console-log>
                    </div>

                </div>
            </div>
                </div>
            </div>
        </div>

        <div [hidden]="!(tab=='versions')">
            <div *ngIf="blockoProgramVersions && blockoProgramVersions.length > 0">
                <table class="table table-hover table-light   table-scrollable table-scrollable-borderless">
                    <thead>
                    <tr>
                        <th class="">{{'table_name'|bkTranslate:this}}</th>
                        <th class="">{{'table_description'|bkTranslate:this}}</th>
                        <th class="">{{'table_author'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let version of blockoProgramVersions">
                        <td class="vert-align no-wrap"
                            [class.bold]="selectedProgramVersion && selectedProgramVersion.id == version.id">
                            <a (click)="selectBProgramVersion(version)">
                                {{version.name}}
                            </a>
                        </td>

                        <td class="vert-align">
                            {{version.description}}
                        </td>
                        <td class="vert-align">
                            {{version.author.nick_name}}
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_version_properties'|bkTranslate:this)"
                                [btns]="[
                                                {
                                                    condition: true,
                                                    btn_label_for_person: ('label_version_properties'|bkTranslate:this),
                                                    btn_tag: 'edit_version_properties',
                                                    icon: 'fa-cog',
                                                    colorType: 'EDIT',
                                                    permission: (version.update_permission)
                                                },
                                                {
                                                    condition: true,
                                                    btn_label_for_person: ('label_remove_version'|bkTranslate:this),
                                                    btn_tag: 'remove_version',
                                                    icon: 'fa-trash',
                                                    colorType: 'REMOVE',
                                                    permission: (version.delete_permission)
                                                }
                                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, version)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(blockoProgramVersions == null)"
                                [condition_empty]="(blockoProgramVersions != null && blockoProgramVersions.length == 0)"
                                [main_message_link]="'label_program_versions'|bkTranslate:this"
                                [main_message_comment_link]="'label_program_versions_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>
    </div>


</bk-layout-main>
