<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main [tabMenu]="'projects-project'"
                [show_title]="false"
                [title]="currentParamsService.currentProjectNameSnapshot"
                [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">


    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-cube'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (gridProjects && gridProjects.content.length > 0),
                          btn_label_for_person: ('btn_add_grid_project'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          btn_tag: 'btn_add',
                          permission: true
                      }
                 ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <div *ngIf="(gridProjects && gridProjects.content.length)">
            <table class="table table-scrollable table-scrollable-borderless table-hover table-light byzance-tabl">
                <thead>
                <tr>
                    <th class="">{{'table_name'|bkTranslate:this}}</th>
                    <th class="full-width"> {{'table_description'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_tags'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody class="hide-bk-drob-down-button">
                <tr *ngFor="let gridProject of gridProjects.content">
                    <td class="vert-align no-wrap bold"><a (click)="onGridProjectClick(gridProject.id)">{{gridProject.name}}</a>
                    </td>
                    <td class="vert-align word-break">{{gridProject.description}}</td>

                    <td class="vert-align">
                        <bk-form-tag-input [tags_without_form]="gridProject.tags" [readonly]="true"></bk-form-tag-input>
                    </td>

                    <td class="action-btn-col">

                        <bk-drob-down-button
                            [btns_group_name]="('label_settings'|bkTranslate:this)"
                            [btns]="[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_group_properties'|bkTranslate:this),
                                    btn_tag: 'edit_gridProject',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (gridProject.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_group_remove'|bkTranslate:this),
                                    btn_tag: 'remove_gridProject',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (gridProject.delete_permission)
                                }
                            ]"
                            (onValueChanged)="onDrobDownEmiter($event, gridProject)"
                        >
                        </bk-drob-down-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <bk-nothing-to-show [condition_loading]="(gridProjects == null)"
                            [condition_empty]="(gridProjects != null && gridProjects.content.length == 0)"
                            [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/59e5405031a8a600012da86d_layout_grid.svg'"
                            [main_message_link]="'label_no_grid_projects'|bkTranslate:this"
                            [main_message_comment_link]="'label_no_grid_projects_comment'|bkTranslate:this"
                            (onButtonClick)="onProjectAddClick()"
                            [btn_label]="'btn_add_grid_project'|bkTranslate:this">
        </bk-nothing-to-show>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->

    </div>

</bk-layout-main>
