<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="projectId == null ? 'byzance-admin' : 'projects-project'"
    [show_title]="projectId == null"
    [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title *ngIf="block"
                      [title_name]="'title'|bkTranslate:this:(block?block.name:'')"
                      [title_object_name]="block.name"
                      [title_object_description]="block.description"
                      [icon]="'fa-cube'"
                      (onClick)="onPortletClick($event)"
                      [btns]="[
                          {
                              condition: !!block,
                              btn_label_for_person: ('label_properties'|bkTranslate:this),
                              icon: 'fa-cog',
                              colorType: 'EDIT',
                              btn_tag: 'edit_block',
                              permission: block.update_permission
                          },
                          {
                              condition: !!block,
                              btn_label_for_person: ('label_remove'|bkTranslate:this),
                              icon: 'fa-trash',
                              colorType: 'REMOVE',
                              btn_tag: 'remove_block',
                              permission: block.delete_permission
                          }
                     ]"
                    (onTabClick)="onToggleTab($event)"
                    [tab_selected_name]="tab"
                    [tabBtns]="[
                        {
                            tab_name: 'ide',
                            condition: (true),
                            tab_color: 'BLOCKO',
                            tab_label: ('tab_ide'|bkTranslate:this)
                        },
                         {
                            tab_name: 'configuration',
                            condition: (true),
                            tab_color: 'BLOCKO',
                            tab_label: ('tab_configuration'|bkTranslate:this)
                        },
                        {
                            tab_name: 'versions',
                            condition: (true),
                            tab_color: 'BLOCKO',
                            tab_label: ('tab_versions'|bkTranslate:this)
                        }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <!-- Page Content -- START -->
    <div class="portlet-body">

        <div [hidden]="!(tab=='ide')">

            <div class="row">
                <div class="col-md-12">
                    <bk-monaco-editor [code]="blockCode" (codeChange)="newBlockCode($event)"
                                      [typings]="['TSBlockLib', 'ConsoleLib', 'UtilsLib', 'FetchLib', 'ServiceLib', 'BlockoServiceHandler', 'ES5']">
                    </bk-monaco-editor>
                </div>
                <div class="col-md-12">
                    <div *ngFor="let tsError of tsErrors;" class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-shadow ribbon-color-danger">{{tsError.name}}</div>
                        <div class="ribbon-content">
                            <div *ngIf="tsError.line"><strong>Line: </strong>{{tsError.line}}</div>
                            <span [innerHTML]="tsError.message"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <div class="font-red text-right" style="padding-bottom: 5px; transition: opacity 0.5s;"
                             [style.opacity]="successfullyTested?'0':'1'">{{'label_block_code_change'|bkTranslate:this}}
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn default yellow-gold" (click)="onTestClick()">
                                <i class="fa fa-play"></i> {{'btn_test'|bkTranslate:this}}
                            </button>
                            <button type="button" class="btn default green-haze" [disabled]="!successfullyTested"
                                    (click)="onSaveClick()">
                                <i class="fa fa-floppy-o"></i> {{'btn_save'|bkTranslate:this}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="text-center">{{'label_inputs_simulator'|bkTranslate:this}}</h4>
                            <div class="block-tester no-select">
                                <div *ngFor="let connector of testInputConnectors; let iCon = index" class="row bg-color" [class.odd]="iCon%2">

                                    <ng-template [ngIf]="connector.type == connectorTypes.DigitalInput">
                                        <div class="col-md-4 bg-din bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                        <div class="col-md-8">
                                            <div class="block-tester-message-input-label"><strong>{{'label_value'|bkTranslate:this}}</strong>:
                                            </div>
                                            <i class="fa cursor-hand" style="vertical-align: middle; font-size: 1.5em;"
                                               [class.fa-toggle-on]="connector.value"
                                               [class.fa-toggle-off]="!connector.value"
                                               (click)="onDigitalInputClick(connector)"></i>
                                        </div>
                                    </ng-template>

                                    <ng-template [ngIf]="connector.type == connectorTypes.AnalogInput">
                                        <div class="col-md-4 bg-ain bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                        <div class="col-md-8">
                                            <div class="block-tester-message-input-label"><strong>{{'label_value'|bkTranslate:this}}</strong>:
                                            </div>
                                            <input type="number" class="form-control" step="0.1" [value]="connector.value"
                                                   (input)="onAnalogInputChange($event, connector)">
                                        </div>
                                    </ng-template>

                                    <ng-template [ngIf]="connector.type == connectorTypes.MessageInput">
                                        <div class="col-md-4 bg-min bold" [class.odd]="iCon%2">{{connector.name}}</div>
                                        <div *ngFor="let argType of connector.argTypes; let index = index">

                                            <div *ngIf="index" class="col-md-4"></div>

                                            <ng-template [ngIf]="argType == argTypes.Boolean">
                                                <div class="col-md-8">
                                                    <div class="block-tester-message-input-label"><span
                                                        [innerHTML]="'label_datatype_boolean'|bkTranslate:this:index"></span>:
                                                    </div>
                                                    <i class="fa cursor-hand"
                                                       style="vertical-align: middle; font-size: 1.5em;"
                                                       [class.fa-toggle-on]="messageInputsValueCache[connector.name+argType+index]"
                                                       [class.fa-toggle-off]="!messageInputsValueCache[connector.name+argType+index]"
                                                       (click)="messageInputsValueCache[connector.name+argType+index] = !messageInputsValueCache[connector.name+argType+index]"></i>
                                                </div>
                                            </ng-template>
                                            <ng-template [ngIf]="argType == argTypes.Float">
                                                <div class="col-md-8">
                                                    <div class="block-tester-message-input-label"><span
                                                        [innerHTML]="'label_datatype_float'|bkTranslate:this:index"></span>:
                                                    </div>
                                                    <input type="number" class="form-control" step="0.1" value="0"
                                                           (input)="messageInputsValueCache[connector.name+argType+index] = $event.target['value']">
                                                </div>
                                            </ng-template>
                                            <ng-template [ngIf]="argType == argTypes.Integer">
                                                <div class="col-md-8">
                                                    <div class="block-tester-message-input-label"><span
                                                        [innerHTML]="'label_datatype_integer'|bkTranslate:this:index"></span>:
                                                    </div>
                                                    <input type="number" class="form-control" step="1" value="0"
                                                           (input)="messageInputsValueCache[connector.name+argType+index] = $event.target['value']">
                                                </div>
                                            </ng-template>
                                            <ng-template [ngIf]="argType == argTypes.String">
                                                <div class="col-md-8">
                                                    <div class="block-tester-message-input-label"><span
                                                        [innerHTML]="'label_datatype_string'|bkTranslate:this:index"></span>:
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           (input)="messageInputsValueCache[connector.name+argType+index] = $event.target['value']">
                                                </div>
                                            </ng-template>

                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-8">
                                            <button class="btn btn-sm default green block-tester-message-input-btn"
                                                    type="button" (click)="onMessageInputSendClick(connector)">
                                                <i class="fa fa-paper-plane"></i> {{'btn_send'|bkTranslate:this}}
                                            </button>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h4 class="text-center">{{'label_block'|bkTranslate:this}}</h4>
                            <bk-blocko-view
                                [singleBlockView]="true"
                                readonly="true"
                                [safeRun]="true"
                                (onError)="onBlockoError($event)"
                                (onLog)="onBlockoLog($event)"
                            ></bk-blocko-view>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center">{{'label_console'|bkTranslate:this}}</h4>
                            <div class="row">
                                <bk-console-log></bk-console-log>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div [hidden]="!(tab=='configuration')">
            <bk-form-input [label]="'label_block_name'|bkTranslate:this"
                           [control]="blockForm.controls['name']"
                           [waitForTouch]="false">
            </bk-form-input>
            <br>
            <bk-form-input [label]="'label_block_description'|bkTranslate:this"
                           [control]="blockForm.controls['description']"
                           [waitForTouch]="false">
            </bk-form-input>
            <br>
            <label>
                {{'label_icon_svg'|bkTranslate:this}}
                <i class="fa cursor-hand"
                   style="vertical-align: middle; font-size: 1.5em;"
                   [class.fa-toggle-on]="svgIcon"
                   [class.fa-toggle-off]="!svgIcon"
                   (click)="svgIcon = !svgIcon"></i>
            </label>
            <br>
            <bk-form-fa-icon-select *ngIf="!svgIcon"
                                    label="{{'label_block_icon'|bkTranslate:this}}"
                                    [control]="blockForm.controls['icon']"
                                    [waitForTouch]="false">
            </bk-form-fa-icon-select>
            <button *ngIf="svgIcon"
                    class="btn blue"
                    (click)="onSvgUploadClick()">
                <i class="fa fa-upload"></i>{{'btn_upload_svg'|bkTranslate:this}}
            </button>
        </div>

        <div [hidden]="!(tab=='versions')">
            <div *ngIf="blockoBlockVersions && blockoBlockVersions.length > 0" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th class="">{{'table_name'|bkTranslate:this}}</th>
                        <th class="">{{'table_description'|bkTranslate:this}}</th>
                        <th class="">{{'table_author'|bkTranslate:this}}</th>
                        <th class="">{{'table_status'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                        <tr *ngFor="let version of blockoBlockVersions">
                        <td class="vert-align no-wrap"
                            [class.bold]="selectedBlockVersion && (selectedBlockVersion.id == version.id)">
                            <a (click)="onBlockoBlockVersionClick(version)"> {{version.name}}
                                <span *ngIf="version.publish_type === 'default_version'"
                                      class="font-green-jungle bold">(Default)</span>
                            </a>
                        </td>
                        <td class="vert-align">
                            {{version.description}}
                        </td>
                        <td class="vert-align">
                                    <span *ngIf="version.author">
                                        {{version.author.nick_name}}
                                    </span>
                        </td>
                        <td class="vert-align no-wrap text-center">
                            <bk-compilation-status-component [status]="version.status"></bk-compilation-status-component>
                            <bk-compilation-status-component [status]="version.approval_state"></bk-compilation-status-component>
                        </td>
                        <td class="action-btn-col">


                            <bk-drob-down-button
                                [btns_group_name]="('label_settings'|bkTranslate:this)"
                                [btns]="[
                                        {
                                            condition: (projectId != null && version.approval_state == null),
                                            btn_label_for_person: ('label_publish'|bkTranslate:this),
                                            btn_tag: 'version_publish_community',
                                            icon: 'fa-heart',
                                            colorType: 'CREATE',
                                            permission: (version.update_permission)
                                        },
                                        {
                                            condition: (version.approval_state == 'PENDING'),
                                            btn_label_for_person: ('label_publish_decision'|bkTranslate:this),
                                            btn_tag: 'version_publish_admin',
                                            icon: 'fa-heart',
                                            colorType: 'CREATE',
                                            permission: (version.community_publishing_permission)
                                        },
                                        {
                                            condition: true,
                                            btn_label_for_person: ('label_version_properties'|bkTranslate:this),
                                            btn_tag: 'version_properties',
                                            icon: 'fa-cog',
                                            colorType: 'EDIT',
                                            permission: (version.update_permission)
                                        },
                                        {
                                            condition: (projectId == null && block.publish_type == 'DEFAULT_MAIN'),
                                            btn_label_for_person: ('label_version_set_as_main'|bkTranslate:this),
                                            btn_tag: 'version_set_as_main',
                                            icon: 'fa-flag',
                                            colorType: 'UPDATE',
                                            permission: (version.update_permission)
                                        },
                                        {
                                            condition: true,
                                            btn_label_for_person: ('label_remove_version'|bkTranslate:this),
                                            btn_tag: 'remove_version',
                                            icon: 'fa-trash',
                                            colorType: 'REMOVE',
                                            permission: (version.delete_permission)
                                        }
                                    ]"
                                (onValueChanged)="onDropDownEmitter($event, version)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(blockoBlockVersions == null)"
                                [condition_empty]="(blockoBlockVersions != null && blockoBlockVersions.length == 0)"
                                [main_message_link]="'label_program_versions'|bkTranslate:this"
                                [main_message_comment_link]="'label_program_versions_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>

    </div>
</bk-layout-main>
