<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="'projects-project'"
    [show_title]="false"
    [title]="currentParamsService.currentProjectNameSnapshot"
    [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">


    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-microchip'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (tab == 'my_programs' && privatePrograms && privatePrograms.content.length > 0),
                          btn_label_for_person: ('btn_add_code_program'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          permission: true,
                          btn_tag: 'add_code'
                      }
                 ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name]="tab"
        [tabBtns]="[
                        {
                            tab_name: 'my_programs',
                            condition: (true),
                            permission: true,
                            tab_color: 'CODE',
                            tab_label: ('tab_my_programs'|bkTranslate:this)
                        },
                        {
                            tab_name: 'public_c_programs',
                            condition: (true),
                            permission: true,
                            tab_color: 'CODE',
                            tab_label: ('tab_public_c_programs'|bkTranslate:this)
                        },
                        {
                            tab_name: 'admin_c_programs',
                            condition: (project_id == null),
                            permission: true,
                            tab_color: 'CODE',
                            tab_label: ('tab_admin_c_programs'|bkTranslate:this)
                        }
                 ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <div *ngIf="tab == 'my_programs'">
            <div *ngIf="(privatePrograms && privatePrograms.content.length)">
                <table class="table table-hover table-light   table-scrollable table-scrollable-borderless">
                    <thead>
                    <tr>
                        <th class="" [innerHTML]="'table_name'|bkTranslate:this"></th>
                        <th class="" [innerHTML]="'table_description'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]="'table_hardware_type'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]="'table_tags'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]="'table_actions'|bkTranslate:this"></th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let code of privatePrograms.content">
                        <td class="vert-align no-wrap"><a (click)="onCProgramClick(code.id)">{{code.name}}</a></td>
                        <td class="vert-align">{{code.description}}</td>
                        <td class="vert-align text-center no-wrap"><a (click)="onHardwareTypeClick(code.hardware_type.id)">{{code.hardware_type.name}}</a>
                        </td>

                        <td class="vert-align">
                            <bk-form-tag-input [tags_without_form]="code.tags" [readonly]="true"></bk-form-tag-input>
                        </td>

                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_code_program_properties'|bkTranslate:this)"
                                [btns]="[
                                        {
                                            condition: true,
                                            btn_label_for_person: ('label_code_program_properties'|bkTranslate:this),
                                            btn_tag: 'code_program_properties',
                                            icon: 'fa-cog',
                                            colorType: 'EDIT',
                                            permission: (code.update_permission)
                                        },
                                        {
                                            condition: true,
                                            btn_label_for_person: ('label_remove_code_program'|bkTranslate:this),
                                            btn_tag: 'remove_code_program',
                                            icon: 'fa-trash',
                                            colorType: 'REMOVE',
                                            permission: (code.delete_permission)
                                        }
                                    ]"
                                (onValueChanged)="onDrobDownEmiter($event, code)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="privatePrograms.from" [to]="privatePrograms.to"
                                          [total]="privatePrograms.total" [totalPages]="privatePrograms.pages"
                                          (onSelect)="onFilterPrivatePrograms($event)"></bk-filter-page-component>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(privatePrograms == null)"
                                [condition_empty]="(privatePrograms != null && privatePrograms.content.length == 0)"
                                [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/59d793dea7327a00016b151f_code%20web%20small.png'"
                                [main_message_link]="'label_no_code'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_code_comment'|bkTranslate:this"
                                [btn_label]="'btn_add_code_program'|bkTranslate:this"
                                (onButtonClick)="onAddClick()">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

        <div *ngIf="tab == 'public_c_programs'">

            <div *ngIf="(publicPrograms && publicPrograms.content.length)">
                <table class="table table-hover table-light   table-scrollable table-scrollable-borderless">
                    <thead>
                    <tr>
                        <th class="" [innerHTML]="'table_name'|bkTranslate:this"></th>
                        <th class="" [innerHTML]="'table_description'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]="'table_hardware_type'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]="'table_tags'|bkTranslate:this"></th>
                        <th class="text-center" [innerHTML]="'table_actions'|bkTranslate:this"></th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let code of publicPrograms.content">
                        <td class="vert-align no-wrap bold"><a (click)="onCProgramClick(code.id)">{{code.name}}</a></td>
                        <td class="vert-align">{{code.description}}</td>
                        <td class="vert-align text-center no-wrap"><a (click)="onHardwareTypeClick(code.hardware_type.id)">{{code.hardware_type.name}}</a>
                        </td>
                        <td class="vert-align">
                            <bk-form-tag-input [tags_without_form]="code.tags" [readonly]="true"></bk-form-tag-input>
                        </td>
                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_code_program_properties'|bkTranslate:this)"
                                [btns]="[
                                    {
                                            condition: (code.update_permission),
                                            btn_label_for_person: ('label_code_program_properties'|bkTranslate:this),
                                            btn_tag: 'code_program_properties',
                                            icon: 'fa-cog',
                                            colorType: 'EDIT',
                                            permission: (code.update_permission)
                                    },
                                    {
                                            condition: (code.update_permission),
                                            btn_label_for_person: ('label_remove_code_program'|bkTranslate:this),
                                            btn_tag: 'remove_code_program',
                                            icon: 'fa-trash',
                                            colorType: 'REMOVE',
                                            permission: (code.delete_permission)
                                    },
                                    {
                                        condition: true,
                                        btn_label_for_person: ('label_code_copy'|bkTranslate:this),
                                        btn_tag: 'code_program_clone',
                                        icon: 'fa-clone',
                                        colorType: 'CREATE',
                                        permission: (code.update_permission)
                                    }
                                ]"
                                (onValueChanged)="onDrobDownEmiter($event, code)"
                            >
                            </bk-drob-down-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="publicPrograms.from" [to]="publicPrograms.to"
                                          [total]="publicPrograms.total" [totalPages]="publicPrograms.pages"
                                          (onSelect)="onFilterPublicPrograms($event)"></bk-filter-page-component>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(publicPrograms == null)"
                                [condition_empty]="(publicPrograms != null && publicPrograms.content.length == 0)"
                                [main_message_link]="'label_no_public_code'|bkTranslate:this"
                                [main_message_comment_link]="'label_create_public_code_text'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

    </div>

</bk-layout-main>
