<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="projectId == null ? 'byzance-admin' : 'projects-project'"
    [show_title]="projectId == null"
    [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-cube'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                      {
                          condition: (tab == 'my_blocks'),
                          btn_label_for_person: ('btn_add'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ADD',
                          btn_tag: 'add_block'
                      }
                 ]"
        (onTabClick)="onToggleTab($event)"
        [tab_selected_name]="tab"
        [tabBtns]="[
                        {
                            tab_name: 'my_blocks',
                            condition: (true),
                            tab_color: 'BLOCKO',
                            tab_label: ('tab_my_blocks'|bkTranslate:this)
                        },
                        {
                            tab_name: 'public_blocks',
                            condition: (true),
                            tab_color: 'BLOCKO',
                            tab_label: ('tab_public_blocks'|bkTranslate:this)
                        },
                        {
                            tab_name: 'admin_blocks',
                            condition: (projectId == null),
                            tab_color: 'BLOCKO',
                            tab_label: ('tab_admin_blocks'|bkTranslate:this)
                        }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->


    <div class="portlet-body">

        <div *ngIf="tab == 'my_blocks'">

            <div *ngIf="(blockList && blockList.content.length)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let block of blockList.content">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onBlockClick(block.id)">{{block.name}}</a>
                        </td>
                        <td class="vert-align">{{block.description}}</td>
                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_block_properties'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_block_properties'|bkTranslate:this),
                                    btn_tag: 'block_properties',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (block.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_block_remove'|bkTranslate:this),
                                    btn_tag: 'block_remove',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (block.delete_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, block)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="blockList.from" [to]="blockList.to" [total]="blockList.total"
                                          [totalPages]="blockList.pages"
                                          (onSelect)="onShowProgramPrivateBlocksFilter($event)"></bk-filter-page-component>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(blockList == null)"
                                [condition_empty]="(blockList != null && blockList.content.length == 0)"
                                [main_message_link]="'label_no_block_program'|bkTranslate:this"
                                [main_message_comment_link]="'label_create_block_text'|bkTranslate:this"
                                (onButtonClick)="onBlockAddClick()"
                                [btn_label]="'btn_add_block'|bkTranslate:this">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->


        </div>
        <div *ngIf="tab == 'public_blocks'">
            <div *ngIf="(blockListNotApproved && blockListNotApproved.content.length)"
                 class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let block of blockListNotApproved.content">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onBlockClick(block.id)">{{block.name}}</a>
                            <span *ngIf="!projectId && block.active" class="font-green-jungle bold">(Active)</span>
                            <!-- Only for Administrator -->
                            <span *ngIf="!projectId && !block.active"
                                  class="font-red-flamingo bold">(Deactivated)</span>   <!-- Only for Administrator -->
                        </td>
                        <td class="vert-align">{{block.description}}</td>
                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_code_program_properties'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: projectId && group.publish_type == 'public_program',
                                    btn_label_for_person: ('label_code_program_properties'|bkTranslate:this),
                                    btn_tag: 'block_make_clone',
                                    icon: 'fa-clone',
                                    colorType: 'EDIT',
                                    permission: (block.update_permission)
                                },
                                {
                                    condition: !projectId && !block.active,
                                    btn_label_for_person: ('label_active_group'|bkTranslate:this),
                                    btn_tag: 'active_group',
                                    icon: 'fa-power-off',
                                    colorType: 'DEACTIVE',
                                    permission: (block.update_permission)
                                },
                                {
                                    condition: projectId && block.active,
                                    btn_label_for_person: ('label_deactive_group'|bkTranslate:this),
                                    btn_tag: 'deactive_group',
                                    icon: 'fa-power-off',
                                    colorType: 'ACTIVE',
                                    permission: (block.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_block_properties'|bkTranslate:this),
                                    btn_tag: 'block_properties',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (block.update_permission)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_block_remove'|bkTranslate:this),
                                    btn_tag: 'remove_project',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (block.delete_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, block)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="blockList.from" [to]="blockList.to" [total]="blockList.total"
                                          [totalPages]="blockList.pages"
                                          (onSelect)="onShowProgramPublicBlocksFilter($event)"></bk-filter-page-component>
            </div>
            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(blockListNotApproved == null)"
                                [condition_empty]="(blockListNotApproved != null && blockListNotApproved.content.length == 0)"
                                [main_message_link]="'label_no_block_program'|bkTranslate:this"
                                [main_message_comment_link]="'label_create_block_text'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>

        <div *ngIf="tab == 'admin_blocks'"></div>

    </div>

</bk-layout-main>
