<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot"
                [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title *ngIf="blockoProgram"
                      [title_name]="'title'|bkTranslate:this:currentParamsService.currentBlockoNameSnapshot"
                      [title_object_name]="blockoProgram.name"
                      [title_object_description]="blockoProgram.description"
                      [icon]="'fa-sitemap'"
                      (onClick)="onPortletClick($event)"
                      [btns]="[
                          {
                              condition: !!blockoProgram,
                              btn_label_for_person: ('label_blocko_program_properities'|bkTranslate:this),
                              icon: 'fa-cog',
                              colorType: 'EDIT',
                              btn_tag: 'edit_program',
                              permission: blockoProgram.update_permission
                          },
                          {
                              condition: !!blockoProgram,
                              btn_label_for_person: ('label_remove_blocko_program'|bkTranslate:this),
                              icon: 'fa-trash',
                              colorType: 'REMOVE',
                              btn_tag: 'remove_program',
                              permission: blockoProgram.delete_permission
                          }
                      ]"
                      (onTabClick)="onToggleTab($event)"
                      [tab_selected_name]="tab"
                      [tabBtns]="[
                            {
                                tab_name: 'ide',
                                condition: (true),
                                tab_color: 'BLOCKO',
                                tab_label: ('tab_ide'|bkTranslate:this)
                            },
                            {
                                tab_name: 'versions',
                                condition: (true),
                                tab_color: 'BLOCKO',
                                tab_label: ('tab_versions'|bkTranslate:this)
                            }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <!-- Testování START !-->
        <div>
            <h1>Testovací tlačítka a vyvolávače Modalů</h1>

            <button type="button" class="btn default red" (click)="onClearIDEClick()">
                <i class="fa fa-trash-o"></i> {{'btn_clear_program'|bkTranslate:this}}
            </button>
            <br>
            <br>

            <button type="button" class="btn default red" (click)="onAddCodeInterfaceClick()">
                <i class="fa fa-trash-o"></i> {{'btn_add_code_interface'|bkTranslate:this}}
            </button>
            <br>
            <br>

            <button type="button" class="btn default red" (click)="onAddGridInterfaceClick()">
                <i class="fa fa-trash-o"></i> {{'btn_add_grid_interface'|bkTranslate:this}}
            </button>
            <br>
            <br>
            <button type="button" class="btn default red" (click)="onAddBlockInterfaceClick()">
                <i class="fa fa-trash-o"></i> {{'btn_add_block_interface'|bkTranslate:this}}
            </button>
            <br>
            <br>

            <button type="button" class="btn default red" (click)="onSetHardwareByInterfaceClick()">
                <i class="fa fa-trash-o"></i> {{'btn_add_hardware_interface'|bkTranslate:this}}
            </button>
            <br>

        </div>
        <br>
        <br>
        <!-- Testování STOP !-->

        <div [hidden]="!(tab=='ide')" class="row">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-sitemap fa-rotate-270"></i>
                            {{'tab_blocko'|bkTranslate:this}}
                        </span>
                        </div>
                        <div *ngIf="selectedProgramVersion" class="becki-caption version">
                            <span
                                class="caption-subject font-gray"><strong>{{'label_version'|bkTranslate:this}}</strong> <span
                                *ngIf="unsavedChanges" class="changes"></span>                        {{selectedProgramVersion.name}}</span>
                        </div>
                    </div>

                    <div>
                        <label class="mt-checkbox mt-checkbox-outline"
                               style="margin-top: 6px; margin-bottom: 6px; float: left;">
                            <input type="checkbox" [(ngModel)]="advancedMode">
                            {{'checkbox_advanced_mode'|bkTranslate:this}}
                            <span></span>
                        </label>

                        <input class="form-control" type="range" style="float: left; width: 100px; margin: 0 20px;"
                               [value]="1" (input)="blockoZoomOnChange($event)"
                               (change)="blockoZoomOnChange($event)" [attr.step]="0.1" [attr.min]="0.3"
                               [attr.max]="1.2"/>

                        <div class="pull-right">
                            <button type="button" class="btn default red" (click)="onClearIDEClick()">
                                <i class="fa fa-trash-o"></i> {{'btn_clear_program'|bkTranslate:this}}
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div style="margin: 10px 0; overflow: hidden;">
                        <bk-blocko-view [scale]="blockoZoom" [simpleMode]="!advancedMode"
                                        [showBlockNames]="advancedMode" [safeRun]="true"
                                        (onError)="onBlockoError($event)" (onLog)="onBlockoLog($event)"
                                        (onChange)="onSomethingChanged()">
                        </bk-blocko-view>
                    </div>

                    <div>
                        <div class="pull-right">
                            <button type="button" class="btn default green-haze" (click)="onSaveClick()">
                                <i class="fa fa-floppy-o"></i> {{'btn_save'|bkTranslate:this}}
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-terminal"></i>
                            {{'label_console'|bkTranslate:this}}
                        </span>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn default red" (click)="onClearConsoleClick()">
                                <i class="fa fa-trash-o"></i> {{'btn_clear_console'|bkTranslate:this}}
                            </button>
                        </div>
                    </div>
                    <div>
                        <bk-console-log maxHeight="400px"></bk-console-log>
                    </div>
                </div>
        </div>

        <div [hidden]="!(tab=='versions')">

            <div *ngIf="blockoProgramVersions && blockoProgramVersions.length > 0" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th class="">{{'table_name'|bkTranslate:this}}</th>
                        <th class="">{{'table_description'|bkTranslate:this}}</th>
                        <th class="">{{'table_author'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_in_cloud'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody class="hide-bk-drob-down-button">
                    <tr *ngFor="let version of blockoProgramVersions">
                        <td class="vert-align no-wrap"
                            [class.bold]="selectedProgramVersion && selectedProgramVersion.id == version.id">
                            <a (click)="selectBProgramVersion(version)">
                                {{version.name}}
                            </a>
                        </td>

                        <td class="vert-align">
                            {{version.description}}
                        </td>
                        <td class="vert-align">
                            {{version.author.nick_name}}
                        </td>

                        <th class="vert-align text-center"></th>


                        <td class="action-btn-col">

                            <bk-drob-down-button
                                [btns_group_name]="('label_version_properties'|bkTranslate:this)"
                                [btns]="[
                                                {
                                                    condition: true,
                                                    btn_label_for_person: ('label_version_properties'|bkTranslate:this),
                                                    btn_tag: 'edit_version_properties',
                                                    icon: 'fa-cog',
                                                    colorType: 'EDIT',
                                                    permission: (version.update_permission)
                                                },
                                                {
                                                    condition: true,
                                                    btn_label_for_person: ('label_remove_version'|bkTranslate:this),
                                                    btn_tag: 'remove_version',
                                                    icon: 'fa-trash',
                                                    colorType: 'REMOVE',
                                                    permission: (version.delete_permission)
                                                }
                                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, version)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(blockoProgramVersions == null)"
                                [condition_empty]="(blockoProgramVersions != null && blockoProgramVersions.length == 0)"
                                [main_message_link]="'label_program_versions'|bkTranslate:this"
                                [main_message_comment_link]="'label_program_versions_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

    </div>

</bk-layout-main>
