<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    tabMenu="{{projectId == null ? 'byzance-admin' : 'projects-project'}}"
    [title]="projectId == null ? ('main_title'|bkTranslate:this) : currentParamsService.currentProjectNameSnapshot"
    [subtitle]="projectId == null ? ('main_subtitle'|bkTranslate:this) : currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark">
                    <i class="fa fa-fw fa-fw fa-cube"></i>
                        <span [innerHTML]="'title'|bkTranslate:this:(group?group.name:'')"></span>
                </span>
            </div>
            <div *ngIf="group" class="becki-actions">
                <button *ngIf="group && group.edit_permission" title="{{'label_group_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!group.edit_permission"
                    (click)="onGroupEditClick()">
                    <i class="fa fa-cog"></i>
                </button>
                <button *ngIf="group && group.delete_permission" title="{{'label_group_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!group.delete_permission"
                    (click)="onGroupDeleteClick()">
                    <i class="fa fa-trash"></i>
                </button>
                <button *ngIf="projectId && group.publish_type == 'private_program'" class="btn blue" [disabled]="!group || !group.update_permission" (click)="onBlockAddClick(group)">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_block'|bkTranslate:this}}
                </button>
            </div>
        </div>
        <div>
            <span [innerHTML]="'label_blocko_description'|bkTranslate:this"></span>
            <span>{{group?group.description:""}}</span>
            <br>
        </div>
        <div *ngIf="(group && group.blocko_blocks && group.blocko_blocks.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'table_name'|bkTranslate:this}}</th>
                        <th class="full-width">{{'table_description'|bkTranslate:this}}</th>
                        <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let block of group.blocko_blocks">
                        <td class="vert-align no-wrap bold">
                            <a (click)="onBlockClick(block)">{{block.name}}</a>
                            <span *ngIf="!projectId && block.active" class="font-green-jungle bold">(Active)</span>         <!-- Only for Administrator -->
                            <span *ngIf="!projectId && !block.active" class="font-red-flamingo bold">(Deactivated)</span>   <!-- Only for Administrator -->
                        </td>
                        <td class="vert-align">{{block.description}}</td>
                        <td class="vert-align no-wrap">

                            <style type="text/css">
                                table tr button {
                                    opacity: 0.05;
                                }

                                table tr:hover button {
                                    opacity: 1
                                }
                            </style>

                            <button *ngIf="projectId && group.publish_type == 'public_program'"  title="{{'label_code_program_properties'|bkTranslate:this}}" class="btn btn-icon-only blue" (click)="onMakeClone(block)">
                                <i class="fa fa-clone"></i>
                            </button>
                            <button *ngIf="!projectId && !block.active" title="{{'label_active_group'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!block.update_permission" (click)="onBlockActivateClick(block)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button  *ngIf="!projectId && block.active" title="{{'label_deactive_group'|bkTranslate:this}}" class="btn btn-icon-only yellow" [disabled]="!block.update_permission" (click)="onBlockDeactivateClick(block)">
                                <i class="fa fa-power-off"></i>
                            </button>

                            <button title="{{'label_block_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!block.edit_permission"
                                (click)="onBlockEditClick(block)">
                                 <i class="fa fa-cog"></i>
                            </button>
                            <button title="{{'label_block_remove'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!block.delete_permission"
                                (click)="onBlockDeleteClick(block)">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!group" class="text-center">{{'loading'|bkTranslate:this}}</h3>
        <div *ngIf="group && !(group.blocko_blocks && group.blocko_blocks.length)" class="list-no-items">
            <p class="list-no-items__main-label" [innerHTML]="'label_no_block_program'|bkTranslate:this"></p>
            <p class="list-no-items__sub-label">{{'label_create_block_text'|bkTranslate:this}}</p>
            <p>
                <button class="btn blue" [disabled]="!group || !group.update_permission" (click)="onBlockAddClick(group)">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_block'|bkTranslate:this}}
                </button>
            </p>
        </div>
    </div>

</bk-layout-main>
