<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main [tabMenu]="'projects-project'"
                [show_title]="false"
                [title]="currentParamsService.currentProjectNameSnapshot"
                [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title *ngIf="instance"
                      [title_name]="'title'|bkTranslate:this"
                      [title_object_name]="instance.name?instance.name:instance.id"
                      [title_object_description]="instance.description"
                      [icon]="'fa-cloud'"
                      (onClick)="onPortletClick($event)"
                      [btns]="[
                      {
                          condition: (tab == 'overview'),
                          btn_label_for_person: ('label_instance_properties'|bkTranslate:this),
                          icon: 'fa-cog',
                          colorType: 'EDIT',
                          btn_tag: 'edit_Instance'
                      },
                      {
                          condition: (tab == 'overview' && instance.current_snapshot),
                          btn_label_for_person: ('label_deactivate_instance'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'DEACTIVE',
                          btn_tag: 'deactivate_instance'
                      },
                      {
                          condition: (tab == 'overview' && !instance.current_snapshot),
                          btn_label_for_person: ('label_activate_instance'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'ACTIVE',
                          btn_tag: 'active_instance'
                      },
                      {
                          condition: (tab == 'overview'),
                          btn_label_for_person: ('btn_select_cloud_version'|bkTranslate:this),
                          icon: 'fa-plus-circle',
                          colorType: 'UPDATE',
                          btn_tag: 'change_version_instance'
                      }
                    ]"
                      (onTabClick)="onToggleTab($event)"
                      [tab_selected_name] = "tab"
                      [tabBtns]="[
                        {
                            tab_name: 'overview',
                            condition: (true),
                            tab_color: 'CLOUD',
                            tab_label: ('tab_name_overview'|bkTranslate:this)
                        },
                        {
                            tab_name: 'hardware',
                            condition: (instance && instance.current_snapshot),
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_name_hardware'|bkTranslate:this)
                        },
                        {
                            tab_name: 'grid',
                            condition: (instance && instance.current_snapshot),
                            tab_color: 'GRID',
                            tab_label: ('tab_name_grid'|bkTranslate:this)
                        },
                        {
                            tab_name: 'history',
                            condition: (true),
                            tab_color: 'CLOUD',
                            tab_label: ('tab_name_history'|bkTranslate:this)
                        },
                        {
                            tab_name: 'update',
                            condition: (instance && instance.current_snapshot),
                            tab_color: 'HARDWARE',
                            tab_label: ('tab_name_update_progress'|bkTranslate:this)
                        },
                        {
                            tab_name: 'view',
                            condition: (instance && instance.current_snapshot),
                            tab_color: 'CLOUD',
                            tab_label: ('tab_name_update_view'|bkTranslate:this)
                        },
                        {
                            tab_name: 'logs',
                            condition: (false),
                            tab_color: 'CLOUD',
                            tab_label: ('tab_name_logs'|bkTranslate:this)
                        },
                        {
                            tab_name: 'debug',
                            condition: (false),
                            tab_color: 'CLOUD',
                            tab_label: ('tab_name_debugs'|bkTranslate:this)
                        }
                    ]"
    >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <div class="portlet-body">

        <div *ngIf="tab == 'overview' && instance">

            <div class="row">

                <div class="col-md-6 portlet light">

                    <bk-portlet-title [title_name]="'label_byzance_blocko'|bkTranslate:this"
                                      [icon]="'fa-sitemap fa-rotate-90'">
                    </bk-portlet-title>

                    <div class="portlet-body" style="padding-left: 20px">
                        <br>
                        <div>
                            <div>
                                <span [innerHTML]="'label_b_program_name'|bkTranslate:this"></span>: <a (click)="onBlockoProgramClick(instance.b_program.id)">{{instance.b_program.name}}</a>
                            </div>
                            <div>
                                <span [innerHTML]="'label_b_program_description'|bkTranslate:this"></span>{{instance.b_program.description}}
                            </div>

                            <div *ngIf="instance.current_snapshot">
                                <br>
                                <span [innerHTML]="'label_b_program_version_name'|bkTranslate:this"></span>: {{instance.current_snapshot.b_program_version.name}}
                                <span [innerHTML]="'label_b_program_version_description'|bkTranslate:this"></span>: {{instance.current_snapshot.b_program_version.description}}
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-6 portlet light">

                    <bk-portlet-title [title_name]="'label_byzance_cloud'|bkTranslate:this"
                                      [icon]="'fa-cloud'"
                                      (onClick)="onPortletClick($event)">
                    </bk-portlet-title>

                    <div class="portlet-body" style="padding-left: 20px">
                        <br>
                        <div>
                            <div>
                                <span [innerHTML]="'label_server_name'|bkTranslate:this"></span>: {{instance.server.name}}
                            </div>

                            <div>
                                <span [innerHTML]="'label_instance_status'|bkTranslate:this"></span>: <bk-online-state [online_state]="instance.server.online_state"></bk-online-state>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div>
                                <span [innerHTML]="'label_created'|bkTranslate:this"></span>: {{instance.created|bkUnixTimeToDate}}
                            </div>

                            <div *ngIf="instance.current_snapshot" >
                                <span [innerHTML]="'label_running_from'|bkTranslate:this"></span>: {{instance.current_snapshot.created|bkUnixTimeToDate}}
                            </div>

                            <div>
                                <span [innerHTML]="'label_running_status'|bkTranslate:this">: </span><bk-online-state [online_state]="instance.online_state"></bk-online-state>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>

        <div *ngIf="tab == 'update'">

            <div *ngIf="actualizationTaskFilter && actualizationTaskFilter.content.length > 0"  class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th>{{'table_id'|bkTranslate:this}}</th>
                        <th [innerHTML]="'table_hardware'|bkTranslate:this"></th>
                        <th>{{'table_finished'|bkTranslate:this}}</th>
                        <th>{{'table_type'|bkTranslate:this}}</th>
                        <th>
                            <strong class="font-color-code">{{'label_code'|bkTranslate:this}} </strong>{{'table_program'|bkTranslate:this}}
                        </th>
                        <th>
                            <strong class="font-color-code">{{'label_code'|bkTranslate:this}} </strong>{{'table_version'|bkTranslate:this}}
                        </th>

                        <th>{{'table_status'|bkTranslate:this}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let update of actualizationTaskFilter.content">

                        <td class="vert-align">{{update.id.substr(0, 12)}}</td>
                        <td class="vert-align">
                            <a class="bold" [routerLink]="['/projects', projectId, 'hardware', update.hardware.id]">{{ update.hardware.name ? update.hardware.name : update.hardware.id}}</a>
                        </td>

                        <td class="vert-align">
                            <span *ngIf="!update.date_of_finish" class="font-yellow-casablanca">{{'label_time_missing_in_json'|bkTranslate:this}}</span>
                            <span *ngIf="update.date_of_finish">{{update.date_of_finish|bkUnixTimeToDate}}</span>
                        </td>

                        <td class="vert-align">
                            <bk-firmware-type [firmware_type]="update.firmware_type"></bk-firmware-type>
                        </td>

                        <!-- Firmware -->
                        <template [ngIf]="update.firmware_type == 'FIRMWARE' || update.firmware_type == 'BACKUP'">
                            <td class="vert-align font-grey-mint">
                                <a *ngIf="update.c_program_detail" class="bold" [routerLink]="['/projects', projectId, 'code', update.c_program_detail.c_program_id]">{{update.c_program_detail.c_program_program_name}}</a>
                                <span *ngIf="!update.c_program_detail.c_program_program_name" class="font-grey-mint bold">{{'label_not_set_none'|bkTranslate:this}}</span>
                            </td>
                            <td class="font-grey-mint">
                                <a *ngIf="update.c_program_detail" class="bold" [routerLink]="['/projects', projectId, 'code', update.c_program_detail.c_program_id]">{{update.c_program_detail.c_program_version_name}}</a>
                                <span *ngIf="!update.c_program_detail.c_program_version_name" class="font-grey-mint bold">{{'label_not_set_none'|bkTranslate:this}}</span>
                            </td>
                        </template>

                        <!-- BootLoader -->
                        <template [ngIf]="update.firmware_type == 'BOOTLOADER'">
                            <td class="vert-align font-grey-mint"></td>
                            <td class="vert-align font-grey-mint">
                                <span *ngIf="update.bootloader_detail" class="font-grey-mint bold"> {{update.bootloader_detail.version_identificator}}</span>
                            </td>
                        </template>

                        <!-- Update State -->
                        <td class="vert-align">
                            <bk-update-state [updateState]="update.state" [error_code]="update.error_code"></bk-update-state>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <bk-filter-page-component [from]="actualizationTaskFilter.from" [to]="actualizationTaskFilter.to" [total]="actualizationTaskFilter.total"  [totalPages]="actualizationTaskFilter.pages" (onSelect)="onFilterActualizationProcedureTask($event)"></bk-filter-page-component>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(actualizationTaskFilter == null)"
                                [condition_empty]="(actualizationTaskFilter != null && actualizationTaskFilter.content.length == 0)"
                                [main_message_link]="'label_no_running_update_on_hardware'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_running_update_on_hardware_comment'|bkTranslate:this"
                                [show_button]="false">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->
        </div>

        <div *ngIf="tab == 'hardware'">
            <div class="row">

                <!-- List of Integrated HW groups START-->
                <h4 [innerHTML]="'label_hardware_groups'|bkTranslate:this"></h4>
                <div *ngIf="(deviceGroupFilter && deviceGroupFilter.content.length > 0)" class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light byzance-table">
                        <thead>
                        <tr>
                            <th class="">{{'table_hardware_group_name'|bkTranslate:this}}</th>
                            <th class="">{{'table_description'|bkTranslate:this}}</th>
                            <th class="text-center">{{'table_size'|bkTranslate:this}}</th>
                            <th class="text-center"><span [innerHTML]="'label_type'|bkTranslate:this"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let group of deviceGroupFilter.content">

                            <td class="vert-align no-wrap">{{group.name}}</td>
                            <td class="vert-align no-wrap">{{group.description}}</td>
                            <td class="vert-align text-center no-wrap">{{group.size}}</td>
                            <td class="vert-align text-center no-wrap">
                                <div *ngIf="!group.hardware_types">
                                    -
                                </div>
                                <div *ngIf="group.hardware_types">
                                    [
                                    <span *ngFor="let hw_type of group.hardware_types; let last = last">
                                        <a (click)="onHardwareTypeClick(hw_type.id)">{{hw_type.name}}</a>
                                        <span *ngIf="!last">, </span>
                                 </span>
                                    ]
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <bk-filter-page-component [from]="deviceGroup.from" [to]="deviceGroup.to" [total]="deviceGroup.total"  [totalPages]="deviceGroup.pages" (onSelect)="selectedFilterPageHardwareGroup($event)"></bk-filter-page-component>
                </div>

                <!-- Temporary page content if content is being loaded or if there is no content -- START -->
                <bk-nothing-to-show [condition_loading]="(deviceGroupFilter == null)"
                                    [condition_empty]="(deviceGroupFilter != null && deviceGroupFilter.content.length == 0)"
                                    [main_message_link]="'label_no_hardware_groups_in_snapshot'|bkTranslate:this"
                                    [main_message_comment_link]="'label_no_hardware_groups_in_snapshot_comment'|bkTranslate:this"
                                    [show_button]="false">
                </bk-nothing-to-show>
                <!-- Temporary page content if content is being loaded or if there is no content -- END -->

                <!-- List of Integrated HW groups END-->
                <hr>
                <!-- List of Integrated HW by filter START-->
                <h4 [innerHTML]="'label_hardware_in_instance'|bkTranslate:this"></h4>
                <div *ngIf="(devicesFilter && devicesFilter.content.length > 0)" class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light byzance-table">
                        <thead>
                        <tr>
                            <th class="col">{{'table_hardware_name'|bkTranslate:this}}</th>
                            <th class="col">{{'table_hardware_id'|bkTranslate:this}}</th>
                            <th class="col">{{'table_description'|bkTranslate:this}}</th>
                            <th class="col text-center"><span [innerHTML]="'label_type'|bkTranslate:this"></span></th>
                            <th class="col text-center">{{'table_groups'|bkTranslate:this}}</th>
                            <th class="col text-center">{{'table_project_status'|bkTranslate:this}}</th>
                            <th class="col text-center">{{'table_status'|bkTranslate:this}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let device of devicesFilter.content">
                            <td class="vert-align">
                                <div class="icon-hint-wraper red" *ngIf="device.alert_list && device.alert_list.length > 0">
                                    <i class="fa fa-fw fa-exclamation-triangle font-red-flamingo"></i>
                                    <div class="hint-fixed">
                                    <span class="hint right">
                                         <div *ngFor="let alert of device.alert_list" class="no-wrap">{{alert|bkTranslateTable:this:'device_alerts'}}</div>
                                    </span>
                                    </div>
                                </div>
                                <a (click)="onDeviceClick(device.id)"
                                   class="no-wrap"><strong>{{device.name?device.name:device.id}}</strong></a>
                            </td>
                            <td class="vert-align no-wrap">{{device.id.substr(0,13)}}</td>
                            <td class="vert-align no-wrap">{{device.description}}</td>
                            <td class="vert-align text-center no-wrap"><a (click)="onHardwareTypeClick(device.hardware_type_id)">{{device.hardware_type_name}}</a></td>
                            <td class="vert-align text-center no-wrap">

                                <div *ngIf="!device.hardware_groups">
                                    -
                                </div>
                                <div *ngIf="device.hardware_groups">
                                    [
                                    <span *ngFor="let group of device.hardware_groups; let last = last">
                                                {{group.name}}<span *ngIf="!last">, </span>
                                            </span>
                                    ]
                                </div>

                            </td>

                            <td class="vert-align text-center no-wrap">
                                <span *ngIf="device.dominant_entity">{{'label_project_active'|bkTranslate:this}}</span>
                                <span *ngIf="!device.dominant_entity && device.dominant_project_active" class="font-red-flamingo">{{'label_project_not_active'|bkTranslate:this}}</span>
                                <div *ngIf="!device.dominant_entity && device.dominant_project_active">
                                    <span>Active In:</span><br>
                                    <small><a (click)="onProjectClick(device.dominant_project_active.id)">{{device.dominant_project_active.name}}</a></small>
                                </div>
                                <div *ngIf="!device.dominant_entity && !device.dominant_project_active">
                                    <span class="font-green-jungle">Can Be Activated</span>
                                </div>
                            </td>
                            <td class="vert-align text-center no-wrap">

                                <bk-online-state [online_state]="device.online_state"></bk-online-state>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <bk-filter-page-component [from]="devicesFilter.from" [to]="devicesFilter.to" [total]="devicesFilter.total"  [totalPages]="devicesFilter.pages" (onSelect)="onFilterHardware($event)"></bk-filter-page-component>
                </div>

                <!-- Temporary page content if content is being loaded or if there is no content -- START -->
                <bk-nothing-to-show [condition_loading]="(devicesFilter == null)"
                                    [condition_empty]="(devicesFilter != null && devicesFilter.content.length == 0)"
                                    [main_message_link]="'label_no_hardware_in_snapshot'|bkTranslate:this"
                                    [main_message_comment_link]="'label_no_hardware_in_snapshot_comment'|bkTranslate:this"
                                    [show_button]="false">
                </bk-nothing-to-show>
                <!-- Temporary page content if content is being loaded or if there is no content -- END -->
            </div>
        </div>

        <div *ngIf="tab == 'view' ">

            <div *ngIf="instance && instance.online_state === 'ONLINE'">
                <bk-blocko-view [disableExecution]="true" [canConfig]="false" [readonly]="true"
                                [simpleMode]="false" [showBlockNames]="true"></bk-blocko-view>
                <div style="margin-top: 30px">
                    <bk-console-log maxHeight="400px"></bk-console-log>
                </div>
            </div>
            <div *ngIf="!instance || instance.online_state !== 'ONLINE'" class="list-no-items">
                <p class="list-no-items__main-label" [innerHTML]="'label_instance_info_is_offline'|bkTranslate:this"></p>
                <p class="list-no-items__sub-label" [innerHTML]="'label_instance_info_is_offline_comments'|bkTranslate:this"></p>
            </div>

        </div>

        <div *ngIf="tab == 'grid'">
            <div *ngIf="(instance && instance.current_snapshot)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">

                </table>
            </div>
        </div>

        <div *ngIf="tab == 'logs'">
        </div>

        <div *ngIf="tab == 'debug'">
        </div>

    </div>

</bk-layout-main>
