<bk-layout-main
    [tabMenu]="'projects-project'"
    [show_title]="false"
    [title]="currentParamsService.currentProjectNameSnapshot"
    [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-server'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                  {
                    condition: (homer_servers && homer_servers.content.length > 0),
                    btn_label_for_person: ('btn_create_server'|bkTranslate:this),
                    icon: 'fa-plus-circle',
                    colorType: 'CREATE',
                    btn_tag: 'homer_server_add'
                  }
                ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->
    <div class="portlet-body">

        <div *ngIf="tab == 'server_list'">

            <div *ngIf="(homer_servers && homer_servers.content.length > 0)" class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light byzance-table">
                    <thead>
                    <tr>
                        <th class="col col-lg-3">{{'label_server_name'|bkTranslate:this}}</th>
                        <th class="col col-lg-5">{{'label_id'|bkTranslate:this}}</th>
                        <th class="col col-lg-3">{{'label_server_version'|bkTranslate:this}}</th>
                        <th class="col col-lg-2">{{'label_status'|bkTranslate:this}}</th>
                        <th class="col col-lg-1 text-right no-wrap">{{'label_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let homer_server of homer_servers.content">
                        <td class="vert-align no-wrap">
                            <a (click)="onHomerServerClick(homer_server)" class="no-wrap"><strong>{{homer_server.name?homer_server.name:homer_server.id}}</strong></a>
                        </td>
                        <td class="vert-align no-wrap">{{homer_server.id}}</td>
                        <td class="vert-align no-wrap">
                            <a href="https://github.com/ByzanceIoT/homer-core/releases/tag/{{homer_server.server_version}}" class="no-wrap"><strong>{{homer_server.server_version}}</strong></a>
                        </td>
                        <td class="vert-align no-wrap">
                            <bk-online-state [online_state]="homer_server.online_state"></bk-online-state>
                        </td>

                        <td class="vert-align no-wrap text-right">
                            <style type="text/css">
                                table tr button { opacity:0.05;}
                                table tr:hover button { opacity:1 }
                            </style>
                            <button *ngIf="(homer_server.online_state == 'ONLINE')" title="{{'label_server_update'|bkTranslate:this}}" class="btn btn-icon-only orange" [disabled]="!homer_server.update_permission" (click)="onHomerServerUpdateServer(homer_server)">
                                <i class="fa fa-cog"></i>
                            </button>
                            <button title="{{'label_server_properties'|bkTranslate:this}}" class="btn btn-icon-only green" [disabled]="!homer_server.update_permission" (click)="onHomerServerEditClick(homer_server)">
                                <i class="fa fa-cog"></i>
                            </button>


                            <button  *ngIf="(homer_server.online_state == 'ONLINE')" title="{{'label_shut_down'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!homer_server.update_permission" (click)="onHomerServerShutDownClick(homer_server)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button  *ngIf="(homer_server.online_state == 'SHUT_DOWN')" title="{{'label_shut_down'|bkTranslate:this}}" class="btn btn-icon-only orange" [disabled]="!homer_server.update_permission" (click)="onHomerServerStartClick(homer_server)">
                                <i class="fa fa-power-off"></i>
                            </button>
                            <button  *ngIf="(homer_server.online_state == 'ONLINE')" title="{{'label_restart'|bkTranslate:this}}" class="btn btn-icon-only blue" [disabled]="!homer_server.update_permission" (click)="onHomerServerRestartClick(homer_server)">
                                <i class="fa fa-reddit"></i>
                            </button>

                            <!-- Total delete -->
                            <button title="{{'label_delete_server'|bkTranslate:this}}" class="btn btn-icon-only red" [disabled]="!homer_server.delete_permission" (click)="onHomerServerDeleteClick(homer_server)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Temporary page content if content is being loaded or if there is no content -- START -->
            <bk-nothing-to-show [condition_loading]="(homer_servers == null)"
                                [condition_empty]="(homer_servers != null && homer_servers.content.length == 0)"
                                [image_link]="'https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/59d652ed519b320001863842_cloud%20e3.svg'"
                                [main_message_link]="'label_no_servers'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_servers_comment'|bkTranslate:this"
                                [btn_label]="'btn_create_server'|bkTranslate:this"
                                (onButtonClick)="onPortletClick('homer_server_add')">
            </bk-nothing-to-show>
            <!-- Temporary page content if content is being loaded or if there is no content -- END -->

        </div>

        <div *ngIf="tab == 'create_server_selector'">

            <div class="row" style="padding-right: 25%; padding-left: 25%">
                <div class="col-lg-6 text-center">
                    <img style="width: auto; height: 90%;" src="https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5aa164daae3ca60001aa4c50_server%20modry.svg">
                    <h3>Server as a Service<br>
                    <small>Scalable compute IoT server with security to easily run your Instances.</small>
                    </h3>
                    <br>
                    <button class="btn blue" (click)="onToggleTab('create_server_automatically')">
                        <i class="fa fa-plus-circle"></i> {{'btn_create_automatically_server'|bkTranslate:this}}
                    </button>
                </div>
                <div class="col-lg-6 text-center">
                    <img style="width: auto; height: 90%;" src="https://uploads-ssl.webflow.com/593eea4aa4a6f324a1b5d107/5aa164e6efcfd2000162a317_server%20oranzovy.svg">
                    <h3>On Premise Server<br>
                    <small>You install the server yourself on your hardware</small>
                    </h3>
                    <br>
                    <button class="btn blue" (click)="onCreateHomerServerManuallyClick()">
                        <i class="fa fa-plus-circle"></i> {{'btn_create_manually_server'|bkTranslate:this}}
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="tab == 'create_server_automatically'">

            <div class="margin-right-15 margin-left-15">
                <div class="mt-element-card mt-element-overlay">

                    <!-- Temporary page content if content is being loaded or if there is no content -- START -->
                    <bk-nothing-to-show [condition_loading]="(registration_information == null)"
                                        [condition_empty]="(registration_information != null && registration_information.server_sizes == null)"
                                        [main_message_link]="'label_no_server_size_found'|bkTranslate:this"
                                        [main_message_comment_link]="'label_no_server_size_found_comment'|bkTranslate:this"
                                        [show_button]="false">
                    </bk-nothing-to-show>
                    <!-- Temporary page content if content is being loaded or if there is no content -- END -->


                    <!-- Select Server size -->
                    <div *ngIf="registration_information" class="row text-center margin-bottom-30">
                        <H2 [innerHTML]="'label_select_size'|bkTranslate:this" class="margin-bottom-40 margin-top-40"></H2>
                        <div style="margin-right: 20%; margin-left: 20%">
                            <div *ngFor="let server_size of registration_information.server_sizes" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <bk-server-size-componet [server_size]="server_size" [selected_slug]="selected_server_slug" (onClick)="onServerSizeSlugClick($event)"></bk-server-size-componet>
                            </div>
                        </div>
                    </div>

                    <!-- Select Server Region -->
                    <div *ngIf="selected_server_slug" class="row text-center ">
                        <H2 [innerHTML]="'label_select_destination'|bkTranslate:this"  class="margin-bottom-40 margin-top-40"></H2>
                        <div  style="margin-right: 20%; margin-left: 20%">
                            <div *ngFor="let region of selected_server_slug.regions" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <bk-server-region-component [server_region]="region" [selected_slug]="selected_destination_slug" (onClick)="onServerRegionSlugClick($event)"></bk-server-region-component>
                            </div>
                        </div>

                    </div>

                    <hr class="margin-right-15 margin-left-15 margin-bottom-40 margin-top-40">

                    <!-- Name It -->
                    <div *ngIf="registration_information" class="row margin-top-15">
                        <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12">
                    </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <form [formGroup]="form">
                                <span [innerHTML]="'label_personal_server_name'|bkTranslate:this" style="text-align: center"></span>
                                <bk-form-input [control]="form.controls.name" [showLabel]="false"></bk-form-input>
                                <br>
                                <span [innerHTML]="'label_personal_server_description'|bkTranslate:this" style="text-align: center"></span>
                                <bk-form-input [control]="form.controls.description" [showLabel]="false"></bk-form-input>
                            </form>
                            <div class="modal-footer" style="text-align: center">
                                <button type="button" class="btn green" [disabled]="!form.valid" (click)="onCreateHomerServerAutomaticalyClick()">{{'btn_create'|bkTranslate:this}}</button>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</bk-layout-main>
