<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="'projects-project'"
    [show_title]="false"
    [title]="currentParamsService.currentProjectNameSnapshot"
    [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-fw fa-sitemap fa-rotate-90'"
        >
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->
    <br>
    <div class="portlet-body">
        <div *ngIf="procedure">
            <div class="row">
                <div class="col-md-4">
                    <h4>{{'label_type_of_update'|bkTranslate:this}}: <bk-type-of-update [state]="procedure.type_of_update"></bk-type-of-update></h4>


                    {{'label_created'|bkTranslate:this}}:&thinsp; {{procedure.created|bkUnixTimeToDate}}
                    <br>
                    {{'label_planed'|bkTranslate:this}}:&thinsp; {{procedure.date_of_planing|bkUnixTimeToDate}}
                    <br>
                    {{'label_finished'|bkTranslate:this}}:&thinsp;&nbsp;
                    <span *ngIf="!procedure.date_of_finish" class="font-yellow-casablanca">{{'label_time_missing_in_json'|bkTranslate:this}}</span>
                    <span *ngIf="procedure.date_of_finish">{{procedure.date_of_finish|bkUnixTimeToDate}}</span>

                </div>
                <div class="col-md-4">
                    <ng-template [ngIf]="procedure.program">
                        <ng-template [ngIf]="procedure.firmware_type == 'FIRMWARE' || procedure.firmware_type == 'BACKUP'" >
                            <h4><span [innerHTML]="'label_update_type'|bkTranslate:this"></span> <bk-firmware-type [firmware_type]="procedure.firmware_type"></bk-firmware-type></h4>

                            <span [innerHTML]="'label_code_program'|bkTranslate:this"></span>
                            <a class="bold" [routerLink]="['/projects', projectId, 'code', procedure.program.c_program_id]">{{procedure.program.c_program_program_name}}</a>
                            <br>
                            <span [innerHTML]="'label_code_version'|bkTranslate:this"></span>
                            <a class="bold" (click)="onCProgramClick(procedure.program.c_program_id, procedure.program.c_program_version_id)">{{procedure.program.c_program_version_name}}</a>
                        </ng-template>
                        <ng-template [ngIf]="procedure.firmware_type == 'BOOTLOADER'">
                            <h4 [innerHTML]="'label_update_type'|bkTranslate:this"><bk-firmware-type [firmware_type]="procedure.firmware_type"></bk-firmware-type></h4>
                            <span [innerHTML]="'label_bootloader_version'|bkTranslate:this"></span>
                            <a class="bold" (click)="onHardwareTypeClick(procedure.bootloader.hardware_type_id)">{{procedure.bootloader.bootloader_name}}</a>
                        </ng-template>
                    </ng-template>
                </div>
                <div class="col-md-4" style="text-align: center">
                    <h1> Progress:
                        <span *ngIf="procedure.procedure_size_all > 0" class="bold">{{procedure.procedure_size_complete}}/{{procedure.procedure_size_all}}</span>
                        <span *ngIf="!procedure.procedure_size_all ||procedure_size_all == 0 " class="bold">-/-</span>
                    </h1>
                    <h4>
                        Status: <bk-update-state [updateState]="procedure.state"></bk-update-state>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -- START -->
    <div class="portlet-body">

        <bk-filter-component *ngIf="formFilterGroup"
                             [closed]="true"
                             [showFilterHead]="true"
                             (onChange)="onFilterChange($event)"
                             [filter_parameters]="[
                                        {
                                            type: 'CHECKBOX_LIST',
                                            content: {
                                                options: [
                                                    {
                                                        key: 'COMPLETE',
                                                        label: ('COMPLETE'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['COMPLETE'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'CANCELED',
                                                        label: ('CANCELED'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['CANCELED'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'BIN_FILE_MISSING',
                                                        label: ('BIN_FILE_MISSING'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['BIN_FILE_MISSING'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'NOT_YET_STARTED',
                                                        label: ('NOT_YET_STARTED'|bkTranslateTable:this:'update_state'),
                                                         selected: filterStatesValues['NOT_YET_STARTED'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'IN_PROGRESS',
                                                        label: ('IN_PROGRESS'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['IN_PROGRESS'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'OBSOLETE',
                                                        label: ('OBSOLETE'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['BIN_FILE_MISSING'],
                                                        color: 'info'
                                                    }
                                                ]
                                            },
                                            horizontal: true
                                        },
                                          {
                                            type: 'CHECKBOX_LIST',
                                            content: {
                                                options: [
                                                    {
                                                        key: 'WAITING_FOR_DEVICE',
                                                        label: ('NOT_UPDATED'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['WAITING_FOR_DEVICE'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'WAITING_FOR_DEVICE',
                                                        label: ('WAITING_FOR_DEVICE'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['WAITING_FOR_DEVICE'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'INSTANCE_INACCESSIBLE',
                                                        label: ('INSTANCE_INACCESSIBLE'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['INSTANCE_INACCESSIBLE'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'HOMER_SERVER_IS_OFFLINE',
                                                        label: ('HOMER_SERVER_IS_OFFLINE'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['HOMER_SERVER_IS_OFFLINE'],
                                                        color: 'info'
                                                    },
                                                    {
                                                        key: 'CRITICAL_ERROR',
                                                        label: ('CRITICAL_ERROR'|bkTranslateTable:this:'update_state'),
                                                        selected: filterStatesValues['CRITICAL_ERROR'],
                                                        color: 'info'
                                                    }
                                                ]
                                            }
                                        }
                                    ]"
        ></bk-filter-component>

        <div *ngIf="actualizationTaskFilter && actualizationTaskFilter.content.length > 0"  class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light byzance-table">
                <thead>
                <tr>
                    <th [innerHTML]="'table_id'|bkTranslate:this"></th>
                    <th [innerHTML]="'table_hardware'|bkTranslate:this"></th>
                    <th [innerHTML]="'table_finished'|bkTranslate:this"></th>
                    <th [innerHTML]="'table_type'|bkTranslate:this"></th>

                    <th *ngIf="procedure.firmware_type == 'FIRMWARE' || procedure.firmware_type == 'BACKUP'" [innerHTML]="'label_code_program'|bkTranslate:this" class="text-center"></th>
                    <th *ngIf="procedure.firmware_type == 'FIRMWARE' || procedure.firmware_type == 'BACKUP'"  [innerHTML]="'label_code_version'|bkTranslate:this" class="text-center"></th>
                    <th *ngIf="procedure.firmware_type == 'BOOTLOADER'"  [innerHTML]="'label_bootloader_version'|bkTranslate:this" class="text-center"></th>

                    <th [innerHTML]="'table_status'|bkTranslate:this" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let update of actualizationTaskFilter.content">

                        <!-- Table ID !-->
                        <td class="vert-align">{{update.id.substr(0, 12)}}</td>

                        <!-- Table Hardware ID !-->
                        <td class="vert-align">
                            <a class="bold" (click)="onDeviceClick(update.hardware.id)">{{ update.hardware.name ? update.hardware.name : update.hardware.id}}</a>
                        </td>

                        <!-- Time Finish !-->
                        <td class="vert-align">
                            <span *ngIf="!update.date_of_finish" class="font-yellow-casablanca">{{'label_time_missing_in_json'|bkTranslate:this}}</span>
                            <span *ngIf="update.date_of_finish">{{update.date_of_finish|bkUnixTimeToDate}}</span>
                        </td>

                        <!-- Firmware Type!-->
                        <td class="vert-align">
                            <bk-firmware-type [firmware_type]="update.firmware_type"></bk-firmware-type>
                        </td>

                        <!-- Firmware -->
                        <ng-template [ngIf]="procedure.firmware_type== 'FIRMWARE' || procedure.firmware_type == 'BACKUP'">
                            <td class="vert-align font-grey-mint text-center">
                                <a *ngIf="update.c_program_detail" class="bold"
                                   (click)="onCProgramClick(update.c_program_detail.c_program_id)">{{update.c_program_detail.c_program_program_name}}</a>
                                <span *ngIf="!update.c_program_detail.c_program_program_name" class="font-grey-mint bold">{{'label_not_set_none'|bkTranslate:this}}</span>
                            </td>
                            <td class="font-grey-mint text-center">
                                <a *ngIf="update.c_program_detail" class="bold"
                                   (click)="onCProgramClick(update.c_program_detail.c_program_id, update.c_program_detail.c_program_version_id)">{{update.c_program_detail.c_program_version_name}}</a>
                                <span *ngIf="!update.c_program_detail.c_program_version_name" class="font-grey-mint bold">{{'label_not_set_none'|bkTranslate:this}}</span>
                            </td>
                        </ng-template>

                        <!-- BootLoader -->
                        <ng-template [ngIf]="procedure.firmware_type == 'BOOTLOADER'">
                            <td class="vert-align font-grey-mint text-center">
                                <span *ngIf="update.bootloader_detail" class="font-grey-mint bold"> {{update.bootloader_detail.version_identificator}}</span>
                            </td>
                        </ng-template>

                        <!-- Update State -->
                        <td class="vert-align text-center">
                            <bk-update-state [updateState]="update.state" [error_code]="update.error_code"></bk-update-state>
                        </td>

                    </tr>
                </tbody>
            </table>
            <bk-filter-page-component [from]="actualizationTaskFilter.from" [to]="actualizationTaskFilter.to" [total]="actualizationTaskFilter.total"  [totalPages]="actualizationTaskFilter.pages" (onSelect)="onFilterActualizationProcedureTask($event)"></bk-filter-page-component>
        </div>

        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <bk-nothing-to-show [condition_loading]="(actualizationTaskFilter == null)"
                            [condition_empty]="(actualizationTaskFilter != null && actualizationTaskFilter.content.length == 0)"
                            [main_message_link]="'label_no_running_update_on_hardware'|bkTranslate:this"
                            [main_message_comment_link]="'label_no_running_update_on_hardware_comment'|bkTranslate:this"
                            [show_button]="false">
        </bk-nothing-to-show>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->

    </div>

</bk-layout-main>
