<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [title]="'main_title'|bkTranslate:this"
    [show_title]="false">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-briefcase'"
        (onClick)="onPortletClick($event)"
        [btns]="[
                {
                    condition: (products != null && products.length > 0 && projects != null &&  projects.length > 0),
                    btn_label_for_person: ('btn_add_project'|bkTranslate:this),
                    colorType: 'ADD',
                    icon: 'fa-plus-circle',
                    btn_tag: 'add_project',
                    permission: true
                }
            ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <!-- Page Content -- START -->
    <div class="portlet-body">


        <div *ngIf="projects && projects.length" class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light byzance-table">
                <thead>
                <tr>
                    <th class="">{{'table_name'|bkTranslate:this}}</th>
                    <th class="">{{'table_description'|bkTranslate:this}}</th>
                    <th class="">{{'table_product'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody class="hide-bk-drob-down-button">
                <tr *ngFor="let project of projects">

                    <td *ngIf="project.active" class="no-wrap bold vert-align"><a (click)="onProjectClick(project.id)">{{project.name}}</a>
                    </td>

                    <td class="vert-align" *ngIf="!project.active">
                        <strong>{{project.name}}</strong>
                        <br>
                        <span *ngIf="project.product" class="font-red-flamingo">(Deactivated under <a
                            (click)="onProductClick(project.product.id)"><span class="font-red-flamingo bold">{{project.product.name}}</span></a>) </span>
                    </td>

                    <td class="vert-align">{{project.description}}</td>

                    <td class="vert-align">
                        <a *ngIf="project.product"
                           (click)="onProductClick(project.product.id)">{{project.product.name}}</a>
                        <span *ngIf="!project.product">No Access to Finance</span>
                    </td>

                    <td class="action-btn-col">

                        <bk-drob-down-button
                            [btns_group_name]="('label_Project_Properties'|bkTranslate:this)"
                            [btns]="[
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_basic_settings'|bkTranslate:this),
                                    btn_tag: 'edit_project',
                                    icon: 'fa-cog',
                                    colorType: 'EDIT',
                                    permission: (project.update_permission && project.active)
                                },
                                {
                                    condition: true,
                                    btn_label_for_person: ('label_remove'|bkTranslate:this),
                                    btn_tag: 'remove_project',
                                    icon: 'fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (project.delete_permission && project.active)
                                }
                            ]"
                            (onValueChanged)="onDrobDownEmiter($event, project)"
                        >
                        </bk-drob-down-button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <!-- If User has already products, he can crate project. If Products is Empty - First Create product -->
        <bk-nothing-to-show [condition_loading]="(products == null)"
                            [condition_empty]="(products != null && products.length == 0 && projects && projects.length == 0)"
                            [main_message_link]="'label_no_product'|bkTranslate:this"
                            [main_message_comment_link]="'label_no_product_comment'|bkTranslate:this"
                            [btn_label]="'btn_new_subscription'|bkTranslate:this"
                            (onButtonClick)="onRedirectClick()"></bk-nothing-to-show>


        <template [ngIf]="products != null && products.length > 0">
            <bk-nothing-to-show [condition_loading]="(projects == null)"
                                [condition_empty]="(projects != null && projects.length == 0)"
                                [main_message_link]="'label_no_projects'|bkTranslate:this"
                                [main_message_comment_link]="'label_no_projects_comment'|bkTranslate:this"
                                [btn_label]="'btn_add_project'|bkTranslate:this"
                                (onButtonClick)="onAddClick()"></bk-nothing-to-show>
        </template>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->

    </div>

    <!-- Page Content -- END -->
</bk-layout-main>
