<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main [title]="'main_title'|bkTranslate:this">
    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-tasks"></i>
                     {{'title'|bkTranslate:this}}
                </span>
            </div>
            <div class="becki-actions pull-left">
                <button class="btn btn-outline btn-sm white" (click)="onTest2Click()">
                    <i class="fa fa-spinner"></i> Test flash message
                </button>
                <button class="btn btn-outline btn-sm white" (click)="onTestClick()">
                    <i class="fa fa-spinner"></i> Test UI blocker
                </button>
            </div>
            <div class="becki-actions">
                <button class="btn blue" (click)="onAddClick()" [disabled]="products && !products.length">
                    <i class="fa fa-plus-circle"></i> {{'btn_add_project'|bkTranslate:this}}
                </button>
            </div>
        </div>
        <div *ngIf="(projects && projects.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col col-lg-3">{{'table_name'|bkTranslate:this}}</th>
                    <th class="col col-lg-5">{{'table_description'|bkTranslate:this}}</th>
                    <th class="col col-lg-2">{{'table_product'|bkTranslate:this}}Financial Product</th>
                    <th class="col col-lg-1 text-right no-wrap">{{'table_actions'|bkTranslate:this}} &nbsp;&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">

                    <td *ngIf="project.active_status" class="no-wrap bold"><a (click)="onProjectClick(project)">{{project.project_name}}</a></td>

                    <td *ngIf="!project.active_status">
                        <strong>{{project.project_name}}</strong>
                        <br>
                        <span class="font-red-flamingo">(Deactivated under <a (click)="onProductClick(project.product_id)"><span class="font-red-flamingo bold">{{project.product_name}}</span></a>) </span>
                    </td>

                    <td>{{project.project_description}}</td>

                    <td>
                        <a (click)="onProductClick(project.product_id)">{{project.product_name}}</a>
                    </td>

                    <td class="no-wrap text-right ">

                        <style type="text/css">
                            table tr button { opacity:0.05;}
                            table tr:hover button { opacity:1 }
                        </style>

                        <button title="Project properties" class="btn btn-icon-only green" [disabled]="!project.edit_permission || !project.active_status" (click)="onEditClick(project)">
                            <i class="fa fa-cog"></i>
                        </button>
                            <button title="{{'label_Remove_project'|bkTranslate}}" class="btn btn-icon-only red" [disabled]="!project.delete_permission || !project.active"
                                (click)="onRemoveClick(project)">
                            <i class="fa fa-trash"></i>
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 *ngIf="!products && !projects" class="text-center">{{'loading'|bkTranslate:this}}</h4>
        <div *ngIf="projects && !projects.length" class="list-no-items">
            <p class="list-no-items__main-label">{{'label_no_projects'|bkTranslate:this}}</p>
            <template [ngIf]="products && !products.length">
                <p class="list-no-items__sub-label"><span [innerHTML]="'label_no_product'|bkTranslate:this"></span></p>
                <p>
                    <button class="btn blue" (click)="onRedirectClick()">
                        <i class="fa fa-plus-circle"></i> {{'btn_add_project'|bkTranslate}}
                    </button>
                </p>
            </template>
            <template [ngIf]="products && products.length">
                <p class="list-no-items__sub-label">{{'label_create_product_below'|bkTranslate:this}}
                    <p>
                        <p>
                            <button class="btn blue" (click)="onAddClick()" [disabled]="products && !products.length">
                        <i class="fa fa-plus-circle"></i> {{'btn_add_project'|bkTranslate:this}}
                    </button>
                        </p>
            </template>
        </div>
    </div>
</bk-layout-main>
