<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<bk-layout-main
    [tabMenu]="'projects-project'"
    [title]="currentParamsService.currentProjectNameSnapshot"
    [subtitle]="currentParamsService.currentProjectDescriptionSnapshot"
    [show_title]="false">

    <!-- Portlet - Basic Title of Panel with Buttons on right side -- START -->
    <bk-portlet-title
        [title_name]="'title'|bkTranslate:this"
        [icon]="'fa-users'"
        (onClick)="onMembersAddClick()"
        [btns]="[
                {
                    condition: (project && invitations.length > 0),
                    btn_label_for_person: ('btn_add_members'|bkTranslate:this),
                    colorType: 'ADD',
                    icon: 'fa-plus-circle',
                    btn_tag: 'add',
                    permission: true
                }
            ]">
    </bk-portlet-title>
    <!-- Portlet - Basic Title of Panel with Buttons on right side --- END -->

    <!-- Page Content -- START -->
    <div class="portlet-body">

        <!-- Page Content -- START -->


        <div *ngIf="(project && securityRoleList && securityRoleList.content.length > 1 && activeMembers > 1)">
            <h3 class="margin-top-30">Active Users</h3>
            <table class="table table-hover table-light table-scrollable table-scrollable-borderless">
                <thead>
                <tr>
                    <th class="">{{'label_email'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_name'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_state'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody class="hide-bk-drob-down-button">

                <ng-template ngFor let-role="$implicit" [ngForOf]="securityRoleList.content">

                    <tr *ngFor="let member of role.persons">
                        <td class="vert-align no-wrap">{{member.email}}</td>
                        <td class="vert-align no-wrap text-center">{{member.first_name + ' ' + member.last_name}}</td>
                        <td class="vert-align no-wrap text-center">{{role.name}}</td>
                        <td class="vert-align no-wrap"></td>
                        <td class="action-btn-col">
                            <bk-drob-down-button
                                [btns_group_name]="('label_settings'|bkTranslate:this)"
                                [btns]="[
                                {
                                    condition: (member.id != selfId),
                                    btn_label_for_person: ('label_remove_member'|bkTranslate:this),
                                    btn_tag: 'remove_member',
                                    icon: 'fa fa-trash',
                                    colorType: 'REMOVE',
                                    permission: (role.update_permission)
                                }
                            ]"
                                (onValueChanged)="onDrobDownEmiter($event, member)"
                            >
                            </bk-drob-down-button>

                        </td>
                    </tr>

                </ng-template>

                </tbody>
            </table>
        </div>


        <div *ngIf="(project && invitations && invitations.length > 0)">
            <hr class="margin-top-30" *ngIf="securityRoleList &&  activeMembers > 1">
            <h3 *ngIf="(project && invitations.length > 0)">Invited Users</h3>

            <table class="table table-hover table-light   table-scrollable table-scrollable-borderless">
                <thead>
                <tr>
                    <th class="">{{'label_email'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_invited'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_who_invite'|bkTranslate:this}}</th>
                    <th class="text-center">{{'table_actions'|bkTranslate:this}}</th>
                </tr>
                </thead>
                <tbody class="hide-bk-drob-down-button">
                <tr *ngFor="let invitation of invitations">
                    <td class="vert-align">
                        {{invitation.email}}
                        <span *ngIf="invitation.invited_person">{{invitation.invited_person.first_name + ' ' +invitation.invited_person.last_name}}</span>
                    </td>
                    <td class="vert-align text-center">
                        {{invitation.created|bkUnixTimeToDate}}
                    </td>
                    <td class="vert-align text-center">
                        <span *ngIf="invitation.who_invite">
                             {{invitation.who_invite.email + ' (' + invitation.who_invite.first_name + ' ' + invitation.who_invite.last_name + ')'}}
                        </span>
                    </td>
                    <td class="action-btn-col">
                        <bk-drob-down-button
                            [btns_group_name]="('label_settings'|bkTranslate:this)"
                            [btns]="[
                                {
                                    condition: (true),
                                    btn_label_for_person: ('label_remove_invitation'|bkTranslate:this),
                                    btn_tag: 'remove_invitation',
                                    icon: 'fa fa-trash',
                                    colorType: 'REMOVE',
                                    permission: invitation.update_permission
                                },
                                {
                                    condition: (true),
                                    btn_label_for_person: ('label_send_invitation'|bkTranslate:this),
                                    btn_tag: 'send_invitation',
                                    icon: 'fa-envelope',
                                    colorType: 'CREATE',
                                    permission: invitation.update_permission
                                }
                            ]"
                            (onValueChanged)="onDrobDownEmiter($event, invitation)"
                        >
                        </bk-drob-down-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Page Content -- END -->


        <!-- Temporary page content if content is being loaded or if there is no content -- START -->
        <!-- Admin is always in Project -->
        <bk-nothing-to-show [condition_loading]="(project == null || invitations == null)"
                            [condition_empty]="(project != null && invitations && ( activeMembers < 2 && invitations.length == 0))"
                            [main_message_link]="'no_persons_in_this_projects'|bkTranslate:this"
                            [main_message_comment_link]="'no_persons_in_this_projects_comment'|bkTranslate:this"
                            [btn_label]="'btn_add_members'|bkTranslate:this"
                            [icon]="'fa-users'"
                            (onButtonClick)="onMembersAddClick()">
        </bk-nothing-to-show>
        <!-- Temporary page content if content is being loaded or if there is no content -- END -->


    </div>
    <!-- Page Content -- END -->

</bk-layout-main>
