<div class="portlet portlet light bordered">

    <div class="row">
    <video #video class="col-1" [hidden]="!foundQR" autoplay></video>
    <canvas #myCanvas class="col-1" [hidden]="foundQR" style="background:lightgray;"></canvas>
    </div>
    <div class="clearfix"></div>
    <span>{{qrStatus}}</span>
    <div class="row">
        <button *ngIf="foundQR" class="col-6 btn green btn-outline" (click)="onScanAgain()">Re-Scan</button>
        <button *ngIf="foundQR" class="col-6 btn green btn-outline" (click)="onScanConfirm()">Confirm Scan</button>
    </div>
    <div class="clearfix"></div>
</div>