<div class="portlet portlet light bordered">

    <div class="row">
        <video #video style="width:100%" [hidden]="foundQR" autoplay></video>
        <canvas #myCanvas [hidden]="!foundQR" style="background:lightgray; width:100%"></canvas>
    </div>
    <div class="clearfix"></div>
    <span>{{qrStatus}}</span>
    <div class="row">
        <button *ngIf="foundQR" class="col-6 btn green btn-outline" (click)="onScanAgain()">{{'btn_rescan'|bkTranslate:this}}</button>
        <button *ngIf="foundQR" class="col-6 btn green btn-outline" (click)="onScanConfirm()">{{'btn_confirm_scan'|bkTranslate:this}}</button>
    </div>
    <div class="clearfix"></div>
</div>
