<div class="row">
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Homers</h3>
      </div>
      <div class="box-body no-padding">
        <!-- THE CALENDAR -->
        <table id="example1"
               class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><em>...</em></td>
          </tr>
          <tr>
            <td><em>...</em></td>
          </tr>
          <tr>
            <td><em>(not implemented yet...)</em></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Homer Registration</h3>
      </div>
      <div class="box-body">
        <form var-homer=form
              on-ng-submit=registerHomer()>
          <div class="input-group">
            <input id="new-event" type="text" class="form-control"
                   placeholder="Homer ID"
                   bindon-ng-model=homerRegistrationId>

            <div class="input-group-btn">
              <input id="add-new-event" type="submit"
                     class="btn btn-primary btn-flat">
            </div>
            <!-- /btn-group -->
          </div>
          <!-- /input-group -->
          <p class="result">
            Result: {{homerRegistrationMsg}}
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Devices</h3>
      </div>
      <div class="box-body no-padding">
        <!-- THE CALENDAR -->
        <table id="example1"
               class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><em>...</em></td>
            <td><em>...</em></td>
          </tr>
          <tr>
            <td><em>...</em></td>
            <td><em>...</em></td>
          </tr>
          <tr>
            <td><em>...</em></td>
            <td><em>...</em></td>
          </tr>
          <tr>
            <td><em>...</em></td>
            <td><em>...</em></td>
          </tr>
          <tr>
            <td><em>(not implemented yet...)</em></td>
            <td><em>...</em></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Device Registration</h3>
      </div>
      <div class="box-body">
        <form var-device=form
              on-ng-submit=registerDevice()>
          <div class="form-group">
            <input id="new-event" type="text" class="form-control"
                   placeholder="Device ID"
                   bindon-ng-model=deviceRegistrationModel.id>
          </div>
          <div class="input-group">
            <select class="form-control" placeholder="Device Type"
                    bindon-ng-model=deviceRegistrationModel.type>
              <option label=light>LightNormalDevice</option>
              <option label=switch>SwitchDevice</option>
            </select>

            <div class="input-group-btn">
              <input id="add-new-event" type="submit"
                     class="btn btn-primary btn-flat">
            </div>
            <!-- /btn-group -->
          </div>
          <!-- /input-group -->
          <p class="result">
            Result: {{deviceRegistrationMsg}}
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
