<div class="row">
  <div class="col-md-9">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Program Editing</h3>
      </div>

      <form role="form" var-program-creation=form
            on-ng-submit=update()>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input class="form-control" id="exampleInputEmail1"
                   placeholder="Enter name"
                   bindon-ng-model=program.name>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control"
                  id="exampleInputPassword1" placeholder="Description"
                  bindon-ng-model=program.description></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Code</label>
        <textarea class="form-control"
                  id="exampleInputPassword1" placeholder="Description"
                  bindon-ng-model=program.code></textarea>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <input type="submit" class="btn btn-primary">

          <p class=result>
            Result: {{message}}
          </p>
        </div>
      </form>
    </div>
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Upload to Homer</h3>
      </div>
      <div class="box-body">
        <form var-homer-updating=form on-ng-submit=updateHomer()>
          <div class="input-group">
            <select class="form-control" placeholder="ID"
                    bindon-ng-model=homerUpdatingModelId>
              <template ng-for var-id bind-ng-for-of=homers>
                <option bind-label="id">{{id}}</option>
              </template>
            </select>

            <div class="input-group-btn">
              <input id="add-new-event" type="submit"
                     class="btn btn-primary btn-flat">
            </div>
            <!-- /btn-group -->
          </div>
          <!-- /input-group -->
          <p class="result">
            Result: {{homerUpdatingMsg}}
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Upload to Homer (new API)</h3>
      </div>
      <div class="box-body">
        <form var-homer-updating=form on-ng-submit=updateHomerNew()>
          <div class="form-group">
            <select class="form-control" placeholder="ID"
                    bindon-ng-model=homerUpdatingModelNew.id>
              <template ng-for var-id bind-ng-for-of=homers>
                <option bind-label="id">{{id}}</option>
              </template>
            </select>
          </div>
          <!-- TODO https://github.com/angular/angular/issues/3104 -->
          <!-- TODO https://github.com/angular/angular/issues/5133 -->
          <div class="form-group">
            <select class="form-control"
                    bindon-ng-model=homerUpdatingModelNew.when>
              <option value="-1" selected>Immediately</option>
              <option value="0">As soon as possible</option>
              <option value="1">Schedule</option>
            </select>

            <div class="input-group"
                 bind-class.hidden="homerUpdatingModelNew.when != '1'">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="date" class="form-control"
                     bindon-ng-model=homerUpdatingModelNew.date>
            </div>
            <div class="input-group"
                 bind-class.hidden="homerUpdatingModelNew.when != '1'">

              <div class="input-group-addon">
                <i class="fa fa-clock-o"></i>
              </div>
              <input type="time" class="form-control"
                     bindon-ng-model=homerUpdatingModelNew.time>
            </div>
          </div>
          <div class="form-group">
            <input id="add-new-event" type="submit"
                   class="btn btn-primary btn-flat">
          </div>
          <!-- /input-group -->
          <p class="result">
            Result: {{homerUpdatingNewMsg}}
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
