<div class="row">
  <div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Details</h3>
    </div>

    <form role="form" var-program-creation=form>
      <div class="box-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input class="form-control" id="exampleInputEmail1"
                 placeholder="Enter name"
                 bindon-ng-model=project.name disabled>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control"
                  id="exampleInputPassword1" placeholder="Description"
                  bindon-ng-model=project.description disabled></textarea>
        </div>
      </div>
      <!-- /.box-body -->
    </form>
  </div>
    </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Homers</h3>
      </div>
      <div class="box-body no-padding">
        <!-- THE CALENDAR -->
        <table id="example1"
               class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
          </tr>
          </thead>
          <tbody>
          <template ng-for var-id
                    bind-ng-for-of=homers>
            <tr>
              <td>{{id}}</td>
            </tr>
          </template>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Homer Addition</h3>
      </div>
      <div class="box-body">
        <form var-homer-project-addition=form
              on-ng-submit=addHomer()>
          <div class="input-group">
            <input id="new-event" type="text" class="form-control"
                   placeholder="Homer ID"
                   bindon-ng-model=homerAdditionId>

            <div class="input-group-btn">
              <input id="add-new-event" type="submit"
                     class="btn btn-primary btn-flat">
            </div>
          </div>
          <p class="result">
            Result: {{homerAdditionMsg}}
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Devices</h3>
      </div>
      <div class="box-body no-padding">
        <!-- THE CALENDAR -->
        <table id="example1"
               class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
          <template ng-for var-device
                    bind-ng-for-of=devices>
            <tr>
              <td>{{device.id}}</td>
              <td>{{device.type}}</td>
            </tr>
          </template>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Device addition</h3>
      </div>
      <div class="box-body">
        <form var-device-project-addition=form
              on-ng-submit=addDevice()>
          <div class="input-group">
            <input id="new-event" type="text" class="form-control"
                   placeholder="Device ID"
                   bindon-ng-model=deviceAdditionId>

            <div class="input-group-btn">
              <input id="add-new-event" type="submit"
                     class="btn btn-primary btn-flat">
            </div>
          </div>
          <p class="result">
            Result: {{deviceAdditionMsg}}
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-3">
    <a bind-router-link="['/NewProgram', {project: id}]"
       class="btn btn-primary btn-block margin-bottom">Create new
      program
    </a>

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Folders</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool"
                  data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#"><i
              class="fa fa-inbox"></i>
            <em>...</em>
                        <span
                            class="label label-primary pull-right">12</span></a>
          </li>
          <li><a href="#"><i class="fa fa-envelope-o"></i>
            <em>...</em></a></li>
          <li><a href="#"><i class="fa fa-file-text-o"></i>
            <em>...</em></a>
          </li>
          <li><a href="#"><i class="fa fa-filter"></i>
            <em>...</em><span
                class="label label-warning pull-right">65</span></a>
          </li>
          <li><a href="#"><i class="fa fa-trash-o"></i>
            <em>(not implemented yet...)</em></a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Labels</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool"
                  data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#"><i class="fa fa-circle-o text-red"></i>
            <em>...</em></a></li>
          <li><a href="#"><i
              class="fa fa-circle-o text-yellow"></i>
            <em>...</em></a></li>
          <li><a href="#"><i
              class="fa fa-circle-o text-light-blue"></i>
            <em>
              (not implemented yet...)</em>
          </a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Programs</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm"
                   placeholder="(not implemented yet...)">
            <span
                class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="mailbox-controls">
          <!-- /.btn-group -->
          <button type="button" class="btn btn-default btn-sm"
                  on-click=refresh()><i
              class="fa fa-refresh"></i></button>
          <div class="pull-right">
            1-50/200
            <div class="btn-group">
              <button type="button"
                      class="btn btn-default btn-sm">
                <i
                    class="fa fa-chevron-left"></i></button>
              <button type="button"
                      class="btn btn-default btn-sm">
                <i
                    class="fa fa-chevron-right"></i></button>
            </div>
            <!-- /.btn-group -->
          </div>
          <!-- /.pull-right -->
        </div>
        <div class="table-responsive mailbox-messages">
          <table class="table table-hover table-striped">
            <tbody>
            <template ng-for var-program
                      bind-ng-for-of=programs>
              <tr>
                <td class="mailbox-star"><a href="#"><i
                    class="fa fa-star-o text-yellow"></i></a></td>
                <td
                    class="mailbox-name"><a bind-router-link="program.route">
                  {{program.program.name}}</a></td>
                <td class="mailbox-subject"><em>{{program.program.description}}</em>
                </td>
                <td class="mailbox-attachment"></td>
                <td class="mailbox-date">...</td>
              </tr>
            </template>
            </tbody>
          </table>
          <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer no-padding">
        <div class="mailbox-controls">
          <button type="button" class="btn btn-default btn-sm"
                  on-click=refresh()><i
              class="fa fa-refresh"></i></button>
          <div class="pull-right">
            1-50/200
            <div class="btn-group">
              <button type="button"
                      class="btn btn-default btn-sm">
                <i
                    class="fa fa-chevron-left"></i></button>
              <button type="button"
                      class="btn btn-default btn-sm">
                <i
                    class="fa fa-chevron-right"></i></button>
            </div>
            <!-- /.btn-group -->
          </div>
          <!-- /.pull-right -->
        </div>
      </div>
    </div>
    <!-- /. box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Upload Queue</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="table-responsive mailbox-messages">
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>Homer</th>
              <th>Program</th>
            </tr>
            </thead>
            <tbody>
            <template ng-for var-item
                      bind-ng-for-of=queue>
              <tr>
                <td
                    class="mailbox-name">{{item.homerId}}</td>
                <td class="mailbox-subject"><em>{{item.program}}</em>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
          <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Delete Project</h3>
      </div>

      <form role="form" var-program-creation=form
            on-ng-submit=deleteProject()>
        <div class="box-footer">
          <input type="submit" class="btn btn-primary btn-danger">

          <p class=result>
            Result: {{deletingMsg}}
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
