<!--
  © 2015 Becki Authors. See the AUTHORS file found in the top-level directory of
  this distribution.
-->
<template bind-ng-if="!isAuth()">
  <div bind-ng-switch="current">
    <!-- Your Page Content Here -->
    <template bind-ng-switch-when="'Registration'">

      <div class="register-box">
        <div class="register-logo">
          <b>IoT</b>HUB
        </div>

        <div class="register-box-body">
          <p class="login-box-msg">Register a new membership</p>

          <form var-person-registration=form
                on-ng-submit=registerPerson()>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Email" bindon-ng-model=personRegistrationModel.email>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control"
                     placeholder="Password" bindon-ng-model=personRegistrationModel.password>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <p class="result">
                  Result: {{personRegistrationMsg}}
                </p>
              </div>
              <!-- /.col -->
              <div class="col-xs-4">
                <button type="submit"
                        class="btn btn-primary btn-block btn-flat">Register</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <a href="#" class="text-center" on-click="setCurrent('Login')">I
            already
            have a
            membership</a>
        </div>
        <!-- /.form-box -->
      </div>
      <!-- /.register-box -->
    </template>
    <template ng-switch-default>
      <div class="login-box">
        <div class="login-logo">
          <b>IoT</b>HUB
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg">Sign in to start your session</p>

          <form var-person-registration=form
                on-ng-submit=logIn()>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Email" bindon-ng-model=loginModel.email>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control"
                     placeholder="Password" bindon-ng-model=loginModel.password>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <p class="result">
                  Result: {{loginMsg}}
                </p>
              </div>
              <!-- /.col -->
              <div class="col-xs-4">
                <button type="submit"
                   class="btn btn-primary btn-block btn-flat">Log in</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <a href="#" class="text-center"
             on-click="setCurrent('Registration')">Register a
            new
            membership</a>

        </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->
    </template>
  </div>
</template>
<template bind-ng-if="isAuth()">
  <div class="wrapper">
    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"
               on-click="setCurrent('Projects')"><b>
              IoT</b>HUB</a>
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" on-click="setCurrent('Devices')">Devices</a></li>
              <li><a href="#" on-click="setCurrent('Projects')">Projects</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="node_modules/admin-lte/dist/img/user2-160x160.jpg"
                       class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{email}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="node_modules/admin-lte/dist/img/user2-160x160.jpg"
                         class="img-circle" alt="User Image">

                    <p class="result">
                      {{email}}
                      <small>{{logoutMsg}}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat"
                         on-click="logOut()">sign
                        out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            TODO
          </h1>
          <ol class="breadcrumb">
            <li><a href="#" on-click="setCurrent('Projects')"><i
                class="fa fa-dashboard"></i>
              Home</a></li>
            <li class="active">{{current}}</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content" bind-ng-switch="current">

          <!-- Your Page Content Here -->
          <template bind-ng-switch-when="'Devices'">
            <div class="row">
              <div class="col-md-9">
                <div class="box box-primary">
                  <div class="box-header">
                    <h3 class="box-title">Homers</h3>
                  </div>
                  <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <table id="example1"
                           class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>ID</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>(not implemented yet...)</em></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /. box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Homer Registration</h3>
                  </div>
                  <div class="box-body">
                    <form var-homer-registration=form
                          on-ng-submit=registerHomer()>
                      <div class="input-group">
                        <input id="new-event" type="text" class="form-control"
                               placeholder="Homer ID"
                               bindon-ng-model=homerRegistrationId>

                        <div class="input-group-btn">
                          <input id="add-new-event" type="submit"
                                 class="btn btn-primary btn-flat">
                        </div>
                        <!-- /btn-group -->
                      </div>
                      <!-- /input-group -->
                      <p class="result">
                        Result: {{homerRegistrationMsg}}
                      </p>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-9">
                <div class="box box-primary">
                  <div class="box-header">
                    <h3 class="box-title">Devices</h3>
                  </div>
                  <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <table id="example1"
                           class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>Type</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>(not implemented yet...)</em></td>
                        <td><em>...</em></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /. box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Device Registration</h3>
                  </div>
                  <div class="box-body">
                    <form var-homer-registration=form
                          on-ng-submit=registerDevice()>
                      <div class="form-group">
                        <input id="new-event" type="text" class="form-control"
                               placeholder="Device ID"
                               bindon-ng-model=deviceRegistrationModel.id>
                      </div>
                      <div class="input-group">
                        <select class="form-control" placeholder="Device Type"
                                bindon-ng-model=deviceRegistrationModel.type>
                          <option label=light>LightNormalDevice</option>
                          <option label=switch>SwitchDevice</option>
                        </select>

                        <div class="input-group-btn">
                          <input id="add-new-event" type="submit"
                                 class="btn btn-primary btn-flat">
                        </div>
                        <!-- /btn-group -->
                      </div>
                      <!-- /input-group -->
                      <p class="result">
                        Result: {{deviceRegistrationMsg}}
                      </p>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </template>
          <template bind-ng-switch-when="'Create Project'">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">New Project</h3>
              </div>

              <form role="form" var-project-creation=form
                    on-ng-submit=createProject()>
                <div class="box-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input class="form-control" id="exampleInputEmail1"
                           placeholder="Enter name"
                           bindon-ng-model=projectCreationModel.name>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control"
                  id="exampleInputPassword1" placeholder="Description"
                  bindon-ng-model=projectCreationModel.description></textarea>
                  </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                  <input type="submit" class="btn btn-primary">

                  <p class=result>
                    Result: {{projectCreationMsg}}
                  </p>
                </div>
              </form>
            </div>
          </template>
          <template bind-ng-switch-when="'Project'">
            <div class="row">
              <div class="col-md-9">
                <div class="box box-primary">
                  <div class="box-header">
                    <h3 class="box-title">Homers</h3>
                  </div>
                  <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <table id="example1"
                           class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>ID</th>
                      </tr>
                      </thead>
                      <tbody>
                      <template ng-for var-id
                                bind-ng-for-of=homers>
                        <tr>
                          <td>{{id}}</td>
                        </tr>
                      </template>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /. box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Homer Addition</h3>
                  </div>
                  <div class="box-body">
                    <form var-homer-project-addition=form
                          on-ng-submit=addHomerToProject()>
                      <div class="input-group">
                        <input id="new-event" type="text" class="form-control"
                               placeholder="Homer ID"
                               bindon-ng-model=homerProjectAdditionId>

                        <div class="input-group-btn">
                          <input id="add-new-event" type="submit"
                                 class="btn btn-primary btn-flat">
                        </div>
                        <!-- /btn-group -->
                      </div>
                      <!-- /input-group -->
                      <p class="result">
                        Result: {{homerProjectAdditionMsg}}
                      </p>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-9">
                <div class="box box-primary">
                  <div class="box-header">
                    <h3 class="box-title">Devices</h3>
                  </div>
                  <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <table id="example1"
                           class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>Type</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>...</em></td>
                        <td><em>...</em></td>
                      </tr>
                      <tr>
                        <td><em>(not implemented yet...)</em></td>
                        <td><em>...</em></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /. box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Device addition</h3>
                  </div>
                  <div class="box-body">
                    <form var-device-project-addition=form
                          on-ng-submit=addDeviceToProject()>
                      <div class="form-group">
                        <input id="new-event" type="text" class="form-control"
                               placeholder="Device ID"
                               bindon-ng-model=deviceProjectAdditionId>

                        <div class="input-group-btn">
                          <input id="add-new-event" type="submit"
                                 class="btn btn-primary btn-flat">
                        </div>
                        <!-- /btn-group -->
                      </div>
                      <p class="result">
                        Result: {{deviceProjectAdditionMsg}}
                      </p>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->


            <div class="row">
              <div class="col-md-3">
                <a href="#" on-click="setCurrent('Create Program')"
                   class="btn btn-primary btn-block margin-bottom">Create new
                  program
                </a>

                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Folders</h3>

                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool"
                              data-widget="collapse">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                      <li class="active"><a href="#"><i
                          class="fa fa-inbox"></i>
                        <em>...</em>
                        <span
                            class="label label-primary pull-right">12</span></a>
                      </li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i>
                        <em>...</em></a></li>
                      <li><a href="#"><i class="fa fa-file-text-o"></i>
                        <em>...</em></a>
                      </li>
                      <li><a href="#"><i class="fa fa-filter"></i>
                        <em>...</em><span
                            class="label label-warning pull-right">65</span></a>
                      </li>
                      <li><a href="#"><i class="fa fa-trash-o"></i>
                        <em>(not implemented yet...)</em></a></li>
                    </ul>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /. box -->
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Labels</h3>

                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool"
                              data-widget="collapse">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#"><i class="fa fa-circle-o text-red"></i>
                        <em>...</em></a></li>
                      <li><a href="#"><i
                          class="fa fa-circle-o text-yellow"></i>
                        <em>...</em></a></li>
                      <li><a href="#"><i
                          class="fa fa-circle-o text-light-blue"></i>
                        <em>
                          (not implemented yet...)</em>
                      </a></li>
                    </ul>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <!-- /.col -->
              <div class="col-md-9">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Programs</h3>

                    <div class="box-tools pull-right">
                      <div class="has-feedback">
                        <input type="text" class="form-control input-sm"
                               placeholder="(not implemented yet...)">
            <span
                class="glyphicon glyphicon-search form-control-feedback"></span>
                      </div>
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <div class="mailbox-controls">
                      <!-- /.btn-group -->
                      <button type="button" class="btn btn-default btn-sm"
                              on-click=refreshHomersAndPrograms()><i
                          class="fa fa-refresh"></i></button>
                      <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-left"></i></button>
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                      </div>
                      <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                      <table class="table table-hover table-striped">
                        <tbody>
                        <template ng-for var-id
                                  bind-ng-for-of=idToProgram.getIds()>
                          <tr>
                            <td class="mailbox-star"><a href="#"><i
                                class="fa fa-star-o text-yellow"></i></a></td>
                            <td
                                class="mailbox-name"><a href="#"
                                                        on-click="selectProgram(id)">
                              {{idToProgram.getName(id)}}</a></td>
                            <td class="mailbox-subject"><em>...</em>
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">...</td>
                          </tr>
                        </template>
                        </tbody>
                      </table>
                      <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer no-padding">
                    <div class="mailbox-controls">
                      <button type="button" class="btn btn-default btn-sm"
                              on-click=refreshHomersAndPrograms()><i
                          class="fa fa-refresh"></i></button>
                      <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-left"></i></button>
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                      </div>
                      <!-- /.pull-right -->
                    </div>
                  </div>
                </div>
                <!-- /. box -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </template>
          <template bind-ng-switch-when="'Create Program'">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">New Program</h3>
              </div>

              <form role="form" var-program-creation=form
                    on-ng-submit=createProgram()>
                <div class="box-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input class="form-control" id="exampleInputEmail1"
                           placeholder="Enter name"
                           bindon-ng-model=programCreationModel.name>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control"
                  id="exampleInputPassword1" placeholder="Description"
                  bindon-ng-model=programCreationModel.description></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Code</label>
        <textarea class="form-control"
                  id="exampleInputPassword1" placeholder="Description"
                  bindon-ng-model=programCreationModel.code></textarea>
                  </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                  <input type="submit" class="btn btn-primary">

                  <p class=result>
                    Result: {{programCreationMsg}}
                  </p>
                </div>
              </form>
            </div>
          </template>
          <template bind-ng-switch-when="'Program'">
            <div class="row">
              <div class="col-md-9">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Program Editing</h3>
                  </div>

                  <form role="form">
                    <div class="box-body">
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Upload</h3>
                  </div>
                  <div class="box-body">
                    <form var-homer-updating=form on-ng-submit=updateHomer()>
                      <div class="input-group">
                        <select class="form-control" placeholder="ID"
                                bindon-ng-model=homerUpdatingModel.id>
                          <template ng-for var-id bind-ng-for-of=homers>
                            <option bind-label="id">{{id}}</option>
                          </template>
                        </select>

                        <div class="input-group-btn">
                          <input id="add-new-event" type="submit"
                                 class="btn btn-primary btn-flat">
                        </div>
                        <!-- /btn-group -->
                      </div>
                      <!-- /input-group -->
                      <p class="result">
                        Result: {{homerUpdatingMsg}}
                      </p>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </template>
          <template ng-switch-default>
            <div class="row">
              <div class="col-md-3">
                <a href="#" on-click="setCurrent('Create Project')"
                   class="btn btn-primary btn-block margin-bottom">Create new
                  project
                </a>

                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Folders</h3>

                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool"
                              data-widget="collapse">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                      <li class="active"><a href="#"><i
                          class="fa fa-inbox"></i>
                        <em>...</em>
                        <span
                            class="label label-primary pull-right">12</span></a>
                      </li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i>
                        <em>...</em></a></li>
                      <li><a href="#"><i class="fa fa-file-text-o"></i>
                        <em>...</em></a>
                      </li>
                      <li><a href="#"><i class="fa fa-filter"></i>
                        <em>...</em><span
                            class="label label-warning pull-right">65</span></a>
                      </li>
                      <li><a href="#"><i class="fa fa-trash-o"></i>
                        <em>(not implemented yet...)</em></a></li>
                    </ul>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /. box -->
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Labels</h3>

                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool"
                              data-widget="collapse">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#"><i class="fa fa-circle-o text-red"></i>
                        <em>...</em></a></li>
                      <li><a href="#"><i
                          class="fa fa-circle-o text-yellow"></i>
                        <em>...</em></a></li>
                      <li><a href="#"><i
                          class="fa fa-circle-o text-light-blue"></i>
                        <em>
                          (not implemented yet...)</em>
                      </a></li>
                    </ul>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <!-- /.col -->
              <div class="col-md-9">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Projects</h3>

                    <div class="box-tools pull-right">
                      <div class="has-feedback">
                        <input type="text" class="form-control input-sm"
                               placeholder="(not implemented yet...)">
            <span
                class="glyphicon glyphicon-search form-control-feedback"></span>
                      </div>
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <div class="mailbox-controls">
                      <!-- /.btn-group -->
                      <button type="button" class="btn btn-default btn-sm"
                              on-click=refreshProjects()><i
                          class="fa fa-refresh"></i></button>
                      <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-left"></i></button>
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                      </div>
                      <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                      <table class="table table-hover table-striped">
                        <tbody>
                        <template ng-for var-id
                                  bind-ng-for-of=idToProject.getIds()>
                          <tr>
                            <td class="mailbox-star"><a href="#"><i
                                class="fa fa-star-o text-yellow"></i></a></td>
                            <td
                                class="mailbox-name"><a href="#"
                                                        on-click=selectProject(id)>
                              {{idToProject.getName(id)}}</a></td>
                            <td class="mailbox-subject"><em>...</em>
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">...</td>
                          </tr>
                        </template>
                        </tbody>
                      </table>
                      <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer no-padding">
                    <div class="mailbox-controls">
                      <button type="button" class="btn btn-default btn-sm"
                              on-click=refreshProjects()><i
                          class="fa fa-refresh"></i></button>
                      <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-left"></i></button>
                          <button type="button"
                                  class="btn btn-default btn-sm">
                            <i
                                class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                      </div>
                      <!-- /.pull-right -->
                    </div>
                  </div>
                </div>
                <!-- /. box -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </template>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> alpha
        </div>
        <strong>Copyright &copy; 2015 <a href="http://mediacheck.cz/">MEDIA
          CHECK
          s.r.o.</a></strong> All rights
        reserved.
      </div>
      <!-- /.container -->
    </footer>
  </div>
</template>
