<!--
  © 2015 Becki Authors. See the AUTHORS file found in the top-level directory of
  this distribution.
-->
<h1>Person Registration</h1>
<!-- htmllint attr-name-style=false -->
<form var-person-registration=form on-ng-submit=registerPerson()>
  <!-- htmllint attr-name-style=$previous -->
  <p>
    <label>
      Email address:
      <!-- htmllint attr-name-style=false -->
      <input type=email bindon-ng-model=personRegistrationModel.email>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <label>
      Password:
      <!-- htmllint attr-name-style=false -->
      <input type=password bindon-ng-model=personRegistrationModel.password>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{personRegistrationMsg}}
  </p>
</form>
<h1>Login</h1>
<!-- htmllint attr-name-style=false -->
<form var-login=form on-ng-submit=logIn()>
  <!-- htmllint attr-name-style=$previous -->
  <p>
    <label>
      Email address:
      <!-- htmllint attr-name-style=false -->
      <input type=email bindon-ng-model=loginModel.email>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <label>
      Password:
      <!-- htmllint attr-name-style=false -->
      <input type=password bindon-ng-model=loginModel.password>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{loginMsg}}
  </p>
</form>
<h1>Logout</h1>
<!-- htmllint attr-name-style=false -->
<form var-logout=form on-ng-submit=logOut()>
  <!-- htmllint attr-name-style=$previous -->
  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{logoutMsg}}
  </p>
</form>
<h1>Homer Registration</h1>
<!-- htmllint attr-name-style=false -->
<form var-homer-registration=form on-ng-submit=registerHomer()>
  <!-- htmllint attr-name-style=$previous -->
  <p>
    <label>
      ID:
      <!-- htmllint attr-name-style=false -->
      <input bindon-ng-model=homerRegistrationId>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{homerRegistrationMsg}}
  </p>
</form>
<h1>Device Registration</h1>
<!-- htmllint attr-name-style=false -->
<form var-device-registration=form on-ng-submit=registerDevice()>
  <!-- htmllint attr-name-style=$previous -->
  <p>
    <label>
      ID:
      <!-- htmllint attr-name-style=false -->
      <input bindon-ng-model=deviceRegistrationModel.id>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <label>
      Type:
      <!-- htmllint attr-name-style=false -->
      <select bindon-ng-model=deviceRegistrationModel.type>
        <!-- htmllint attr-name-style=$previous -->
        <option label=light>LightNormalDevice</option>
        <option label=switch>SwitchDevice</option>
      </select>
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{deviceRegistrationMsg}}
  </p>
</form>
<h1>New Project</h1>
<!-- htmllint attr-name-style=false -->
<form var-project-creation=form on-ng-submit=createProject()>
  <!-- htmllint attr-name-style=$previous -->
  <p>
    <label>
      Name:
      <!-- htmllint attr-name-style=false -->
      <input bindon-ng-model=projectCreationModel.name>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <label>
      Description:
      <!-- htmllint attr-name-style=false -->
      <textarea bindon-ng-model=projectCreationModel.description></textarea>
      <!-- htmllint attr-name-style=$previous -->
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{projectCreationMsg}}
  </p>
</form>
<h1>Project Selection</h1>
<form var-project-selection=form on-ng-submit=selectProject()>
  <p>
    <input type=button on-click=refreshProjects() value="Refresh projects">
  </p>

  <p>
    <label>
      Name:
      <select bindon-ng-model=projectSelectionId>
        <template ng-for var-id bind-ng-for-of=idToProject.getIds()>
          <option bind-label="idToProject.getName(id)">{{id}}</option>
        </template>
      </select>
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{projectSelectionMsg}}
  </p>
</form>
<h1>Homer-to-project Addition</h1>
<form var-homer-project-addition=form on-ng-submit=addHomerToProject()>
  <p>
    <label>
      ID:
      <input bindon-ng-model=homerProjectAdditionId>
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{homerProjectAdditionMsg}}
  </p>
</form>
<h1>Device-to-project Addition</h1>
<form var-device-project-addition=form on-ng-submit=addDeviceToProject()>
  <p>
    <label>
      ID:
      <input bindon-ng-model=deviceProjectAdditionId>
    </label>
  </p>

  <p>
    <input type=submit>
  </p>

  <p class=result>
    Result: {{deviceProjectAdditionMsg}}
  </p>
</form>
