<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->
<layout-not-logged>
    <div>
        <h3 class="font-green">Create new user</h3>
        <p> Enter your e-mail address, name, nickname, name of your pet, password. </p>

        <div class="form-group">
            <becki-form-input [control]="CreateUserForm.controls.email" [label]="'E-mail'"></becki-form-input>
            <becki-form-input [control]="CreateUserForm.controls.nick_name" [label]="'nick name'"></becki-form-input>
            <becki-form-input type="password" [control]="CreateUserForm.controls.password" [label]="'Password'"></becki-form-input>
            <becki-form-input type="password" [control]="CreateUserForm.controls.passwordConfirm" [label]="'Password again'"></becki-form-input>

        </div>
        <div class="form-actions">
            <button type="button" (click)="clickButtonBack()" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" (click)="sendCreateUser()" class="btn btn-success uppercase pull-right" [disabled]="!CreateUserForm.valid">Send</button>
        </div>
    </div>
</layout-not-logged>