<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->
<layout-not-logged>

    <template ngIf="{{showSuccess}}">Email with instructions was sent</template> <!-- TODO show this -->

    <template ngIf="{{showFailed}}">The user cannot be signed up. <span></span></template><!-- TODO show this -->

    <form class="forget-form" method="post" novalidate="novalidate" style="display: block;">
        <h3 class="font-green">Forget Password ?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        </form>
        <div class="form-group">
            <becki-form-input [control]="forgotPasswordForm.controls.email" [label]="'E-mail'"></becki-form-input>
        </div>
           <div class="form-actions">
               <button type="button" (click)="clickButtonBack()" id="back-btn" class="btn green btn-outline">Back</button>
               <button type="submit" class="btn btn-success uppercase pull-right" (click)="sendRecovery()">Submit</button>
            </div>

</layout-not-logged>