<!--
  ~ © 2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->
<layout-not-logged>


        <h3 class="font-green">Restart password </h3>
        <p> Enter your e-mail address and new password </p>
    <div class="form-group">
        <becki-form-input [control]="passwordRestartForm.controls.email" [label]="'E-mail'"></becki-form-input>
        <becki-form-input  type="password" [placeholder]="'Password'" [control]="passwordRestartForm.controls.password" [label]="'password'"></becki-form-input>
        <becki-form-input type="password" [placeholder]="'Confirm password'" [control]="passwordRestartForm.controls.confirmpassword" [label]="'confirm password'"></becki-form-input>
    </div>
    <div class="form-actions">
        <button type="button" (click)="clickButtonBack()" id="back-btn" class="btn green btn-outline">Back</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-success uppercase pull-right" [disabled]="!passwordRestartForm.valid" >Submit</button>
    </div>



</layout-not-logged>