<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-blue"></i>
                <span class="caption-subject font-blue sbold uppercase">Code</span>
            </div>
            <div class="actions">
                <a class="btn btn-outline btn-circle btn-sm blue" (click)="onAddClick()">
                    <i class="fa fa-plus"></i> Add
                </a>
            </div>
        </div>
        <div *ngIf="(codePrograms && codePrograms.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Description</th>
                    <th> Device type</th>
                    <th> Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let code of codePrograms">
                    <td><a (click)="onCodeClick(code)">{{code.name}}</a></td>
                    <td> {{code.description}}</td>
                    <td> {{getBoardType(code.type_of_board_id)}}</td>
                    <td>
                        <a class="btn btn-outline btn-circle btn-sm green" [class.disabled]="!code.edit_permission" (click)="onEditClick(code)">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-outline btn-circle btn-sm red" [class.disabled]="!code.delete_permission" (click)="onRemoveClick(code)">
                            <i class="fa fa-remove"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!codePrograms" class="text-center">Loading...</h3>
        <h3 *ngIf="codePrograms && codePrograms.length == 0" class="text-center">No code programs in this project</h3>
    </div>

</layout-main>
