<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="becki-caption">
                <span class="font-blue-dark uppercase">
                    <i class="fa fa-fw fa-code"></i>
                    Code programs - all programs
                </span>
            </div>
            <div class="becki-actions">
                <button class="btn blue" (click)="onAddClick()">
                    <i class="fa fa-plus-circle"></i> Add code program
                </button>
            </div>
        </div>
        <div *ngIf="(codePrograms && codePrograms.length)" class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Device type</th>
                    <th class="full-width">Description</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let code of codePrograms">
                    <td class="no-wrap bold"><a (click)="onCodeClick(code)">{{code.name}}</a></td>
                    <td class="no-wrap"><a (click)="onBoardTypeClick(code.type_of_board_id)">{{code.type_of_board_name}}</a></td>
                    <td>{{code.description}}</td>
                    <td class="no-wrap">
                        <button title="Code program properties" class="btn btn-icon-only green" [disabled]="!code.edit_permission" (click)="onEditClick(code)">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button title="Remove code program" class="btn btn-icon-only red" [disabled]="!code.delete_permission" (click)="onRemoveClick(code)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!codePrograms" class="text-center">Loading...</h3>
        <h3 *ngIf="codePrograms && codePrograms.length == 0" class="text-center">No code programs in this project</h3>
    </div>

</layout-main>
