<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Grid <strong>{{gridProgram?gridProgram.name:""}}</strong></span>
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div>
                    Name: <strong>{{gridProgram?gridProgram.name:""}}</strong><br>
                    Description: <strong>{{gridProgram?gridProgram.description:""}}</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-note font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Grid</span>
                    </div>
                    <div *ngIf="selectedProgramVersion" class="caption pull-right">
                        <span class="caption-subject font-gray"><strong>Version:</strong> <span *ngIf="true" class="changes"></span> {{selectedProgramVersion.version_object.version_name}}</span>
                    </div>
                </div>

                <div>
                    <div class="pull-right">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div style="margin: 10px 0;">
                    <grid-view [widgets]="widgets"></grid-view>
                </div>

                <div>
                    <div class="pull-right">
                        <button type="button" class="btn default green-haze" (click)="onSaveClick()">
                            <i class="fa fa-floppy-o"></i> Save
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-3">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-note font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Widgets</span>
                    </div>
                </div>

                <div class="portlet-body">

                <div #widgets></div>

                </div>

            </div>

        </div>

        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-list font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Saved versions</span>
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div *ngIf="gridProgramVersions">
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th> Name</th>
                            <th> Description</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let version of gridProgramVersions">
                            <td [class.bold]="selectedProgramVersion == version">
                                <a (click)="onProgramVersionClick(version)">
                                    {{version.version_object.version_name}}
                                </a>
                            </td>
                            <td>
                                {{version.version_object.version_description}}
                            </td>
                            <td>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</layout-main>
