<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<layout-main [title]="'Projects'">
    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-blue"></i>
                <span class="caption-subject font-blue sbold uppercase">Projects</span>
            </div>
            <div class="actions">
                <a class="btn btn-outline btn-circle btn-sm red" (click)="onTestClick()">
                    <i class="fa fa-car"></i> Test
                </a>
                <a class="btn btn-outline btn-circle btn-sm blue" (click)="onAddClick()">
                    <i class="fa fa-plus"></i> Add
                </a>
            </div>
        </div>
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                    <td><a (click)="onProjectClick(project)">{{project.name}}</a></td>
                    <td>{{project.description}}</td>
                    <td>
                        <a class="btn btn-outline btn-circle btn-sm green" [class.disabled]="!project.edit_permission" (click)="onEditClick(project)">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-outline btn-circle btn-sm red" [class.disabled]="!project.delete_permission" (click)="onRemoveClick(project)">
                            <i class="fa fa-remove"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</layout-main>
