<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot" [subtitle]="currentParamsService.currentProjectDescriptionSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-code"></i>
                             Code programs - program <strong>{{currentParamsService.currentCodeNameSnapshot}}</strong>
                        </span>
                    </div>
                </div>
                <div>
                    Name: <strong>{{codeProgram?codeProgram.name:""}}</strong><br>
                    Description: <strong>{{codeProgram?codeProgram.description:""}}</strong><br>
                    Device type: <strong>{{codeProgram?codeProgram.type_of_board_name:""}}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-file-code-o"></i>
                            IDE
                        </span>
                    </div>
                    <div *ngIf="selectedProgramVersion" class="becki-caption version">
                        <span class="caption-subject font-gray"><strong>Version:</strong> <span *ngIf="changesInSelectedVersion().length > 0" class="changes"></span> {{selectedProgramVersion.version_object.version_name}}</span>
                    </div>
                </div>
                <code-ide [files]="selectedCodeFiles" defaultOpenFilename="main.cpp"></code-ide>
                <div>
                    <div class="pull-right">
                        <button type="button" class="btn default yellow-gold" (click)="onBuildClick()" [disabled]="buildInProgress">
                            <i class="fa fa-play" *ngIf="!buildInProgress"></i> <i class="fa fa-spinner fa-spin" *ngIf="buildInProgress"></i> Build
                        </button>
                        <button type="button" class="btn default green-haze" (click)="onSaveClick()" [disabled]="changesInSelectedVersion().length == 0">
                            <i class="fa fa-floppy-o"></i> Save
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div *ngIf="buildErrors">
                    <div class="spacer30"></div>
                    <div  class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-play font-red"></i>
                                <span class="caption-subject bold uppercase font-red">Build errors</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div *ngFor="let buildError of buildErrors" class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-shadow uppercase" [class.ribbon-color-danger]="buildError.type=='error'" [class.ribbon-color-warning]="buildError.type=='warning'" >{{buildError.type}}</div>
                                <p class="ribbon-content">
                                    File: <b>{{buildError.filename}}</b>
                                    Line: <b>{{buildError.line}}</b>
                                    <br>
                                    <b>{{buildError.text}}</b>
                                    <br>
                                    <code>{{buildError.code}}</code>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="becki-caption">
                        <span class="font-blue-dark uppercase">
                            <i class="fa fa-fw fa-code-fork"></i>
                            Saved versions
                        </span>
                    </div>
                </div>
                <div *ngIf="codeProgramVersions">
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="full-width">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let version of codeProgramVersions">
                            <td class="no-wrap" [class.bold]="selectedProgramVersion == version">
                                <a (click)="onProgramVersionClick(version)">
                                    {{version.version_object.version_name}}
                                </a>
                            </td>
                            <td>
                                {{version.version_object.version_description}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</layout-main>
