<!--
  ~ © 2015-2016 Becki Authors. See the AUTHORS file found in the top-level
  ~ directory of this distribution.
  -->

<layout-main tabMenu="projects-project" [title]="currentParamsService.currentProjectNameSnapshot">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Blocko <strong>{{currentParamsService.currentBlockoNameSnapshot}}</strong></span>
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div>
                    Name: <strong>{{blockoProgram?blockoProgram.name:""}}</strong><br>
                    Description: <strong>{{blockoProgram?blockoProgram.program_description:""}}</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Hardware</span>
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div>

                    <template ngIf="selectedHardware && selectedHardware.length">
                        <div *ngFor="let hwGroup of selectedHardware;">
                            <div *ngIf="boardById[hwGroup.main_board.board_id]" class="mt-element-ribbon bg-grey-steel">
                                <div class="ribbon ribbon-shadow bg-blue font-white no-padding-left-right"><span class="ribbon-padding">{{boardById[hwGroup.main_board.board_id].type_of_board_name}}</span><span *ngIf="boardById[hwGroup.main_board.board_id].personal_description" class="bg-blue-soft ribbon-padding">{{boardById[hwGroup.main_board.board_id].personal_description}}</span><span class="bg-blue-dark ribbon-padding">{{hwGroup.main_board.board_id}}</span></div>
                                <button type="button" class="btn default red pull-right" (click)="hwRemove(hwGroup.main_board.board_id)">
                                    <i class="fa fa-remove"></i> Remove device
                                </button>
                                <button type="button" class="btn default green pull-right" (click)="hwAdd(hwGroup.main_board.board_id)">
                                    <i class="fa fa-plus"></i> Add device
                                </button>
                                <div class="ribbon-content no-padding-left-right no-padding-bottom">

                                    <c-program-version-selector [value]="hwGroup.main_board.c_program_version_id" (valueChanged)="hwCProgramVersionChanged(hwGroup.main_board, $event)" [cPrograms]="getCProgramsForBoardType(boardById[hwGroup.main_board.board_id].type_of_board_id)"></c-program-version-selector>

                                    <template ngIf="hwGroup.boards">
                                        <div *ngFor="let board of hwGroup.boards;">
                                            <div *ngIf="boardById[board.board_id]" class="mt-element-ribbon bg-grey-salt">
                                                <div class="ribbon ribbon-shadow bg-blue font-white no-padding-left-right"><span class="ribbon-padding">{{boardById[board.board_id].type_of_board_name}}</span><span *ngIf="boardById[board.board_id].personal_description" class="bg-blue-soft ribbon-padding">{{boardById[board.board_id].personal_description}}</span><span class="bg-blue-dark ribbon-padding">{{board.board_id}}</span></div>
                                                <button type="button" class="btn default red pull-right" (click)="hwRemove(board.board_id)">
                                                    <i class="fa fa-remove"></i> Remove device
                                                </button>
                                                <div class="ribbon-content no-padding-left-right no-padding-bottom">
                                                    <c-program-version-selector [value]="board.c_program_version_id" (valueChanged)="hwCProgramVersionChanged(board, $event)" [cPrograms]="getCProgramsForBoardType(boardById[board.board_id].type_of_board_id)"></c-program-version-selector>
                                                </div>
                                            </div>
                                        </div>
                                    </template>

                                </div>
                            </div>
                        </div>
                    </template>
                    <h3 *ngIf="!(selectedHardware && selectedHardware.length)" style="margin: 20px 0;">
                        <i class="fa fa-chevron-down"></i>
                        No devices added in this Blocko program
                    </h3>

                    <button type="button" class="btn default green" (click)="hwAdd()">
                        <i class="fa fa-plus"></i> Add device
                    </button>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-note font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Blocko</span>
                    </div>
                    <div *ngIf="selectedProgramVersion" class="caption pull-right">
                        <span class="caption-subject font-gray"><strong>Version:</strong> <span *ngIf="changesInSelectedVersion().length > 0" class="changes"></span> {{selectedProgramVersion.version_object.version_name}}</span>
                    </div>
                </div>
                <blocko-view></blocko-view>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-3">
            <div class="portlet light bordered padding-20">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-note font-blue"></i>
                        <span class="caption-subject font-blue sbold uppercase">Blocks</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="panel-group accordion blocko-blocks-group-list">

                        <div *ngFor="let staticBlocksGroup of staticBlocks;" class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" (click)="onToggleGroup(staticBlocksGroup.id)">
                                        <i class="fa fa-pull-right fa-minus-square-o" [class.fa-minus-square-o]="blockGroupsOpenToggle[staticBlocksGroup.id]" [class.fa-plus-square-o]="!blockGroupsOpenToggle[staticBlocksGroup.id]"></i>
                                        {{staticBlocksGroup.name}} ({{staticBlocksGroup.blockoBlocks.length}})
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" [class.in]="blockGroupsOpenToggle[staticBlocksGroup.id]">
                                <div class="panel-body">
                                    <div *ngIf="staticBlocksGroup.blockoBlocks.length == 0" style="color: gray; text-align: center;">No blocks in this group</div>
                                    <div *ngFor="let block of staticBlocksGroup.blockoBlocks;" [draggable]="draggableOptions" [draggable-data]="block" (draggable-onStop)="onDragStop($event)" (draggable-onStart)="onDragStart($event)" class="blocko-block" [style.backgroundColor]="block.backgroundColor">
                                        {{block.name}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let blocksType of blockGroups;" class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" (click)="onToggleGroup(blocksType.id)">
                                        <i class="fa fa-pull-right fa-minus-square-o" [class.fa-minus-square-o]="blockGroupsOpenToggle[blocksType.id]" [class.fa-plus-square-o]="!blockGroupsOpenToggle[blocksType.id]"></i>
                                        {{blocksType.name}} ({{blocksType.blockoBlocks.length}})
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" [class.in]="blockGroupsOpenToggle[blocksType.id]">
                                <div class="panel-body">
                                    <div *ngIf="blocksType.blockoBlocks.length == 0" style="color: gray; text-align: center;">No blocks in this group</div>
                                    <div *ngFor="let block of blocksType.blockoBlocks;" [draggable]="draggableOptions" [draggable-data]="block" (draggable-onStop)="onDragStop($event)" (draggable-onStart)="onDragStart($event)" class="blocko-block">
                                        {{block.name}} <span style="color:gray;">({{blocksLastVersions[block.id]?blocksLastVersions[block.id].name:"no version"}})</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>


</layout-main>
