.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
}

.overlay progress {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -2.5em;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
    background-color: #133783;
    border-color: #0c224f;
    color: #FFF;
}

.btn-facebook {
    background-image: linear-gradient(to bottom, #3B5998 0%, #133783 100%);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
    background-image: none;
}

.btn-github,
.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active {
    background-color: #c3c3c3;
    border-color: #8f8f8f;
    color: #000;
}

.btn-github {
    background-image: linear-gradient(to bottom, #fafafa 0%, #c3c3c3 100%);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active {
    background-image: none;
}

/* TODO: https://youtrack.byzance.cz/youtrack/issue/BLOCKO-3 */
/* TODO: https://youtrack.byzance.cz/youtrack/issue/TG-5 */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.byzance-page-center {
    position: fixed;
    z-index: 10051;
    width: 100px;
    top: 40%;
    left: 50%;
    margin-left: -55px;
    text-align: center;
}

@-webkit-keyframes byzance-logo-spinner-white-keyframes
{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes byzance-logo-spinner-white-keyframes
{
    0%{-moz-transform:rotate(0deg);}
    25%{-moz-transform:rotate(90deg);}
    50%{-moz-transform:rotate(180deg);}
    75%{-moz-transform:rotate(270deg);}
    100%{-moz-transform:rotate(360deg);}
}
@-ms-keyframes byzance-logo-spinner-white-keyframes
{
    0%{-ms-transform:rotate(0deg);}
    25%{-ms-transform:rotate(90deg);}
    50%{-ms-transform:rotate(180deg);}
    75%{-ms-transform:rotate(270deg);}
    100%{-ms-transform:rotate(360deg);}
}

.byzance-logo-spinner-white {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    background-image: url(/assets/byzance/logo_square_white.svg);
    -webkit-animation-name: byzance-logo-spinner-white-keyframes;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: byzance-logo-spinner-white-keyframes;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: byzance-logo-spinner-white-keyframes;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
}

.byzance-logo-square-blue {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    display: inline-block;
    background-image: url(/assets/byzance/logo_square_blue.svg);
}

.byzance-logo {
    width: 210px;
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(/assets/byzance/logo_white.svg);
}

.byzance-logo-size-top-menu {
    height: 35px;
    margin: 2px 7px;
    width: 123px;
}

.error404-logo {
    bottom: 5%;
    left: 1%;
    position: fixed;
    width: 50%;
    height: 50%;
    background-position: 0% 100%;
    opacity: 0.2;
}

.page-content {
    min-height: calc(100vh - 84px) !important;
}

.page-header.navbar .page-logo {
    padding-left: 15px;
}

ul.root>div>.jstree-node, ul.root>div>file-tree>.jstree-node {
    margin-left: 0;
    margin-right: 0;
}

span.changes {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 10px !important;
    vertical-align: middle;
    margin-bottom: 1px;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left-right, .no-padding-right-left {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-20 {
    padding: 20px !important;
}

.ribbon-padding {
    padding: 0.5em 1em;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.nav-tabs-with-spacer.nav.nav-tabs {
    overflow: hidden;
}

.nav-tabs-with-spacer.nav.nav-tabs li.active {
    position: relative;
}

.nav-tabs-with-spacer.nav.nav-tabs li.active:after {
    content: " ";
    position: absolute;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
    width: 4000%;
    left: -2000%;
    height: 2000%;
}

.blocko-view {
    padding: 0;
    height: 500px;
    font-size: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.blocko-view svg {
    font-size:14px;
}

.blocko-blocks-group-list {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.blocko-block {
    border: 1px black solid;
    padding: 5px;
    margin: 2px 0;
    cursor: move;
    text-align: center;
    border-radius: 5px !important;
    background-color: powderblue;
}

@media (min-width: 768px) {
    .modal-dialog.modal-width-80 {
        width: 80%;
    }
}